<kt-portlet>
    <kt-portlet-body>
        <div class="row justify-content-center">
            <div class="col-8">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span class="tab-number text-gray">Rough Amount</span>
                                <span class="tab-text">Rough Loan Amount</span>
                            </ng-template>
                            <div>
                                table 1
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span class="tab-number text-gray">Final Amount</span>
                                <span class="tab-text">Final Loan Amount</span>
                            </ng-template>
                            <div>
                                table 2
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span class="tab-number text-gray">Intrest Calculator</span>
                                <span class="tab-text">Final Intrest Calculator</span>
                            </ng-template>
                            <div>
                                table 1
                            </div>
                        </mat-tab>
                    </mat-tab-group>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>