<kt-portlet>

    <kt-portlet-body>
        <button (click)="viewLocation('hi')">tracking</button>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">
                <ng-container matColumnDef="packetUniqueId">
                    <mat-header-cell *matHeaderCellDef>Packet ID</mat-header-cell>
                    <mat-cell *matCellDef="let packet">{{packet.packetUniqueId | uppercase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="internalBranch">
                    <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet.customer">
                            <!-- {{packet.customer.customerUniqueId}} -->
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerID">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet.customer">
                            {{packet.customer.customerUniqueId}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan ID</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet.customerLoan">
                            {{packet.customerLoan.loanUniqueId}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerName">
                    <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet.customerLoan">
                            {{packet.customerLoan.loanUniqueId}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loanAmount">
                    <mat-header-cell *matHeaderCellDef>Loan Amount</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet.customerLoan">
                            {{packet.customerLoan.loanUniqueId}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="currentLocation">
                    <mat-header-cell *matHeaderCellDef>Current Location</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet.customerLoan">
                            {{packet.customerLoan.loanUniqueId}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <button (click)="ornaments(packet)" class="btn-transparent kt-margin-r-15"
                               >View Packets</button>
                            <button (click)="updatePacket(packet)" class="btn-transparent kt-margin-r-15"
                               >Update Location</button>
                            <button (click)="viewPacketLog(loan)" class="btn-transparent"
                                >View Log</button>
                                <button (click)="viewLocation(loan)" class="btn-transparent"
                                >View Location</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>