<kt-portlet>

    <kt-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">
                <ng-container matColumnDef="userName">
                    <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <!-- {{packet.Createdby.firstName + " " + 
                        packet.Createdby.lastName | titlecase}} -->
                        <span *ngIf="packet?.customerPacketTracking[0]?.customer">
                            {{ packet?.customerPacketTracking[0]?.customer.firstName | titlecase }}
                            {{ packet?.customerPacketTracking[0]?.customer.lastName | titlecase }}
                        </span>
                        <span *ngIf="packet?.customerPacketTracking[0]?.receiverPartner">
                            {{ packet?.customerPacketTracking[0]?.receiverPartner.firstName | titlecase }}
                            {{ packet?.customerPacketTracking[0]?.receiverPartner.lastName | titlecase }}

                        </span>
                        <span *ngIf="packet?.customerPacketTracking[0]?.receiverUser">
                            {{ packet?.customerPacketTracking[0]?.receiverUser.firstName | titlecase }}
                            {{ packet?.customerPacketTracking[0]?.receiverUser.lastName | titlecase }}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef>Mobile No.</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet?.customerPacketTracking[0]?.customer">
                            {{ packet?.customerPacketTracking[0]?.customer.mobileNumber }}</span>
                        <span *ngIf="packet?.customerPacketTracking[0]?.receiverPartner">
                            {{ packet?.customerPacketTracking[0]?.receiverPartner.mobileNumber }}</span>
                        <span *ngIf="packet?.customerPacketTracking[0]?.receiverUser">
                            {{ packet?.customerPacketTracking[0]?.receiverUser.mobileNumber }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="internalBranch">
                    <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet.customer">
                            {{packet.internalBranch.name | titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerId">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet.customer">
                            {{packet.customer.customerUniqueId}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan ID</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <div class="multiple">
                            <div *ngFor="let item of packet.customerLoan">
                                {{ item.loanUniqueId | uppercase }}
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerName">
                    <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngIf="packet.customerLoan">
                            {{packet.customer.firstName + " " + packet.customer.lastName |titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loanAmount">
                    <mat-header-cell *matHeaderCellDef>Loan Amount</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <div class="multiple">
                            <div *ngFor="let item of packet.customerLoan">
                                <!-- <span *ngIf="item.loanType === 'secured'"> -->
                                {{ item.loanAmount | uppercase }}
                                <!-- </span> -->
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="currentLocation">
                    <mat-header-cell *matHeaderCellDef>Current Location</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngFor="let item of packet.locationData; last as l">
                            <span *ngIf="l">
                                {{item?.packetLocation?.location | titlecase}}
                            </span>
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef>Elapsed Time</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngFor="let item of packet.locationData; last as l">
                            <span *ngIf="l">
                                <ng-container
                                    *ngIf="item.packetLocationId === 6 || item.packetLocationId === 3 || item.packetLocationId === 5 || item.packetLocationId === 1">
                                    <kt-elapsed-time [startTime]="item?.createdAt"
                                        [locationTracking]="packet?.lastSyncTime"></kt-elapsed-time>
                                </ng-container>
                                <ng-container *ngIf="item.packetLocationId === 2 && !packet.isLoanCompleted">
                                    <kt-elapsed-time [startTime]="packet?.customerLoanDisbursement[0].createdAt"
                                        [locationTracking]="packet?.lastSyncTime">
                                    </kt-elapsed-time>
                                </ng-container>
                            </span>
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <span *ngFor="let item of packet.locationData; last as l">
                            <span *ngIf="l"
                                [ngClass]="item.status == 'complete' ? item.packetLocation.id === 2 && packet.isLoanCompleted ? 'text-primary' : 'text-success' : item.status == 'incomplete' ? 'text-danger' : 'text-grey'">
                                {{item?.status |titlecase}}
                            </span>
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let packet">
                        <button (click)="ornaments(packet)" class="btn-transparent kt-margin-r-15">View Packets</button>
                        <button [class.cursor-not-allowed]="checkForPartnerBranchIn(packet)"
                            (click)="updatePacket(packet)" class="btn-transparent kt-margin-r-15">Update
                            Location</button>
                        <button (click)="viewPacketLog(packet)" class="btn-transparent kt-margin-r-15">View Log</button>
                        <button (click)="viewLocation(packet)" class="btn-transparent kt-margin-r-15">View
                            Location</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>