:host {
    .card {
        border-radius: 5px;
    }

    img {
        border       : 1px solid transparent;
        border-radius: 15px;
    }

    .profile {
        height: 70px;
    }
    .document{
        height: 40px
    }

}