<div class="row">
    <div class="col-12 card">
        <div class="row kt-margin-b-20">
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <img class="kt-margin-t-15 kt-margin-l-15 profile"
                            src="../../../../../assets/media/users/default.jpg">
                        <!-- <img [src]="customer.image" *ngIf="customer.image != '' || customer.image != null"> -->
                    </div>
                    <div class="col-3 kt-padding-l-20">
                        <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Customer ID</div>
                        <div class="text-color font-weight-500">123456789</div>
                    </div>
                    <div class="col-4">
                        <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Customer Name</div>
                        <div class="text-color font-weight-500">Bhushan Madaye</div>
                    </div>
                    <div class="col-3">
                        <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Mobile No.</div>
                        <div class="text-color font-weight-500">8655832814</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">

                    <div class="col-3">
                        <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Pan</div>
                        <div class="text-color font-weight-500">1234567890</div>
                    </div>
                    <div class="col-4">
                        <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Nominee</div>
                        <div class="text-color font-weight-500">Bhushan Madaye</div>
                    </div>
                    <div class="col-2">
                        <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Age</div>
                        <div class="text-color font-weight-500">40</div>
                    </div>
                    <div class="col-3 kt-padding-l-10">
                        <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Relation</div>
                        <div class="text-color font-weight-500">Brother</div>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row kt-margin-t-20 justify-content-around">
            <div class="col-3 kt-padding-l-60">
                <div class="text-gray font-weight-500 kt-margin-b-5">Permanent Address</div>
                <div class="text-color font-weight-500 kt-margin-b-5" [ngStyle]="{'width':'80%','line-height':'1.5'}">
                    504/5, Shree Balaji CHS,4th Nagpada, SP Road, Mumbai 400008
                </div>

            </div>
            <div class="col-3">
                <div class="text-gray font-weight-500 kt-margin-b-5">
                    Office Address</div>
                <div class="text-color font-weight-500 kt-margin-b-5" [ngStyle]="{'width':'65%','line-height':'1.5'}">
                    504/5, Shree Balaji CHS,4th Nagpada, SP Road, Mumbai 400008
                </div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-margin-b-5">Customer ID</div>
                <div class="text-color font-weight-500">
                    <div>Atul Oroskar</div>
                    <div>107101508542876</div>
                    <div>ICIC0001071</div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-margin-b-5">KYC Document</div>
                <img src="../../../../../assets/media/users/100_2.jpg" class="document kt-pointer">
                <div class="text-color font-weight-500">123456789</div>
            </div>
            <div class="col-2 kt-padding-t-25">
                <img src="../../../../../assets/media/users/100_2.jpg" class="document kt-pointer">
                <img src="../../../../../assets/media/users/100_2.jpg" class="document kt-margin-l-5 kt-pointer">
                <div class="text-color font-weight-500">123456789</div>
            </div>
        </div>
        <div class="row kt-margin-t-10 kt-padding-b-25 justify-content-around">
            <div class="col-3 kt-padding-l-60">
                <div class="text-primary font-weight-500 kt-pointer">View Proof</div>
            </div>
            <div class="col-3">
                <div class="text-primary font-weight-500 kt-pointer">View Proof</div>
            </div>
            <div class="col-2">
                <div class="text-primary font-weight-500 kt-pointer">View Proof</div>
            </div>
            <div class="col-2">
                <div class="text-primary font-weight-500 kt-pointer">View PAN</div>
            </div>
            <div class="col-2">
                <div class="text-primary font-weight-500 kt-pointer">View AADHAAR</div>
            </div>
        </div>
    </div>
</div>
<div class="row kt-margin-t-20">
    <div class="col-3 p-0" *ngFor="let loan of loans;index as i">
        <div class="card kt-padding-15" [class.kt-margin-r-10]="(i+1)%4!=0">
            <div class="text-gray font-weight-500 kt-margin-b-5">KYC Document</div>
            <div class="text-color font-weight-500 kt-margin-b-5">KYC Document</div>
            <mat-divider class="kt-margin-b-10 kt-margin-t-10"></mat-divider>
            <div class="row kt-margin-b-15">
                <div class="col-6">
                    <div class="text-gray font-weight-500">Loan Amount</div>
                    <div class="text-color font-weight-500">5,00,000</div>
                </div>
                <div class="col-6">
                    <div class="text-gray font-weight-500">Loan Tennure</div>
                    <div class="text-color font-weight-500">5 Years</div>
                </div>
            </div>
            <div class="row kt-margin-b-15">
                <div class="col-6">
                    <div class="text-gray font-weight-500">Start Date</div>
                    <div class="text-color font-weight-500">14 May 2020</div>
                </div>
                <div class="col-6">
                    <div class="text-gray font-weight-500">End Date</div>
                    <div class="text-color font-weight-500">15 May 2025</div>
                </div>
            </div>
            <div class="text-primary font-weight-500 kt-pointer" (click)="viewLoan(1)">View Details</div>
        </div>
    </div>
</div>