<div class="row ">
    <div class="col-12 card kt-padding-15">
        <div class="row justify-content-around kt-padding-b-15">
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">Loan ID</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">1234567890</div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">Customer ID</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">1234567890</div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">Loan Amount</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">1234567890</div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">Loan Tenure</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">1234567890</div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">Start Date</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">1234567890</div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">End Date</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">1234567890</div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">Interest Rate</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">12% P.A</div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">Status</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">Disbursed</div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">Amount Holder</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">Atul Oroskar</div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">Account Number</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">107101508542876</div>
            </div>
            <div class="col-2">
                <div class="text-gray font-weight-500 kt-padding-b-5">IFSC Code</div>
                <div class=" text-color font-weight-500 kt-padding-b-5">12345678901</div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

<div class="row kt-margin-t-15">
    <div class="col-12 card kt-padding-15">
        <label class="font-weight-bold text-color kt-margin-b-25 kt-margin-t-25">Packets ID - Total 4 Packets</label>
        <mat-tab-group style="min-height: 300px;">
            <mat-tab label="AGPK1234567890">
                <div class="row">
                    <div class="col-3">
                        <img class="packets" src="../../../../../assets/media/products/product10.jpg">
                        <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with No
                            Ornaments</label>
                    </div>
                    <div class="col-3">
                        <img class="packets" src="../../../../../assets/media/products/product1.jpg">
                        <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with All
                            Ornaments</label>
                    </div>
                    <div class="col-3">
                        <img class="packets" src="../../../../../assets/media/products/product2.jpg">
                        <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with
                            Sealing</label>

                    </div>
                    <div class="col-3">
                        <img class="packets" src="../../../../../assets/media/products/product3.jpg">
                        <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with
                            Weight</label>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="AGPK1234567890">
                <div class="row">
                    <div class="col-3">
                        <img class="packets" src="../../../../../assets/media/products/product10.jpg">
                        <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with No
                            Ornaments</label>
                    </div>
                    <div class="col-3">
                        <img class="packets" src="../../../../../assets/media/products/product1.jpg">
                        <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with All
                            Ornaments</label>
                    </div>
                    <div class="col-3">
                        <img class="packets" src="../../../../../assets/media/products/product2.jpg">
                        <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with
                            Sealing</label>

                    </div>
                    <div class="col-3">
                        <img class="packets" src="../../../../../assets/media/products/product3.jpg">
                        <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with
                            Weight</label>
                    </div>
                </div>

            </mat-tab>

        </mat-tab-group>
    </div>
</div>

<div class="row kt-margin-t-15">
    <div class="col-12 card kt-padding-15">
        <label class="font-weight-bold text-color kt-margin-b-25 kt-margin-t-25">Ornaments - Total 4 Ornaments</label>
        <mat-tab-group style="min-height: 300px;">
            <mat-tab label="Ornaments">
                <div class="row">
                    <div class="col-3">
                        <img src="../../../../../assets/media/products/product20.jpg" class="ornaments" alt="">
                    </div>
                    <div class="col-9">
                        <div class="row kt-margin-t-15">
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">Ornament Type</div>
                                <div class="text-color font-weight-500">Ring</div>
                            </div>
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">Quantity</div>
                                <div class="text-color font-weight-500">1 Pcs</div>
                            </div>
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">Gross WL</div>
                                <div class="text-color font-weight-500">5 Gram</div>
                            </div>
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">Net WL</div>
                                <div class="text-color font-weight-500">4 Gram</div>
                            </div>
                        </div>
                        <div class="row kt-margin-t-25">
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">Decudtion WL</div>
                                <div class="text-color font-weight-500">1 Gram</div>
                            </div>
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">WM 00 wt.</div>
                                <div class="text-primary font-weight-500">View Image</div>
                            </div>
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">With Ornaments</div>
                                <div class="text-primary font-weight-500">View Image</div>
                            </div>
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">Stone Touch</div>
                                <div class="text-primary font-weight-500">View Image</div>
                            </div>
                        </div>
                        <div class="row kt-margin-t-25">
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">Acid Test</div>
                                <div class="text-primary font-weight-500">View Image</div>
                            </div>
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">Ornament Type</div>
                                <div class="text-primary font-weight-500">View Image</div>
                            </div>
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">LTV %</div>
                                <div class="text-color font-weight-500">100%</div>
                            </div>
                            <div class="col-3">
                                <div class="text-gray font-weight-500 kt-margin-b-5">LTV Amount</div>
                                <div class="text-color font-weight-500">15,450</div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Ornaments"></mat-tab>
        </mat-tab-group>
    </div>
</div>