<kt-portlet>
    <kt-portlet-body>
        <div class="container">
            <form [formGroup]="custClassificationForm">
                <!-- <div>
                    <div class="row">
                        <div class="col">
                            <h6>Company</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6>Customer Behaviour</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6>ID Proof</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6>Address Proof</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6>KYC Status</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>
                </div> -->

                <div class=" table-div">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 40%" class="rating-title">Category</th>
                                <th scope="col" style="width: 30%" class="rating-cce">CCE</th>
                                <th scope="col" style="width: 30%" class="rating-bm" *ngIf="viewBMForm">BM/ Operation
                                    Team</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row" class="rating-title">KYC Rating</td>
                                <td class="rating-cce">
                                    <select class="form-control" formControlName="kycRatingFromCce"
                                        (change)="conditionalValidation()"
                                        [class.isError]="cceControls.kycRatingFromCce.invalid && cceControls.kycRatingFromCce.touched">
                                        <option value="" [disabled]=true [selected]="true"> Select Rating
                                        </option>
                                        <option *ngFor="let rate of rating" [value]="rate.ratingPoint">
                                            {{rate.ratingPoint}}
                                        </option>
                                    </select>
                                </td>
                                <td class="rating-bm text-center" *ngIf="viewBMForm">
                                    <!-- <img src="../../../../../../../assets/media/icons/correct.svg"
                                        *ngIf="cceControls.kycRatingFromBM.value"
                                        (click)="approvalOfBM(false,'kycRating')">
                                    <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                        *ngIf="!cceControls.kycRatingFromBM.value"
                                        (click)="approvalOfBM(true,'kycRating')"> -->
                                </td>
                            </tr>
                            <!-- <tr>
                                <td scope="row" class="rating-title">ID Proof</td>
                                <td class="rating-cce">
                                    <select class="form-control" formControlName="idProofRatingCce"
                                        [class.isError]="cceControls.idProofRatingCce.invalid && cceControls.idProofRatingCce.touched">
                                        <option value="" [disabled]=true [selected]="true"> Select Rating
                                        </option>
                                        <option *ngFor="let rate of rating" [value]="rate.ratingPoint">
                                            {{rate.ratingPoint}}
                                        </option>
                                    </select>
                                </td>
                                <td class="rating-bm text-center" *ngIf="viewBMForm">
                                    <img src="../../../../../../../assets/media/icons/correct.svg"
                                        *ngIf="cceControls.idProofRatingVerifiedByBm.value"
                                        (click)="approvalOfBM(false,'identity')">
                                    <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                        *ngIf="!cceControls.idProofRatingVerifiedByBm.value"
                                        (click)="approvalOfBM(true,'identity')">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" class="rating-title">Address Proof</td>
                                <td class="rating-cce">
                                    <select class="form-control" formControlName="addressProofRatingCce"
                                        [class.isError]="cceControls.addressProofRatingCce.invalid && cceControls.addressProofRatingCce.touched">
                                        <option value="" [disabled]=true [selected]="true"> Select Rating
                                        </option>
                                        <option *ngFor="let rate of rating" [value]="rate.ratingPoint">
                                            {{rate.ratingPoint}}
                                        </option>
                                    </select>
                                </td>
                                <td class="rating-bm text-center" *ngIf="viewBMForm">
                                    <img src="../../../../../../../assets/media/icons/correct.svg"
                                        *ngIf="cceControls.addressProofRatingVerifiedBm.value"
                                        (click)="approvalOfBM(false,'address')">
                                    <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                        *ngIf="!cceControls.addressProofRatingVerifiedBm.value"
                                        (click)="approvalOfBM(true,'address')">
                                </td>
                            </tr> -->
                            <tr>
                                <td scope="row" class="rating-title">KYC Status</td>
                                <td class="rating-cce">
                                    <select class="form-control" formControlName="kycStatusFromCce"
                                        (change)="conditionalValidation()"
                                        [class.isError]="cceControls.kycStatusFromCce.invalid && cceControls.kycStatusFromCce.touched">
                                        <option value="" disabled selected> Select Status
                                        </option>
                                        <option
                                            [disabled]="cceControls.kycRatingFromCce.value < 4 && status.value == 'approved' ? true: false"
                                            *ngFor="let status of cceKycStatus" [value]="status.value">
                                            {{status.name | titlecase}}
                                        </option>
                                    </select>
                                </td>
                                <td class="rating-bm" *ngIf="viewBMForm">
                                    <select class="form-control" formControlName="kycStatusFromBm">
                                        <option value="pending" disabled selected> Select Status
                                        </option>
                                        <option *ngFor="let status of bmKycStatus" [value]="status.value">
                                            {{status.name | titlecase}}
                                        </option>
                                    </select></td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="showTextBoxBM && userType == 6">
                        <div class="row kt-padding-l-10">
                            <div class="col-4 form-label">
                                <label for="" class="kt-padding-l-10 m-0">Reason by B.M -</label>
                            </div>
                            <div class="col-8 ">
                                {{cceControls.reasonFromBm.value}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <ng-container *ngIf="editRating"> -->
                <div *ngIf="(showTextBoxCce  && userType == 6)" class="col kt-margin-t-20 kt-margin-b-20"
                    style="width: 600px; margin: auto">
                    <div class="row">
                        <div class="col-4 form-label">
                            <label for="" class="kt-padding-l-10">Choose a reason</label>
                        </div>
                        <div class="col-8">
                            <select class="form-control" formControlName="reasonForOther"
                                placeholder="reason for Incomplete" (change)="patchReason()">
                                <option value='' selected disabled>Choose a reason </option>
                                <option [value]="reason.description" *ngFor="let reason of reasons">
                                    {{reason.description}}
                                </option>
                            </select>

                            <mat-form-field class="w-100 kt-margin-t-20"
                                *ngIf="cceControls.reasonForOther.value == 'Other'">
                                <textarea matInput formControlName="reasonFromCce"
                                    placeholder="Reason for {{ cceControls.kycStatusFromCce.value }}"></textarea>
                                <mat-error>Field Required</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- </ng-container> -->
                <div *ngIf="showTextBoxBM && userType== 5" class="col kt-margin-t-20 kt-margin-b-20"
                    style="width: 600px; margin: auto">
                    <mat-form-field class="w-100">
                        <mat-label class="mandatory">Reason for selected status</mat-label>
                        <textarea matInput formControlName="reasonFromBm"
                            placeholder="Enter a valid reason for your action"></textarea>
                        <mat-error>Field Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col kt-margin-t-20 kt-margin-b-20" style="width: 600px; margin: auto">
                    <kt-button [value]="'Submit'" [type]="'submit'" (action)="submit()"></kt-button>
                </div>
            </form>
        </div>
    </kt-portlet-body>
</kt-portlet>