<kt-portlet>
    <kt-portlet-body>
        <div class="container">
            <form [formGroup]="custClassificationForm">
                <!-- <div>
                    <div class="row">
                        <div class="col">
                            <h6>Company</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6>Customer Behaviour</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6>ID Proof</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6>Address Proof</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h6>KYC Status</h6>
                        </div>
                        <div class="col">
                            <h6>CCE</h6>
                        </div>
                        <div class="col">
                            <h6>BM/ Operation Team</h6>
                        </div>
                    </div>
                </div> -->

                <div class="table-div">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 40%" class="rating-title">Company</th>
                                <th scope="col" style="width: 30%" class="rating-cce">CCE</th>
                                <th scope="col" style="width: 30%" class="rating-bm" *ngIf="viewBMForm">BM/ Operation
                                    Team</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row" class="rating-title">Customer Behaviour</td>
                                <td class="rating-cce">
                                    <select class="form-control" formControlName="behaviourRatingCce"
                                        [class.isError]="cceControls.behaviourRatingCce.invalid && cceControls.behaviourRatingCce.touched">
                                        <option value="" [disabled]=true [selected]="true"> Select Rating
                                        </option>
                                        <option *ngFor="let rate of rating" [value]="rate.ratingPoint">
                                            {{rate.ratingPoint}}
                                        </option>
                                    </select>
                                </td>
                                <td class="rating-bm text-center" *ngIf="viewBMForm">
                                    <img src="../../../../../../../assets/media/icons/correct.svg"
                                        *ngIf="cceControls.behaviourRatingVerifiedByBm.value"
                                        (click)="approvalOfBM(false,'behaviour')">
                                    <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                        *ngIf="!cceControls.behaviourRatingVerifiedByBm.value"
                                        (click)="approvalOfBM(true,'behaviour')">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" class="rating-title">ID Proof</td>
                                <td class="rating-cce">
                                    <select class="form-control" formControlName="idProofRatingCce"
                                        [class.isError]="cceControls.idProofRatingCce.invalid && cceControls.idProofRatingCce.touched">
                                        <option value="" [disabled]=true [selected]="true"> Select Rating
                                        </option>
                                        <option *ngFor="let rate of rating" [value]="rate.ratingPoint">
                                            {{rate.ratingPoint}}
                                        </option>
                                    </select>
                                </td>
                                <td class="rating-bm text-center" *ngIf="viewBMForm">
                                    <img src="../../../../../../../assets/media/icons/correct.svg"
                                        *ngIf="cceControls.idProofRatingVerifiedByBm.value"
                                        (click)="approvalOfBM(false,'identity')">
                                    <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                        *ngIf="!cceControls.idProofRatingVerifiedByBm.value"
                                        (click)="approvalOfBM(true,'identity')">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" class="rating-title">Address Proof</td>
                                <td class="rating-cce">
                                    <select class="form-control" formControlName="addressProofRatingCce"
                                        [class.isError]="cceControls.addressProofRatingCce.invalid && cceControls.addressProofRatingCce.touched">
                                        <option value="" [disabled]=true [selected]="true"> Select Rating
                                        </option>
                                        <option *ngFor="let rate of rating" [value]="rate.ratingPoint">
                                            {{rate.ratingPoint}}
                                        </option>
                                    </select>
                                </td>
                                <td class="rating-bm text-center" *ngIf="viewBMForm">
                                    <img src="../../../../../../../assets/media/icons/correct.svg"
                                        *ngIf="cceControls.addressProofRatingVerifiedBm.value"
                                        (click)="approvalOfBM(false,'address')">
                                    <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                        *ngIf="!cceControls.addressProofRatingVerifiedBm.value"
                                        (click)="approvalOfBM(true,'address')">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" class="rating-title">KYC Status</td>
                                <td class="rating-cce">
                                    <select class="form-control" formControlName="kycStatusFromCce"
                                        [class.isError]="cceControls.kycStatusFromCce.invalid && cceControls.kycStatusFromCce.touched">
                                        <option value="" disabled selected> Select Status
                                        </option>
                                        <option *ngFor="let status of cceKycStatus" [value]="status.value">
                                            {{status.name | titlecase}}
                                        </option>
                                    </select>
                                </td>
                                <td class="rating-bm" *ngIf="viewBMForm">
                                    <select class="form-control" formControlName="kycStatusFromBm">
                                        <option value="pending" disabled selected> Select Status
                                        </option>
                                        <option *ngFor="let status of bmKycStatus" [value]="status.value">
                                            {{status.name | titlecase}}
                                        </option>
                                    </select></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="showTextBoxCce  && role == 'Customer Care Executive'"
                    class="col kt-margin-t-20 kt-margin-b-20" style="width: 600px; margin: auto">
                    <mat-form-field class="w-100">
                        <textarea matInput formControlName="reasonFromCce" placeholder="Reason for Pending"></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="showTextBoxBM && role== 'Branch Manager'" class="col kt-margin-t-20 kt-margin-b-20"
                    style="width: 600px; margin: auto">
                    <mat-form-field class="w-100">
                        <textarea matInput formControlName="reasonFromBm" placeholder="Reason for Rejection"></textarea>
                    </mat-form-field>
                </div>
                <div class="col kt-margin-t-20 kt-margin-b-20" style="width: 600px; margin: auto">
                    <kt-button [value]="'Submit'" [type]="'submit'" (action)="submit()"></kt-button>
                </div>
            </form>
        </div>
    </kt-portlet-body>
</kt-portlet>