:host{
    .submit{
        background-color: #454D67 !important; 
    }
    .cancel{
        background-color: #bfc4d5 !important;
    }
    button:disabled {
        background-color: rgb(224,224,224) !important;    
    }
    .reset{
        background-color: #C43330 !important;
    }
    button {
        // color: #bcc2d6 !important;
        .submit{ 
            color: #bcc2d6 !important;
        }
        .cancel{ 
            color: #454d67 !important;
        }
        border-radius: 9px;
    }
}