<button *ngIf="type == 'submit'" mat-raised-button color="primary" [ngClass]="myClass" class="submit"
    [disabled]="isDisabled" [type]="type" (click)="actionPerformed()">{{value | titlecase}}</button>
<button *ngIf="type == 'reset'" mat-raised-button [type]="type" [ngClass]="myClass" class="cancel"
    (click)="actionPerformed()">{{value | titlecase}}</button>
<button *ngIf="type == 'button'" mat-raised-button color="primary" [ngClass]="myClass" [disabled]="isDisabled"
    class=" submit" [type]="type" (click)="actionPerformed()">{{value | titlecase}}</button>
    