<kt-portlet>
    <kt-portlet-body>
        <div class="row justify-content-center scroll  kt-padding-t-10 kt-padding-b-10">
            <div class="col-6">
                <form action="" [formGroup]="userDetails">
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Merchant Name </label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="merchantName" class="form-control"
                                placeholder="e.g John Smith"
                                [class.isError]="controls.merchantName.touched && controls.merchantName.invalid">
                            <div *ngIf="controls.merchantName.touched && controls.merchantName.invalid">
                                <mat-error
                                    *ngIf="controls.merchantName.touched && controls.merchantName.errors?.required">
                                    Field is required</mat-error>
                                <mat-error
                                    *ngIf="controls.merchantName.touched && controls.merchantName.errors?.pattern">Enter
                                    Valid Name</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Full Name </label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" formControlName="fullName"
                                placeholder="e.g John Smith"
                                [class.isError]="controls.fullName.touched && controls.fullName.invalid">
                            <div *ngIf="controls.fullName.touched && controls.fullName.invalid">
                                <mat-error *ngIf="controls.fullName.touched && controls.fullName.errors?.required">Field
                                    is required</mat-error>
                                <mat-error *ngIf="controls.fullName.touched && controls.fullName.errors?.pattern">Enter
                                    Valid Name</mat-error>
                            </div>
                            <!-- <div class="row kt-margin-t-15">
                                <div class="col-6">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Email </label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" formControlName="email"
                                placeholder="e.g abc@123.com"
                                [class.isError]="controls.email.touched && controls.email.invalid">
                            <div *ngIf="controls.email.touched && controls.email.invalid">
                                <mat-error *ngIf="controls.email.touched && controls.email.errors?.required">Field is
                                    required</mat-error>
                                <mat-error *ngIf="controls.email.touched && controls.email.errors?.email">Enter Valid
                                    Email</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Mobile Number </label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" formControlName="mobileNumber"
                                placeholder="9892043210" numbersOnly
                                [class.isError]="controls.mobileNumber.touched && controls.mobileNumber.invalid"
                                maxlength="10">
                            <div *ngIf="controls.mobileNumber.touched && controls.mobileNumber.invalid">
                                <mat-error
                                    *ngIf="controls.mobileNumber.touched && controls.mobileNumber.errors?.required">
                                    Field is required</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">State</label>
                        </div>
                        <div class="col-8">
                            <select class="form-control" formControlName="state"
                                [class.isError]="controls.state.touched && controls.state.invalid">
                                <option [value]="" [disabled]="true" [selected]="true">Select State</option>
                            </select>
                            <div *ngIf="controls.state.touched && controls.state.invalid">
                                <mat-error *ngIf="controls.state.touched && controls.state.errors?.required">Field is
                                    required</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Select City</label>
                        </div>
                        <div class="col-8">
                            <select class="form-control" formControlName="city"
                                [class.isError]="controls.city.touched && controls.city.invalid">
                                <option [value]="" [disabled]="true" [selected]="true">Select City</option>
                            </select>
                            <div *ngIf="controls.city.touched && controls.city.invalid">
                                <mat-error *ngIf="controls.city.touched && controls.city.errors?.required">Field is
                                    required</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Pin Code</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" formControlName="pincode" placeholder="112345"
                                numbersOnly [class.isError]="controls.pincode.touched && controls.pincode.invalid"
                                maxlength="6">
                            <div *ngIf="controls.pincode.touched && controls.pincode.invalid">
                                <mat-error *ngIf="controls.pincode.touched && controls.pincode.errors?.required">Field
                                    is required</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-12">
                            <kt-button [value]="'Next'" [type]="'button'" (click)="next()"></kt-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>