<kt-toastr #toastr></kt-toastr>

<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body font-weight-500 customModal" *ngIf="data.action == 'view' && refundData">
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Store ID :</div>
                    <div class="col-6">{{
                        refundData?.order?.orderBy?.broker?.store
                            ?.storeUniqueId
                            ? refundData?.order?.orderBy?.broker?.store
                                    ?.storeUniqueId
                             : "-"
                    }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Customer ID :</div>
                    <div class="col-6"> {{
                        refundData?.order?.customerDetails?.customerUniqueId
                            ? refundData?.order?.customerDetails
                                    ?.customerUniqueId
                             : "-"
                    }}</div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Customer Name :</div>
                    <div class="col-6"> {{
                        refundData?.order?.customerDetails?.firstName
                            ? refundData?.order?.customerDetails?.firstName
                             : "-"
                    }}&nbsp;
                        {{
                        refundData?.order?.customerDetails?.lastName
                            ? refundData?.order?.customerDetails?.lastName
                             : " "
                    }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Mobile Number :</div>
                    <div class="col-6"> {{
                        refundData?.order?.customerDetails?.mobileNumber
                            ? refundData?.order?.customerDetails?.mobileNumber
                             : "-"
                    }}</div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Order Id :</div>
                    <div class="col-6"> {{
                        refundData?.order?.orderUniqueId
                            ? refundData?.order?.orderUniqueId
                             : "-"
                    }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Booking Price :</div>
                    <div class="col-6"> {{
                        refundData?.cancelOrder?.totalPrice
                            ? refundData?.cancelOrder?.totalPrice
                             : "-"
                    }}</div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Total Amount Paid :</div>
                    <div class="col-6">{{
						refundData?.cancelOrder?.totalAmountPaid
							? refundData?.cancelOrder?.totalAmountPaid
							 : "-"   
					}}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Cancellation Price of Order :</div>
                    <div class="col-6"> {{
                        refundData?.cancelOrder?.productUpdatedPrice
                            ? refundData?.cancelOrder?.productUpdatedPrice
                             : "-"
                    }}</div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Difference Amount :</div>
                    <div class="col-6">{{
                        refundData?.cancelOrder?.diffrenceAmount
                            ? refundData?.cancelOrder?.diffrenceAmount
                             : "-"
                    }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Cancellation fees (%) :</div>
                    <div class="col-6"> {{
                        refundData?.cancelOrder?.cancelationFees
                            ? refundData?.cancelOrder?.cancelationFees
                             : "-"
                    }}</div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Cancellation Charges :</div>
                    <div class="col-6"> {{
                        refundData?.cancelOrder?.cancellationCharges
                            ? refundData?.cancelOrder?.cancellationCharges
                             : "-"
                    }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Total Cancellation Charges :</div>
                    <div class="col-6"> {{
                        refundData?.cancelOrder?.totalCancelationCharges
                            ? refundData?.cancelOrder?.totalCancelationCharges
                             : "-"
                    }}</div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Cancel Date :</div>
                    <div class="col-6"> {{
                        refundData?.cancelOrder?.cancelDate
                            ? (refundData?.cancelOrder?.cancelDate
                              | date : "MMM d, y hh:mm a")
                             : "-"
                    }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Amt. Payable to Customer :</div>
                    <div class="col-6"> {{
                        refundData?.cancelOrder?.payableToCustomer
                            ? refundData?.cancelOrder?.payableToCustomer
                             : "-"
                    }}</div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Customer Bank Name :</div>
                    <div class="col-6"> {{
                        refundData?.customerBankName
                            ? refundData?.customerBankName
                             : "-"
                    }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Customer A/c No :</div>
                    <div class="col-6"> {{
                        refundData?.customerAccountNo
                            ? refundData?.customerAccountNo
                             : "-"
                    }}</div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12">
                <div class="row">
                    <div class="col-3 text-muted">Passbook Copy :</div>
                    <div class="col image-text-truncate" *ngIf="refundData?.passbookCopy?.originalname">
                        {{refundData?.passbookCopy?.originalname}}&nbsp;&nbsp;<a
                            href="{{refundData?.passbookCopy?.URL}}" target="_blank"
                            download="{{refundData?.passbookCopy?.originalname}}"><img
                                src="assets/media/icons/_download.svg" alt="" width="16px"></a></div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12">
                <div class="row">
                    <div class="col-3 text-muted">Cheque Copy :</div>
                    <div class="col image-text-truncate" *ngIf="refundData?.checkCopy?.originalname">
                        {{refundData?.checkCopy?.originalname}}&nbsp;&nbsp;<a href="{{refundData?.checkCopy?.URL}}"
                            target="_blank" download="{{refundData?.passbookCopy?.originalname}}"><img
                                src="assets/media/icons/_download.svg" alt="" width="16px"></a></div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">IFSC Code :</div>
                    <div class="col-6"> {{ refundData?.ifscCode ? refundData?.ifscCode  : "-" }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">UTR Number :</div>
                    <div class="col-6"> {{refundData?.transactionId ? refundData?.transactionId  : "-"}}</div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Cancel order from :</div>
                    <div class="col-6">
                        {{refundData?.order?.orderBy?.broker?.merchant?.merchantName ? refundData?.order?.orderBy?.broker?.merchant?.merchantName  : "-" | titlecase}}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 text-muted">Refund Status :</div>
                    <div class="col-6">{{
                        refundData?.refundStatus?.statusName
                            ? (refundData?.refundStatus?.statusName | titlecase)
                             : "-"
                    }}</div>
                </div>
            </div>
        </div>
    </div>
    <kt-portlet-footer *ngIf="data.action != 'view'">
        <div class="p-3">
            <kt-modal-footer *ngIf="data.action == 'add'" (action)="action($event)" [value]="data.action">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>
</div>