<kt-portlet>
    <kt-modal-header [title]='title' (action)="action($event)"></kt-modal-header>
    <kt-portlet-body>
        <form [formGroup]="reasonForm">
            <div class="row ">
                <div class="col-12">
                    <div class="row justify-content-center kt-margin-t-10">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory"> Reason</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" formControlName="reason"
                                [class.isError]="reasonForm.controls.reason.invalid &&  reasonForm.controls.reason.touched">
                        </div>
                        <mat-error *ngIf="controls.reason.touched && controls.reason.errors?.required">
                            Required field
                        </mat-error>
                    </div>
                </div>
            </div>
        </form>
    </kt-portlet-body>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="data.action == 'add' ? 'Add' : 'Update'">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>
</kt-portlet>