<form action="">
    <div class="row">
        <div class="col-4 form-label">
            <label class="text-color kt-padding-l-10">Name</label>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="vishwas shetty">
        </div>
    </div>
    <div class="row kt-margin-t-15">
        <div class="col-4 form-label">
            <label class="text-color kt-padding-l-10">Age</label>
        </div>
        <div class="col-6">
            <input type="number" class="form-control" placeholder="10234501203203" numbersOnly>
        </div>
    </div>
    <div class="row kt-margin-t-15">
        <div class="col-4 form-label">
            <label class="text-color kt-padding-l-10">Relationship</label>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="IFSC0000XXX">
        </div>
    </div>
</form>