:host{
    .form-control {
        display: inline;
        width:60%;
        background: #dee2e68f;
    }
    ::-webkit-input-placeholder { /* Edge */
        font-weight: bold;
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-weight: bold;
      }
      
      ::placeholder {
        font-weight: bold;
      }
}