<kt-portlet>
    <kt-portlet-body>
        <div class="kt-padding-20 pos-relative">
            <img src="../../../../../../assets/media/icons/cancel.svg" alt="" class="kt-pointer right-0" (click)="closeModal()">
            <div class="row">
                <div class="col-6">
                    <label class="text-color font-weight-500">API Key</label>
                </div>
                <div class="col-6">
                    <label class="text-color font-weight-500" *ngIf="apiDetails.apiKey">{{apiDetails.apiKey}}</label>
                    <label class="text-color font-weight-500" *ngIf="!apiDetails.apiKey">No API Key Found</label>
                </div>
            </div>
            <div class="row kt-margin-t-15">
                <div class="col-6">
                    <label class="text-color font-weight-500">API Status</label>
                </div>
                <div class="col-6">
                    <mat-slide-toggle [color]="'accent'" [checked]="apiDetails.apiKeyStatus" (change)="toogle($event.checked)">
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </kt-portlet-body>
    <kt-portlet-footer>
        <div class="text-right p-3">
            <kt-button [value]="'Generate'" [type]="'button'" class="kt-padding-r-10" (click)="generateApi()"></kt-button>
            <kt-button [value]="'Re-Generate'" [type]="'reset'" style="background-color:#C5C6C6 !important" *ngIf="apiDetails.apiKey" (click)="reGenerateApi()"></kt-button>
        </div>
    </kt-portlet-footer>
</kt-portlet>