<kt-portlet>
    <kt-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="customerId">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.customerUniqueId}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        {{item.customer.firstName | titlecase}}&nbsp;{{item.customer.lastName | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="newLoan">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <button style="width: 120px;" class="apply-kyc" (click)="applyLoan(item)">Add New Loan</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>