<kt-portlet>
    <kt-modal-header [title]='"View Logs"' (action)="action($event)"></kt-modal-header>

    <kt-portlet-body>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <label>Customer ID: {{ modalData.customer.customerUniqueId | uppercase }}</label>
                    </div>
                    <div class="col">
                        <label> Loan ID:
                            <ng-container *ngFor="let item of modalData.customerLoan">
                                <span *ngIf="item.loanType === 'secured'">{{ item.loanUniqueId | uppercase }}</span>
                            </ng-container>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="">Packets:
                    <ng-container *ngFor="let item of modalData.loanPacketDetails[0].packets; last as l">
                        <span>{{ item.packetUniqueId | uppercase }}</span>
                        <span *ngIf="!l">, &nbsp;</span>
                    </ng-container>
                </label>
            </div>
        </div>
        <div class="mat-table__wrapper custom" [ngStyle]="{'overflow-x':'hidden'}">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">
                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.packetLocation">
                            {{role?.packetLocation?.location | titlecase}}
                        </span>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="updatedBy">
                    <mat-header-cell *matHeaderCellDef>Updated By</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngFor="let sender of role.senderData">
                            <span *ngIf="sender.firstName">
                                {{sender.firstName | titlecase}}&nbsp; {{sender.lastName | titlecase}}
                            </span>
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="handover">
                    <mat-header-cell *matHeaderCellDef>Handover</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngFor="let receiver of role.receiverData">
                            {{receiver.firstName | titlecase}}&nbsp; {{receiver.lastName | titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="internalBranch">
                    <mat-header-cell *matHeaderCellDef>Internal Branch</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.internalBranch else blank">
                            {{role?.internalBranch?.name | titlecase}}
                        </span>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="partner">
                    <mat-header-cell *matHeaderCellDef>Partner</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.partnerBranch else blank">
                            {{role?.partnerBranch?.partner?.name | titlecase}}
                        </span>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="partnerBranch">
                    <mat-header-cell *matHeaderCellDef>Partner Branch</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.partnerBranch else blank">
                            {{role?.partnerBranch?.name | titlecase}}
                        </span>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date </mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.updatedAt">
                            {{role.updatedAt | date:'mediumDate'}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.updatedAt">
                            {{ role.updatedAt | date:'shortTime'}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-template #blank>
                    -
                </ng-template>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>