<kt-portlet>
    <kt-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="partnerId">
                    <mat-header-cell *matHeaderCellDef>Partner Id</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="branchId">
                    <mat-header-cell *matHeaderCellDef>Branch Id</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="accountNumber">
                    <mat-header-cell *matHeaderCellDef>Account Number</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="ifsc">
                    <mat-header-cell *matHeaderCellDef>IFSC Code</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="transactionId">
                    <mat-header-cell *matHeaderCellDef>Transaction Id</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="totalBalance">
                    <mat-header-cell *matHeaderCellDef>Total Balance</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="reduceAmount">
                    <mat-header-cell *matHeaderCellDef>Reduce Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="remainingAmount">
                    <mat-header-cell *matHeaderCellDef>Remaining Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="removeDate">
                    <mat-header-cell *matHeaderCellDef>Remove Date</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="removeBy">
                    <mat-header-cell *matHeaderCellDef>Remove By</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan Id</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanAmount">
                    <mat-header-cell *matHeaderCellDef>Loan Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>