<kt-portlet class="mt-5 mt-lg-0">
    <kt-portlet-header [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTitle>
            <h3 class="ComponentTitle">
                <span>Sub Category List</span>
            </h3>
        </ng-container>
        <ng-container ktPortletTools>
            <mat-form-field class="mat-form-field-fluid searchbar example-form-field">
                <input matInput placeholder="Search SubCategory" #searchInput autocomplete="off">
            </mat-form-field>&nbsp;&nbsp;
            <button  class="btn primaryHeaderBtn" (click)="addSubCategory();">Add New</button> &nbsp; &nbsp; &nbsp; &nbsp;
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body class="kt-padding-t-5 kt-padding-b-5 kt-padding-l-10 kt-padding-r-10 componrntBody">
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="subCategoryName">
                    <mat-header-cell *matHeaderCellDef>Sub Category
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.subCategoryName | titlecase  }}</mat-cell>
                </ng-container>

                

                <ng-container matColumnDef="categoryName"> 
                    <mat-header-cell *matHeaderCellDef>Category
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.category.categoryName | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        <p  (click)="editSubCategory(element.id)" mat-icon-button aria-label="Example icon-button with a edit icon" class="edit_btn">
                         Edit &nbsp;| &nbsp;
                        </p>
                        <p (click)="deleteSubCategory(element.id)" mat-icon-button  aria-label="Example icon-button with a delete icon" class="delete_btn">
                        Delete
                        </p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> 
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="noRecords">No records found</div>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [pageSize]="50" [pageSizeOptions]="[25,50,100,200,500]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>
