:host{
    // .mat-table__wrapper {
    //     width: 100%;
    //     overflow-x: hidden;
    // }
    .mat-column-merchantName{
        flex: 0 0 13% !important;
        padding-left: 10px !important;
    }
    .mat-column-initial{
        flex: 0 0 5% !important;
    }
    .mat-column-fullName{
        flex: 0 0 12% !important;
    }
    .mat-column-mobileNumber{
        flex: 0 0 8% !important;
    }
    .mat-column-email{
        flex: 0 0 18% !important;
        word-break: break-all !important;
    }
    .mat-column-state{
        flex: 0 0 10% !important;
    }
    .mat-column-city{
        flex: 0 0 10% !important;
    }
    .mat-column-pincode{
        flex: 0 0 6% !important;
    }
    .mat-column-approvalStatus{
        flex: 0 0 6% !important;
    }
    .mat-column-apiKey{
        flex: 0 0 6% !important;
    }
    .mat-column-action{
        flex: 0 0 8% !important;
    }
}