.subStyle{
    min-height: 50px;
    justify-content: center;
    background-color: white;
    color: #454d67;
    border-radius: 10px;
    font-weight: 600;
    padding: 25px;
}

.subStyle:hover{
    background-color: #454d67;
    color: white;
}
