:host{
    .mat-column-merchantName{
        flex: 0 0 12% !important;
        padding-left: 5px !important;
    }
    .mat-column-storeId{
        flex: 0 0 8% !important;
    }
    .mat-column-brokerId{
        flex: 0 0 7% !important;
    }
    .mat-column-mobileNumber{
        flex: 0 0 8% !important;
    }
    .mat-column-email{
        flex: 0 0 15% !important;
        word-break: break-all;
    }
    .mat-column-mobileNumber{
        flex: 0 0 6% !important;
    }
    .mat-column-address{
        flex: 0 0 10% !important;
    }
    .mat-column-state{
        flex: 0 0 10% !important;
    }
    .mat-column-city{
        flex: 0 0 10% !important;
    }
    .mat-column-pincode{
        flex: 0 0 5% !important;
    }
    .mat-column-approvalStatus{
        flex: 0 0 8% !important;
    }
    .mat-column-status{
        flex: 0 0 4% !important;
    }
    .mat-column-action{
        flex: 0 0 6% !important;
    }
}