:host {
    p {
        margin: 0 !important;
    }

    .amount {
        display : inline-block;
        position: relative;
    }

    /* position the unit to the right of the wrapper */
    .amount::after {
        position   : absolute;
        top        : 11px;
        right      : 1em;
        transition : all .05s ease-in-out;
        content    : '(Amt in laks)';
        color      : #707480;
        font-weight: bold;
    }

    .csv_pos {
        position   : absolute;
        top        : 40px;
        right      : 30px;
        font-weight: 500;
        font-size  : 16px;
        z-index    : 99999999999999999999999999999999999;
    }

    .bg {
        background-color: #454D67 !important;
        color           : rgb(193, 193, 193) !important;

    }

}