version: "3"
services: 
    web:
      build: ./gold-loan-backend/
      container_name: gold-loan-nodejs-prod
      image: maishafruits/maisha:node_loan_production
      environment:
        - NODE_ENV=production
      ports:
        - "8100:3000"
      volumes:
        - gold-loan-public-production:/usr/src/app/public/uploads

    nginx:
      restart: always
      container_name: gold-loan-production-nginx
      image: maishafruits/maisha:nginx_loan_production
      build: ./gold-admin-frontend/
      volumes:
        - ./logs/:/gold/logs
      ports:
        - "8300:80"
      links:
        - web
volumes:
    gold-loan-public-production:

    
