<!-- <p>upload-banner works!</p> -->

<div class="row">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Upload Banner'"
                [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                <ng-container ktPortletTools>
                    <!-- <kt-context-menu></kt-context-menu> -->
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body class="kt-portlet__body">
                <div class="row">
                    <div class="col image-box-container">
                        <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description for Banner</mat-label>
                                <textarea matInput rows="4"></textarea>
                            </mat-form-field>
                        </div>

                        <!-- <div class="text-center">
                            <button mat-raised-button color="primary">Submit</button>
                        </div> -->

                        <div class="col image-box mat-elevation-z4">
                            <div>
                                <img src="/assets/media/bg/sc-home1-bg.png">
                            </div>
                            <input style="display: none;" #file accept="image/*" type="file" />
                        </div>

                        <div class="actionContainer text-center">
                            <button class="m-2" mat-mini-fab mat-icon-button color="primary" matTooltip="Edit item">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button class="m-2" mat-mini-fab mat-icon-button color="warn" type="button"
                                matTooltip="Delete item">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="col image-box-container">
                        <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description for Banner</mat-label>
                                <textarea matInput rows="4"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="image-box mat-elevation-z4">
                            <div>
                                <img src="/assets/media/bg/sc-home1-bg.png">
                            </div>
                        </div>

                        <div class="actionContainer text-center">
                            <button class="m-2" mat-mini-fab mat-icon-button color="primary" matTooltip="Edit item">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button class="m-2" mat-mini-fab mat-icon-button color="warn" type="button"
                                matTooltip="Delete item">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="col image-box-container">
                        <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description for Banner</mat-label>
                                <textarea matInput rows="4"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="image-box mat-elevation-z4">
                            <div>
                                <img src="/assets/media/bg/sc-home1-bg.png">
                            </div>
                        </div>

                        <div class="actionContainer text-center">
                            <button class="m-2" mat-mini-fab mat-icon-button color="primary" matTooltip="Edit item">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button class="m-2" mat-mini-fab mat-icon-button color="warn" type="button"
                                matTooltip="Delete item">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>


                    <!-- Description for image -->
                    <div class="col-12 kt-margin-t-20 kt-margin-b-25">

                        <div class="text-center">
                            <button mat-raised-button color="primary">Submit</button>
                        </div>
                    </div>
                </div>

            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>