.image-box-container {
    
    .image-box {
        margin-bottom: 20px;
        // border: 1px solid #ccc;
        width: 100%;
        padding-top: 50%;
        position: relative;
    
        div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    
        img {
           width: 100%;
           max-height: 100%;
        }
    }
}
