<!-- <p>upload-banner works!</p> -->

<div class="row">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Upload Banner'"
                [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                <ng-container ktPortletTools>
                    <!-- <kt-context-menu></kt-context-menu> -->
                </ng-container>
            </kt-portlet-header>
            <kt-portlet-body class="kt-portlet__body">
                <div class="row">
                    <!-- <form> -->
                    <div class="col image-box-container">
                        <!-- <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description for Banner</mat-label>
                                <textarea matInput rows="4"></textarea>
                            </mat-form-field>
                        </div> -->

                        <!-- <div class="text-center">
                            <button mat-raised-button color="primary">Submit</button>
                        </div> -->

                        <div class="col image-box mat-elevation-z4">
                            <div>
                                <img *ngIf="!urlCheck" [src]="url">
                            </div>
                            <input style="display: none;" #fileInput accept="image/*" type="file"
                                (change)="singleProductImageChangenew($event, 1)" />
                        </div>
                        <mat-error *ngIf="img1Error">Image size should be less than 150 KB</mat-error>
                        <mat-error *ngIf="widthHeightError">Image height and width should be less than 600 pixels</mat-error>
                        <div class="actionContainer text-center">
                            <button class="m-2" mat-mini-fab mat-icon-button color="primary" matTooltip="Edit item"
                                (click)="fileInput.click()">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button *ngIf="!urlCheck" class="m-2" mat-mini-fab mat-icon-button color="warn"
                                type="button" matTooltip="Delete item" (click)="deleteBanner(1)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="col image-box-container">
                        <!-- <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description for Banner</mat-label>
                                <textarea matInput rows="4"></textarea>
                            </mat-form-field>
                        </div> -->

                        <div class="image-box mat-elevation-z4">
                            <div>
                                <img *ngIf="!urlCheck2" [src]="url2">
                            </div>
                            <input style="display: none;" #fileInput2 accept="image/*" type="file"
                                (change)="singleProductImageChangenew($event, 2)" />
                        </div>
                        <mat-error *ngIf="img2Error">Image size should be less than 150 KB</mat-error>
                        <mat-error *ngIf="widthHeightError2">Image height and width should be less than 600 pixels</mat-error>

                        <div class="actionContainer text-center">
                            <button class="m-2" mat-mini-fab mat-icon-button color="primary" matTooltip="Edit item"
                                (click)="fileInput2.click()">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button *ngIf="!urlCheck2" class="m-2" mat-mini-fab mat-icon-button color="warn"
                                type="button" matTooltip="Delete item" (click)="deleteBanner(2)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="col image-box-container">
                        <!-- <div>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description for Banner</mat-label>
                                <textarea matInput rows="4"></textarea>
                            </mat-form-field>
                        </div> -->

                        <div class="image-box mat-elevation-z4">
                            <div>
                                <img *ngIf="!urlCheck3" [src]="url3">
                            </div>
                            <input style="display: none;" #fileInput3 accept="image/*" type="file"
                                (change)="singleProductImageChangenew($event, 3)" />
                        </div>
                        <mat-error *ngIf="img3Error">Image size should be less than 150 KB</mat-error>
                        <mat-error *ngIf="widthHeightError3">Image height and width should be less than 600 pixels</mat-error>

                        <div class="actionContainer text-center">
                            <button class="m-2" mat-mini-fab mat-icon-button color="primary" matTooltip="Edit item"
                                (click)="fileInput3.click()">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button *ngIf="!urlCheck3" class="m-2" mat-mini-fab mat-icon-button color="warn"
                                type="button" matTooltip="Delete item" (click)="deleteBanner(3)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>


                    <!-- Description for image -->
                    <!-- <div class="col-12 kt-margin-t-20 kt-margin-b-25">

                        <div class="text-center">
                            <button mat-raised-button color="primary">Submit</button>
                        </div>
                    </div> -->
                    <!-- </form> -->
                </div>

            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>