<div class="row justify-content-around" [formGroup]="documentsForm">
    <div class="col-11">
        <div class="row kt-padding-t-15 kt-padding-b-20 justify-content-around">
            <div class="col-4 form-label" *ngIf="!show">
                <label class="kt-padding-l-10">Loan Agreement Copy</label>
            </div>
            <div class="col-4 form-label">
                <label class="kt-padding-l-10">Pawn Ticket/Copy of pledge</label>
            </div>
            <div class="col-4 form-label" *ngIf="!show">
                <label class="kt-padding-l-10">Scheme Confirmation Copy</label>
            </div>
            <div class="col-4 form-label" *ngIf="show">
                <label class="kt-padding-l-10">Signed Cheque Copy</label>
            </div>
            <div class="col-4 form-label" *ngIf="show">
                <label class="kt-padding-l-10">Declaration Copy</label>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4" *ngIf="!show">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="loanAgreementImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="file1.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" accept="image/png, image/jpeg" #file1
                        (change)="fileUpload($event,'loanAgreementCopy')">
                </div>
            </div>
            <div class="col-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="pawnTicketImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="file2.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" accept="image/png, image/jpeg" #file2
                        (change)="fileUpload($event,'pawnTicket')">
                </div>
            </div>
            <div class="col-4" *ngIf="!show">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="schemeConfirmationImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="file3.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" accept="image/png, image/jpeg" #file3
                        (change)="fileUpload($event,'schemeConfirmation')">
                </div>
            </div>
            <div class="col-4" *ngIf="show">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="signedChequeImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="file3.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" accept="image/png, image/jpeg" #file3
                        (change)="fileUpload($event,'signedCheque')">
                </div>
            </div>
            <div class="col-4" *ngIf="show">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="declarationCopyImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="file3.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" accept="image/png, image/jpeg" #file3
                        (change)="fileUpload($event,'declarationCopy')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" *ngIf="!show">
                <div class="row">
                    <div class="col-10">
                        <div class="img-container width" *ngIf="!documentsForm.controls.loanAgreementCopy.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <div class="" *ngIf="documentsForm.controls.loanAgreementCopy.value">
                            <div class="d-inline-block img-container width kt-margin-r-15">
                                <img class="fetched-image" [src]="documentsForm.controls.loanAgreementCopy.value">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    class="kt-pointer remove-icon" (click)="removeImages(idx);">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="row">
                    <div class="col-10">
                        <div class="img-container width" *ngIf="!documentsForm.controls.pawnTicket.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <div class="" *ngIf="documentsForm.controls.pawnTicket.value">
                            <div class="d-inline-block img-container width kt-margin-r-15">
                                <img class="fetched-image" [src]="documentsForm.controls.pawnTicket.value">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    class="kt-pointer remove-icon" (click)="removeImages(idx);">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col" *ngIf="!show">
                <div class="row">
                    <div class="col-10">
                        <div class="img-container width" *ngIf="!documentsForm.controls.schemeConfirmation.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <div class="" *ngIf="documentsForm.controls.schemeConfirmation.value">
                            <div class="d-inline-block img-container width kt-margin-r-15">
                                <img class="fetched-image" [src]="documentsForm.controls.schemeConfirmation.value">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    class="kt-pointer remove-icon" (click)="removeImages(idx);">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col" *ngIf="show">
                <div class="row">
                    <div class="col-10">
                        <div class="img-container width" *ngIf="!documentsForm.controls.signedCheque.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <div class="" *ngIf="documentsForm.controls.signedCheque.value">
                            <div class="d-inline-block img-container width kt-margin-r-15">
                                <img class="fetched-image" [src]="documentsForm.controls.signedCheque.value">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    class="kt-pointer remove-icon" (click)="removeImages(idx);">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col" *ngIf="show">
                <div class="row">
                    <div class="col-10">
                        <div class="img-container width" *ngIf="!documentsForm.controls.declartionCopy.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <div class="" *ngIf="documentsForm.controls.declartionCopy.value">
                            <div class="d-inline-block img-container width kt-margin-r-15">
                                <img class="fetched-image" [src]="documentsForm.controls.declartionCopy.value">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    class="kt-pointer remove-icon" (click)="removeImages(idx);">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>