<kt-toastr #toastr></kt-toastr>
<kt-portlet>
    <kt-portlet-body>
        <div class="row justify-content-center scroll kt-padding-t-10 kt-padding-b-10">
            <div class="col-6">
                <form [formGroup]="refundForm">
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Store Id</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="storeId" class="form-control" numbersOnly disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Customer Id</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="userId" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Customer Name</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="customerName" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Mobile Number</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="mobileNumber" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Order Id</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="orderId" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Booking Price</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="bookingPrice" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Total Amount Paid</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="totalAmt" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Cancellation Price of Order</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="cancelPrice" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Difference Amount</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="diffAmt" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Cancellation Fees (%)</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="cancelFees" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Cancellation Charges</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="CancelCharge" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Total Cancellation Charges</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="totalCancelCharge" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Amt. Payable To Customer</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="amtPayable" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Cancel Date</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="cancelDate" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Customer Bank Name</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="bankName" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Customer A/c Number</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="acNumber" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">IFSC Code</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="ifscCode" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15" *ngIf="showUploadFile">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Passbook Copy</label>
                        </div>
                        <div class="col-8">
                            <kt-uplod-preview-image [type]="'formField'" [formFieldName]="'passbookCopy'"
                                [fileAcceptType]="'image/*'" [action]="'remove'" (upload)="uploadImage($event)"
                                (remove)="removeImage($event)">
                            </kt-uplod-preview-image>
                            <input type="text" formControlName="passbookCopy" class="form-control"
                                [class.isError]="controls.passbookCopy.touched && controls.passbookCopy.invalid" hidden>
                            <div *ngIf="controls.passbookCopy.touched && controls.passbookCopy.invalid">
                                <mat-error
                                    *ngIf="controls.passbookCopy.touched && controls.passbookCopy.errors?.required">
                                    Awb File is required</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15" *ngIf="showUploadFile">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Check Copy</label>
                        </div>
                        <div class="col-8">
                            <kt-uplod-preview-image [type]="'formField'" [formFieldName]="'checkCopy'"
                                [fileAcceptType]="'image/*, .pdf'" [action]="'remove'" (upload)="uploadImage($event)"
                                (remove)="removeImage($event)">
                            </kt-uplod-preview-image>
                            <input type="text" formControlName="checkCopy" class="form-control"
                                [class.isError]="controls.checkCopy.touched && controls.checkCopy.invalid" hidden>
                            <div *ngIf="controls.checkCopy.touched && controls.checkCopy.invalid">
                                <mat-error *ngIf="controls.checkCopy.touched && controls.checkCopy.errors?.required">
                                    Awb Box is required</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15" *ngIf="showUploadedFile">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Passbook Copy</label>
                        </div>
                        <div class="col-8">
                            <a class="text-body" [href]="refundData.passbookCopy.url"
                                download="{{refundData.passbookCopy.originalname}}" target="_blank">
                                <span>{{refundData.passbookCopy.originalname}}</span>
                                <span class="pl-2">
                                    <img height="12" width="12" [src]="'assets/media/icons/_download.svg'">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15" *ngIf="showUploadedFile">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Check Copy</label>
                        </div>
                        <div class="col-8">
                            <a class="text-body" [href]="refundData.passbookCopy.url"
                                download="{{refundData.passbookCopy.originalname}}" target="_blank">
                                <span>{{refundData.passbookCopy.originalname}}</span>
                                <span class="pl-2">
                                    <img height="12" width="12" [src]="'assets/media/icons/_download.svg'">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Cancel Order from</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="cancelOrder" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">UTR Number</label>
                        </div>
                        <div class="col-8">
                            <input type="text" formControlName="utrNumber" class="form-control">
                        </div>
                    </div>
                    <div class="row kt-margin-t-15" *ngIf="hiddenFlag">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Status</label>
                        </div>
                        <div class="col-8">
                            <select class="form-control" formControlName="status"
                                [class.isError]="controls.status.touched && controls.status.invalid">
                                <option value="" [selected]="true" [disabled]="true">Select Status</option>
                                <option [value]="refundData?.nextStatus.statusId">
                                    {{refundData?.nextStatus.statusName | titlecase}}</option>
                            </select>
                            <div *ngIf="controls.status.touched && controls.status.invalid">
                                <mat-error *ngIf="controls.status.touched && controls.status.errors?.required">
                                    Field is required</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-margin-t-15" *ngIf="hiddenFlag">
                        <div class="col-12 text-right">
                            <kt-button [value]="'Update'" [type]="'submit'" (click)="submit()"></kt-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>