<div *ngIf="url != 'view-loan'">
    <!-- {{url != 'view-loan'}} {{url}} -->
    <form class="row justify-content-center" action="" [formGroup]="packetInfo" (submit)="addmore()" #form="ngForm">
        <div class="col-2">
            <select class="form-control packet-dropdown" formControlName="packetId"
                [class.isError]="packetInfo.controls.packetId.invalid && packetInfo.controls.packetId.touched">
                <option value=null [selected]="true">Select Packet</option>
                <option [value]="packet.id" [disabled]="packet.disabled"
                    *ngFor="let packet of packetsDetails; index as idx">
                    {{packet.packetUniqueId | uppercase}}</option>
            </select>

            <mat-error *ngIf="packetInfo.controls.packetId.invalid && packetInfo.controls.packetId.touched">
                <small>
                    Field Required
                </small>
            </mat-error>
        </div>

        <div class="col-5">
            <div class="row">
                <div class="offset-1 col-4 form-label">
                    <label for="">Ornament Type</label>
                </div>
                <div class="col-7">
                    <kt-multi-select-search formControlName="ornamentType" [items]="ornamentTypeData" [multiple]="true"
                        [bindLabel]="'name'" [isClear]="clearData" [placeholder]="'Ornament Type'" [selectAll]="true">
                    </kt-multi-select-search>
                    <mat-error
                        *ngIf="packetInfo.controls.ornamentType.touched && packetInfo.controls.ornamentType.invalid">
                        <span *ngIf="packetInfo.controls.ornamentType.errors?.required">Field Required</span>
                    </mat-error>
                </div>
            </div>

        </div>
        <div class="col-1">
            <kt-button [value]="'ADD'" [type]="'submit'"></kt-button>
        </div>
    </form>
</div>
<div class="row justify-content-center kt-padding-t-15">
    <div class="col-4">
        <div class="table-div" *ngIf="packets.controls.length" [formGroup]="packetImg">
            <table class="table outer-border">
                <thead>
                    <th class="transparent">Packet</th>
                    <th class="transparent">Ornaments</th>
                    <th class="transparent" *ngIf="url != 'view-loan'"></th>
                </thead>
                <tbody>
                    <tr formArrayName="packetOrnamentArray" *ngFor="let packet of packets.controls;index as idx">
                        <ng-container [formGroupName]="idx">
                            <td class="text-color ">
                                <label class="m-0">{{packet.controls.packetsName.value | uppercase}}</label>

                            </td>
                            <td class="text-color ">
                                <label class="m-0">{{packet.controls.ornamentsName.value | uppercase  }}</label>

                            </td>
                            <td class="text-gray" *ngIf="url != 'view-loan'">
                                <img src="../../../../../../../assets/media/icons/cancel.png" alt="" height="15"
                                    (click)="removeSelectedPacketsData(idx)">
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row pl-5 kt-padding-t-15" *ngIf="packets.controls.length">
    <div class="col-4 ">
        <div class="img-container packets" *ngIf="!packetImg.controls.emptyPacketWithNoOrnamentImage.value"
            (click)="webcam('emptyPacketWithNoOrnament','emptyPacketWithNoOrnamentImage')">
            <img class="placeholder" src="../../../../../assets/media/icons/image-placeholder.png" alt="">
        </div>
        <img class="packets position-relative" [src]="packetImg.controls.emptyPacketWithNoOrnamentImage.value"
            *ngIf="packetImg.controls.emptyPacketWithNoOrnamentImage.value">
        <img *ngIf="packetImg.controls.emptyPacketWithNoOrnamentImage.value && url != 'view-loan'"
            src="../../../../../assets/media/icons/edit.svg" alt="" class="kt-pointer edit-icon"
            (click)="webcam('emptyPacketWithNoOrnament','emptyPacketWithNoOrnamentImage')">
        <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packet(s) with all ornaments</label>
        <div>
            <mat-error
                *ngIf="packetImg.controls.emptyPacketWithNoOrnament.touched && packetImg.controls.emptyPacketWithNoOrnament.invalid">
                Field Required</mat-error>
        </div>
        <input type="file" class="d-none" #emptyPacketWithNoOrnament
            (change)="uploadFile(idx,'emptyPacketWithNoOrnament',$event)">
    </div>
    <div class="col-4 ">
        <div class="img-container packets" *ngIf="!packetImg.controls.sealingPacketWithWeightImage.value"
            (click)="webcam('sealingPacketWithWeight','sealingPacketWithWeightImage')">
            <img class="placeholder" src="../../../../../assets/media/icons/image-placeholder.png" alt="">
        </div>
        <img class="packets position-relative" [src]="packetImg.controls.sealingPacketWithWeightImage.value"
            *ngIf="packetImg.controls.sealingPacketWithWeightImage.value">
        <img *ngIf="packetImg.controls.sealingPacketWithWeightImage.value && url != 'view-loan'"
            src="../../../../../assets/media/icons/edit.svg" alt="" class="kt-pointer edit-icon"
            (click)="webcam('sealingPacketWithWeight','sealingPacketWithWeightImage')">
        <label class="text-center w-100 font-weight-500 pacekts-label text-gray"> Sealed Packet(s) with weight</label>
        <div>
            <mat-error
                *ngIf="packetImg.controls.sealingPacketWithWeight.touched && packetImg.controls.sealingPacketWithWeight.invalid">
                Field Required</mat-error>
        </div>
        <input type="file" class="d-none" #sealingPacketWithWeight
            (change)="uploadFile(idx,'sealingPacketWithWeight',$event)">
    </div>
    <div class="col-4 ">
        <div class="img-container packets" *ngIf="!packetImg.controls.sealingPacketWithCustomerImage.value"
            (click)="webcam('sealingPacketWithCustomer','sealingPacketWithCustomerImage')">
            <img class="placeholder" src="../../../../../assets/media/icons/image-placeholder.png" alt="">
        </div>
        <img class="packets position-relative" [src]="packetImg.controls.sealingPacketWithCustomerImage.value"
            *ngIf="packetImg.controls.sealingPacketWithCustomer.value">
        <img *ngIf="packetImg.controls.sealingPacketWithCustomer.value && url != 'view-loan'"
            src="../../../../../assets/media/icons/edit.svg" alt="" class="kt-pointer edit-icon"
            (click)="webcam('sealingPacketWithCustomer','sealingPacketWithCustomerImage')">
        <label class="text-center w-100 font-weight-500 pacekts-label text-gray"> Sealed packet(s) with customer</label>
        <div>
            <mat-error
                *ngIf="packetImg.controls.sealingPacketWithCustomer.touched && packetImg.controls.sealingPacketWithCustomer.invalid">
                Field Required</mat-error>
        </div>
        <input type="file" class="d-none" #sealingPacketWithCustomer
            (change)="uploadFile(idx,'sealingPacketWithCustomer',$event)">

    </div>

</div>
<div class="text-right kt-padding-b-15" *ngIf="showButton && packets.controls.length">
    <kt-button [type]="'button'" [value]="'Save'" (click)="save()"></kt-button>
</div>