:host {
    mat-header-row, mat-row {
        width: 145%
    }
    .mat-column-bankTransactionId {
        flex: 0 0 8%;
    }
    .mat-column-depositBankName {
        flex: 0 0 8%;
    }
    .mat-column-depositBranchName {
        flex: 0 0 8%;
    }

    .loanID {
        display: flex;
        flex-direction: column;
    }
}