:host {
    mat-header-row, mat-row {
        width: 145%
    }
    .mat-column-bankTransactionId {
        flex: 0 0 8%;
    }
    .mat-column-depositBankName {
        flex: 0 0 8%;
    }
    .mat-column-depositBranchName {
        flex: 0 0 8%;
    }
    .mat-column-depositAmount{
        padding-right: 25px;
        justify-content: flex-end;
    }
    .loanID {
        display: flex;
        flex-direction: column;
    }
}