:host {
    .card{
        border-radius: 15px;
        -moz-border-radius: 15px;
        min-height: 315px;
    }
    table {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 15px;
        -moz-border-radius: 15px;
    }
}