<form [formGroup]="basicForm">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row">
                <div class="col-4 form-label">
                    <label class="text-color kt-padding-l-10">Customer ID</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="10234501203203"
                        formControlName="customerUniqueId"
                        [class.isError]="controls.customerUniqueId.touched && controls.customerUniqueId.invalid"
                        (keyup.enter)="getCustomerDetails()">
                    <div *ngIf="controls.customerUniqueId.touched && controls.customerUniqueId.invalid">
                        <mat-error *ngIf="controls.customerUniqueId.errors?.required">
                            Field is Required
                        </mat-error>
                        <mat-error
                            *ngIf="controls.customerUniqueId.errors?.minlength">
                            Length Should be 8
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="row kt-margin-t-15">
                <div class="col-4 form-label">
                    <label class="text-color kt-padding-l-10">Payment Type</label>
                </div>
                <div class="col-6">
                    <select class="form-control" formControlName="paymentType" 
                    [class.isError]="controls.paymentType.touched && controls.paymentType.invalid">
                        <option value="">Select Payment Type</option>
                        <option value="">Cash</option>
                        <option value="">Bank Transfer</option>
                    </select>
                    <mat-error *ngIf="controls.paymentType.touched && controls.customerUniqueId.errors?.required">
                            Field is Required
                        </mat-error>
                </div>
            </div>
            <div class="row kt-margin-t-15">
                <div class="col-4 form-label">
                    <label class="text-color kt-padding-l-10">Mobile Number</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="9845678991" formControlName="mobileNumber"
                        numbersOnly maxlength="10" readonly>
                </div>
            </div>
            <div class="row kt-margin-t-15">
                <div class="col-4 form-label">
                    <label class="text-color kt-padding-l-10">PAN Number</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="qwert1234q" formControlName="panCardNumber"
                        readonly>
                </div>
            </div>
            <div class="row kt-margin-t-15">
                <div class="col-4 form-label">
                    <label class="text-color kt-padding-l-10">KYC Status</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="kycStatus"
                        readonly>
                </div>
            </div>
            <div class="row kt-margin-t-15">
                <div class="col-4 form-label">
                    <label class="text-color kt-padding-l-10">Start Date</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="startDate"
                        value="{{currentDate |  date:'mediumDate'}}" placeholder="4/5/2020" readonly>
                </div>
            </div>
        </div>
    </div>


</form>