<kt-toastr #toastr></kt-toastr>
<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <!-- <kt-portlet-header [title]="'Branch List'" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">

        <ng-container ktPortletTools>

        </ng-container>
    </kt-portlet-header> -->
    <!-- end::Header -->

    <kt-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="kt-form kt-margin-b-10">

            <!-- start::GROUP ACTIONS -->
            <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
            <!-- Group actions are shared for all LISTS -->

            <!-- end::GROUP ACTIONS -->
        </div>
        <!-- end::FILTERS & GROUP ACTIONS -->

        <!-- MATERIAL TABLE | Binded to datasources -->
        <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                matSortActive="id" matSortDirection="asc" matSortDisableClear>
                <!-- Checkbox Column -->

                <!-- Table with selection -->
                <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
                <!-- <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="storeId">
                    <mat-header-cell *matHeaderCellDef>Store ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.orderBy?.broker?.store?.storeUniqueId ? element?.order?.orderBy?.broker?.store?.storeUniqueId : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="merchantName">
                    <mat-header-cell *matHeaderCellDef>Merchant Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.orderBy?.broker?.merchant?.merchantName ? element?.order?.orderBy?.broker?.merchant?.merchantName : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="orderId">
                    <mat-header-cell *matHeaderCellDef>Order ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.orderUniqueId ? element?.order?.orderUniqueId : '-'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="transactionId">
                    <mat-header-cell *matHeaderCellDef>Transaction ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element?.transactionId ? element?.transactionId : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="transactionDate">
                    <mat-header-cell *matHeaderCellDef>Transaction Date</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.paymentRecievedDate ? (element?.paymentRecievedDate | date:'medium') : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="productName">
                    <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.product?.productName ? element?.order?.product?.productName : '-'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="productWeight">
                    <mat-header-cell *matHeaderCellDef>Product Weight(in gm)</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.product?.weight ? element?.order?.product?.weight : '-'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="sku">
                    <mat-header-cell *matHeaderCellDef>SKU Code</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.product?.sku ? element?.order?.product?.sku : '-'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="invoiceAmount">
                    <mat-header-cell *matHeaderCellDef>Invoice Amount</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element?.finalOrderPrice ? element?.finalOrderPrice : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="initialAmount">
                    <mat-header-cell *matHeaderCellDef>Initial Amount</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element?.initialPayment ? element?.initialPayment : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="transactionAmount">
                    <mat-header-cell *matHeaderCellDef>Transaction Amount</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element?.emiAmount ? element?.emiAmount : '-'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerId">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.customerDetails?.customerUniqueId ? element?.order?.customerDetails?.customerUniqueId : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerName">
                    <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.customerDetails?.firstName}} {{element?.order?.customerDetails?.lastName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerAddress">
                    <mat-header-cell *matHeaderCellDef>Customer Address</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.customerDetails?.customeraddress[0]?.address ? element?.order?.customerDetails?.customeraddress[0]?.address : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerState">
                    <mat-header-cell *matHeaderCellDef>Customer State</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.customerDetails?.customeraddress[0]?.state?.name ? element?.order?.customerDetails?.customeraddress[0]?.state?.name : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerPinCode">
                    <mat-header-cell *matHeaderCellDef>Customer PinCode</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.customerDetails?.customeraddress[0]?.postalCode ? element?.order?.customerDetails?.customeraddress[0]?.postalCode : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerMobileNumber">
                    <mat-header-cell *matHeaderCellDef>Customer Mobile Number</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.customerDetails?.mobileNumber ? element?.order?.customerDetails?.mobileNumber : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emiNumber">
                    <mat-header-cell *matHeaderCellDef>EMI Number</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.paymentType?.paymentType ? element?.order?.paymentType?.paymentType : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emiRemaining">
                    <mat-header-cell *matHeaderCellDef>EMI Remaining</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.numberOfPendingEmi ? element?.order?.numberOfPendingEmi : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="orderStatus">
                    <mat-header-cell *matHeaderCellDef>Order Status</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.orderCurrentStatus?.statusName ? element?.order?.orderCurrentStatus?.statusName : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="productType">
                    <mat-header-cell *matHeaderCellDef>Product Type</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.product?.subCategory?.category?.categoryName ? element?.order?.product?.subCategory?.category?.categoryName : '-'}}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns" style="width: 350%;"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns" style="width: 350%;"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>