<div class="parent pb-3" *ngIf="cutomerDetails">
    <div class="row">
        <div class="col-12 card">
            <div class="row kt-margin-b-20">
                <div class="col">
                    <div class="row">
                        <div class="col-1">
                            <img class="kt-margin-t-10 profile" [src]="cutomerDetails?.customerKycPersonal?.profileImg">
                            <!-- <img [src]="customer.image" *ngIf="customer.image != '' || customer.image != null"> -->
                        </div>
                        <div class="col kt-padding-l-25">
                            <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Customer ID</div>
                            <div class="text-color font-weight-500">{{cutomerDetails?.customerUniqueId}}</div>
                        </div>
                        <div class="col">
                            <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Customer Name</div>
                            <div class="text-color font-weight-500">{{cutomerDetails?.firstName | titlecase}}
                                {{cutomerDetails?.lastName | titlecase}}</div>
                        </div>
                        <div class="col">
                            <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">PAN</div>
                            <div class="text-color font-weight-500">
                                {{cutomerDetails?.panCardNumber ? cutomerDetails?.panCardNumber : '-'}}</div>
                        </div>
                        <div class="col" *ngIf="cutomerDetails.panType == 'form60'">
                            <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">FORM 60</div>
                            <div class="text-primary font-weight-500 kt-pointer"
                                (click)="preview(cutomerDetails?.panImg)">View FORM 60</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-6">
                    <div class="row">
                        <div class="col-3">
                            <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Pan</div>
                            <div class="text-color font-weight-500">{{cutomerDetails.panCardNumber}}</div>
                        </div>
                        <div class="col-4">
                            <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Nominee</div>
                            <div class="text-color font-weight-500">Bhushan Madaye</div>
                        </div>
                        <div class="col-2">
                            <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Age</div>
                            <div class="text-color font-weight-500">40</div>
                        </div>
                        <div class="col-3 kt-padding-l-10">
                            <div class="kt-margin-t-30 text-gray font-weight-500 kt-margin-b-5">Relation</div>
                            <div class="text-color font-weight-500">Brother</div>
                        </div>
                    </div>
                </div> -->
            </div>
            <mat-divider></mat-divider>
            <div class="row kt-margin-t-20 justify-content-around">
                <div class="col offset-1 kt-padding-l-25">
                    <div class="text-gray font-weight-500 kt-margin-b-5">Permanent Address</div>
                    <div class="text-color font-weight-500 kt-margin-b-5"
                        [ngStyle]="{'width':'80%','line-height':'1.5'}">
                        {{cutomerDetails?.customerKycAddress[0]?.address | titlecase}}
                        {{cutomerDetails?.customerKycAddress[0]?.city?.name}}
                        {{cutomerDetails?.customerKycAddress[0]?.state?.name}}
                        {{cutomerDetails?.customerKycAddress[0]?.pinCode}}
                    </div>
                </div>
                <div class="col">
                    <div class="text-gray font-weight-500 kt-margin-b-5">
                        Residential Address</div>
                    <div class="text-color font-weight-500 kt-margin-b-5"
                        [ngStyle]="{'width':'65%','line-height':'1.5'}">
                        {{cutomerDetails?.customerKycAddress[1]?.address | titlecase}}
                        {{cutomerDetails?.customerKycAddress[1]?.city?.name}}
                        {{cutomerDetails?.customerKycAddress[1]?.state?.name}}
                        {{cutomerDetails?.customerKycAddress[1]?.pinCode}}
                    </div>
                </div>
                <div class="col">
                    <div class="text-gray font-weight-500 kt-margin-b-5">Bank Details</div>

                    <div class="text-color font-weight-500 kt-margin-b-5"
                        [ngStyle]="{'width':'65%','line-height':'1.5'}">
                        <!-- {{cutomerDetails?.customerScrap[0]?.scrapBankDetails?.bankName | titlecase}}<br>
                        {{cutomerDetails?.customerScrap[0]?.scrapBankDetails?.bankBranch | titlecase}}<br>
                        {{cutomerDetails?.customerScrap[0]?.scrapBankDetails?.acNumber | titlecase}} -->
                    </div>
                </div>
                <div class="col">
                    <div class="text-gray font-weight-500 kt-margin-b-5">KYC Document</div>
                    <div class="document">
                        <img src="../../../../../assets/media/icons/image-placeholder.png" class=" kt-pointer">
                    </div>
                </div>
                <!-- <div class="col-2 kt-padding-t-25">
                    <span class="document kt-margin-r-10">
                        <img src="../../../../../assets/media/icons/image-placeholder.png" class=" kt-pointer">
                    </span>
                    <span class="document ">
                        <img src="../../../../../assets/media/icons/image-placeholder.png" class=" kt-pointer">
                    </span>
                </div> -->
            </div>
            <div class="row kt-margin-t-10 kt-padding-b-25 justify-content-around">
                <div class="col offset-1 kt-padding-l-25">
                    <div class="text-primary font-weight-500 kt-pointer"
                        (click)="preview(cutomerDetails?.customerKycAddress[0]?.addressProof[0])">View Proof</div>
                </div>
                <div class="col">
                    <div class="text-primary font-weight-500 kt-pointer"
                        (click)="preview(cutomerDetails?.customerKycAddress[1]?.addressProof[0])">View Proof</div>
                </div>
                <div class="col">
                    <!--  <div class="text-primary font-weight-500 kt-pointer"
                        (click)="preview(cutomerDetails.customerKycBank[0].passbookProof[0])">View Proof</div> -->
                </div>
                <div class="col">
                    <div class="text-primary font-weight-500 kt-pointer"
                        (click)="preview(cutomerDetails?.customerKycPersonal?.identityProof[0])">View
                        {{cutomerDetails?.customerKycPersonal?.identityType?.name}}</div>
                </div>
                <!-- <div class="col-2">
                    <div class="text-primary font-weight-500 kt-pointer">View AADHAAR</div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row kt-margin-t-20 justify-content-start">
        <!-- Loan -->
        <div class="p-0 col-3" *ngFor="let masterLoan of cutomerDetails?.masterLoan;index as i">
            <div class="row">
                <div class="col">
                    <div class="card kt-padding-15" [class.kt-margin-r-15]="(i+1)%4!=0">
                        <div class="text-gray font-weight-500 kt-margin-b-5">Loan ID</div>
                        <div class="row kt-margin-b-5 text-color font-weight-500">
                            <div class="col-5  ">
                                <div>
                                    {{masterLoan.customerLoan[0].loanUniqueId}} <br>
                                </div>
                                <div>
                                    {{masterLoan?.customerLoan[1]?.loanUniqueId}}
                                </div>

                            </div>
                            <div class="col">
                                <span *ngIf="masterLoan?.isLoanTransfer">Loan Transfer <br> </span>
                                <span
                                    *ngIf="masterLoan?.isOrnamentsReleased && !masterLoan?.isFullOrnamentsReleased">Part
                                    Released Master Loan <br> </span>
                                <span *ngIf="masterLoan?.isNewLoanFromPartRelease">Part Release New Loan <br> </span>
                                <span
                                    *ngIf="masterLoan?.isOrnamentsReleased && masterLoan?.isFullOrnamentsReleased">Full
                                    Released Master Loan <br> </span>
                            </div>
                        </div>

                        <mat-divider class="kt-margin-b-10 kt-margin-t-10"></mat-divider>
                        <div class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="text-gray font-weight-500">Loan Amount</div>
                                <div class="text-color font-weight-500 d-block">
                                    <div>
                                        <span
                                            class="currency">{{masterLoan.customerLoan[0].loanAmount | indianCurrencyFormat}}</span>
                                    </div>
                                    <div>
                                        <span
                                            class="currency">{{masterLoan?.customerLoan[1]?.loanAmount | indianCurrencyFormat}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-gray font-weight-500">Loan Tenure</div>
                                <div class="text-color font-weight-500">{{masterLoan?.tenure}} Months</div>
                            </div>
                        </div>
                        <div class="row kt-margin-b-20">
                            <div class="col-6">
                                <div class="text-gray font-weight-500">Start Date</div>
                                <div class="text-color font-weight-500">
                                    {{masterLoan?.loanStartDate | date: 'mediumDate'}}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-gray font-weight-500">End Date</div>
                                <div class="text-color font-weight-500">{{masterLoan?.loanEndDate | date: 'mediumDate'}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="text-primary col font-weight-500 kt-pointer kt-margin-b-10"
                                (click)="viewLoan(masterLoan.id)" *ngxPermissionsOnly="['loanDetailsView']">View
                                Details
                            </div>

                            <div class="col" *ngIf="masterLoan.parentLoanId">
                                <div class="text-primary font-weight-500 kt-pointer kt-margin-b-10"
                                    (click)="viewLoan(masterLoan.parentLoanId)"
                                    *ngxPermissionsOnly="['loanDetailsView']">
                                    View Old Loan
                                </div>
                            </div>
                            <div class="col" *ngIf="masterLoan.isLoanTransfer">
                                <div class="text-primary font-weight-500 kt-pointer kt-margin-b-10"
                                    (click)="viewTransfer(masterLoan.customerLoan[0].id)"
                                    *ngxPermissionsOnly="['loanDetailsView']">
                                    View Transfer Details
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <!-- Scrap -->
        <div class="col-3 p-0" *ngFor="let scrap of cutomerDetails?.customerScrap;index as i">
            <div class="card kt-padding-15" [class.kt-margin-r-15]="(i+1)%4!=0">
                <div class="text-gray font-weight-500 kt-margin-b-5">Scrap ID</div>
                <div class="text-color font-weight-500 kt-margin-b-5">{{scrap?.scrapUniqueId}}</div>
                <mat-divider class="kt-margin-b-10 kt-margin-t-10"></mat-divider>
                <div class="row kt-margin-b-15">
                    <div class="col-6">
                        <div class="text-gray font-weight-500">Scrap Amount</div>
                        <div class="text-color font-weight-500">
                            <span class="currency">{{scrap?.finalScrapAmountAfterMelting | indianCurrencyFormat}}</span>
                        </div>
                    </div>
                </div>
                <div class="row kt-margin-b-20">
                    <div class="col-6">
                        <div class="text-gray font-weight-500">Start Date</div>
                        <div class="text-color font-weight-500">
                            {{scrap?.scrapPersonalDetail?.startDate | date: 'mediumDate'}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-gray font-weight-500">Disbursed Date</div>
                        <div class="text-color font-weight-500">
                            {{scrap?.scrapDisbursement?.date | date: 'mediumDate'}}
                        </div>
                    </div>
                </div>
                <div class="row kt-margin-b-20">
                    <div class="col-6">
                        <div class="text-gray font-weight-500">Bank Name</div>
                        <div class="text-color font-weight-500">
                            {{cutomerDetails?.customerScrap[i]?.scrapBankDetails?.bankName | titlecase}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-gray font-weight-500">PaymentMode</div>
                        <div class="text-color font-weight-500">
                            {{cutomerDetails?.customerScrap[i]?.scrapBankDetails?.paymentType| titlecase}}
                        </div>
                    </div>
                </div>
                <div class="text-primary font-weight-500 kt-pointer kt-margin-b-10" (click)="viewScrap(scrap)"
                    *ngxPermissionsOnly="['scrapDetailsView']">View Details</div>
            </div>
        </div>
    </div>
</div>