<!-- <kt-action-natification></kt-action-natification> -->

<kt-toastr #toastr></kt-toastr>

<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body">
        <div class="kt-form">
            <form [formGroup]="partnerForm">


                <div class="kt-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <!-- <kt-alert type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                                            Oh snap! Change a few things up and try submitting again.
                                        </kt-alert> -->



                <div class="form-group kt-form__group row">
                    <div class="col-lg-12 kt-margin-bottom-20-mobile">
                        <!-- Partner Name -->
                        <div class="row">
                            <div class="col-4 form-label">
                                <label for="">Partner Name</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" formControlName="name" autocomplete="off"
                                    placeholder="Enter Partner Name"
                                    [class.isError]="controls.name.touched && controls.name.invalid">
                                <mat-error *ngIf="controls.name.touched && controls.name.errors?.required">
                                    Required
                                    field</mat-error>
                            </div>
                        </div>

                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label for="">Commission %</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" formControlName="commission" type="number"
                                    placeholder="Enter Commission" min="0" max="100"
                                    [class.isError]="controls.commission.touched && controls.commission.invalid">
                                <mat-error *ngIf="controls.commission.errors?.required && controls.commission.touched">
                                    Required field
                                </mat-error>
                                <mat-error
                                    *ngIf="(controls.commission.errors?.min ||controls.commission.errors?.max) && controls.commission.touched">
                                    Invalid Input</mat-error>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer *ngIf="data.action == 'add'" (action)="action($event)" [value]="data.action">
            </kt-modal-footer>
            <kt-modal-footer *ngIf="data.action == 'edit'" (action)="action($event)" [value]="'Update'">
            </kt-modal-footer>

        </div>
    </kt-portlet-footer>
</div>