:host{
    ::ng-deep.mat-row,
    ::ng-deep.mat-header-row{
        width: 250% !important;
    }

    .mat-column-netWeightReleaseOrnament{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mat-column-netWeightRemainingOrnament{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .mat-column-loanId {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 0 4%;
    }
    .mat-column-updateStatus{
        flex: 0 0 6%;
    }

    .mat-column-status{
        flex: 0 0 3%;
    }
}