<kt-portlet>
    <kt-portlet-body>
        <!-- <button (click)="updateStatus()">Update Status</button> -->
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="appointmentDate">
                    <mat-header-cell *matHeaderCellDef>Appointment Date</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.appraiserData?.appoinmentDate | date}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="appointmentTime">
                    <mat-header-cell *matHeaderCellDef>Appointment Time</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.appraiserData?.startTime | time24to12}} -
                        {{item.appraiserData?.endTime | time24to12}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanAmount">
                    <mat-header-cell *matHeaderCellDef>
                        <div class="">Loan Amount</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <div class="" *ngFor="let loan of item.masterLoan.customerLoan">
                            {{loan.loanAmount}}
                        </div>
                        <!-- {{item.masterLoan.finalLoanAmount}} -->
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanStartDate">
                    <mat-header-cell *matHeaderCellDef>Loan Start Date</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.masterLoan.loanStartDate | date:'mediumDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerId">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.masterLoan.customer.customerUniqueId}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerName">
                    <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.masterLoan.customer.firstName| titlecase}}
                        &nbsp;{{item.masterLoan.customer.lastName| titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan ID</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <div *ngFor="let loan of item.masterLoan.customerLoan">
                            {{loan.loanUniqueId | uppercase}}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanEndDate">
                    <mat-header-cell *matHeaderCellDef>Loan End Date</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.masterLoan.loanEndDate | date:'mediumDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="tenure">
                    <mat-header-cell *matHeaderCellDef>Tenure</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.masterLoan.tenure}}&nbsp;
                        <span *ngIf="item.masterLoan.tenure == 1">Month</span>
                        <span *ngIf="item.masterLoan.tenure != 1">Months</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="parnterName">
                    <mat-header-cell *matHeaderCellDef>Partner Name</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item?.masterLoan?.partnerBranch?.partner?.name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="partnerBranch">
                    <mat-header-cell *matHeaderCellDef>Partner Branch</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item?.masterLoan?.partnerBranch?.name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="principalAmount">
                    <mat-header-cell *matHeaderCellDef>
                        <div class=""> Principal Outstanding</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <div *ngFor="let loan of item.masterLoan.customerLoan">
                            {{loan.outstandingAmount | uppercase}}
                        </div>
                        <!-- {{item.masterLoan.outstandingAmount }} -->
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let item"
                        [ngClass]="item.partReleaseStatus == 'released' ? 'text-success': item.partReleaseStatus == 'pending' ? 'text-warning' : 'text-danger'">
                        {{item.partReleaseStatus | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="totalPaidAmount">
                    <mat-header-cell *matHeaderCellDef>Total Paid Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.paidAmount}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="penalInterest">
                    <mat-header-cell *matHeaderCellDef>Penal Interest</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.penalInterest}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="interestAmount">
                    <mat-header-cell *matHeaderCellDef>Interest Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.interestAmount}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="ornamentReleaseAmount">
                    <mat-header-cell *matHeaderCellDef>
                        <div class="">
                            Ornament Release Amount
                        </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.releaseAmount}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="netWeightRemainingOrnament">
                    <mat-header-cell *matHeaderCellDef>
                        <div>Net Weight</div>
                        <div>(Remaining Ornament)</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.remainingNetWeight}} gm</mat-cell>
                </ng-container>
                <ng-container matColumnDef="netWeightReleaseOrnament">
                    <mat-header-cell *matHeaderCellDef>
                        <div>Net Weight</div>
                        <div>(Release Ornament)</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.releaseNetWeight}} gm</mat-cell>
                </ng-container>
                <ng-container matColumnDef="totalDeductionWeight">
                    <mat-header-cell *matHeaderCellDef>Total Deduction Weight</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.releaseDeductionWeight}} gm</mat-cell>
                </ng-container>
                <ng-container matColumnDef="totalGrossWeight">
                    <mat-header-cell *matHeaderCellDef>Total Gross Weight</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.releaseGrossWeight}} gm</mat-cell>
                </ng-container>

                <ng-container matColumnDef="ornaments">
                    <mat-header-cell *matHeaderCellDef> Ornaments </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <button (click)="ornamentsDetails(item.customerLoanOrnamentsDetails)" class="apply-kyc">View
                            Details
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="currentLocation">
                    <mat-header-cell *matHeaderCellDef>Current Location</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        {{item?.masterLoan?.locationData[0]?.packetLocation?.location | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="view">
                    <mat-header-cell *matHeaderCellDef> Acknowledgement Receipt </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <div *ngIf="item.documentsImages?.length" class="kt-pointer"
                            (click)="view(item.documentsImages[0])">
                            View
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="updateStatus">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <!-- <ng-container *ngIf="item.partReleaseStatus != 'released'">
                            <button *ngxPermissionsOnly="['partReleaseStatus']" style="width: 135px;" class="apply-kyc"
                                (click)="updateStatus(item)">Update
                            </button>
                        </ng-container> -->

                        <ng-container *ngxPermissionsOnly="['partReleaseStatus']">
                            <ng-container *ngIf="item.partReleaseStatus == 'released'">
                                <button *ngIf="!item.documents" style="width: 135px;" class="apply-kyc"
                                    (click)="updateDocument(item)">Upload
                                    Documents
                                </button>
                                <button *ngIf="item.documents && !(item.newLoan && item.newLoan.loanStatusForAppraiser)"
                                    style="width: 135px;" class="apply-kyc" (click)="newLoan(item)">New Loan
                                </button>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="item.partReleaseStatus == 'pending'">
                            <ng-container>
                                <button
                                    *ngIf="item?.masterLoan?.locationData[0]?.packetLocation?.location == 'partner branch in' || item?.masterLoan?.locationData[0]?.packetLocation?.id == 2"
                                    style="width: 135px;" class="apply-kyc"
                                    (click)="collect(item?.masterLoanId,item.masterLoan.packet,item.masterLoan, item?.masterLoan?.locationData[0]?.packetLocationId)">Collect</button>
                            </ng-container>
                            <ng-container>
                                <button
                                    *ngIf="item?.masterLoan?.locationData[0]?.packetLocation?.location == 'partner branch out' || item?.masterLoan?.locationData[0]?.packetLocation?.id == 3"
                                    style="width: 135px;" class="apply-kyc"
                                    (click)="homeIn(item?.masterLoanId,item.masterLoan.packet,item.id)">Customer Home
                                    In</button>
                            </ng-container>
                        </ng-container>
                        <!-- <button style="width: 135px;" class="apply-kyc" (click)="updateStatus(item)">Update
                        </button> -->
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>