<kt-toastr #toastr></kt-toastr>
<div class="text-center">
    <p class="forgot-title">{{title}}</p>
    <p class="forgot-sub-title text-gray m-0">OTP has been sent to your Registered</p>
    <p class="forgot-sub-title text-gray">Mobile number which end with xxxxx x{{mobile | slice:6:10}}</p>
    <p class="forgot-sub-title text-gray">OTP is valid for 10 mins</p>
</div>

<form [formGroup]="singInOtp" autocomplete="off">
    <div class="row justify-content-center kt-margin-b-20">
        <div class="col">
            <input type="text" class="login-form-input otp-input text-center" numbersOnly maxlength="1" #one
                (input)="input($event,'one')" formControlName="one">
        </div>
        <div class="col">
            <input type="text" class="login-form-input otp-input text-center" numbersOnly maxlength="1" #two
                (input)="input($event,'two')" formControlName="two">
        </div>
        <div class="col">
            <input type="text" class="login-form-input otp-input text-center" numbersOnly maxlength="1" #three
                (input)="input($event,'three')" formControlName="three">
        </div>
        <div class="col">
            <input type="text" class="login-form-input otp-input text-center" numbersOnly maxlength="1" #four
                (input)="input($event,'four')" formControlName="four">
        </div>
    </div>

    <div class="row">
        <div class="col"><button (click)="submit()" id="kt_login_signin_submit" class="btn btn-sign-otp w-100"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Submit
                OTP</button>
        </div>
    </div>
</form>
<div class="row justify-content-center">
    <div class="col-12 kt-padding-t-5 text-center">
        <span class="text-gray forgot-sub-title ">Didn't get OTP?</span>
        <span class="text-yellowish kt-pointer" (click)="reSend()">&nbsp;Resend</span>
    </div>
</div>