<kt-portlet>

    <kt-portlet-body>

        <div class="mat-table__wrapper" [ngStyle]="{'overflow-x':'auto'}">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead?.firstName | titlecase}}&nbsp;{{lead.lastName | titlecase}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="customerUniqueId">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead?.customerUniqueId | uppercase }}

                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="pan">
                    <mat-header-cell *matHeaderCellDef>PAN</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead?.panCardNumber ? lead?.panCardNumber : 'NA' | uppercase }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobileNumber">
                    <mat-header-cell *matHeaderCellDef>Mobile No.</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead?.mobileNumber ? lead?.mobileNumber : 'NA' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="internalBranch">
                    <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead?.internalBranch?.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="module">
                    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.module?.moduleName | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead?.state?.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead?.city?.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="pincode">
                    <mat-header-cell *matHeaderCellDef>Pin Code</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead?.pinCode }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date & Time</mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <div class="d-block">
                            <div class="d-block">{{lead?.createdAt | date:'mediumDate'}}</div>
                            <div class="d-block">{{lead?.createdAt | date:'shortTime'}}</div>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>