<kt-toastr #toastr></kt-toastr>
<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<p class="forgot-title text-center">Change Password</p>
		</div>

		<!-- <kt-auth-notice></kt-auth-notice> -->

		<form autocomplete="off" class="kt-form" [formGroup]="changePasswordForm">
			<!-- <mat-form-field class="w-100">
					<mat-label>New Password</mat-label> -->
			<input class="login-form-input" placeholder="New Password" type="password" formControlName="password">
			<div *ngIf="controls.password.invalid && controls.password.touched">
				<mat-error *ngIf="controls.password.errors?.required">
					<strong>Enter New Password</strong>
				</mat-error>
				<mat-error *ngIf="controls.password.errors?.minlength">
					<strong>Minimum field length 8</strong>
				</mat-error>
				<mat-error *ngIf="controls.password.errors?.maxlength">
					<strong>Maximum field length 100</strong>
				</mat-error>
			</div>
			<!-- </mat-form-field> -->
			<!-- <mat-form-field class="w-100">
					<mat-label>Confirm Password</mat-label> -->
			<div class="kt-margin-t-10 kt-margin-b-10">

				<input class="login-form-input" placeholder="Confirm Password" type="password"
					formControlName="confirmPassword">
				<div *ngIf="controls.confirmPassword.invalid && controls.confirmPassword.touched">
					<mat-error *ngIf="controls.confirmPassword.errors?.required && controls.confirmPassword.touched">
						<strong>Enter Confirm Password</strong>
					</mat-error>
					<mat-error *ngIf="controls.confirmPassword.errors?.minlength && controls.confirmPassword.touched">
						<strong>Minimum field length 8</strong>
					</mat-error>
					<mat-error *ngIf="controls.confirmPassword.errors?.maxlength && controls.confirmPassword.touched">
						<strong>Maximum field length 100</strong>
					</mat-error>
					<mat-error
						*ngIf="changePasswordForm.get('confirmPassword').errors && changePasswordForm.get('confirmPassword').errors.ConfirmPassword">
						<strong>Passsword and ConfirmPassword didn't match.</strong>
					</mat-error>
				</div>
				<!-- </mat-form-field> -->
			</div>
			<div class="kt-login__actions">
				<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-login w-100"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
			</div>
		</form>
	</div>
</div>