<kt-portlet>
    <kt-portlet-body>
        <div class="row">
            <div class="col-6">
                <mat-tab-group>
                    <mat-tab label="Basic Details">
                        <kt-basic-details></kt-basic-details>
                    </mat-tab>
                    <mat-tab label="KYC Details">
                        <kt-kyc-details></kt-kyc-details>
                    </mat-tab>
                    <mat-tab label="Nominee Details">
                        <kt-nominee-details></kt-nominee-details>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="col-6">
                <label class="text-color form-label kt-margin-t-15 p-0">Bank Details</label>
                <div class="row kt-margin-t-35">
                    <div class="col-4 form-label">
                        <label class="text-color kt-padding-l-10">Name</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="vishwas shetty">
                    </div>
                </div>
                <div class="row kt-margin-t-15">
                    <div class="col-4 form-label">
                        <label class="text-color kt-padding-l-10">Account No.</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="10234501203203">
                    </div>
                </div>
                <div class="row kt-margin-t-15">
                    <div class="col-4 form-label">
                        <label class="text-color kt-padding-l-10">IFSC Code</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="IFSC0000XXX">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-tab-group>
                    <mat-tab label="Ornaments">
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <label class="text-color kt-padding-l-10">Ornament Type</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="vishwas shetty">
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="text-color kt-padding-l-10">Gross Wt.</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="10234501203203">
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="text-color kt-padding-l-10">Deduction Wt.</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="IFSC0000XXX">
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-color kt-padding-l-10">With Ornaments</label>
                                    </div>
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-primary text-center kt-padding-l-15">View
                                            Image</label>
                                    </div>
                                    <div class="col-4">
                                        <kt-button [type]="'button'" [value]="'Attach'"></kt-button>
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-color kt-padding-l-10">Acid Test</label>
                                    </div>
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-primary text-center kt-padding-l-15">View
                                            Image</label>
                                    </div>
                                    <div class="col-4">
                                        <kt-button [type]="'button'" [value]="'Attach'"></kt-button>
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-color kt-padding-l-10">LTV%</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="10234501203203">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <label class="text-color kt-padding-l-10">Quantity</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="vishwas shetty">
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="text-color kt-padding-l-10">Net wt.</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="10234501203203">
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-color kt-padding-l-10">VM 00 wt.</label>
                                    </div>
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-primary text-center kt-padding-l-15">View
                                            Image</label>
                                    </div>
                                    <div class="col-4">
                                        <kt-button [type]="'button'" [value]="'Attach'"></kt-button>
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-color kt-padding-l-10">Stone Touch</label>
                                    </div>
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-primary text-center kt-padding-l-15">View
                                            Image</label>
                                    </div>
                                    <div class="col-4">
                                        <kt-button [type]="'button'" [value]="'Attach'"></kt-button>
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-color kt-padding-l-10">Purity Test</label>
                                    </div>
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-primary text-center kt-padding-l-15">View
                                            Image</label>
                                    </div>
                                    <div class="col-4">
                                        <kt-button [type]="'button'" [value]="'Attach'"></kt-button>
                                    </div>
                                </div>
                                <div class="row kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="my-auto text-color kt-padding-l-10">LTV Amount</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="10234501203203">
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 img-container height220">
                                <img class="placeholder-image"
                                    src="../../../../../../assets/media/icons/image-placeholder.png" alt="placeholder">
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="row"></div>
    </kt-portlet-body>
</kt-portlet>