<kt-portlet>
    <kt-portlet-body>
        <div class="row">
            <div class="col-12">
                <mat-tab-group [(selectedIndex)]="selected">
                    <mat-tab label="Basic Details" [disabled]="disabled[0]">
                        <kt-basic-details  [action]="action"
                            [details]="customerDetail" [disable]="disabledForm" (finalLoanAmount)="finalLoanAmount($event)"
                            (laonId)="loan($event)" (next)="next($event)" (totalEligibleAmt)="totalEligibleAmt($event)"
                            >
                        </kt-basic-details>
                    </mat-tab>
                    <!-- <mat-tab label="KYC Details" [disabled]="disabled[1]">
                        <kt-kyc-details (kycEmit)="kycEmit($event)" [action]="action" [details]="customerDetail"  [disable]="disabledForm"></kt-kyc-details>
                    </mat-tab> -->
                    <mat-tab label="Nominee Details">
                        <kt-nominee-details  [action]="action" (next)="next($event)"
                            [invalid]="invalid.nominee" [disable]="disabledForm" [details]="customerDetail" [loanId]="loanId">
                        </kt-nominee-details>
                    </mat-tab>
                    <mat-tab label="Ornaments">
                        <!-- <ng-template > -->
                        <div class="mat-tab-body-content ng-trigger ng-trigger-translateTab p-0"
                            style="padding:0px !important">
                            <kt-ornaments [action]="action" (next)="next($event)"
                                [invalid]="invalid.ornaments" [disable]="disabledForm" [details]="customerDetail"
                                (totalAmt)="total($event)" [loanId]="loanId">
                            </kt-ornaments>
                        </div>
                        <!-- </ng-template> -->
                    </mat-tab>
                    <mat-tab label="Final Interest Calculator">
                        <kt-interest-calculator  (next)="next($event)"
                            [invalid]="invalid.intreset" [disable]="disabledForm" [action]="action" (finalLoanAmount)="finalLoanAmount($event)"
                            [totalAmt]="totalAmount" [details]="customerDetail" [loanId]="loanId"></kt-interest-calculator>
                    </mat-tab>
                    <mat-tab label="Bank Details">
                        <kt-bank-details [action]="action" [loanId]="loanId"
                            [details]="customerDetail" [disable]="disabledForm" [finalLoanAmt]="finalLoanAmt" (next)="next($event)">
                        </kt-bank-details>
                    </mat-tab>
                    <mat-tab label="Loan Status Approval">
                        <kt-approval (apply)="apply()" [action]="action"
                            [invalid]="invalid.approval" [disable]="disabledForm" [details]="customerDetail" [loanId]="loanId">
                        </kt-approval>
                    </mat-tab>
                    <mat-tab label="Packets" 
                        *ngIf="url == 'package-image-upload' || (action == 'edit' && customerDetail.loanPacketDetails.length>0)">
                        <!-- <ng-template> -->
                            <div class="mat-tab-body-content ng-trigger ng-trigger-translateTab"
                            style="padding:0px !important"> 
                            <kt-upload-packets [viewpacketsDetails]="customerDetail"></kt-upload-packets>
                        </div>
                        <!-- </ng-template> -->
                        
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>