<kt-portlet>
    <kt-portlet-body>
        <div class="row">
            <div class="col-12">
                <mat-tab-group [(selectedIndex)]="selected" (selectedTabChange)="next($event)">
                    <mat-tab label="Basic Details" [disabled]="disabled[0]">
                        <kt-basic-details (id)="loan($event)" (apiHit)="getSingleDetails($event)"
                            [details]="customerDetail" (next)="next($event)" [loanTransfer]="laonTransferDetails"
                            [showButton]="showButton" [disable]="disabledForm"></kt-basic-details>
                    </mat-tab>
                    <mat-tab label="Upload Documents" [disabled]="disabled[1]">
                        <kt-upload-documents [masterAndLoanIds]="masterAndLoanIds" (stage)="stage($event)" [showButton]="showButton" [loanTransfer]="laonTransferDetails" (next)="next($event)" [showLoanTransferFlag]="true"></kt-upload-documents>
                    </mat-tab>
                    <mat-tab label="Loan Transfer Approval" [formGroup]="approvalForm" [disabled]="disabled[2]">
                        <!-- <div *ngIf="loanTransferStage == '3' || loanTransferStage == '4' || loanTransferStage == '5'">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4 form-label">
                                            <label class="kt-padding-l-10">Appraiser Status </label>
                                        </div>
                                        <div class="col-6">
                                            <select name="" id="" class="form-control" 
                                            [class.isError]="approvalForm.controls.loanTransferStatusForAppraiser.touched && this.approvalForm.controls.loanTransferStatusForAppraiser.invalid"
                                                formControlName="loanTransferStatusForAppraiser">
                                                <option value="pending">Select Status</option>
                                                <option [value]="manager.value" *ngFor="let manager of appraiserOrCCE">
                                                    {{manager.name | titlecase}}</option>
                                            </select>
                                            <mat-error *ngIf="approvalForm.controls.loanTransferStatusForAppraiser.touched && this.approvalForm.controls.loanTransferStatusForAppraiser.invalid">
                                                Field Required
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="loanTransferStage == '4' || loanTransferStage == '5'" class="kt-margin-t-15">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4 form-label">
                                            <label class="kt-padding-l-10">B.M Status </label>
                                        </div>
                                        <div class="col-6">
                                            <select name="" id="" class="form-control" 
                                            [class.isError]="approvalForm.controls.loanTransferStatusForBM.touched && this.approvalForm.controls.loanTransferStatusForBM.value =='pending'"
                                                formControlName="loanTransferStatusForBM">
                                                <option value="pending">Select Status</option>
                                                <option [value]="manager.value" *ngFor="let manager of branchManager">
                                                    {{manager.name | titlecase}}</option>
                                            </select>
                                            <mat-error *ngIf="approvalForm.controls.loanTransferStatusForBM.touched && this.approvalForm.controls.loanTransferStatusForBM.value =='pending'">
                                                Field Required
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row kt-padding-t-25 justify-content-center" 
                                *ngIf="approvalForm.controls.loanTransferStatusForBM.value !='pending' && approvalForm.controls.loanTransferStatusForBM.value != 'approved'">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4 form-label">
                                            <label class="kt-padding-l-10">Reason</label>
                                        </div>
                                        <div class="col-6">
                                            <select name="" id="" class="form-control" formControlName="reason"
                                                (change)="patchValue()" [class.isError]="approvalForm.controls.reason.invalid && approvalForm.controls.reason.touched">
                                                <option value="">Select Status</option>
                                                <option [value]="reason.description" *ngFor="let reason of reasons">
                                                    {{reason.description | titlecase}}</option>
                                            </select>
                                            <mat-error *ngIf="approvalForm.controls.reason.invalid && approvalForm.controls.reason.touched">
                                                Field Required
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row kt-padding-t-25 justify-content-center"
                                *ngIf="approvalForm.controls.reason.value == 'Other'">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-10">
                                            <mat-form-field class="w-100">
                                                <mat-label>Reason</mat-label>
                                                <textarea matInput formControlName="reasonByBM"></textarea>
                                                <mat-error>Field Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="table-div mb-3"
                                    [style.width]="loanTransferStage == '4' || loanTransferStage == '5' ? '800px' : '600px'">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Field</th>
                                                <th scope="col" class="text-center"
                                                    *ngIf="loanTransferStage == '3' || loanTransferStage == '4' || loanTransferStage == '5'">
                                                    Appraiser
                                                </th>
                                                <th scope="col" class="text-center"
                                                    *ngIf="loanTransferStage == '4' || loanTransferStage == '5'">
                                                    Branch Manager
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row" class="rating-title">Final Loan Transfer Status
                                                </td>
                                                <td class="rating-bm"
                                                    *ngIf="loanTransferStage == '3' || loanTransferStage == '4' || loanTransferStage == '5'">
                                                    <!-- <select class="form-control "
                                                        formControlName="loanStatusForAppraiser"
                                                        (change)="clearAppraiser();statusAppraiser()"
                                                        [class.isError]="controls.loanStatusForAppraiser.invalid && controls.loanStatusForAppraiser.touched">
                                                        <option value=null [disabled]="true" [selected]="true">Select
                                                            Status</option>
                                                        <option [value]="status.value"
                                                            [disabled]="checkforApprovalAppraiser(status)"
                                                            *ngFor="let status of appraiser">
                                                            {{status.name | titlecase}}
                                                        </option>
                                                    </select>
                                                    <mat-error
                                                        *ngIf="controls.loanStatusForAppraiser.invalid && controls.loanStatusForAppraiser.touched">
                                                        Field Required</mat-error> -->
                                                    <!-- {{laonTransferDetails.masterLoan.loanTransfer.loanTransferStatusForBM}} -->
                                                    <select name="" id="" class="form-control"
                                                        (change)="clearAppraiser();statusAppraiser()"
                                                        [class.isError]="approvalForm.controls.loanTransferStatusForAppraiser.touched && this.approvalForm.controls.loanTransferStatusForAppraiser.invalid"
                                                        formControlName="loanTransferStatusForAppraiser">
                                                        <option value="pending">Select Status</option>
                                                        <option [value]="manager.value"
                                                            *ngFor="let manager of appraiserOrCCE">
                                                            {{manager.name | titlecase}}</option>
                                                    </select>
                                                    <mat-error
                                                        *ngIf="approvalForm.controls.loanTransferStatusForAppraiser.touched && this.approvalForm.controls.loanTransferStatusForAppraiser.invalid">
                                                        Field Required
                                                    </mat-error>
                                                </td>
                                                <td class="rating-bm"
                                                    *ngIf="loanTransferStage == '4' || loanTransferStage == '5'">
                                                    <!-- <select class="form-control" formControlName="loanStatusForBM"
                                                        (change)="resetBM();statusBM()"
                                                        [class.isError]="controls.loanStatusForBM.invalid && controls.loanStatusForBM.touched">
                                                        <option value="pending" [disabled]="true" [selected]="true">
                                                            Select Status</option>
                                                        <option [value]="status.value"
                                                            [disabled]="checkforApprovalBM(status)"
                                                            *ngFor="let status of branchManager">
                                                            {{status.name | titlecase}}</option>
                                                    </select>

                                                    <mat-error
                                                        *ngIf="controls.loanStatusForBM.invalid && controls.loanStatusForBM.touched">
                                                        Field
                                                        Required</mat-error> -->
                                                    <select name="" id="" class="form-control"
                                                        (change)="clearBM();statusBM()"
                                                        [class.isError]="approvalForm.controls.loanTransferStatusForBM.touched && this.approvalForm.controls.loanTransferStatusForBM.value =='pending'"
                                                        formControlName="loanTransferStatusForBM">
                                                        <option value="pending">Select Status</option>
                                                        <option [value]="manager.value"
                                                            *ngFor="let manager of branchManager">
                                                            {{manager.name | titlecase}}</option>
                                                    </select>
                                                    <mat-error
                                                        *ngIf="approvalForm.controls.loanTransferStatusForBM.touched && this.approvalForm.controls.loanTransferStatusForBM.value =='pending'">
                                                        Field Required
                                                    </mat-error>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <ng-container
                                *ngIf="laonTransferDetails && (loanTransferStage == '3' || loanTransferStage == '4' || loanTransferStage == '5')">
                                <div class="row justify-content-center mb-3"
                                    *ngIf="laonTransferDetails.masterLoan.loanTransfer.loanTransferStatusForBM == 'incomplete' && laonTransferDetails.masterLoan.loanTransfer.reasonByBM">
                                    <div class="col-7">
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="">Reason for
                                                    {{laonTransferDetails.masterLoan.loanTransfer.loanTransferStatusForBM | titlecase}}
                                                    <br>
                                                    (Branch
                                                    Manager)</label>
                                            </div>
                                            <div class="col-8 kt-padding-10">
                                                <label
                                                    for="">{{ laonTransferDetails.masterLoan.loanTransfer.reasonByBM }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <div
                                *ngIf="loanTransferStage == '3' || loanTransferStage == '4' || loanTransferStage == '5'">
                                <div class="row justify-content-center "
                                    *ngIf="approvalForm.controls.loanTransferStatusForAppraiser.value != 'approved'">
                                    <div class="col-7">
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="">Choose a reason</label>
                                            </div>
                                            <div class="col-8">
                                                <select name="" id="" class="form-control" formControlName="reason"
                                                    (change)="patchValue('reasonByAppraiser')"
                                                    [class.isError]="approvalForm.controls.reason.invalid && approvalForm.controls.reason.touched">
                                                    <option value="">Select Reason</option>
                                                    <option [value]="reason.description" *ngFor="let reason of reasons">
                                                        {{reason.description | titlecase}}</option>
                                                </select>
                                                <mat-error
                                                    *ngIf="approvalForm.controls.reason.invalid && approvalForm.controls.reason.touched">
                                                    Field Required
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-7">
                                        <div class="row justify-content-center "
                                            *ngIf="approvalForm.controls.reason.value == 'Other'">
                                            <!-- <div class="col-7"> -->
                                            <mat-form-field class="w-100">

                                                <textarea cols="4" rows="3" matInput formControlName="reasonByAppraiser"
                                                    placeholder="Reason By Appraiser"></textarea>
                                                <mat-error>Field
                                                    Required</mat-error>
                                            </mat-form-field>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="loanTransferStage == '4' || loanTransferStage == '5'">
                                <div class="row justify-content-center "
                                    *ngIf="approvalForm.controls.loanTransferStatusForBM.value !='pending' && approvalForm.controls.loanTransferStatusForBM.value != 'approved'">
                                    <div class="col-7">
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="">Choose a reason</label>
                                            </div>
                                            <div class="col-8">
                                                <select name="" id="" class="form-control" formControlName="reason"
                                                    (change)="patchValue('reasonByBM')"
                                                    [class.isError]="approvalForm.controls.reason.invalid && approvalForm.controls.reason.touched">
                                                    <option value="">Select Status</option>
                                                    <option [value]="reason.description" *ngFor="let reason of reasons">
                                                        {{reason.description | titlecase}}</option>
                                                </select>
                                                <mat-error
                                                    *ngIf="approvalForm.controls.reason.invalid && approvalForm.controls.reason.touched">
                                                    Field Required
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-7">
                                        <div class="row justify-content-center "
                                            *ngIf="approvalForm.controls.reason.value == 'Other'">
                                            <!-- <div class="col-7"> -->
                                            <mat-form-field class="w-100">
                                                <textarea cols="4" rows="3" matInput formControlName="reasonByBM"
                                                    placeholder="Reason By Branch Manager"></textarea>
                                                <mat-error>Field
                                                    Required</mat-error>
                                                <!-- <mat-label>Reason</mat-label>
                                                <textarea matInput formControlName="reasonByBM"></textarea>
                                                <mat-error>Field Required</mat-error> -->
                                            </mat-form-field>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row kt-padding-t-25">
                                <div class="offset-10 col-2">
                                    <kt-button [type]="'button'" [value]="'Next'" (click)="approval()"></kt-button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab *ngxPermissionsOnly="['loanTransferDisbursal']" label="Disbursal"
                        [formGroup]="disbursalForm" [disabled]="disabled[3]">

                        <div class="row justify-content-center kt-padding-t-25">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <label for="">LOAN ID</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="laon id"
                                            formControlName="loanUniqueId" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center kt-padding-t-25">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <label for="">Disbursed Loan Amount</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="1000000"
                                            formControlName="disbursedLoanAmount" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center kt-padding-t-25">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <label for="">Transaction ID</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" placeholder="Transxxxxx"
                                            formControlName="transactionId"
                                            [class.isError]="disbursalForm.controls.transactionId.invalid && disbursalForm.controls.transactionId.touched">
                                        <mat-error
                                            *ngIf="disbursalForm.controls.transactionId.invalid && disbursalForm.controls.transactionId.touched">
                                            Field Required
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row kt-padding-t-25">
                            <div class="offset-10 col-2">
                                <kt-button [type]="'button'" [value]="'Save'" (click)="disbursal()"></kt-button>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>