<nav ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs m-0" [ngStyle]="{'border':'0'}">
    <ng-container [ngbNavItem]="1" [disabled]="disabled[0]">
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    1
                </div>
                <p class="step-name">Basic Details</p>
                <p class="step-details"> User's Basic Details</p>
            </div>
        </a>

        <ng-template ngbNavContent>
            <kt-user-details (next)=next($event)></kt-user-details>
        </ng-template>
    </ng-container>

    <ng-container [ngbNavItem]="2" [disabled]="disabled[1]">
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    2
                </div>
                <p class="step-name">Category Details</p>
                <p class="step-details">Commission</p>
            </div>
        </a>

        <ng-template ngbNavContent>
            <kt-commission-details (next)=next($event)></kt-commission-details>
        </ng-template>
    </ng-container>

    <ng-container [ngbNavItem]="3" [disabled]="disabled[2]">
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    3
                </div>
                <p class="step-name">Assign Permission</p>
                <p class="step-details"> Catalog Permission</p>
            </div>
        </a>

        <ng-template ngbNavContent>
            <kt-permission (next)=next($event)></kt-permission>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" [ngStyle]="{'width':'99%','margin':'auto'}"></div>