<!-- Filtered Dialog  -->
<div ngbDropdown class="dropdown dropdown-inline" #filterDropdown="ngbDropdown" aria-haspopup="true"
  aria-expanded="false" (openChange)="toggleDropdown($event)">

  <button ngbDropdownToggle id="filterDropdown" class="filter" mat-raised-button type="button">
    <img src="assets/media/icons/svg/General/filter.svg" height="20" width="20"></button>

  <div ngbDropdownMenu class="p-0" aria-labelledby="filterDropdown">
    <div class="kt-filter-dropdown" [style.width]="filterWidth">
      <div class="kt-portlet m-0">

        <div class="kt-pointer d-none" (click)="filterDropdown.close()">
          <i class="fa fa-times pull-right"></i>
        </div>

        <!-- Product -->
        <div class="kt-portlet__body" *ngIf="filterName =='product'">
          <div class="kt-form">
            <form [formGroup]="filterForm">
              <div class="form-group kt-form__group row">
                <div class="col-12 kt-margin-bottom-20-mobile">
                  <div class="row pb-3" *ngxPermissionsOnly="['categoryView', 'subCategoryView']">
                    <div class="col-6" *ngxPermissionsOnly="['categoryView']">
                      <label>By Category</label>
                      <ng-select [items]="categoryList" [multiple]="true" bindLabel="categoryName"
                        [closeOnSelect]="false" bindValue="id" formControlName="multiSelect1">

                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.categoryName | titlecase}}
                        </ng-template>
                        <ng-template ng-multi-label-tmp let-items="items">
                          {{items[0].categoryName | titlecase}}&nbsp;
                          <span *ngIf="items.length > 1">(+{{items.length - 1}})</span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-6" *ngxPermissionsOnly="['subCategoryView']">
                      <label>By Sub-Category</label>
                      <ng-select [items]="subCategoryList" [multiple]="true" bindLabel="subCategoryName"
                        [closeOnSelect]="false" bindValue="id" formControlName="multiSelect2">

                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.subCategoryName | titlecase}}
                        </ng-template>
                        <ng-template ng-multi-label-tmp let-items="items">
                          {{items[0].subCategoryName | titlecase}}&nbsp;
                          <span *ngIf="items.length > 1">(+{{items.length - 1}})</span>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <label>Price From</label>
                      <input class="form-control" formControlName="priceFrom" type="text" numbersOnly />
                    </div>
                    <div class="col-4">
                      <label>Price To</label>
                      <input class="form-control" formControlName="priceTo" type="text" numbersOnly />
                    </div>
                    <div class="col-4">
                      <kt-button [type]="'button'" [value]="'Apply'" class="btn-absolute-bottom-right pull-right"
                        (click)="applyFilter()">
                      </kt-button>
                    </div>
                    <div class="col-12 pt-2">
                      <mat-error *ngIf="controls.priceTo.errors?.priceRange">
                        <span>Price To should be greater then Price From</span>
                      </mat-error>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- leads -->
        <div class="kt-portlet__body" *ngIf="filterName == 'leads'">
          <div class="kt-form">
            <div class="row">
              <div class="col">
                <label>By Location</label>
                <!-- <select class="form-control" name="multiSelect1">
                  <option value="" [selected]="true">Select State</option>
                  <option *ngFor="let item of states" [value]="item?.id">
                    {{item?.name}}
                  </option>
                </select> -->
                <ng-select #select [items]="states" [dropdownPosition]="'bottom'" [multiple]="true" bindLabel="name"
                  bindValue="id" [closeOnSelect]="false" [searchable]="false">
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                      [ngModelOptions]="{ standalone : true }" /> {{item.gender | titlecase}}
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                      [ngModelOptions]="{ standalone : true }" /> {{item.name | titlecase}}
                  </ng-template>
                  <ng-template ng-label-tmp>
                    <span style="display:block; color: #000;" class="ng-placeholder">Select items</span>
                  </ng-template>
                  <ng-template ng-header-tmp>
                    <input style="width: 100%; line-height: 24px" type="text"
                      (input)="select.filter($event.target.value)" />
                  </ng-template>
                </ng-select>
                <!-- <ng-select [items]="states" [multiple]="true" [dropdownPosition]="'bottom'" bindLabel="name" groupBy="gender" [selectableGroup]="true"
                  [closeOnSelect]="false" bindValue="id">
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.gender | uppercase}}
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
                  </ng-template>
                </ng-select> -->

              </div>
              <div class="col">
                <label style="visibility: hidden;">nostatus</label>
                <select class="form-control" name="multiSelect1">
                  <option value="" [selected]="true">Select City</option>
                  <option *ngFor="let item of categoryList" [value]="item?.id">
                    {{item?.categoryName | titlecase}}
                  </option>
                </select>
              </div>
              <div class="col">
                <label>By Status</label>
                <select class="form-control" name="multiSelect1">
                  <option value="" [selected]="true">Select Category</option>
                  <option *ngFor="let item of categoryList" [value]="item?.id">
                    {{item?.categoryName | titlecase}}
                  </option>
                </select>
              </div>
              <div class="col-2 d-flex align-items-end">
                <label></label>
                <kt-button [value]="'Apply'" [type]="'button'"></kt-button>
              </div>
            </div>
          </div>
        </div>

        <!-- EMI Details -->
        <div class="kt-portlet__body" *ngIf="filterName =='emiDetails'">
          <div class="kt-form">
            <form [formGroup]="filterForm">
              <div class="form-group kt-form__group row">
                <div class="col-12 kt-margin-bottom-20-mobile">
                  <div class="row">
                    <div class="col-8">
                      <label>By Status</label>
                      <ng-select [items]="status" [multiple]="true" bindLabel="statusName" [closeOnSelect]="false"
                        bindValue="statusId" formControlName="multiSelect1">

                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.statusName | titlecase}}
                        </ng-template>
                        <ng-template ng-multi-label-tmp let-items="items">
                          {{items[0].statusName | titlecase}}&nbsp;
                          <span *ngIf="items.length > 1">(+{{items.length - 1}})</span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-4">
                      <kt-button [type]="'button'" [value]="'Apply'" class="btn-absolute-bottom-right pull-right"
                        (click)="applyFilter()">
                      </kt-button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Order Details -->
        <div class="kt-portlet__body" *ngIf="filterName =='orderDetails'">
          <div class="kt-form">
            <form [formGroup]="filterForm">
              <div class="form-group kt-form__group row">
                <div class="col-12 kt-margin-bottom-20-mobile">
                  <div class="row">
                    <div class="col-3">
                      <label>By Weight(gm)</label>
                      <input class="form-control" placeholder="eg-100" formControlName="priceFrom" type="text"
                        numbersOnly />
                    </div>
                    <div class="col-3">
                      <label>By tenure(m)</label>
                      <ng-select [items]="tenure" [multiple]="true" bindLabel="paymentType" [closeOnSelect]="false"
                        bindValue="paymentTypeId" formControlName="multiSelect1">

                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.paymentType | titlecase}}
                        </ng-template>
                        <ng-template ng-multi-label-tmp let-items="items">
                          {{items[0].paymentType | titlecase}}&nbsp;
                          <span *ngIf="items.length > 1">(+{{items.length - 1}})</span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-4">
                      <label>By Status</label>
                      <ng-select [items]="status" [multiple]="true" bindLabel="statusName" [closeOnSelect]="false"
                        bindValue="statusId" formControlName="multiSelect2">

                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.statusName | titlecase}}
                        </ng-template>
                        <ng-template ng-multi-label-tmp let-items="items">
                          {{items[0].statusName | titlecase}}&nbsp;
                          <span *ngIf="items.length > 1">(+{{items.length - 1}})</span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-2">
                      <kt-button [type]="'button'" [value]="'Apply'" class="btn-absolute-bottom-right pull-right"
                        (click)="applyFilter()">
                      </kt-button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Deposit Details -->
        <div class="kt-portlet__body" *ngIf="filterName =='depositDetails'">
          <div class="kt-form">
            <form [formGroup]="filterForm">
              <div class="form-group kt-form__group row">
                <div class="col-12 kt-margin-bottom-20-mobile">
                  <div class="row">
                    <div class="col-6">
                      <label>By Payment Recieved Date</label>
                      <input type="text" class="form-control" [matDatepicker]="pickerStartDate"
                        (click)="pickerStartDate.open()" formControlName="startDate">
                      <mat-datepicker #pickerStartDate></mat-datepicker>
                    </div>
                    <div class="col-6">
                      <label>By Payment Type</label>
                      <ng-select [items]="tenure" [multiple]="true" bindLabel="paymentType" [closeOnSelect]="false"
                        bindValue="paymentTypeId" formControlName="multiSelect1">

                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.paymentType | titlecase}}
                        </ng-template>
                        <ng-template ng-multi-label-tmp let-items="items">
                          {{items[0].paymentType | titlecase}}&nbsp;
                          <span *ngIf="items.length > 1">(+{{items.length - 1}})</span>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <label>By Order Current Status</label>
                      <ng-select [items]="status" [multiple]="true" bindLabel="statusName" [closeOnSelect]="false"
                        bindValue="statusId" formControlName="multiSelect2">

                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.statusName | titlecase}}
                        </ng-template>
                        <ng-template ng-multi-label-tmp let-items="items">
                          {{items[0].statusName | titlecase}}&nbsp;
                          <span *ngIf="items.length > 1">(+{{items.length - 1}})</span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-6">
                      <kt-button [type]="'button'" [value]="'Apply'" class="btn-absolute-bottom-right pull-right"
                        (click)="applyFilter()">
                      </kt-button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Cancel Order Details -->
        <div class="kt-portlet__body" *ngIf="filterName =='cancelOrderDetails'">
          <div class="kt-form">
            <form [formGroup]="filterForm">
              <div class="form-group kt-form__group row">
                <div class="col-12 kt-margin-bottom-20-mobile">
                  <div class="row">
                    <div class="col-5">
                      <label>By Merchant Name</label>
                      <ng-select [items]="name" [multiple]="true" bindLabel="merchantName" [closeOnSelect]="false"
                        bindValue="id" formControlName="multiSelect1">

                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                            [ngModelOptions]="{ standalone : true }" /> {{item.merchantName | titlecase}}
                        </ng-template>
                        <ng-template ng-multi-label-tmp let-items="items">
                          {{items[0].merchantName | titlecase}}&nbsp;
                          <span *ngIf="items.length > 1">(+{{items.length - 1}})</span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-4">
                      <label>By Cancel Date</label>
                      <input type="text" class="form-control" [matDatepicker]="pickerStartDate"
                        (click)="pickerStartDate.open()" formControlName="startDate">
                      <mat-datepicker #pickerStartDate></mat-datepicker>
                    </div>
                    <div class="col-3">
                      <kt-button [type]="'button'" [value]="'Apply'" class="btn-absolute-bottom-right pull-right"
                        (click)="applyFilter()">
                      </kt-button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>