:host {
    .apply-kyc {
        width: 165px;
    }
    .th-style{
		width:20%
	}
	.th-padding-style{
		padding-left:5% ;
    }
    .th-p-style{
		padding-left:7% ;
    }
    .th-width-style{
        width:25%
    }
    .th-padding-left-style{
        padding-left:12% ;
    }

    // .table-amount {
    //   text-align: right;
    //   padding-right: 7%;
    // }
    // .table-last {
    //   padding-right: 3%;
    // }
    // .altered-row 
    // // thead th:not(:first-child):not(:last-child), .altered-row tbody tr td:not(:first-child):not(:last-child) 
    // // thead th:first-child, .altered-row tbody tr td 
    // {
    //   padding: 1rem 3.5rem;
    // }
}