<kt-portlet>
    <kt-portlet-body class="min-vh-60">
        <div id="container">
            <div class="table-div kt-padding-t-10">
                <table class="table outer-border altered-row">
                    <thead>
                        <th class="transparent">Loan ID</th>
                        <th class="transparent table-amount">Loan Amount</th>
                        <th class="transparent">Loan Date</th>
                        <th class="transparent">Scheme Name</th>
                        <th class="transparent">Tenure</th>
                        <th class="transparent">Interest Rate</th>
                        <th class="transparent"> Interest Rate after <br>Rebate</th>
                        <th class="transparent">Next Due Date</th>
                        <th class="transparent">Status</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="">
                                <span>{{loanDetails?.loan?.customerLoan[0]?.loanUniqueId}}</span>
                                <br>
                                <span *ngIf="loanDetails?.loan?.customerLoan.length > 1">
                                    {{loanDetails?.loan?.customerLoan[1]?.loanUniqueId}}
                                </span>
                            </td>
                            <td class="table-amount">
                                <span>{{loanDetails?.loan?.customerLoan[0]?.loanAmount}}</span>
                                <br>
                                <span *ngIf="loanDetails?.loan?.customerLoan.length > 1">
                                    {{loanDetails?.loan?.customerLoan[1]?.loanAmount}}
                                </span>
                            </td>
                            <td class="">{{loanDetails?.loan?.loanStartDate | date :'mediumDate'}}</td>

                            <td class="">
                                <span>{{loanDetails?.loan?.customerLoan[0]?.scheme.schemeName | uppercase}}</span>
                                <br>
                                <span *ngIf="loanDetails?.loan?.customerLoan.length > 1">
                                    {{loanDetails?.loan?.customerLoan[1]?.scheme.schemeName | uppercase}}
                                </span>

                            </td>
                            <td class="">
                                <span>{{loanDetails?.loan?.tenure}}</span>
                            </td>
                            <td class="">
                                <span>{{loanDetails?.loan?.customerLoan[0]?.rebateInterestRate}} %</span>
                                <br>
                                <span *ngIf="loanDetails?.loan?.customerLoan.length > 1">
                                    {{loanDetails?.loan?.customerLoan[1]?.rebateInterestRate}} %
                                </span>
                            </td>
                            <td class="">
                                <span>{{loanDetails?.loan?.customerLoan[0]?.currentInterestRate}} %</span>
                                <br>
                                <span *ngIf="loanDetails?.loan?.customerLoan.length > 1">
                                    {{loanDetails?.loan?.customerLoan[1]?.currentInterestRate}} %
                                </span>
                            </td>
                            <td *ngIf="loanDetails?.loan?.nextDueDate else blankTableValue">
                                {{loanDetails?.loan?.nextDueDate | date : 'mediumDate'}}</td>
                            <td class="text-warning"
                                *ngIf="loanDetails?.loan?.status == 'pending' || loanDetails?.loan?.status == 'partially paid'">
                                {{loanDetails?.loan?.status | titlecase}}
                            </td>
                            <td class="text-success" *ngIf="loanDetails?.loan?.status == 'paid'">
                                {{loanDetails?.loan?.status | titlecase}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-div kt-padding-t-10">
                <table class="table outer-border altered-row">
                    <thead>
                        <th class="transparent table-amount">Principal Outstanding</th>
                        <th class="transparent table-amount">Next Due Date Amount</th>
                        <th class="transparent table-amount">Interest Amount till date</th>
                        <th class="transparent table-amount">Penal Interest</th>
                        <th class="transparent">Payment Amount</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-amount">
                                <span>{{payableAmount?.outstandingAmount}}</span><br>
                                <!-- <span *ngIf="loanDetails?.customerLoan[1]">
                                    {{payableAmount?.unsecuredOutstandingAmount}}
                                </span> -->
                            </td>

                            <td class="table-amount">
                                <span>{{payableAmount?.totalInterest}}</span><br>
                                <!-- <span *ngIf="loanDetails?.customerLoan[1]">
                                    {{payableAmount?.unsecuredTotalInterest}}
                                </span> -->
                            </td>
                            <td class="table-amount">
                                <span>{{payableAmount?.securedInterest}}</span> <br>
                                <span *ngIf="loanDetails?.loan?.customerLoan[1]">
                                    {{payableAmount?.unsecuredInterest}}
                                </span>
                            </td>

                            <td class="table-amount">
                                <span>{{payableAmount?.securedPenalInterest}}</span><br>
                                <span *ngIf="loanDetails?.loan?.customerLoan[1]">
                                    {{payableAmount?.unsecuredPenalInterest}}
                                </span>
                            </td>
                            <td class="table-amount table-last">
                                <input ktWeight [class.isError]="partAmount.touched && partAmount.invalid"
                                    class="form-control" type="text" [formControl]="partAmount" />
                                <mat-error *ngIf="partAmount.errors?.required && partAmount.touched">
                                    Field Required
                                </mat-error>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ng-template #blankTableValue>
                <td class="th-padding-style">-</td>
            </ng-template>



            <div *ngIf="showPartAmountInput" class="row justify-content-center kt-padding-t-25 kt-padding-b-5">
                <div class="col-12">
                    <h5>Part Payment</h5>
                    <mat-divider></mat-divider>
                </div>
                <!-- <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="row kt-margin-t-15">
                                <div class="align-self-center font-weight-500 offset-1 col-3 text-right">
                                    <label for="" class="mb-0"> Enter Amount </label>
                                </div>
                                <div class="col-6">
                                    <input ktWeight [class.isError]="partAmount.touched && partAmount.invalid"
                                        class="form-control" type="text" [formControl]="partAmount" />
                                    <mat-error *ngIf="partAmount.errors?.required && partAmount.touched">
                                        Field Required
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="row justify-content-center kt-padding-t-25 kt-padding-b-15">
                <div class="col-8 text-center">
                    <kt-button [value]="'Proceed'" [type]="'button'" (click)="partAmountContinue()"></kt-button>
                    <span class="kt-padding-5"></span>
                    <kt-button [value]="'View Part Payment Logs'" [type]="'button'" (click)="viewEmiLogs()"></kt-button>
                    <span class="kt-padding-5"></span>

                    <kt-button [value]="'Cancel'" [type]="'reset'"
                        (click)="partAmount.reset();payableAmountSummary='';paymentDetails=null">
                    </kt-button>
                </div>
            </div>
            <div *ngIf="payableAmountSummary">
                <div class="table-div kt-padding-t-10">
                    <table class="table outer-border">
                        <thead>
                            <th class="transparent   table-amount">Adjusted towards interest amount</th>
                            <th class="transparent  table-amount">Adjusted towards penal amount
                            <th class="transparent  table-amount">Final Part Payment Amount
                            </th>
                            <th class="transparent  table-amount">Outstanding Principal</th>
                            <th class="transparent">Total Paid</th>

                        </thead>
                        <tbody>
                            <tr>
                                <td class=" table-amount">
                                    <span>{{payableAmountSummary?.securedInterest}}</span> <br>
                                    <span *ngIf="payableAmountSummary?.loanDetails?.customerLoan[1]">
                                        {{payableAmountSummary?.unsecuredInterest}}
                                    </span>
                                    <!-- <td class="th-padding-style">{{payableAmountSummary?.partPaymentAmount}}</td>
                                <td class="th-p-style">{{payableAmountSummary?.securedInterest}} <br>
                                    <span *ngIf="payableAmountSummary?.loanDetails?.customerLoan[1]">
                                        {{payableAmountSummary?.unsecuredInterest}}
                                    </span> -->
                                </td>
                                <td class=" table-amount">
                                    <span>{{payableAmountSummary?.securedPenalInterest}}</span><br>
                                    <span *ngIf="payableAmountSummary?.loanDetails?.customerLoan[1]">
                                        {{payableAmountSummary?.unsecuredPenalInterest}}
                                    </span>
                                </td>
                                <td class="table-amount">
                                    <span>{{payableAmountSummary?.securedRatio}}</span>
                                    <br>
                                    <span
                                        *ngIf="payableAmountSummary?.loanDetails?.customerLoan[1]">{{payableAmountSummary?.unsecuredRatio}}</span>
                                </td>
                                <td class="table-amount">
                                    <span>{{payableAmountSummary?.newSecuredOutstanding}}</span>
                                    <br>
                                    <span
                                        *ngIf="payableAmountSummary?.loanDetails?.customerLoan[1]">{{payableAmountSummary?.newUnSecuredOutstanding}}</span>
                                </td>
                                <td class="">
                                    <kt-select-payment [minDate]="payableAmountSummary?.loanDetails?.loanStartDate"
                                        [amount]="partAmount?.value" 
                                        (paymentData)="paymentData($event)"></kt-select-payment>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row justify-content-center kt-padding-t-25 kt-padding-b-10">
                    <div class="col-6 text-center">
                        <kt-button [value]="'Proceed'" [type]="'button'" (click)="submitPaymentConfirmation()"></kt-button>
                        <span class="kt-padding-5"></span>
                        <kt-button [value]="'Cancel'" [type]="'reset'" (click)="cancelPayableAmountSummary()">
                        </kt-button>

                    </div>
                </div>

                <!-- Payment Confirmation -->

                <h5 class="kt-padding-t-20 kt-padding-b-20" *ngIf="paymentDetails">Payment Confirmation</h5>
                <div class="table-div" *ngIf="paymentDetails">
                    <table *ngIf="paymentDetails" class="table outer-border">
                        <thead>
                            <!-- <th class="transparent">Loan ID</th>
                            <th class="transparent">Loan Amount</th>
                            <th class="transparent">Final Part Payment Amount</th>
                            <th class="transparent">Outstanding Loan Amount</th>
                            <th class="transparent">Select Payment option</th> -->
                            <th class="transparent th-style th-padding-style">Loan ID</th>
                            <th class="transparent th-style table-amount">Loan Amount</th>
                            <th class="transparent th-style table-amount">Final Part Payment Amount</th>
                            <!-- <th class="transparent th-style">Outstanding Loan Amount</th> -->
                            <th class="transparent th-style table-amount">Select Payment option</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="th-padding-style"
                                    *ngIf="paymentDetails && paymentDetails?.customerLoan.length">
                                    <span>{{paymentDetails?.customerLoan[0]?.loanUniqueId}}</span> <br>
                                    <span *ngIf="paymentDetails?.customerLoan?.length > 1">
                                        {{paymentDetails?.customerLoan[1]?.loanUniqueId}}
                                    </span>
                                </td>
                                <td class="table-amount" *ngIf="paymentDetails && paymentDetails?.customerLoan.length">
                                    <span>{{paymentDetails?.customerLoan[0]?.loanAmount}}</span><br>
                                    <span *ngIf="paymentDetails?.customerLoan?.length > 1">
                                        {{paymentDetails?.customerLoan[1]?.loanAmount}}
                                    </span>
                                </td>
                                <td class="table-amount" *ngIf="paymentDetails && paymentDetails?.customerLoan.length">
                                    <span>{{paymentDetails?.customerLoan[0]?.partPayment}}</span><br>
                                    <span *ngIf="paymentDetails?.customerLoan?.length > 1">
                                        {{paymentDetails?.customerLoan[1].partPayment}}
                                    </span>
                                </td>
                                <!-- <td *ngIf="paymentDetails && paymentDetails?.customerLoan.length">
                                    {{paymentDetails?.customerLoan[0]?.newOutstandingAmount}}<br>
                                    <span *ngIf="paymentDetails?.customerLoan?.length > 1">
                                        {{paymentDetails?.customerLoan[1].newOutstandingAmount}}
                                    </span>
                                </td> -->

                                <td class="table-amount">
                                    <button *ngIf="!paymentValue" (click)="choosePaymentMethod()"
                                        class="apply-kyc">Select
                                        Payment</button>
                                    <button *ngIf="paymentValue" (click)="choosePaymentMethod()" class="apply-kyc">
                                        {{ paymentValue.paymentType  | uppercase }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-center kt-padding-t-15 kt-padding-b-15" *ngIf="paymentDetails">
                    <div class="col-6 text-center">
                        <kt-button [value]="'Confirm'" [type]="'button'" (click)="submitPaymentConfirmation()">
                        </kt-button>
                        <span class="kt-padding-5 "></span>
                        <kt-button [value]="'Cancel'" [type]="'reset'" (click)="cancelPaymentConfirmation()">
                        </kt-button>
                    </div>
                </div>

            </div>
        </div>

    </kt-portlet-body>
</kt-portlet>