<kt-portlet>
    <kt-portlet-body class="min-vh-60">
        <div id="container">
            <div class="table-div kt-padding-t-10">
                <table class="table outer-border">
                    <thead>
                        <th class="transparent th-style th-padding-style">Loan ID</th>
                        <th class="transparent th-style">Loan Amount</th>
                        <th class="transparent th-style">Loan Date</th>
                        <th class="transparent th-style">Last Part Payment Date</th>
                        <th class="transparent th-style">Outstanding Loan Amount</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="th-style th-padding-style">
                                {{loanDetails?.loan?.customerLoan[0]?.loanUniqueId}}
                                <br>
                                <span *ngIf="loanDetails?.loan?.customerLoan.length > 1">
                                    {{loanDetails?.loan?.customerLoan[1]?.loanUniqueId}}
                                </span>
                            </td>
                            <td>
                                {{loanDetails?.loan?.customerLoan[0]?.outstandingAmount}}
                                <br>
                                <span *ngIf="loanDetails?.loan?.customerLoan.length > 1">
                                    {{loanDetails?.loan?.customerLoan[1]?.outstandingAmount}}
                                </span>
                            </td>
                            <td>{{loanDetails?.loan?.loanStartDate | date :'mediumDate'}}</td>

                            <td *ngIf="loanDetails?.loan?.lastPaymentDate else blankTableValue">
                                {{loanDetails?.loan?.lastPaymentDate | date :'mediumDate'}}

                            </td>
                            <td> {{loanDetails?.loan?.customerLoan[0]?.outstandingAmount}}
                                <br>
                                <span *ngIf="loanDetails?.loan?.customerLoan.length > 1">
                                    {{loanDetails?.loan?.customerLoan[1]?.outstandingAmount}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ng-template #blankTableValue>
                <td>-</td>
            </ng-template>

            <div class="row justify-content-center kt-padding-t-25 kt-padding-b-15">
                <div class="col-6 text-center">
                    <kt-button [value]="'Part Payment'" [type]="'button'" (click)="partPayment()"></kt-button>
                    <span class="kt-padding-5"></span>
                    <kt-button [value]="'View Part Payment Logs'" [type]="'button'" (click)="viewEmiLogs()"></kt-button>
                </div>
            </div>

            <div *ngIf="showPartAmountInput" class="row justify-content-center kt-padding-t-25 kt-padding-b-15">
                <div class="col-12">
                    <h5>Part Payment</h5>
                    <mat-divider></mat-divider>
                </div>
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="row kt-margin-t-10">
                                <div class="align-self-center font-weight-500 col text-right">
                                    <label for=""> Enter Amount </label>
                                </div>
                                <div class="col">
                                    <input [class.isError]="partAmount.touched && partAmount.invalid"
                                        class="form-control" type="text" [formControl]="partAmount" ktWeight />
                                    <mat-error *ngIf="partAmount.errors?.required && partAmount.touched">
                                        Field Required
                                    </mat-error>
                                </div>
                                <div class="col">
                                    <kt-button [type]="'button'" [value]="'Continue'" (click)="partAmountContinue()">
                                    </kt-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="payableAmountSummary">
                <div class="table-div kt-padding-t-10">
                    <table class="table outer-border">
                        <thead>
                            <th class="transparent th-width-style th-padding-style">Loan ID</th>
                            <th class="transparent th-width-style th-padding-style">Part Payment Amount</th>
                            <th class="transparent th-width-style th-p-style ">Interest Amount</th>
                            <th class="transparent th-width-style th-padding-left-style" >Penal Interest</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="th-style th-padding-style">{{payableAmountSummary?.loanDetails?.customerLoan[0]?.loanUniqueId}} <br>
                                    <span *ngIf="payableAmountSummary?.loanDetails?.customerLoan[1]">
                                        {{payableAmountSummary?.loanDetails?.customerLoan[1]?.loanUniqueId}}
                                    </span>
                                </td>
                                <td class="th-padding-style">{{payableAmountSummary?.partPaymentAmount}}</td>
                                <td class="th-p-style">{{payableAmountSummary?.securedInterest}} <br>
                                    <span *ngIf="payableAmountSummary?.loanDetails?.customerLoan[1]">
                                        {{payableAmountSummary?.unsecuredInterest}}
                                    </span>
                                </td>
                                <td class="th-padding-left-style">{{payableAmountSummary?.securedPenalInterest}}<br>
                                    <span *ngIf="payableAmountSummary?.loanDetails?.customerLoan[1]">
                                        {{payableAmountSummary?.unsecuredPenalInterest}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row justify-content-center kt-padding-t-25 kt-padding-b-10">
                    <div class="col-6 text-center">
                        <kt-button [value]="'Proceed'" [type]="'button'" (click)="proceed()"></kt-button>
                        <span class="kt-padding-5"></span>
                        <kt-button [value]="'Cancel'" [type]="'reset'" (click)="cancelPayableAmountSummary()">
                        </kt-button>

                    </div>
                </div>

                <!-- Payment Confirmation -->

                <h5 class="kt-padding-t-20 kt-padding-b-20" *ngIf="paymentDetails">Payment Confirmation</h5>
                <div class="table-div" *ngIf="paymentDetails">
                    <table *ngIf="paymentDetails" class="table outer-border">
                        <thead>
                            <th class="transparent th-style th-padding-style">Loan ID</th>
                            <th class="transparent th-style">Loan Amount</th>
                            <th class="transparent th-style">Final Part Payment Amount</th>
                            <th class="transparent th-style">Outstanding Loan Amount</th>
                            <th class="transparent th-style">Select Payment option</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="th-padding-style" *ngIf="paymentDetails && paymentDetails?.customerLoan.length">
                                    {{paymentDetails?.customerLoan[0]?.loanUniqueId}} <br>
                                    <span *ngIf="paymentDetails?.customerLoan?.length > 1">
                                        {{paymentDetails?.customerLoan[1]?.loanUniqueId}}
                                    </span>
                                </td>
                                <td *ngIf="paymentDetails && paymentDetails?.customerLoan.length">
                                    {{paymentDetails?.customerLoan[0]?.outstandingAmount}}<br>
                                    <span *ngIf="paymentDetails?.customerLoan?.length > 1">
                                        {{paymentDetails?.customerLoan[1]?.outstandingAmount}}
                                    </span>
                                </td>
                                <td *ngIf="paymentDetails && paymentDetails?.customerLoan.length">
                                    {{paymentDetails?.customerLoan[0]?.partPayment}}<br>
                                    <span *ngIf="paymentDetails?.customerLoan?.length > 1">
                                        {{paymentDetails?.customerLoan[1].partPayment}}
                                    </span>
                                </td>
                                <td *ngIf="paymentDetails && paymentDetails?.customerLoan.length">
                                    {{paymentDetails?.customerLoan[0]?.newOutstandingAmount}}<br>
                                    <span *ngIf="paymentDetails?.customerLoan?.length > 1">
                                        {{paymentDetails?.customerLoan[1].newOutstandingAmount}}
                                    </span>
                                </td>

                                <td>
                                    <button *ngIf="!paymentValue" (click)="choosePaymentMethod()"
                                        class="apply-kyc">Select
                                        Payment</button>
                                    <button *ngIf="paymentValue" (click)="choosePaymentMethod()" class="apply-kyc">
                                        {{ paymentValue.paymentType  | uppercase }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-center kt-padding-t-15 kt-padding-b-15" *ngIf="paymentDetails">
                    <div class="col-6 text-center">
                        <kt-button [value]="'Confirm'" [type]="'button'" (click)="submitPaymentConfirmation()">
                        </kt-button>
                        <span class="kt-padding-5 "></span>
                        <kt-button [value]="'Cancel'" [type]="'reset'" (click)="cancelPaymentConfirmation()">
                        </kt-button>
                    </div>
                </div>

            </div>
        </div>

    </kt-portlet-body>
</kt-portlet>