<kt-portlet>
        <kt-portlet-body>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let permission of permissions;index as moduleIndex;last as l;" [expanded]="moduleIndex==l">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{permission.moduleName | titlecase}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="kt-padding-10">
                        <div class="row card-border" *ngFor="let entity of permission.entity;index as entityIndex;first as f" [class.kt-margin-t-15]="entityIndex!=f" >
                            <div class="col-12">
                                <div class="row line-height justify-content-center">
                                    <div class="col-2 p-0">
                                        <label class="text-color font-weight-bold">{{entity.entityName | titlecase}}</label>
                                    </div>
                                    <div class="col-1">
                                        <mat-slide-toggle [checked]="entity.isSelected" (change)="toogleChange($event.checked,moduleIndex,entityIndex)"></mat-slide-toggle>
                                    </div>
                                    <div class="col-2" *ngFor="let action of entity.permission;index as permissionIndex">
                                        <label class="custom-checkbox">
                                            <span class="label-checkbox">{{action.actionName |titlecase}}</span>
                                            <input type="checkbox" [checked]="action.isSelected" (change)="actionChange($event.target.checked,moduleIndex,entityIndex,permissionIndex)">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </kt-portlet-body>
        <kt-portlet-footer>
            <div class="text-right kt-margin-10 kt-margin-r-25">
                <kt-button [value]="'Save'" [type]="'button'" (click)="submit()"></kt-button>
            </div>
        </kt-portlet-footer>
    </kt-portlet>