<kt-portlet>
	<kt-portlet-body>
		<div class="row justify-content-around min-60">
			<div class="col-6 align-self-center">
				<form action="" [formGroup]="userBasicForm">

					<div class="row kt-padding-t-15">
						<!-- Mobile -->
						<div class="col-4 align-self-center form-label">
							<label class="mandatory  text-color font-weight-500">Mobile Number</label>
						</div>

						<div class="col-8">
							<!-- <mat-form-field appearance="outline" class="w-100"> -->
							<input class="form-control" type="text" formControlName="mobileNumber" numbersOnly
								autocomplete="off" placeholder="Enter mobile number" margin [class.isError]="
											controls.mobileNumber.touched &&
											controls.mobileNumber.invalid
										" />
							<mat-error *ngIf="
											controls.mobileNumber.errors?.required &&
											controls.mobileNumber.touched
										">
								Required field
							</mat-error>
							<mat-error *ngIf="
											controls.mobileNumber.errors?.pattern &&
											controls.mobileNumber.touched
										">
								Invalid Input
							</mat-error>
							<!-- </mat-form-field> -->
						</div>

						<!-- <div class="col-3">
									<div *ngIf="!otpSent">
										<kt-button [myClass]="'w-100'" [isDisabled]="otpButton" [type]="'button'"
											[value]="'Send OTP'" (action)="sendOTP()">
										</kt-button>
									</div>
									<div *ngIf="otpSent && !isMobileVerified">
										<kt-button [myClass]="'w-100'" [isDisabled]="otpButton" [type]="'button'"
											[value]="'Sent'" (action)="verifyOTP()">
										</kt-button>
									</div>
									<div *ngIf="isMobileVerified">
										<button class="w-100 success-button" mat-raised-button color="success"
											matTooltip="Pan Verified">
											Verified
										</button>
									</div>
								</div> -->

						<!-- OTP -->

						<!-- <ng-container *ngIf="otpSent && !isMobileVerified">
									<div class="col-4 kt-padding-t-15"></div>
		
									<div class="col-5 kt-padding-t-15">
										<input class="form-control" formControlName="otp" autocomplete="off"
											placeholder="Enter OTP" [class.isError]="
												controls.otp.touched &&
												controls.otp.invalid
											" />
										<mat-error *ngIf="
												controls.otp.errors?.required &&
												controls.otp.touched
											">
											Required field
										</mat-error>
										<mat-error *ngIf="
												controls.otp.errors?.pattern &&
												controls.otp.touched
											">Invalid Input
										</mat-error>
										<mat-hint (click)="resendOTP()" class="kt-pointer">Didn't get an OTP?
											<strong>Resend</strong></mat-hint>
									</div>
		
									<div class="col-3 kt-padding-t-15">
										<div *ngIf="!isMobileVerified">
											<kt-button [myClass]="'w-100'" [type]="'button'" [value]="'Sumbit'"
												[isDisabled]="isOpverified" (action)="verifyOTP()">
											</kt-button>
										</div>
									</div>
								</ng-container> -->
					</div>

					<div class="row kt-padding-t-15">
						<div class="col-4 align-self-center form-label">
							<label class="mandatory  text-color font-weight-500">Full Name</label>
						</div>

						<div class="col-4">
							<input type="text" aria-label="First name" placeholder="First Name" ktAlphabets
								class="form-control" formControlName="firstName" [class.isError]="
									controls.firstName.touched &&
									controls.firstName.invalid
								" [readOnly]="true" style="text-transform: capitalize;" />
							<mat-error *ngIf="
									controls.firstName.errors?.required &&
									controls.firstName.touched
								">
								Required field
							</mat-error>
						</div>
						<div class="col-4">
							<input type="text" aria-label="Last name" placeholder="Last Name" ktAlphabets
								class="form-control" formControlName="lastName" [class.isError]="
									controls.lastName.touched &&
									controls.lastName.invalid
								" [readOnly]="true" style="text-transform: capitalize;" />

							<mat-error *ngIf="
									controls.lastName.errors?.required &&
									controls.lastName.touched
								">
								Required field
							</mat-error>
						</div>
					</div>

					<div class="row kt-padding-t-15">
						<div class="col-4 align-self-center form-label">
							<label class="mandatory  text-color font-weight-500">PAN / FORM 60 </label>
						</div>
						<div class="col-8">
							<select class="form-control" formControlName="panType">
								<option value=null selected disabled>Select</option>
								<option value="pan">PAN</option>
								<option value="form60">FORM 60</option>
							</select>
						</div>
					</div>


					<div class="row kt-padding-t-15" *ngIf="controls.panType.value == 'pan'">
						<div class="col-4 align-self-center form-label">
							<label class="mandatory  text-color font-weight-500">PAN</label>
						</div>

						<div class="col-5">
							<input class="form-control" formControlName="panCardNumber" autocomplete="off"
								placeholder="PAN"
								[class.isError]="controls.panCardNumber.touched && controls.panCardNumber.invalid"
								maxlength="10" style="text-transform: uppercase;" />
							<mat-error *ngIf="
									controls.panCardNumber.errors?.required &&
									controls.panCardNumber.touched
								">
								Required field
							</mat-error>
							<mat-error *ngIf="
									controls.panCardNumber.errors?.pattern &&
									controls.panCardNumber.touched
								">
								Invalid Input
							</mat-error>
						</div>
						<!-- <div class="col form-label">
							<label for="" class="text-primary kt-padding-l-20 kt-pointer" (click)="preview()">View
								Image</label>
						</div> -->

						<div class="col">
							<div *ngIf="!isPanVerified">
								<kt-button [myClass]="'w-100'" [isDisabled]="panButton" [type]="'button'"
									[value]="'Verify'" (action)="verifyPAN()">
								</kt-button>
							</div>

							<div *ngIf="isPanVerified">
								<button class="w-100 success-button" mat-raised-button matTooltip="Pan Verified">
									Verified
								</button>
							</div>
						</div>
					</div>

					<div class="row kt-padding-t-15" *ngIf="!controls.panImage.value && controls.panType.value">
						<div class="col-4 align-self-center form-label">
							<label *ngIf="controls.panType.value == ''"
								ngClass="{'mandatory': controls.panType.value != ''}"
								class="text-color font-weight-500">
							</label>
							<label *ngIf="controls.panType.value != ''"
								class="mandatory  text-color font-weight-500">{{ controls.panType.value | uppercase }}
							</label>
						</div>
						<div class="col-8">
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="Select File"
									aria-label="Recipient's username" aria-describedby="basic-addon2" readonly
									formControlName="form60"
									[class.isError]="controls.form60.touched && controls.panImage.invalid" />
								<div class="input-group-append">
									<span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
										(click)="form60.click()">Attach</span>
								</div>
								<input type="file" class="d-none" accept="image/png, image/jpeg" #form60
									(input)="getFileInfo($event)">
							</div>
						</div>
						<!-- <div class="col-2 form-label" *ngIf="controls.form60.value">
							<label class="text-primary text-center kt-pointer" (click)="preview()">View Images</label>
						</div> -->
					</div>

					<div class="row kt-margin-t-20 kt-margin-b-20" *ngIf="controls.panType.value">
						<div class="col offset-4">
							<div class="img-container">
								<img *ngIf="!controls.panImg.value" class=""
									src="../../../../../../assets/media/icons/image-placeholder.png" alt="" />
								<img class="fetched-image" *ngIf="controls.panImg.value" [src]="controls.panImg.value"
									style="border-radius: 15px;" alt="" />
								<img src="../../../../../assets/media/icons/edit.svg" alt=""
									class="kt-pointer remove-icon" (click)="form60.click()"
									*ngIf="controls.panImg.value && !(controls.panType.status == 'DISABLED')">
								<input type="file" class="d-none" accept="image/png, image/jpeg" #form60
									(input)="getFileInfo($event)">
							</div>
						</div>
					</div>

					<div class="row kt-margin-t-10 kt-margin-b-20">
						<div class="col-8 offset-4">
							<kt-button [value]="'Next'" [type]="'button'" (action)="submit()">
							</kt-button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>