<!-- <img src="../../../../../assets/media/dashboard/dashboard.jpg" alt=""> -->

<kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit'">
		<div class="row" *ngIf="dashboardDetails$ | async as details">
			<div class="col-12">
				<div class="row">
					<div class="col align-self-center pr-5">
						<h4>Today's Booked Orders</h4>
					</div>
					<div class="col align-self-center pr-3 pl-3">
						<h4>Last Month Orders</h4>
						<h5>({{details?.lastMonthsBooked?.fromDate | date:'mediumDate'}} to
							{{details?.lastMonthsBooked?.toDate | date:'mediumDate'}})</h5>
					</div>
					<div class="col align-self-center pl-5">
						<h4>Till Date Orders</h4>
					</div>
				</div>
				<div class="row">
					<div class="col pr-5">
						<hr>
					</div>
					<div class="col pr-3 pl-3">
						<hr>
					</div>
					<div class="col pl-5">
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col pr-5">
						<div class="row">
							<div class="col">
								<div class="font-weight-500 text-muted">No. of Orders</div>
								<h3>{{details?.todaysBooked?.numberOfTodaysbookedOrder}}</h3>
							</div>
							<div class="col">
								<div class="font-weight-500 text-muted">Weight (grams)</div>
								<h3>{{details?.todaysBooked?.totalWeightOftodaysOrder}}</h3>
							</div>
						</div>
					</div>
					<div class="col pr-3 pl-3">
						<div class="row">
							<div class="col">
								<div class="font-weight-500 text-muted">No. of Orders</div>
								<h3>{{details?.lastMonthsBooked?.numberOflastMonthBookedOrder}}</h3>
							</div>
							<div class="col">
								<div class="font-weight-500 text-muted">Weight (grams)</div>
								<h3>{{details?.lastMonthsBooked?.totalWeightOflastMonthOrder}}</h3>
							</div>
						</div>
					</div>
					<div class="col pl-5">
						<div class="row">
							<div class="col">
								<div class="font-weight-500 text-muted">No. of Orders</div>
								<h3>{{details?.tilldatebooked?.numberOftillDateBookedOrder}}</h3>
							</div>
							<div class="col">
								<div class="font-weight-500 text-muted">Weight (grams)</div>
								<h3>{{details?.tilldatebooked?.totalWeightOfTillDateOrder}}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-12">
				<h4>Today's Orders</h4>
				<hr>
			</div>
			<div class="mat-table__wrapper">
				<mat-table class="lmat-elevation-z8" #table [dataSource]="todaysOrderDataSource" matSort
					#sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
					<ng-container matColumnDef="brokerName">
						<mat-header-cell *matHeaderCellDef>Broker Name</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.orderBy?.firstName || element?.orderBy?.lastName ?
							element?.orderBy?.firstName + ' ' +element?.orderBy?.lastName : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="brokerId">
						<mat-header-cell *matHeaderCellDef>Broker ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.orderBy?.userUniqueId ? element?.orderBy?.userUniqueId :
							'-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="storeId">
						<mat-header-cell *matHeaderCellDef>Store ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.orderBy?.broker?.store?.storeUniqueId ?
							element?.orderBy?.broker?.store?.storeUniqueId :
							'-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="customerId">
						<mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.customerDetails?.customerUniqueId ? element?.customerDetails?.customerUniqueId :
							'-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="customerName">
						<mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.customerDetails?.firstName || element?.customerDetails?.lastName ?
							element?.customerDetails?.firstName + ' ' +element?.customerDetails?.lastName : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="mobileNumber">
						<mat-header-cell *matHeaderCellDef>Mobile No.</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.customerDetails?.mobileNumber ? element?.customerDetails?.mobileNumber : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="orderId">
						<mat-header-cell *matHeaderCellDef>Order ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.orderUniqueId ? element?.orderUniqueId : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="productName">
						<mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.product?.productName ? element?.product?.productName : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="weight">
						<mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.weight ? element?.weight : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="emiTenure">
						<mat-header-cell *matHeaderCellDef>EMI Tenure</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.paymentType?.paymentType ? element?.paymentType?.paymentType : '-'}}
						</mat-cell>
					</ng-container>
					<ng-template #blank>-</ng-template>
					<mat-header-row *matHeaderRowDef="displayedTodayOrderColumns;" style="width: 140%;">
					</mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedTodayOrderColumns" style="width: 140%;"></mat-row>
				</mat-table>
				<div class="mat-table__message" *ngIf="orderList?.length == 0">No records found</div>
				<div class="mat-table__message" *ngIf="todaysOrderDataSource.isPreloadTextViewed$ | async">Please
					wait....</div>
			</div>
			<div class="mat-table__bottom ml-auto">
				<mat-spinner [diameter]="20" *ngIf="todaysOrderDataSource.loading$ | async"></mat-spinner>
				<mat-paginator #paginator1 [pageSize]="5" [pageSizeOptions]="[5,25,50,100]"
					[length]="todaysOrderDataSource.paginatorTotal$ | async" [showFirstLastButtons]="true">
				</mat-paginator>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-12">
				<h4>Overdue Payment</h4>
				<hr>
			</div>
			<div class="mat-table__wrapper">
				<mat-table class="lmat-elevation-z8" #table [dataSource]="overDueOrderataSource" matSort
					#sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
					<ng-container matColumnDef="brokerName">
						<mat-header-cell *matHeaderCellDef>Broker Name</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.order?.orderBy?.firstName || element?.order?.orderBy?.lastName ?
							element?.order?.orderBy?.firstName + ' ' +element?.order?.orderBy?.lastName : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="brokerId">
						<mat-header-cell *matHeaderCellDef>Broker ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.order?.orderBy?.userUniqueId ? element?.order?.orderBy?.userUniqueId :
							'-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="storeId">
						<mat-header-cell *matHeaderCellDef>Store ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.order?.orderBy?.broker?.store?.storeUniqueId ?
							element?.order?.orderBy?.broker?.store?.storeUniqueId :
							'-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="customerId">
						<mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.order?.customerDetails?.customerUniqueId ?
							element?.order?.customerDetails?.customerUniqueId :
							'-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="customerName">
						<mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.order?.customerDetails?.firstName || element?.order?.customerDetails?.lastName ?
							element?.order?.customerDetails?.firstName + ' ' +element?.order?.customerDetails?.lastName
							: '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="mobileNumber">
						<mat-header-cell *matHeaderCellDef>Mobile No.</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.order?.customerDetails?.mobileNumber ?
							element?.order?.customerDetails?.mobileNumber : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="orderId">
						<mat-header-cell *matHeaderCellDef>Order ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.order?.orderUniqueId ? element?.order?.orderUniqueId : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="productName">
						<mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.order?.product?.productName ? element?.order?.product?.productName : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="emiAmmount">
						<mat-header-cell *matHeaderCellDef>EMI Amount</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.emiAmount ? element?.emiAmount : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="emiTenure">
						<mat-header-cell *matHeaderCellDef>EMI Tenure</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.order?.paymentType?.paymentType ? element?.order?.paymentType?.paymentType :
							'-'}}
						</mat-cell>
					</ng-container>
					<ng-template #blank>-</ng-template>
					<mat-header-row *matHeaderRowDef="displayedOverDueColumns;" style="width: 140%;"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedOverDueColumns" style="width: 140%;"></mat-row>
				</mat-table>
				<div class="mat-table__message" *ngIf="overDueOrderList?.length == 0">No records found</div>
				<div class="mat-table__message" *ngIf="overDueOrderataSource.isPreloadTextViewed$ | async">Please
					wait....</div>
			</div>
			<div class="mat-table__bottom ml-auto">
				<mat-spinner [diameter]="20" *ngIf="overDueOrderataSource.loading$ | async"></mat-spinner>
				<mat-paginator #paginator2 [pageSize]="5" [pageSizeOptions]="[5,25,50,100]"
					[length]="overDueOrderataSource.paginatorTotal$ | async" [showFirstLastButtons]="true">
				</mat-paginator>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>