<!-- <img src="../../../../../assets/media/dashboard/dashboard.jpg" alt=""> -->

<kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit'" *ngIf="dashboardDetails$ | async as details">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col align-self-center pr-5">
						<h4>Today's Booked Orders</h4>
					</div>
					<div class="col align-self-center pr-3 pl-3">
						<h4>Last Month Orders</h4>
						<h5>({{details?.lastMonthsBooked?.fromDate | date:'mediumDate'}} to
							{{details?.lastMonthsBooked?.toDate | date:'mediumDate'}})</h5>
					</div>
					<div class="col align-self-center pl-5">
						<h4>Till Date Orders</h4>
					</div>
				</div>
				<div class="row">
					<div class="col pr-5">
						<hr>
					</div>
					<div class="col pr-3 pl-3">
						<hr>
					</div>
					<div class="col pl-5">
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col pr-5">
						<div class="row">
							<div class="col">
								<div class="font-weight-500 text-muted">No. of Orders</div>
								<h3>{{details?.todaysBooked?.numberOfTodaysbookedOrder}}</h3>
							</div>
							<div class="col">
								<div class="font-weight-500 text-muted">Weight (grams)</div>
								<h3>{{details?.todaysBooked?.totalWeightOftodaysOrder}}</h3>
							</div>
						</div>
					</div>
					<div class="col pr-3 pl-3">
						<div class="row">
							<div class="col">
								<div class="font-weight-500 text-muted">No. of Orders</div>
								<h3>{{details?.lastMonthsBooked?.numberOflastMonthBookedOrder}}</h3>
							</div>
							<div class="col">
								<div class="font-weight-500 text-muted">Weight (grams)</div>
								<h3>{{details?.lastMonthsBooked?.totalWeightOflastMonthOrder}}</h3>
							</div>
						</div>
					</div>
					<div class="col pl-5">
						<div class="row">
							<div class="col">
								<div class="font-weight-500 text-muted">No. of Orders</div>
								<h3>{{details?.tilldatebooked?.numberOftillDateBookedOrder}}</h3>
							</div>
							<div class="col">
								<div class="font-weight-500 text-muted">Weight (grams)</div>
								<h3>{{details?.tilldatebooked?.totalWeightOfTillDateOrder}}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-12">
				<h4>Today's Orders</h4>
				<hr>
			</div>
			<!-- <div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Member ID</th>
							<th scope="col">Name</th>
							<th scope="col">Mobile No.</th>
							<th scope="col">Order ID</th>
							<th scope="col">Product Name</th>
							<th scope="col">Weight</th>
							<th scope="col">EMI Tenure</th>
						</tr>
					</thead>
					<tbody class="font-weight-normal">
						<ng-container *ngIf="details?.todaysOrderDetail?.length; else noTodaysOrder">
							<tr *ngFor="let prod of details?.todaysOrderDetail">
								<td>
									{{prod?.customerDetails?.customerUniqueId ? prod?.customerDetails?.customerUniqueId : '-'}}
								</td>
								<td>
									{{prod?.customerDetails?.firstName || prod?.customerDetails?.lastName ? (prod?.customerDetails?.firstName + ' ' + prod?.customerDetails?.lastName | titlecase) : '-'}}
								</td>
								<td>
									{{prod?.customerDetails?.mobileNumber ? prod?.customerDetails?.mobileNumber : '-'}}
								</td>
								<td>
									{{prod?.orderUniqueId ? prod?.orderUniqueId : '-'}}
								</td>
								<td>
									{{prod?.product?.productName ? prod?.product?.productName : '-'}}
								</td>
								<td>
									{{prod?.weight | number:'1.0-2' | removeComma}}
								</td>
								<td>
									{{prod?.paymentType?.paymentType ? prod?.paymentType?.paymentType : '-'}}
								</td>
							</tr>
						</ng-container>
						<ng-template #noTodaysOrder>
							<tr>
								<td class="text-center" colspan="7">No records found</td>
							</tr>
						</ng-template>
					</tbody>
				</table>
			</div> -->


			<div class="mat-table__wrapper">
				<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
					matSortActive="id" matSortDirection="asc" matSortDisableClear>
					<ng-container matColumnDef="memberId">
						<mat-header-cell *matHeaderCellDef>Member ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.customerDetails?.customerUniqueId ? element?.customerDetails?.customerUniqueId : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.customerDetails?.firstName || element?.customerDetails?.lastName  ? element?.customerDetails?.firstName + ' ' +element?.customerDetails?.lastName : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="mobileNumber">
						<mat-header-cell *matHeaderCellDef>Mobile No.</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.customerDetails?.mobileNumber ? element?.customerDetails?.mobileNumber : '-'}}						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="orderId">
						<mat-header-cell *matHeaderCellDef>Order ID</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.orderUniqueId ? element?.orderUniqueId : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="productName">
						<mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.product?.productName ? element?.product?.productName : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="weight">
						<mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.weight ? element?.weight : '-'}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="emiTenure">
						<mat-header-cell *matHeaderCellDef>EMI Tenure</mat-header-cell>
						<mat-cell *matCellDef="let element">
							{{element?.paymentType?.paymentType ? element?.paymentType?.paymentType : '-'}}
						</mat-cell>
					</ng-container>
					<ng-template #blank>-</ng-template>
					<mat-header-row *matHeaderRowDef="displayedColumns;" style="width: 140%;"></mat-header-row>
	
					<mat-row *matRowDef="let row; columns: displayedColumns" style="width: 140%;"></mat-row>
				</mat-table>
	
				<div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
				<!-- Message for empty data  -->
				<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
			</div>
	
			<!-- start: BOTTOM -->
			<div class="mat-table__bottom">
				<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
				<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
				<!-- MATERIAL PAGINATOR | Binded to dasources -->
				<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
				<mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
					[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
			</div>
			<!-- end: BOTTOM -->
		</div>
		<div class="row pt-5">
			<div class="col-12">
				<h4>Overdue Payment</h4>
				<hr>
			</div>
			<div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Member ID</th>
							<th scope="col">Name</th>
							<th scope="col">Mobile No.</th>
							<th scope="col">Order ID</th>
							<th scope="col">Product Name</th>
							<th scope="col">EMI Amount</th>
							<th scope="col">EMI Tenure</th>
						</tr>
					</thead>
					<tbody class="font-weight-normal">
						<ng-container *ngIf="details?.overdueCustomer?.length; else noOverdueCustomer">
							<tr *ngFor="let prod of details?.overdueCustomer">
								<td>
									{{prod?.customerDetails?.customerUniqueId ? prod?.customerDetails?.customerUniqueId : '-'}}
								</td>
								<td>
									{{prod?.customerDetails?.firstName || prod?.customerDetails?.lastName ? (prod?.customerDetails?.firstName + ' ' + prod?.customerDetails?.lastName | titlecase) : '-'}}
								</td>
								<td>
									{{prod?.customerDetails?.mobileNumber ? prod?.customerDetails?.mobileNumber : '-'}}
								</td>
								<td>
									{{prod?.orderUniqueId ? prod?.orderUniqueId : '-'}}
								</td>
								<td>
									{{prod?.product?.productName ? prod?.product?.productName : '-'}}
								</td>
								<td>
									{{prod?.emiAmount ? prod?.emiAmount : '-'}}
								</td>
								<td>
									{{prod?.paymentType?.paymentType ? prod?.paymentType?.paymentType : '-'}}
								</td>
							</tr>
						</ng-container>
						<ng-template #noOverdueCustomer>
							<tr>
								<td class="text-center" colspan="7">No records found</td>
							</tr>
						</ng-template>
					</tbody>
				</table>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>