<kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit'" *ngIf="dashboardDetails$ | async as details">
		<div class="row">
			<div class="col-4 pr-5">
				<h4>Today's Booked Orders</h4>
				<hr>
				<div class="row">
					<div class="col">
						<div class="font-weight-500 text-muted">No. of Orders</div>
						<h3>{{details?.todaysBooked?.numberOfTodaysbookedOrder}}</h3>
					</div>
					<div class="col">
						<div class="font-weight-500 text-muted">Weight (grams)</div>
						<h3>{{details?.todaysBooked?.totalWeightOftodaysOrder}}</h3>
					</div>
				</div>
			</div>
			<div class="col-4 pr-5 pl-5">
				<h4>Last Month Orders</h4>
				<hr>
				<div class="row">
					<div class="col">
						<div class="font-weight-500 text-muted">No. of Orders</div>
						<h3>{{details?.lastMonthsBooked?.numberOflastMonthBookedOrder}}</h3>
					</div>
					<div class="col">
						<div class="font-weight-500 text-muted">Weight (grams)</div>
						<h3>{{details?.lastMonthsBooked?.totalWeightOflastMonthOrder}}</h3>
					</div>
				</div>
			</div>
			<div class="col-4 pl-5">
				<h4>Till Date Orders</h4>
				<hr>
				<div class="row">
					<div class="col">
						<div class="font-weight-500 text-muted">No. of Orders</div>
						<h3>{{details?.tilldatebooked?.numberOftillDateBookedOrder}}</h3>
					</div>
					<div class="col">
						<div class="font-weight-500 text-muted">Weight (grams)</div>
						<h3>{{details?.tilldatebooked?.totalWeightOfTillDateOrder}}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-12">
				<h4>Today's Orders</h4>
				<hr>
			</div>
			<div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Member ID</th>
							<th scope="col">Name</th>
							<th scope="col">Mobile No.</th>
							<th scope="col">Order ID</th>
							<th scope="col">Product Name</th>
							<th scope="col">Weight</th>
							<th scope="col">EMI Tenure</th>
						</tr>
					</thead>
					<tbody class="text-muted">
						<tr *ngFor="let prod of details?.todaysOrderDetail">
							<td>
								{{prod?.customerDetails?.customerUniqueId ? prod?.customerDetails?.customerUniqueId : '-'}}
							</td>
							<td>
								{{prod?.customerDetails?.firstName || prod?.customerDetails?.lastName ? (prod?.customerDetails?.firstName + ' ' + prod?.customerDetails?.lastName | titlecase) : '-'}}
							</td>
							<td>
								{{prod?.customerDetails?.mobileNumber ? prod?.customerDetails?.mobileNumber : '-'}}
							</td>
							<td>
								{{prod?.orderUniqueId ? prod?.orderUniqueId : '-'}}
							</td>
							<td>
								{{prod?.product?.productName ? prod?.product?.productName : '-'}}
							</td>
							<td>
								{{prod?.weight ? prod?.weight : '-'}}
							</td>
							<td>
								{{prod?.paymentType?.paymentType ? prod?.paymentType?.paymentType : '-'}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>