:host {
    .kt-portlet__body {
        padding: 20px !important;
    }
    img {
        width: 100%;
        height: 90vh;
    }
    ::ng-deep {
        ngb-tabset > .nav-tabs {
            display: none;
        }
    }
    .mat-table__wrapper {
        min-height: auto !important
    }
    .mat-column-brokerName {
        flex: 0 0 12% !important;
    }
    .mat-column-customerName {
        flex: 0 0 12% !important;
    }
     .mat-column-productName {
        flex: 0 0 15% !important;
    }
}
