:host {
    p {
        margin: 0 !important;
    }

    .amount,.penal {
        display : inline-block;
        position: relative;
    }

    .top-0{
        top: 0 !important;
    }

    /* position the unit to the right of the wrapper */
    .amount::after {
        position   : absolute;
        top        : 11px;
        right      : 1em;
        transition : all .05s ease-in-out;
        content    : '(Amt in lac)';
        color      : #707480;
        font-weight: bold;
    }

    .penal::after {
        position   : absolute;
        top        : 11px;
        right      : 1em;
        transition : all .05s ease-in-out;
        content    : '(per annum)';
        color      : #707480;
        font-weight: bold;
    }

    .csv_pos {
        position   : absolute;
        top        : 20px;
        right      : 30px;
        font-weight: 500;
        font-size  : 14px;
         z-index: 100 !important; 
         letter-spacing: 1.1px;
    }

    .bg {
        background-color: #eff0f1 !important;
        color           : rgb(193, 193, 193) !important;

    }

}