<div class="kt-portlet">
    <kt-modal-header [title]="'Add Scheme'" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body position-relative">
        <div class="text-right">
            <a href="../../../../../assets/media/files/schemes.csv" download="schemes.csv"
                *ngIf="tabGroup.selectedIndex == 1">
                <span class="text-primary csv_pos">
                    <img src="../../../../../assets/media/icons/download.svg" alt="download" height="20"> Download
                    Sample CSV</span>
            </a>
        </div>

        <mat-tab-group #tabGroup>
            <mat-tab label="By Filling From">
                <form [formGroup]="fillingForm">
                    <div class="row kt-margin-b-15">
                        <div class="col-3 form-label">
                            <label class="kt-padding-l-10 mandatory">Partner Name</label>
                        </div>
                        <div class="col-9">
                            <select name="" id="" class="form-control" formControlName="partnerId"
                                [class.isError]="fillingForm.get('partnerId').touched && fillingForm.get('partnerId').invalid">
                                <option value="" [selected]="true" [disabled]="true">Select Partner</option>
                                <option [value]="partner.id" *ngFor="let partner of partnerData">
                                    {{partner.name | titlecase}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="row kt-margin-b-15">
                        <div class="col-3 form-label">
                            <label class="kt-padding-l-10 mandatory"> Scheme Name</label>
                        </div>
                        <div class="col-9">
                            <input type="test" class="form-control" formControlName="schemeName"
                                [class.isError]="fillingForm.get('schemeName').touched && fillingForm.get('schemeName').invalid"
                                placeholder="Express Gold Loan">
                        </div>
                    </div>

                    <div class="row kt-margin-b-15">
                        <div class="col-3 form-label">
                            <label class="kt-padding-l-10 mandatory">Scheme Type</label>
                        </div>
                        <div class="col-9">
                            <select name="" id="" class="form-control" formControlName="schemeType"
                                [class.isError]="fillingForm.get('schemeType').touched && fillingForm.get('schemeType').invalid">
                                <option value="" [selected]="true" [disabled]="true">Select Scheme Type</option>
                                <option [value]="scheme.value" *ngFor="let scheme of schemeType">
                                    {{scheme.name | titlecase}}
                                </option>
                            </select>

                        </div>
                    </div>

                    <div class="row kt-margin-b-10">
                        <div class="col-3 form-label">
                            <label class="kt-padding-l-10 mandatory"> Processing Charges</label>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col">
                                    <input type="number" class="form-control" formControlName="processingChargeFixed"
                                        [class.isError]="fillingForm.get('processingChargeFixed').touched && fillingForm.get('processingChargeFixed').invalid"
                                        placeholder="Fixed">
                                    <mat-error
                                        *ngIf="fillingForm.get('processingChargeFixed').errors?.pattern && fillingForm.get('processingChargeFixed').touched">
                                        Invalid Input
                                    </mat-error>
                                </div>
                                <div class="col-1 form-label justify-content-center"><label> Or</label></div>
                                <div class="col">
                                    <input type="number" class="form-control" formControlName="processingChargePercent"
                                        [class.isError]="fillingForm.get('processingChargePercent').touched && fillingForm.get('processingChargePercent').invalid"
                                        placeholder="% of loan amount">
                                    <mat-error
                                        *ngIf="fillingForm.get('processingChargePercent').errors?.pattern && fillingForm.get('processingChargePercent').touched">
                                        Invalid Input
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row kt-margin-b-15">
                        <div class="col-3 form-label">
                            <label class="kt-padding-l-10 mandatory"> Maximum % Allowed </label>
                        </div>
                        <div class="col-9">
                            <input type="test" class="form-control" formControlName="maxPercentAllowed"
                                [class.isError]="fillingForm.get('maxPercentAllowed').touched && fillingForm.get('maxPercentAllowed').invalid"
                                placeholder="Maximum % Allowed">
                            <mat-error
                                *ngIf="fillingForm.get('processingChargePercent').errors?.pattern && fillingForm.get('processingChargePercent').touched">
                                Invalid Input
                            </mat-error>
                        </div>
                    </div>

                    <div class="row kt-margin-b-15">
                        <div class="col-3 form-label">
                            <label class="kt-padding-l-10 mandatory"> Penal Interest </label>
                        </div>
                        <div class="col-9">
                            <input type="test" class="form-control" formControlName="penalInterest"
                                [class.isError]="fillingForm.get('penalInterest').touched && fillingForm.get('penalInterest').invalid"
                                placeholder="00%">
                            <mat-error
                                *ngIf="fillingForm.get('processingChargePercent').errors?.pattern && fillingForm.get('processingChargePercent').touched">
                                Invalid Input
                            </mat-error>
                        </div>
                    </div>

                    <div class="row kt-margin-b-10">
                        <div class="col-3 form-label">
                            <label class="kt-padding-l-10 mandatory"> Enter Amount</label>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-6 amount">
                                    <input type="number" class="form-control" formControlName="schemeAmountStart"
                                        [class.isError]="fillingForm.get('schemeAmountStart').touched && fillingForm.get('schemeAmountStart').invalid"
                                        placeholder="From e.g. 1 or 1.5" (blur)="fromAndToValidation()">
                                    <mat-error *ngIf="fillingForm.get('schemeAmountStart').errors?.amt">
                                        <small>From Should be less than To Amt</small>
                                    </mat-error>
                                </div>
                                <div class="col-6 amount">
                                    <input type="number" class="form-control" formControlName="schemeAmountEnd"
                                        [class.isError]="fillingForm.get('schemeAmountEnd').touched && fillingForm.get('schemeAmountEnd').invalid"
                                        placeholder="To e.g. 2" (blur)="fromAndToValidation()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row kt-padding-t-15">
                        <div class="offset-3 col-3">
                            <p class="text-color form-label">30 Days</p>
                        </div>
                        <div class="col-3">
                            <p class="text-color form-label">90 Days</p>
                        </div>
                        <div class="col-3">
                            <p class="text-color form-label">180 Days</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 form-label">
                            <label class="kt-padding-l-10 mandatory">
                                Rate of Interest <br>
                                (% / Monthly)
                            </label>
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" formControlName="interestRateThirtyDaysMonthly"
                                [class.isError]="fillingForm.get('interestRateThirtyDaysMonthly').touched && fillingForm.get('interestRateThirtyDaysMonthly').invalid">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" formControlName="interestRateNinetyDaysMonthly"
                                [class.isError]="fillingForm.get('interestRateNinetyDaysMonthly').touched && fillingForm.get('interestRateNinetyDaysMonthly').invalid">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control"
                                formControlName="interestRateOneHundredEightyDaysMonthly"
                                [class.isError]="fillingForm.get('interestRateOneHundredEightyDaysMonthly').touched && fillingForm.get('interestRateOneHundredEightyDaysMonthly').invalid">
                        </div>
                    </div>
                    <!-- <div class="row kt-padding-t-15">
                        <div class="offset-3 col-3">
                            <p class="text-color form-label">30 Days</p>
                        </div>
                        <div class="col-3">
                            <p class="text-color form-label">90 Days</p>
                        </div>
                        <div class="col-3">
                            <p class="text-color form-label">180 Days</p>
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-3">
                            <p class="text-color form-label mandatory">
                                Rate of Interest <br>
                                (% / Annually)
                            </p>
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" formControlName="interestRateThirtyDaysAnnually"
                                [class.isError]="fillingForm.get('interestRateThirtyDaysAnnually').touched && fillingForm.get('interestRateThirtyDaysAnnually').invalid">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" formControlName="interestRateNinetyDaysAnnually"
                                [class.isError]="fillingForm.get('interestRateNinetyDaysAnnually').touched && fillingForm.get('interestRateNinetyDaysAnnually').invalid">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control"
                                formControlName="interestRateOneHundredEightyDaysAnnually"
                                [class.isError]="fillingForm.get('interestRateOneHundredEightyDaysAnnually').touched && fillingForm.get('interestRateOneHundredEightyDaysAnnually').invalid">
                        </div>
                    </div> -->

                </form>
            </mat-tab>
            <mat-tab label="By Uploading CSV">
                <form [formGroup]="csvForm">
                    <div class="row kt-margin-t-20">
                        <div class="col-3  form-label">
                            <label class="kt-padding-l-10 mandatory">Partner Name</label>
                        </div>
                        <div class="col-9">
                            <select name="" id="" class="form-control" formControlName="partnerId"
                                [class.isError]="csvForm.get('partnerId').touched && csvForm.get('partnerId').invalid">
                                <option value="" [selected]="true" [disabled]="true">Select Partner</option>
                                <option [value]="partner.id" *ngFor="let partner of partnerData">
                                    {{partner.name | titlecase}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="row kt-margin-t-20">
                        <div class="col-3 form-label">
                            <label class="kt-padding-l-10 mandatory">Upload CSV</label>
                        </div>
                        <div class="col-9">
                            <div class="input-group mb-3"
                                [class.isError]="csvForm.get('csv').touched && csvForm.get('csv').invalid">
                                <input type="text" class="form-control" placeholder="Sample.csv"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2"
                                    formControlName="csv" readonly>
                                <div class="input-group-append">
                                    <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                                        (click)="file.click()">Attach</span>
                                </div>
                            </div>
                            <label class="file d-none">
                                <input type="file" id="file" aria-label="File browser example" #file
                                    (input)="getFileInfo($event)">
                                <span class="file-custom"></span>
                            </label>
                        </div>
                    </div>

                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="'Add'"></kt-modal-footer>
        </div>
    </kt-portlet-footer>


</div>