<nav ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" class="nav-tabs m-0"
    [ngStyle]="{'border':'0'}">
    <ng-container [ngbNavItem]="1" [disabled]="disabled[0]">
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    1
                </div>
                <p class="step-name">Basic Details</p>
                <!-- <p class="step-details"> User's Basic Details</p> -->
            </div>
        </a>

        <ng-template ngbNavContent>
            <kt-user-details (next)=next($event)></kt-user-details>
        </ng-template>
    </ng-container>

    <ng-container [ngbNavItem]="2" [disabled]="disabled[1]">
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    2
                </div>
                <p class="step-name">Address & Identity</p>
                <!-- <p class="step-details"> User's Address & Identity</p> -->
            </div>
        </a>

        <ng-template ngbNavContent>
            <kt-user-address (next)=next($event)></kt-user-address>
        </ng-template>
    </ng-container>

    <ng-container [ngbNavItem]="3" [disabled]="disabled[2]">
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    3
                </div>
                <p class="step-name">Personal Details</p>
                <!-- <p class="step-details"> User's Personal Details</p> -->
            </div>
        </a>

        <ng-template ngbNavContent>
            <kt-user-personal (next)=next($event)></kt-user-personal>
        </ng-template>
    </ng-container>

    <ng-container [ngbNavItem]="4" [disabled]="disabled[3]">
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    4
                </div>
                <p class="step-name">Bank Details</p>
                <!-- <p class="step-details"> User's Bank Details</p> -->
            </div>
        </a>

        <ng-template ngbNavContent>
            <kt-user-banks (next)=next($event)></kt-user-banks>
        </ng-template>
    </ng-container>
    <ng-container [ngbNavItem]="5" [disabled]="disabled[4]">
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    5
                </div>
                <p class="step-name">Review & Submit</p>
                <!-- <p class="step-details"> User's Review & Submit</p> -->
            </div>
        </a>
        <ng-template ngbNavContent>
            <kt-user-review (next)=next($event)></kt-user-review>
        </ng-template>
    </ng-container>
    <ng-container [ngbNavItem]="6" [disabled]="disabled[5]">
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    6
                </div>
                <p class="step-name">Customer Classification</p>
                <!-- <p class="step-details"> User's Review & Submit</p> -->
            </div>
        </a>
        <ng-template ngbNavContent>
            <kt-user-classification (next)=next($event)></kt-user-classification>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" [ngStyle]="{'width':'99%','margin':'auto'}"></div>