:host {
	.height220 {
		height: 220px;
	}
	::ng-deep.mat-tab-header {
		max-width: 90%;
	}
	.addmore {
		position: absolute;
		top: 15px;
		left: 30%;
		z-index: 99999 !important;
		background: transparent;
		border: thin solid #454D67;
		border-radius: 5px;
		padding: 5px;
	}
	.min-height-attach{
		min-height: 36px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
