:host {
	.height220 {
		height: 220px;
	}
	::ng-deep.mat-tab-header {
		position: relative !important;
	}
	.addmore {
		position: absolute;
		top: 10px;
		left: 150px;
		background: transparent;
		border: thin solid #454D67;
		border-radius: 5px;
		padding: 5px;
	}
}
