<kt-portlet style="padding-top: 25px !important;">
    <kt-portlet-body>
        <div class="min-height">
            <form [formGroup]="identityForm">
                <div *ngIf="identityForm.controls.moduleId.value == 1">
                    <div class="row">
                        <div class="col-6 kt-margin-t-20">
                            <div class="row">
                                <div class="col-3 offset-1 p-0">
                                    <label class="mandatory  font-weight-500 text-color">Identity</label>
                                </div>
                                <div class="col-7">
                                    <select class="form-control" formControlName="identityTypeId"
                                        placeholder="Select Proof"
                                        [class.isError]="controls.identityTypeId.invalid && controls.identityTypeId.touched">
                                        <option value="" [disabled]="true"> Select Proof</option>
                                        <option *ngFor="let proof of identityProofs" [selected]="selectAadhar()"
                                            [value]="proof.id">
                                            {{ proof.name | titlecase}}
                                        </option>
                                    </select>
                                    <mat-error
                                        *ngIf="controls.identityTypeId.errors?.required && controls.identityTypeId.touched">
                                        Required field
                                    </mat-error>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 kt-margin-t-20">
                            <div class="row">
                                <div class="col-3 offset-1 p-0">
                                    <label class="mandatory font-weight-500 text-color">Aadhaar No.</label>
                                </div>
                                <div class="col-7">
                                    <input formControlName="identityProofNumber" type="text" aria-label="Pin Code"
                                        placeholder="Aadhaar Number" class="form-control" numbersOnly maxlength="12"
                                        [class.isError]="controls.identityProofNumber.touched && controls.identityProofNumber.invalid">
                                    <mat-error
                                        *ngIf="controls.identityProofNumber.errors?.required && controls.identityProofNumber.touched">
                                        Required field
                                    </mat-error>
                                    <mat-error
                                        *ngIf="controls.identityProofNumber.errors?.minlength && controls.identityProofNumber.touched">
                                        Invalid Input
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 kt-margin-t-20">
                            <div class="row">
                                <div class="col-3 offset-1 p-0">
                                    <label class="mandatory  font-weight-500 text-color">Attach Aadhaar</label>
                                </div>
                                <div class="col-7">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" formControlName="identityProofFileName"
                                            placeholder="image.jpg" aria-label="Image" aria-describedby="basic-addon2"
                                            readonly
                                            [class.isError]="controls.identityProofFileName.invalid && controls.identityProofFileName.touched">
                                        <div class="input-group-append">
                                            <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                                                (click)="identity.click()"
                                                style="border-top-right-radius: 9px !important; border-bottom-right-radius: 9px !important;">Attach</span>
                                        </div>

                                    </div>
                                    <label class="mandatory  file d-none">
                                        <input type="file" accept="image/*,application/pdf" id="file"
                                            aria-label="File browser example" #identity
                                            (input)="getFileInfo($event,'identityProof')">
                                        <span class="file-custom"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row kt-margin-t-20 kt-margin-b-20">
                        <div class="offset-2 col">
                            <div *ngIf="images.identityProof.length==0" class="img-container">
                                <img class="placeholder-image"
                                    src="../../../../../../assets/media/icons/image-placeholder.png" alt="placeholder">
                            </div>
                            <div *ngIf="images.identityProof.length>0">
                                <div class="row ">
                                    <div class="kt-margin-r-15" *ngFor="let img of images.identityProof, index as idx">
                                        <div class="img-container"
                                            [class.ml-auto]="images.identityProof.length == 2 && idx == 0"
                                            [class.mr-auto]="images.identityProof.length == 2 && idx == 1">
                                            <img class="border-rad-15 fetched-image" [src]="img" alt=""
                                                (click)="preview(img, idx)" *ngIf="!isPdf(img)">
                                            <div class="iframeWrapper" (click)="previewPdf(img)">
                                                <iframe [src]="img | safe : 'resourceUrl'" height="250" width="290"
                                                    scrolling="no" *ngIf="isPdf(img)"></iframe>
                                            </div>
                                            <img src="../../../../../assets/media/icons/cancel.svg" alt=""
                                                class="kt-pointer remove-icon"
                                                (click)="removeImages(idx, 'identityProof');">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="identityForm.controls.userType.value !== 'Individual'" class="row">
                    <div class="offset-6">
                        <!-- <div class="">
                            <label class="custom-checkbox ">
                                <span class="label-checkbox">Residential Same as Permanent</span>
                                <input type="checkbox" class="" (change)="sameAddress($event.target.checked)">
                                <span class="checkmark top-0"></span>
                            </label>
                        </div> -->
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="offset-1 col">
                                <label class="custom-checkbox ">
                                    <span *ngIf="identityForm.controls.moduleId.value == 1" class="label-checkbox">
                                        Current Residential Address same as Permanent Address
                                    </span>
                                    <span
                                        *ngIf="identityForm.controls.moduleId.value != 1 && identityForm.controls.userType.value === 'Corporate'"
                                        class="label-checkbox">
                                        Current Communication Address same as Permanent Address
                                    </span>
                                    <input type="checkbox" class="" (change)="sameAddress($event.target.checked)">
                                    <span class="checkmark top-0"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <ng-container formArrayName="address"
                        *ngFor="let addressForm of identityForm.get('address')['controls']; index as i;">
                        <div [formGroupName]="i" class="col-6">


                            <div class=" kt-margin-t-20">
                                <div class="row">
                                    <div class="col-3 offset-1 p-0">
                                        <label class="mandatory  font-weight-500 text-color" *ngIf="i == 1">
                                            <span *ngIf="identityForm.controls.userType.value !== 'Corporate'">Current
                                                Residential Address</span>
                                            <span
                                                *ngIf="identityForm.controls.userType.value === 'Corporate'">Communication
                                                Address</span>
                                        </label>
                                        <label class="mandatory  font-weight-500 text-color" *ngIf="i == 0">
                                            Permanent Address</label>
                                    </div>
                                    <div class="col-7">
                                        <textarea formControlName="address" type="text" rows="5"
                                            aria-label="Residential Address" placeholder="Enter your text"
                                            class="form-control"
                                            [class.isError]="addressForm.controls.address.touched && addressForm.controls.address.invalid">
                                    </textarea>
                                        <mat-error
                                            *ngIf="addressForm.controls.address.errors?.required && addressForm.controls.address.touched">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <input *ngIf="i==1" value="residential" formControlName="addressType" type="hidden">
                                <input *ngIf="i==0" value="permanent" formControlName="addressType" type="hidden">
                            </div>

                            <div>
                                <div class=" kt-margin-t-20">
                                    <div class="row">
                                        <div class="col-3 offset-1 p-0">
                                            <label class="mandatory  font-weight-500 text-color">State
                                            </label>
                                        </div>
                                        <div class="col-7">
                                            <select formControlName="stateId" class="form-control"
                                                (change)="getCities(i)"
                                                [class.isError]="addressForm.controls.stateId.touched && addressForm.controls.stateId.invalid">
                                                <option value="" [disabled]="true" [selected]="true"> Select State
                                                </option>
                                                <option *ngFor="let state of states" [value]="state.id">
                                                    {{state.name}}
                                                </option>
                                            </select>
                                            <mat-error
                                                *ngIf="addressForm.controls.stateId.errors?.required && addressForm.controls.stateId.touched">
                                                Required field
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>


                                <div>
                                    <div class=" kt-margin-t-20">
                                        <div class="row">
                                            <div class="col-3 offset-1 p-0">
                                                <label class="mandatory  font-weight-500 text-color">City
                                                </label>
                                            </div>
                                            <div class="col-7">
                                                <select formControlName="cityId" class="form-control"
                                                    [class.isError]="addressForm.controls.cityId.touched && addressForm.controls.cityId.invalid">
                                                    <ng-container *ngIf="i==0">
                                                        <option value="" [disabled]=true [selected]="true"> Select City
                                                        </option>
                                                        <option *ngFor="let city of cities0" [value]="city.id">
                                                            {{city.name}}
                                                        </option>

                                                    </ng-container>
                                                    <ng-container *ngIf="i==1">
                                                        <option value="" [disabled]=true [selected]="true"> Select City
                                                        </option>
                                                        <option *ngFor="let city of cities1" [value]="city.id">
                                                            {{city.name}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                                <ng-container *ngIf="i==0">
                                                    <mat-error
                                                        *ngIf="addressForm.controls.cityId.errors?.required && addressForm.controls.cityId.touched">
                                                        Required field
                                                    </mat-error>
                                                </ng-container>
                                                <ng-container *ngIf="i==1">
                                                    <mat-error
                                                        *ngIf="addressForm.controls.cityId.errors?.required && addressForm.controls.cityId.touched">
                                                        Required field
                                                    </mat-error>
                                                </ng-container>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                    <div class=" kt-margin-t-20">
                                        <div class="row">
                                            <div class="col-3 offset-1 p-0">
                                                <label class="mandatory  font-weight-500 text-color">Pin Code</label>
                                            </div>
                                            <div class="col-7">
                                                <input formControlName="pinCode" type="text" aria-label="Pin Code"
                                                    placeholder="000000" class="form-control"
                                                    [class.isError]="addressForm.controls.pinCode.touched && addressForm.controls.pinCode.invalid"
                                                    numbersOnly maxlength="6">
                                                <mat-error
                                                    *ngIf="addressForm.controls.pinCode.errors?.required && addressForm.controls.pinCode.touched">
                                                    Required field
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class=" kt-margin-t-20">
                                    <div class="row">
                                        <div class="col-3 offset-1 p-0">
                                            <label class="mandatory  font-weight-500 text-color">Address Proof
                                            </label>
                                        </div>
                                        <div class="col-7">
                                            <select formControlName="addressProofTypeId" class="form-control"
                                                (change)="checkForAadhar(i)"
                                                [class.isError]="addressForm.controls.addressProofTypeId.touched && addressForm.controls.addressProofTypeId.invalid">
                                                <option value="" [disabled]=true [selected]="true"> Select Proof
                                                </option>
                                                <option *ngFor="let proof of addressProofs" [value]="proof.id">
                                                    {{proof.name | titlecase}}
                                                </option>
                                            </select>
                                            <mat-error
                                                *ngIf="addressForm.controls.addressProofTypeId.errors?.required && addressForm.controls.addressProofTypeId.touched">
                                                Required field
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>

                                <div class="kt-margin-t-20">
                                    <div class="row">
                                        <div class="col-3 offset-1 p-0">
                                            <label class="mandatory font-weight-500 text-color">Unique Identity
                                                No.</label>
                                        </div>
                                        <div class="col-7">
                                            <input *ngIf="addressControls.at(i).value.addressProofTypeId == 2"
                                                formControlName="addressProofNumber" type="text" maxlength="12"
                                                placeholder="Unique Identity Number" class="form-control" numbersOnly
                                                [class.isError]="addressForm.controls.addressProofNumber.touched && addressForm.controls.addressProofNumber.invalid">
                                            <input *ngIf="addressControls.at(i).value.addressProofTypeId != 2"
                                                formControlName="addressProofNumber" type="text"
                                                placeholder="Unique Identity Number" class="form-control"
                                                [class.isError]="addressForm.controls.addressProofNumber.touched && addressForm.controls.addressProofNumber.invalid">
                                            <mat-error
                                                *ngIf="addressForm.controls.addressProofNumber.errors?.required && addressForm.controls.addressProofNumber.touched">
                                                Required field
                                            </mat-error>
                                            <mat-error
                                                *ngIf="(addressForm.controls.addressProofNumber.errors?.pattern) && addressForm.controls.addressProofNumber.touched">
                                                Invalid Input
                                            </mat-error>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class=" kt-margin-t-20">
                                        <div class="row">
                                            <div class="col-3 offset-1 p-0">
                                                <label class="mandatory  font-weight-500 text-color">Attach
                                                    Proof</label>
                                            </div>
                                            <div class="col-7 mb-3" *ngIf="i==0">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Select"
                                                        aria-label="Recipient's username"
                                                        aria-describedby="basic-addon2" readonly
                                                        [class.isError]="addressForm.controls.addressProofFileName.invalid && addressForm.controls.addressProofFileName.touched"
                                                        formControlName="addressProofFileName">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg kt-pointer font-weight"
                                                            [class.cursor-not-allowed]="identityForm.controls.moduleId.value == 1 && addressForm.controls.addressProofTypeId.value == 2"
                                                            id="basic-addon2"
                                                            (click)="(identityForm.controls.moduleId.value == 1 && addressForm.controls.addressProofTypeId.value != 2 && permanent.click()) || 
                                                            (identityForm.controls.moduleId.value == 3 && permanent.click())"
                                                            style="border-top-right-radius: 9px !important; border-bottom-right-radius: 9px !important;">Attach</span>
                                                    </div>
                                                </div>
                                                <mat-error
                                                    *ngIf="addressForm.controls.addressProofFileName.errors?.required && addressForm.controls.addressProofFileName.touched">
                                                    Required field
                                                </mat-error>
                                                <label class="mandatory  file d-none">
                                                    <input type="file" accept="image/*,application/pdf" id="file"
                                                        aria-label="File browser example" #permanent
                                                        (input)="getFileInfo($event,i)">
                                                    <span class="file-custom"></span>
                                                </label>
                                            </div>

                                            <div class="col-7 mb-3" *ngIf="i==1">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Select"
                                                        aria-label="Recipient's username"
                                                        aria-describedby="basic-addon2" readonly
                                                        [class.isError]="addressForm.controls.addressProofFileName.invalid && addressForm.controls.addressProofFileName.touched"
                                                        formControlName="addressProofFileName">
                                                    <div class="input-group-append">
                                                        <span
                                                            [class.cursor-not-allowed]="sameAdd || addressForm.controls.addressProofTypeId.value == 2"
                                                            class="input-group-text bg kt-pointer font-weight"
                                                            id="basic-addon2"
                                                            (click)="addressForm.controls.addressProofTypeId.value != 2 && !sameAdd && residential.click()"
                                                            style="border-top-right-radius: 9px !important; border-bottom-right-radius: 9px !important;">Attach</span>
                                                    </div>
                                                </div>
                                                <mat-error
                                                    *ngIf="addressForm.controls.addressProofFileName.errors?.required && addressForm.controls.addressProofFileName.touched">
                                                    Required field
                                                </mat-error>
                                                <label class="mandatory  file d-none">
                                                    <input type="file" accept="image/*,application/pdf" id="file"
                                                        aria-label="File browser example" #residential
                                                        (input)="getFileInfo($event,i)">
                                                    <span class="file-custom"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class=" kt-margin-t-20 kt-margin-b-20">
                                    <div class="row">
                                        <div class="col">
                                            <div class="offset-4 img-container"
                                                *ngIf="(i==1 && images.residential.length== 0)">
                                                <img class="placeholder-image"
                                                    src="../../../../../../assets/media/icons/image-placeholder.png"
                                                    alt="placeholder">
                                            </div>
                                            <div class="offset-4 img-container"
                                                *ngIf="(i==0 && images.permanent.length==0)">
                                                <img class="placeholder-image"
                                                    src="../../../../../../assets/media/icons/image-placeholder.png"
                                                    alt="placeholder">
                                            </div>

                                            <div *ngIf="i==1 && images.residential.length > 0">
                                                <div class="row">
                                                    <div class="col-6" [class.offset-4]="images.residential.length == 1"
                                                        *ngFor="let img of images.residential, index as idx">
                                                        <div class="img-container"
                                                            [class.ml-auto]="images.residential.length == 2 && idx == 0"
                                                            [class.mr-auto]="images.residential.length == 2 && idx == 1">
                                                            <img *ngIf="!isPdf(img)" class="fetched-image" [src]="img"
                                                                alt="" (click)="preview(img, idx)">
                                                            <!-- <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                                                class="kt-pointer edit-icon"
                                                                (click)="editImages(idx, 'residential');"> -->
                                                            <img *ngIf="!sameAdd && addressForm.controls.addressProofTypeId.value != 2"
                                                                src="../../../../../assets/media/icons/cancel.svg"
                                                                alt="" class="kt-pointer remove-icon"
                                                                (click)="removeImages(idx, 'residential');">
                                                            <div class="iframeWrapper" (click)="previewPdf(img)">
                                                                <iframe [src]="img | safe : 'resourceUrl'" height="250"
                                                                    width="290" scrolling="no"
                                                                    *ngIf="isPdf(img)"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="i==0 && images.permanent.length > 0">
                                                <div class="row">
                                                    <div class="col-6" [class.offset-4]="images.permanent.length == 1"
                                                        *ngFor="let img of images.permanent, index as idx">
                                                        <div class="img-container"
                                                            [class.ml-auto]="images.permanent.length == 2 && idx == 0"
                                                            [class.mr-auto]="images.permanent.length == 2 && idx == 1">
                                                            <img *ngIf="!isPdf(img)" class="fetched-image" [src]="img"
                                                                alt="" (click)="preview(img, idx)">
                                                            <!-- <img src="../../../../../assets/media/icons/dit.svg" alt=""
                                                                class="kt-pointer edit-icon"
                                                            (click)="editImages(idx, 'permanent');"> -->
                                                            <img *ngIf="(addressForm.controls.addressProofTypeId.value != 2 && identityForm.controls.moduleId.value == 1) || identityForm.controls.moduleId.value == 3"
                                                                src="../../../../../assets/media/icons/cancel.svg"
                                                                alt="" class="kt-pointer remove-icon"
                                                                (click)="removeImages(idx, 'permanent');">
                                                            <div class="iframeWrapper" (click)="previewPdf(img)">
                                                                <iframe [src]="img | safe : 'resourceUrl'" height="250"
                                                                    width="290" scrolling="no"
                                                                    *ngIf="isPdf(img)"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="offset-4 kt-margin-t-20 kt-margin-b-20">
                            <kt-button style="margin-left: 12px;" [value]="'Next'" [type]="'button'"
                                (action)="submit()">
                            </kt-button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </kt-portlet-body>
</kt-portlet>