.images {
    max-width: 80px;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 20px;
    border-radius: 20px;
}
// .selectedOption {
//     border: 2px solid #D4AF37;
// }
// .dotted-border {
//     border: 1px dashed rgb(217, 154 , 41);
//     width: 25%;
//     margin-top: 10px;
//     padding: 10px;
  
    
    
// }
button {
    font-weight: bolder;
    color: white !important;
    background-color: #454d67 !important;
    // border: 1px solid  rgb(217, 154 , 41);
    padding: 7px;
    border-radius: 9px;
    margin-top: 30px;
    
}

// .button-color {
//     background: rgb(217, 154 , 41);
//     color: white;
// }

// .coupon-code {
//     color: rgb(1, 52 , 67);
// }
.form-control {
    padding: inherit;
    text-align: start;
}
.sip-background-white {
    background-color: white;
}