<!-- <kt-action-natification></kt-action-natification> -->

<kt-toastr #toastr></kt-toastr>

<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body">
        <div class="kt-form">
            <form [formGroup]="roleForm">


                <div class="kt-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <!-- <kt-alert type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                                            Oh snap! Change a few things up and try submitting again.
                                        </kt-alert> -->



                <div class="form-group kt-form__group row">
                    <div class="col-lg-12 kt-margin-bottom-20-mobile">
                        <!-- Partner Name -->
                        <div class="row">
                            <div class="col-4 form-label">
                                <label for="" class="text-color kt-padding-l-10 mandatory">Role Name</label>
                            </div>
                            <div class="col-8">
                                <input class="form-control" formControlName="roleName" autocomplete="off"
                                    placeholder="Enter Partner roleName"
                                    [class.isError]="controls.roleName.touched && controls.roleName.invalid">
                                <mat-error *ngIf="controls.roleName.touched && controls.roleName.errors?.required">
                                    Required
                                    field</mat-error>
                            </div>
                        </div>

                        <div class="row kt-padding-t-15" *ngIf="data.action != 'Update'">
                            <div class="col-4 form-label">
                                <label for="" class="text-color kt-padding-l-10 ">Clone Role</label>
                            </div>
                            <div class="col-8">
                                <select class="form-control" formControlName="roleId" (change)="getModules()">
                                    <option [selected]="true" value="">Select Role</option>
                                    <option *ngFor="let clone of cloneRoles" [value]="clone.id">{{clone.roleName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label for="" class="text-color kt-padding-l-10">Role Description</label>
                            </div>
                            <div class="col-8">
                                <textarea cols="10" rows="5" class="form-control" formControlName="description"
                                    placeholder="Role Description"></textarea>

                            </div>
                        </div>
                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label for="" class="text-color kt-padding-l-10 mandatory">Modules</label>
                            </div>
                            <div class="col-8">
                                <mat-error *ngIf="controls.moduleId.touched && controls.moduleId.errors?.required">
                                    Required
                                    field</mat-error>
                                <div class="row " *ngFor="let module of modules;index as i">
                                    <div class="col-10 kt-margin-l-10">
                                        <label class="custom-checkbox poi">
                                            <span class="label-checkbox">{{module.moduleName | titlecase}}</span>
                                            <input type="checkbox" (change)="onModuleSelect($event.target.checked,i)"
                                                name="module" [value]="module.id" [checked]="module.isSelected"
                                                [disabled]="isDisabled">
                                            <span class="checkmark" style="top:0;"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="data.action"></kt-modal-footer>
        </div>
    </kt-portlet-footer>
</div>