<form [formGroup]="bankForm" *ngIf="bankForm">
    <div class="row kt-margin-l-25 kt-margin-r-30">
        <div class="col-12 justify-content-center">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 form-label">
                            <label class="mandatory kt-padding-l-10">Payment Mode</label>
                        </div>
                        <div class="col-6">
                            <select formControlName="paymentType" class="form-control"
                                [class.isError]="controls.paymentType.touched && controls.paymentType.invalid"
                                (change)="setValidation($event)">
                                <option value="">Select Payment Type</option>
                                <option value="bank">BANK TRANSFER</option>
                                <option value="cash">CASH</option>
                            </select>
                            <div *ngIf="controls.paymentType.touched && controls.paymentType.invalid">
                                <mat-error *ngIf="controls.paymentType.errors?.required">
                                    Field is Required
                                </mat-error>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <span *ngIf="controls.paymentType.value != 'cash'">
                <div class="row kt-margin-t-15">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4 form-label">
                                <label class="text-color mandatory kt-padding-l-10">IFSC</label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control text-uppercase" placeholder="IFSC0000XXX"
                                    formControlName="ifscCode" maxlength="11"
                                    [class.isError]="controls.ifscCode.touched && controls.ifscCode.invalid">
                                <mat-error *ngIf="controls.ifscCode.errors?.required && controls.ifscCode.touched">
                                    Required field
                                </mat-error>
                                <mat-error *ngIf="controls.ifscCode.errors?.pattern && controls.ifscCode.touched">
                                    Invalid Input
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4 form-label">
                                <label class="text-color  mandatory kt-padding-l-10">Bank Name</label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="State Bank"
                                    formControlName="bankName"
                                    [class.isError]="controls.bankName.touched && controls.bankName.invalid">
                                <mat-error *ngIf="controls.bankName.errors?.required && controls.bankName.touched">
                                    Required field
                                </mat-error>
                                <mat-error *ngIf="controls.bankName.errors?.pattern && controls.bankName.touched">
                                    Invalid Input
                                </mat-error>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row kt-margin-t-15">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4 form-label">
                                <label class="text-color mandatory kt-padding-l-10">Bank Branch Name</label> </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Andheri"
                                    formControlName="bankBranchName"
                                    [class.isError]="controls.bankBranchName.touched && controls.bankBranchName.invalid">
                                <mat-error
                                    *ngIf="controls.bankBranchName.errors?.required && controls.bankBranchName.touched">
                                    Required field
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4 form-label">
                                <label class="text-color mandatory kt-padding-l-10">A/C holder</label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="John Doe"
                                    formControlName="accountHolderName"
                                    [class.isError]="controls.accountHolderName.touched && controls.accountHolderName.invalid">
                                <mat-error
                                    *ngIf="controls.accountHolderName.errors?.required && controls.accountHolderName.touched">
                                    Required field
                                </mat-error>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row kt-margin-t-20">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4 form-label">
                                <label class="text-color mandatory kt-padding-l-10">Account No.</label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="10234501203203"
                                    formControlName="accountNumber" numbersOnly maxlength="18"
                                    [class.isError]="controls.accountNumber.touched && controls.accountNumber.invalid">
                                <mat-error
                                    *ngIf="controls.accountNumber.errors?.required && controls.accountNumber.touched">
                                    Required field
                                </mat-error>
                                <mat-error
                                    *ngIf="controls.accountNumber.errors?.minlength && controls.accountNumber.touched">
                                    'Minimum 9 or maximum 18 digits required"
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Upload Passbook / Bank Statement / Cancel
                                    Cheque</label>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Select File"
                                        aria-label="Recipient's username" aria-describedby="basic-addon2" readonly
                                        formControlName="passbookProofImageName"
                                        [class.isError]="controls.passbookProof.touched && controls.passbookProof.invalid" />
                                    <div class="input-group-append">
                                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                                            (click)="passbook.click()">Attach</span>
                                    </div>
                                    <input type="file" class="d-none" accept="image/png, image/jpeg" #passbook
                                        (input)="getFileInfo($event)">
                                </div>
                            </div>
                        </div>
                        <div class="row kt-margin-b-20">
                            <div class="col kt-padding-l-20 offset-4">
                                <div class="row">
                                    <div *ngIf="!controls.passbookProofImage.value.length" class="img-container"
                                        style="width: 250px;">
                                        <img *ngIf="!controls.passbookProofImage.value.length"
                                            src="../../../../../../../assets/media/icons/image-placeholder.png"
                                            class="placeholder-image">
                                    </div>
        
                                    <div *ngIf="controls.passbookProofImage.value.length" class="">
                                        <div class="d-inline-block img-container kt-margin-r-15"
                                            *ngFor="let proof of controls.passbookProofImage.value; index as idx;">
                                            <img class="fetched-image" [src]="proof">
                                            <img src="../../../../../assets/media/icons/cancel.svg" alt=""
                                                class="kt-pointer remove-icon" (click)="removeImages(idx);">
                                        </div>
                                    </div>
                                </div>
                                <div class=" kt-margin-t-20 text-color font-11">
                                    (Please verify the detail before moving forward)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </span>


        </div>
        <div class="text-right py-3 col-12" *ngIf="!disable">
            <kt-button [value]="'Next'" [type]="'button'" (click)="nextAction()"></kt-button>
        </div>
    </div>
</form>
   