<kt-filtered-data [filteredList]="filteredDataList"></kt-filtered-data>

<kt-portlet>

    <kt-portlet-body>

        <div class="mat-table__wrapper" [class.filter]="(filteredDataList | json) !== '{}'"
            [ngStyle]="{'overflow-x':'auto'}">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.firstName | titlecase}}&nbsp;{{lead.lastName | titlecase}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="pan">
                    <mat-header-cell *matHeaderCellDef>PAN</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.panCardNumber ? lead.panCardNumber : 'NA' | uppercase }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="internalBranch">
                    <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.internalBranch.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="module">
                    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.module?.moduleName | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.state.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.city.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="pincode">
                    <mat-header-cell *matHeaderCellDef>Pin Code</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.pinCode }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date & Time</mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <div class="d-block">
                            <div class="d-block">{{lead.updatedAt | date:'mediumDate'}}</div>
                            <div class="d-block">{{lead.updatedAt | date:'shortTime'}}</div>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef >Time</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.updatedAt | date:'shortTime'}}</mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <span class="text-success" *ngIf="lead.status.id == '1'">
                            {{lead.status.statusName | titlecase}} </span>
                        <span class="text-danger" *ngIf="lead.status.id == '2'">
                            {{lead.status.statusName | titlecase}}
                        </span>
                        <span class="text-warning" *ngIf="lead.status.id == '5'">
                            {{lead.status.statusName | titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kycStatus">
                    <mat-header-cell *matHeaderCellDef>KYC Status</mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <ng-container *ngIf="lead.moduleId == 1">
                            <span class="text-success" *ngIf="lead.kycStatus == 'approved'">
                                {{lead.kycStatus | titlecase}} </span>
                            <span class="text-warning" *ngIf="lead.kycStatus == 'pending'">
                                {{lead.kycStatus | titlecase}}
                            </span>
                            <span class="text-danger" *ngIf="lead.kycStatus == 'rejected'">
                                {{lead.kycStatus | titlecase}}
                            </span>
                        </ng-container>

                        <ng-container *ngIf="lead.moduleId == 3">
                            <span class="text-success" *ngIf="lead.scrapKycStatus == 'approved'">
                                {{lead.scrapKycStatus | titlecase}} </span>
                            <span class="text-warning" *ngIf="lead.scrapKycStatus == 'pending'">
                                {{lead.scrapKycStatus | titlecase}}
                            </span>
                            <span class="text-danger" *ngIf="lead.scrapKycStatus == 'rejected'">
                                {{lead.scrapKycStatus | titlecase}}
                            </span>
                        </ng-container>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kyc">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <ng-container *ngIf="lead.module?.id == 1">
                            <ng-container *ngIf="lead.status.id == '1' &&  lead.customerKyc !== null">
                                <div [ngStyle]="{'display': 'inherit'}" *ngIf="!lead.customerKyc.isKycSubmitted">
                                    <button (click)="goToKyc(lead)" class="apply-kyc"
                                        *ngxPermissionsOnly="['customerKycAdd']">Apply KYC</button>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="lead.status.id == '1' &&  lead.customerKyc == null">
                                <div [ngStyle]="{'display': 'inherit'}">
                                    <button (click)="goToKyc(lead)" class="apply-kyc"
                                        *ngxPermissionsOnly="['customerKycAdd']">Apply KYC</button>
                                </div>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="lead.module?.id == 3">
                            <ng-container *ngIf="lead.status.id == '1' &&  lead.customerKyc !== null">
                                <div [ngStyle]="{'display': 'inherit'}" *ngIf="!lead.customerKyc.isScrapKycSubmitted">
                                    <button (click)="goToKyc(lead)" class="apply-kyc"
                                        *ngxPermissionsOnly="['customerKycAdd']">Apply KYC</button>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="lead.status.id == '1' &&  lead.customerKyc == null">
                                <div [ngStyle]="{'display': 'inherit'}">
                                    <button (click)="goToKyc(lead)" class="apply-kyc"
                                        *ngxPermissionsOnly="['customerKycAdd']">Apply KYC</button>
                                </div>
                            </ng-container>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <div *ngIf="lead.status.id !== 1" [ngStyle]="{'display': 'inherit'}">
                            <div class="kt-pointer" (click)="editLead(lead)" class="kt-pointer"
                                *ngxPermissionsOnly="['leadManagmentEdit']">Edit</div>
                        </div>
                        <div *ngIf="lead.status.id == 1" [ngStyle]="{'display': 'inherit'}">
                            <div>-</div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="view">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <div *ngxPermissionsOnly="['leadManagmentView']" class="kt-pointer view-link"
                            (click)="viewLead(lead)">
                            View</div>
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="appraiser">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <ng-container *ngIf="lead.status.id == '1'">
                            <div [ngStyle]="{'display': 'inherit'}" *ngxPermissionsOnly="['assignAppraiserEdit']">
                                <button (click)="assign(lead)" *ngIf="!lead?.customerAssignAppraiser"
                                    class="apply-kyc appraiser-btn">Assign Appraiser</button>
                                <button (click)="updateAppraiser(lead)" *ngIf="lead?.customerAssignAppraiser"
                                    class="apply-kyc appraiser-btn">Update Appraiser</button>
                            </div>
                        </ng-container>

                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="menu">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <div *ngxPermissionsOnly="['addNewRequest']">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button *ngxPermissionsOnly="['addNewRequest']" mat-menu-item
                                    (click)="newRequest(loan)">New Request</button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>

            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>