<kt-filtered-data [filteredList]="filteredDataList"></kt-filtered-data>

<kt-portlet>

    <kt-portlet-body>

        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.firstName | titlecase}}&nbsp;{{lead.lastName | titlecase}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="pan">
                    <mat-header-cell *matHeaderCellDef>PAN</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.panCardNumber | uppercase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="internalBranch">
                    <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.internalBranch.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.state.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.city.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="pincode">
                    <mat-header-cell *matHeaderCellDef>Pin Code</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.pinCode }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date & Time</mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <div class="d-block">
                            <div class="d-block">{{lead.updatedAt | date:'mediumDate'}}</div>
                            <div class="d-block">{{lead.updatedAt | date:'shortTime'}}</div>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef >Time</mat-header-cell>
                    <mat-cell *matCellDef="let lead">{{lead.updatedAt | date:'shortTime'}}</mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <span class="text-success" *ngIf="lead.status.id == '1'">
                            {{lead.status.statusName | titlecase}} </span>
                        <span class="text-warning" *ngIf="lead.status.id == '2'">
                            {{lead.status.statusName | titlecase}}
                        </span>
                        <span class="text-danger" *ngIf="lead.status.id == '5'">
                            {{lead.status.statusName | titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kyc">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <ng-container *ngIf="lead.status.id == '1' &&  lead.customerKyc !== null">
                            <div [ngStyle]="{'display': 'inherit'}" *ngIf="!lead.customerKyc.isKycSubmitted">
                                <button (click)="goToKyc(lead)" class="apply-kyc"
                                    *ngxPermissionsOnly="['customerKycAdd']">Apply KYC</button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="lead.status.id == '1' &&  lead.customerKyc == null">
                            <div [ngStyle]="{'display': 'inherit'}">
                                <button (click)="goToKyc(lead)" class="apply-kyc"
                                    *ngxPermissionsOnly="['customerKycAdd']">Apply KYC</button>
                            </div>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <div *ngIf="lead.status.id !== 1" [ngStyle]="{'display': 'inherit'}">
                            <div class="kt-pointer" (click)="editLead(lead)" class="kt-pointer"
                                *ngxPermissionsOnly="['leadManagmentEdit']">Edit</div>
                        </div>
                        <div *ngIf="lead.status.id == 1" [ngStyle]="{'display': 'inherit'}">
                            <div>-</div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="view">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let lead">
                        <div *ngxPermissionsOnly="['leadManagmentView']" class="kt-pointer" (click)="viewLead(lead)">
                            View</div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>

            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>