<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={{bootstrapCss}}>
    <link rel="stylesheet" href={{secureHtml}}>

    <style>
        /* html {
            zoom: 0.75;
        } */

        body {
            font-size: 13px !important;

        }

        td {
            vertical-align: top;
        }
    </style>
</head>

<body>
    <script src={{jqueryJs}}></script>
    <script src={{popperJs}}></script>
    <script src={{bootstrapJs}}></script>

    <div class="container py-3 pr-5 pl-5 justify-content-center">

        <div class="row pr-5" style="font-weight: 500">
            <div class="text-center col-10 ">
                <p style="font-size: 16px;"><b>Powered By</b><br>
                <div class="p-0 mb-0" style="display: block;margin-left: auto;margin-right: auto;width:22%;">
                    <img src={{imagePath}} alt="augomentLogo" style="height:120px;width:120px;">
                </div>
                <span class="text-center " style="font-size: 24px;"><b>AUGMONT GOLDTECH PRIVATE
                        LIMITED</b></span>
                </p>
            </div>
        </div>

        <!-- 
            <div class="col-5 float-left pl-0 pr-3">
                <table class="align-top  table-bordered"
                    style="width:100%;margin:0;font-size: small;font-weight: 500;table-layout: fixed; border: 1px solid black;border-collapse: collapse;">
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Customer ID</b></td>
                        <td style="padding-left: 5px;">{{this.customerId}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Loan Number</b></td>
                        <td style="padding-left: 5px;">{{this.loanNumber}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Scheme Name</b></td>
                        <td style=" word-break: break-all;padding-left: 5px;">{{this.loanScheme}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Loan Amount</b></td>
                        <td style="padding-left: 5px;">{{this.loanAmount}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Loan Tenure</b></td>
                        <td style="padding-left: 5px;">{{this.loanTenure}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Penal Charges</b></td>
                        <td style="padding-left: 5px;">{{this.penalCharges}}%</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Due Date</b></td>
                        <td style="padding-left: 5px;">{{this.end_Date}}</td>
                    </tr>
                </table>
            </div>

        </div> 
        <div class="row py-3 pr-5 ">

            <div class="col-5 float-left pl-3 pr-0">
                <table class="align-top  table-bordered"
                    style="width:100%;margin:0;font-size: small;font-weight: 500;table-layout: fixed; border: 1px solid black;border-collapse: collapse;">
                    <tr>
                        <td class="align-top" style="width:40%;padding-left: 5px;"><b>Customer Name</b></td>
                        <td style=" word-break: break-all; width:60%;padding-left: 5px;">{{this.Name}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>DOB</b> </td>
                        <td style="padding-left: 5px;">{{this.dob}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Branch </b></td>
                        <td style="padding-left: 5px;">{{this.branch}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Contact Number</b> </td>
                        <td style="padding-left: 5px;">{{this.contactNumber}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Address</b> </td>
                        <td style=" word-break: break-all;padding-left: 5px;">{{this.customerAddress}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="width:25%;padding-left: 5px;"><b>Rate of Interest </b></td>
                        <td style="width:25%;padding-left: 5px;">{{this.interestRate}}%</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Processing Fees</b> </td>
                        <td style="padding-left: 5px;">{{this.processingFee}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Loan Date</b> </td>
                        <td style="padding-left: 5px;">{{this.startDate}}</td>
                    </tr>


                </table>
            </div> -->
        {{#each customerLoanDetail}}
        <div class="row pr-5 py-3">
            <div class="col-10 float-left justify-content-center"
                style="font-size: small;font-weight: 400;padding-left: 15%;">
                <table class="align-top " style="width:100%;margin:0;font-weight: 500;table-layout: fixed;">
                    <tr>
                        <th>Customer Service</th>
                        <th>Call Us</th>
                        <th>Email Us</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>022-61420000</td>
                        <td>help@augmont.com</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row py-3 pr-5 ">
            <div class="col-10 float-left">

                <table class="align-top" style="width:100%;margin:0;font-weight: 500;table-layout: fixed;">
                    <tr>
                        <th>Lender Name</th>
                        <th>Customer Name</th>
                        <th>Customer ID</th>
                        <th>Date of Birth</th>
                        <th>Contact Number</th>

                    </tr>
                    <tr>
                        <td>{{this.partnerName}}</td>
                        <td>{{this.Name}}</td>
                        <td>{{this.customerId}}</td>
                        <td>{{this.dob}}</td>
                        <td>{{this.contactNumber}}</td>

                    </tr>
                </table>
            </div>
        </div>

        <div class="row pr-5 ">
            <div class="col-10 float-left">

                <table class="align-top " style="width:100%;margin:0;font-weight: 500;table-layout: fixed;">
                    <tr>
                        <th>Customer Address</th>
                        <th>Loan Number</th>
                        <th>Scheme Name</th>
                        <th>Loan Amount (₹)</th>
                        <!-- <th>Branch</th> -->
                        <th></th>
                    </tr>
                    <tr>
                        <td style="padding-right:10px ; word-break: break-all;">{{this.customerAddress}}</td>
                        <!-- <td>{{this.branch}}</td> -->
                        <td>{{this.loanNumber}}</td>
                        <td>{{this.loanScheme}}</td>
                        <td>{{this.loanAmount}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row  py-3 pr-5 ">
            <div class="col-10 float-left ">

                <table class="align-top " style="width:100%;margin:0;font-weight: 500;table-layout: fixed;">
                    <tr>
                        <th>Loan Tenure</th>
                        <th>Rate of Interest </th>
                        <th>Penal Charges</th>
                        <th>Processing Fees (₹)</th>
                        <th>Loan Date</th>
                    </tr>
                    <tr>
                        <td>{{this.loanTenure}} Months</td>
                        <td>{{this.interestRate}}%</td>
                        <td>{{this.penalCharges}}%</td>
                        <td>{{this.processingFee}}</td>
                        <td>{{this.startDate}}</td>

                    </tr>
                </table>
            </div>
        </div>

        <div class="row pr-5 py-3">
            <div class="col-10 ">

                <table class="align-top text-center" style="width:100%;margin:0;font-weight: 500;table-layout: fixed;">
                    <tr>
                        <p class="text-center mb-0" style="font-size: 16px;"><b>Ornament Details</b></p>
                    </tr>
                    <tr>
                        <!-- <th style="width:20%; height: 40px; ">Sr.No.</th> -->
                        <th class="float-left">Ornament Type</th>
                        <th>Quantity</th>
                        <th>Gross weight</th>
                        <th>Deduction</th>
                        <th>Net weight</th>
                    </tr>
                    {{#each  ornaments}}
                    <tr>
                        <!-- <td></td> -->
                        <td class="float-left" style=" word-break: break-all;">{{this.ornamentType}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.grossWeight}} gm</td>
                        <td>{{this.deduction}} gm</td>
                        <td>{{this.netWeight}} gm</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        <div class="row  py-4 pr-5 ">
            <div class="col-10 float-left">
                <table class="align-top "
                    style="width:100%;margin:0;font-size: small;font-weight: 500;table-layout: fixed;page-break-after:always;">
                    <p class="text-center mb-3" style="font-size: 14px;"><b>Bank Details</b></p>
                    <tr>
                        <p class="text-center"><b>You can pay for your loan using RTGS/NEFT/IMPS</b></p>
                    </tr>
                    <tr>
                        <th class="align-top text-center" style="width: 5%;">Account number</th>
                        <th class="align-top text-center" style="width: 5%;">Beneficiary Name </th>
                        <th class="align-top text-center" style="width: 5%;">IFSC code </th>

                    </tr>
                    <tr>
                        <td class="align-top text-center">920020032503725</td>
                        <td class="align-top text-center">Augmont Goldtech Private Limited</td>
                        <td class="align-top text-center">UTIB0001705</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row pt-3 pr-5 ">
            <div class="col-10" style="font-size: small;font-weight: 400;">
                <p class="mb-4 text-center"><b>Loan Repayment</b>
                </p>
            </div>
        </div>
        <div class="row pr-5">
            <div class="col-10 pl-5 pr-5" style="font-size: small;font-weight: 400;">
                <ul style="list-style-type:disc;">
                    <li>Loan is repayable on demand.</li>
                    <li>Bullet repayment at the end of of the tenure of the loan.</li>
                    <li>Interest is payable from the date of loan till full and final repayment outstanding loan
                        amount and all other amounts pertaining thereto.</li>
                    <li>Normal Release (Guaranteed 24-hour door step release)</li>
                    <li>Please retain this document for release of ornaments
                    </li>
                </ul>
            </div>
        </div>

        <div class="row pr-5 pt-3">
            <div class="col-10" style="font-size: small;font-weight: 400;">
                <p class="mb-4 text-center"><b> Penal Interest </b>
                </p>
            </div>
        </div>
        <div class="row pr-5">
            <div class="col-10 pl-5 pr-5" style="font-size: small;font-weight: 400;">
                <ul style="list-style-type:disc;">
                    <li>The penal interest shall be payable if this loan is not repaid either on demand or at the
                        end
                        of the tenor of the loan.
                    </li>
                    <li>The default penal interest shall be applied from the date of default of the loan and till such
                        time
                        the deafult penal continues to exist.
                    </li>
                    <li>The default penal interest shall be paid for the period for which outstanding loan amount
                        (including
                        principal, interest, other charges, if any) is payable and due.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-3 pr-5 mb-5 ">
            <div class="col-10 " style="font-size: small;font-weight: 400;">
                <p class="mb-2 text-center"><b>Declaration by Company</b></p>
                <p>The company has sanctioned to you the loan with details as specified above as per your loan
                    application
                    dated <b>{{this.startDate}}</b> and based on the representations made and the information furnished
                    by you.
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-5 float-left">Date :</div>
            <div class="col-5 float-right">Signature of authorized signatory of company </div>
        </div>

        <div class="row py-2 pr-5 ">
            <div class="col-10 " style="font-size: small;font-weight: 400;">
                <p class="mb-2 text-center"><b>Acknowledgment by the Customer/Borrower</b></p>
                <p>
                    I, Mr./Ms.<b>{{this.Name}}</b>, have fully read and understood the interest rate and other
                    terms and conditions as specified in attached T&Cs along with the agreement. I, hereby acknowledge
                    the receipt of loan amount and the above specified documents. I, hereby authorize the company to use
                    my Aadhaar number <b>{{this.aadhaarNumber}}</b> for the purpose of KYC compliances. I understand
                    that Augmont Goldtech
                    Pvt. Ltd. is a technology service provider and is a facilitator in the application/processing/
                    disbursal and closure of loans.
                </p>
            </div>
        </div>
        <div class="row pr-5 mb-2">
            <div class="col-10 float-left">Date :</div>
        </div>
        <div class="row  pr-5 ">
            <div class=" col-10 float-left">Place :</div>
        </div>
        <div class="row pr-5">
            <div class="col-7"></div>
            <div class=" col-3 float-right">
                <b>Signature of Borrower</b>
            </div>
        </div>
        <div class="row py-2 pr-5 mb-2 " style="page-break-after:always">
            <div class=" col-10"> Repay Your loans at <b>www.Augmont.com</b></div>
        </div>
        {{/each}}
    </div>


    <div class="container pb-5 pt-0 pr-5 pl-5">


        <div class="row pr-5 pt-0" style="font-weight: 500">
            <div class="text-center col-10">
                <p style="font-size: 16px;"><b>Powered By</b><br>
                    <!-- <div class="mb-0 p-0" style="display: block;margin: auto;width:50%;">
                    <img src={{imgPath}} alt="finkurveLogo" style="height:25%;width:50%;">
                </div> -->
                    <span class="text-center" style="font-size: 24px;"><b>FINKURVE FINANCIAL SERVICES LIMITED
                        </b></span>
                </p>
                <p class="mb-2 pt-3">Unsecured Loan</p>
            </div>
        </div>



        <!-- <div class="row py-3 pr-5 ">

            <div class="col-5 float-left pl-3 pr-0">
                <table class="align-top  table-bordered"
                    style="width:100%;margin:0;font-size: small;font-weight: 500;table-layout: fixed; border: 1px solid black;border-collapse: collapse;">
                    <tr>
                        <td class="align-top" style="width:40%;padding-left: 5px;"><b>Customer Name</b></td>
                        <td style=" word-break: break-all; width:60%;padding-left: 5px;">{{this.Name}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>DOB</b> </td>
                        <td style="padding-left: 5px;">{{this.dob}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Branch </b></td>
                        <td style="padding-left: 5px;">{{this.branch}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Contact Number</b> </td>
                        <td style="padding-left: 5px;">{{this.contactNumber}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Address</b> </td>
                        <td style=" word-break: break-all;padding-left: 5px;">{{this.customerAddress}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="width:25%;padding-left: 5px;"><b>Rate of Interest </b></td>
                        <td style="width:25%;padding-left: 5px;">{{this.interestRate}}%</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Processing Fees</b> </td>
                        <td style="padding-left: 5px;">{{this.processingFee}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Loan Date</b> </td>
                        <td style="padding-left: 5px;">{{this.start_Date}}</td>
                    </tr>


                </table>
            </div>

            <div class="col-5 float-left pl-0 pr-3">
                <table class="align-top  table-bordered"
                    style="width:100%;margin:0;font-size: small;font-weight: 500;table-layout: fixed; border: 1px solid black;border-collapse: collapse;">
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Customer ID</b></td>
                        <td style="padding-left: 5px;">{{this.customerId}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Loan Number</b></td>
                        <td style="padding-left: 5px;">{{this.loanNumber}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Scheme Name</b></td>
                        <td style=" word-break: break-all;padding-left: 5px;">{{this.loanScheme}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Loan Amount</b></td>
                        <td style="padding-left: 5px;">{{this.loanAmount}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Loan Tenure</b></td>
                        <td style="padding-left: 5px;">{{this.loanTenure}}</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Penal Charges</b></td>
                        <td style="padding-left: 5px;">{{this.penalCharges}}%</td>
                    </tr>
                    <tr>
                        <td class="align-top" style="padding-left: 5px;"><b>Due Date</b></td>
                        <td style="padding-left: 5px;">{{this.end_Date}}</td>
                    </tr>
                </table>
            </div> 

        </div>-->
        {{#each customerUnsecureLoanDetail}}

        <div class="row py-3 pr-5 ">
            <div class="col-10 float-left">

                <table class="align-top" style="width:100%;margin:0;font-weight: 500;table-layout: fixed;">
                    <tr>
                        <th>Customer Name</th>
                        <th>Customer ID</th>
                        <th>DOB</th>
                        <th>Contact Number</th>
                        <!-- <th>Branch</th> -->
                    </tr>
                    <tr>
                        <td>{{this.Name}}</td>
                        <td>{{this.customerId}}</td>
                        <td>{{this.dob}}</td>
                        <!-- <td>{{this.branch}}</td> -->
                        <td>{{this.contactNumber}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row pr-5 ">
            <div class="col-10 float-left">

                <table class="align-top " style="width:100%;margin:0;font-weight: 500;table-layout: fixed;">
                    <tr>
                        <th>Customer Address</th>
                        <th>Loan Number</th>
                        <th>Scheme Name</th>
                        <th>Loan Amount (₹)</th>
                    </tr>
                    <tr>
                        <td style="padding-right: 10px; word-break: break-all;">{{this.customerAddress}}</td>
                        <td>{{this.loanNumber}}</td>
                        <td>{{this.loanScheme}}</td>
                        <td>{{this.loanAmount}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row  py-3 pr-5 ">
            <div class="col-10 float-left">

                <table class="align-top " style="width:100%;margin:0;font-weight: 500;table-layout: fixed;">
                    <tr>
                        <th>Loan Tenure</th>
                        <th>Rate of Interest </th>
                        <th>Penal Charges</th>
                        <th>Processing Fees(₹)</th>
                        <th>Loan Date</th>
                        <!-- <th></th> -->
                    </tr>
                    <tr>
                        <td>{{this.loanTenure}} Months</td>
                        <td>{{this.penalCharges}}%</td>
                        <td>{{this.interestRate}}%</td>
                        <td>{{this.processingFee}}</td>
                        <!-- <td></td> -->
                        <td>{{this.startDate}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row  py-3 pr-5">
            <div class="col-10 float-left">
                <table class="align-top "
                    style="width:100%;margin:0;font-size: small;font-weight: 500;table-layout: fixed;">
                    <p class="text-center mb-2" style="font-size: 14px;"><b>Bank Details</b></p>
                    <tr>
                        <p class="text-center"><b>You can pay for your loan using RTGS/NEFT/IMPS</b></p>
                    </tr>
                    <tr>
                        <th class="align-top text-center" style="width: 5%;">Account number</th>
                        <th class="align-top text-center" style="width: 5%;">Beneficiary Name </th>
                        <th class="align-top text-center" style="width: 5%;">IFSC code </th>

                    </tr>
                    <tr>
                    <tr>
                        <td class="align-top text-center">920020032503725</td>
                        <td class="align-top text-center">Augmont Goldtech Private Limited</td>
                        <td class="align-top text-center">UTIB0001705</td>
                    </tr>
                    </tr>
                </table>
            </div>

        </div>

        <div class="row pt-3 pr-5 ">
            <div class="col-10" style="font-size: small;font-weight: 400;">
                <p class="mb-4 text-center"><b>Loan Repayment</b>
                </p>
            </div>
        </div>
        <div class="row pr-5">
            <div class="col-10 pl-5 pr-5" style="font-size: small;font-weight: 400;">
                <ul style="list-style-type:disc;">
                    <li>Loan is repayable on demand.</li>
                    <li>Bullet repayment at the end of of the tenure of the loan.</li>
                    <li>Interest is payable from the date of loan till full and final repayment of outstanding loan
                        amount and all other amounts pertaining thereto.</li>
                </ul>
            </div>
        </div>
        <div class="row pr-5 pt-3">
            <div class="col-10" style="font-size: small;font-weight: 400;">
                <p class="mb-4 text-center"><b> Default Interest </b>
                </p>
            </div>
        </div>
        <div class="row pr-5">
            <div class="col-10 pl-5 pr-5" style="font-size: small;font-weight: 400;">
                <ul style="list-style-type:disc;">
                    <li>The penal interest shall be payable if this loan is not repaid either on demand or at the
                        end
                        of the tenor of the loan.
                    </li>
                    <li>The default penal shall be applied from the date of default of the loan and till such
                        time
                        the default penal continues to exist.
                    </li>
                    <li>The default penal shall be paid for the period for which outstanding loan amount
                        (including
                        principal, interest, other charges, if any) is payable and due.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row  mb-5 pt-3 pr-5">
            <div class="col-10 " style="font-size: small;font-weight: 400;">
                <p class="mb-2 text-center"><b>Declaration by Company</b></p>
                <p>The company has sanctioned to you the loan with details as specified above as per your loan
                    application
                    dated <b>{{this.startDate}}</b> and based on the representations made and the information furnished
                    by you.
                </p>
            </div>
        </div>
        <div class="row mb-5 " style="page-break-after:always;">
            <div class="col-5 float-left">Date :</div>
            <div class="col-5 float-right">Signature of authorized signatory of company </div>
        </div>


        <div class="row py-2 pr-5">
            <div class="col-10 " style="font-size: small;font-weight: 400;">
                <p class="mb-3 text-center"><b>Acknowledgment by the Customer/Borrower</b></p>
                <p>
                    I, Mr./Ms.<b>{{this.Name}}</b>, have fully read and understood the interest rate and other
                    terms and conditions as specified in attached T&Cs along with the agreement. I, hereby
                    acknowledge
                    the receipt of loan amount and the above specified documents. I, hereby authorize the company to
                    use
                    my Aadhaar number <b>{{this.aadhaarNumber}}</b> for the purpose of KYC compliances. I understand
                    that Augmont
                    Goldtech
                    Pvt. Ltd. is a technology service provider and is a facilitator in the application/processing/
                    disbursal and closure of loans.
                </p>
            </div>
        </div>
        <div class="row  pr-5 mb-2">
            <div class="col-10 float-left">Date :</div>
        </div>
        <div class="row  pr-5 ">
            <div class=" col-10 float-left">Place :</div>
        </div>
        <div class="row pb-2 pr-5">
            <div class="col-7"></div>
            <div class=" col-3 float-right">
                <b>Signature of Borrower</b>
            </div>
        </div>
        <div class="row py-2 pr-5 mb-2">
            <div class=" col-10"> Repay Your loans at <b>www.Augmont.com</b></div>
        </div>
        {{/each}}

    </div>
</body>

</html>