<kt-portlet>
    <kt-modal-header [title]='"Interest EMI"' [noTitleCase]="true" (action)="action($event)"></kt-modal-header>
    <kt-portlet-body>
        <!-- <h5 class="kt-padding-t-25 kt-padding-l-20">Interest EMI</h5> -->
        <div class="table-div kt-padding-t-10 kt-padding-b-20">
            <table class="table outer-border">
                <thead>
                    <th class="transparent">EMI Due Date</th>
                    <th class="transparent table-amount">Interest Amount</th>
                    <th class="transparent table-amount">Interest Paid Amount</th>
                    <th class="transparent table-amount">Penal Amount</th>
                    <th class="transparent table-amount">Penal Paid Amount</th>
                    <th class="transparent">Payment Date</th>
                    <th class="transparent table-amount">Pending Interest EMI</th>
                    <th class="transparent">Status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let emi of emiDetails">
                        <td>{{emi?.emiDueDate | date :'mediumDate'}}</td>
                        <td class="table-amount">{{emi?.interestAmount}}</td>
                        <td class="table-amount">{{emi?.paidAmount}}</td>
                        <td class="table-amount">{{emi?.penalInterest}}</td>
                        <td class="table-amount">{{emi?.penalPaid}}</td>
                        <td class="">
                            <span *ngIf="emi.emiReceivedDate;else noData">
                                {{emi?.emiReceivedDate | date :'mediumDate'}}
                            </span>
                            <ng-template #noData>
                                -
                            </ng-template>
                        </td>
                        <td class="table-amount">{{emi?.balanceAmount}}</td>
                        <td>{{emi?.emiStatus | titlecase}}</td>
                    </tr>
                    <tr *ngIf="emiDetails && !emiDetails.length">
                        <td align="center" colspan="6">No Records Found</td>
                    </tr>
            </table>
        </div>
        <div class="text-center text-danger">
            * The interest amount displayed is net of rebate offered by Augmont *
        </div>
    </kt-portlet-body>
</kt-portlet>