<div class="row justify-content-around" [formGroup]="documentsForm">
    <div class="col-11">
        <div class="row kt-padding-t-15" *ngIf="showLoanTransferFlag">
            <div class="col-2 form-label ">
                <label class="kt-padding-l-10">Outstanding Loan Amount</label>
            </div>
            <div class="col-4">
                <input type="text" formControlName="outstandingLoanAmount" class="form-control "
                    [class.isError]="controls.outstandingLoanAmount.touched && controls.outstandingLoanAmount.invalid"
                    placeholder="Outstanding">
                <mat-error *ngIf="controls.outstandingLoanAmount.touched && controls.outstandingLoanAmount.invalid">
                    Field
                    Required</mat-error>
            </div>
        </div>
        <div class="row kt-padding-t-15">

        </div>
        <div class="row kt-padding-t-15 kt-padding-b-20 justify-content-around">
            <div class="col form-label" *ngIf="showLoanFlag">
                <label class="kt-padding-l-10">Loan Agreement Copy</label>
            </div>
            <div class="col form-label" *ngIf="showLoanTransferFlag || showLoanFlag">
                <label class="kt-padding-l-10 kt-padding-r-25">Pawn Ticket/Copy of Pledge</label>
                <kt-button [value]="'print'" [type]="'button'" (click)="ExportAsPdf()" *ngIf="showLoanFlag"></kt-button>
            </div>
            <div class="col form-label" *ngIf="showLoanFlag">
                <label class="kt-padding-l-10">Scheme Confirmation Copy</label>
            </div>
            <div class="col form-label" *ngIf="showLoanTransferFlag">
                <label class="kt-padding-l-10">Signed Cheque Copy</label>
            </div>
            <div class="col form-label" *ngIf="showLoanTransferFlag">
                <label class="kt-padding-l-10">Declaration Copy</label>
            </div>
            <div class="col form-label" *ngIf="showScrapAcknowledgementFlag">
                <label class="kt-padding-l-10">Processing Charges</label>
            </div>
            <div class="col form-label" *ngIf="showScrapAcknowledgementFlag">
                <label class="kt-padding-l-10">Standard Deduction %</label>
            </div>
            <div class="col form-label" *ngIf="showScrapAcknowledgementFlag">
                <label class="kt-padding-l-10">Customer confirmation Status</label>
            </div>
            <div class="col form-label" *ngIf="showScrapAcknowledgementFlag && showCustomerConfirmationFlag">
                <label class="kt-padding-l-10 kt-padding-r-25">Customer Confirmation for melting ornament(Jewellery)
                </label>
                <kt-button [value]="'print'" [type]="'button'" (click)="ExportAsPdf()"></kt-button>
            </div>
            <div class="col form-label" *ngIf="showScrapFlag">
                <label class="kt-padding-l-10 kt-padding-r-25">Purchase Voucher</label>
                <kt-button [value]="'print'" [type]="'button'" (click)="ExportAsPdf()"></kt-button>
            </div>
            <div class="col form-label" *ngIf="showScrapFlag">
                <label class="kt-padding-l-10">Original Purchase Invoice</label>
            </div>
            <div class="col form-label" *ngIf="showScrapFlag">
                <label class="kt-padding-l-10">Sale Invoice(In case of a registered dealer)</label>
            </div>
        </div>
        <div class="row justify-content-between" *ngIf="isEdit">
            <div class="col mb-3" *ngIf="showLoanFlag">
                <div class="input-group  w-80"
                    [class.isError]="controls.loanAgreementCopy.touched && controls.loanAgreementCopy.invalid">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="loanAgreementImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="loanAgreementCopy.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" #loanAgreementCopy
                        (change)="fileUpload($event,'loanAgreementCopy')">


                </div>
                <mat-error *ngIf="controls.loanAgreementCopy.touched && controls.loanAgreementCopy.invalid">Field
                    Required</mat-error>
            </div>
            <div class="col mb-3" *ngIf="showLoanTransferFlag || showLoanFlag">
                <div class="input-group w-80" [class.isError]="controls.pawnCopy.touched && controls.pawnCopy.invalid">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="pawnCopyImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="pawnCopy.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" #pawnCopy (change)="fileUpload($event,'pawnCopy')">

                </div>
                <mat-error *ngIf="controls.pawnCopy.touched && controls.pawnCopy.invalid">Field Required</mat-error>
            </div>
            <div class="col mb-3" *ngIf="showLoanFlag">
                <div class="input-group w-80"
                    [class.isError]="controls.schemeConfirmationCopy.touched && controls.schemeConfirmationCopy.invalid">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="schemeConfirmationCopyImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="schemeConfirmationCopy.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" #schemeConfirmationCopy
                        (change)="fileUpload($event,'schemeConfirmationCopy')">

                </div>
                <mat-error *ngIf="controls.schemeConfirmationCopy.touched && controls.schemeConfirmationCopy.invalid">
                    Field
                    Required</mat-error>

            </div>
            <div class="col mb-3" *ngIf="showLoanTransferFlag">
                <div class="input-group w-80"
                    [class.isError]="controls.signedCheque.touched && controls.signedCheque.invalid">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="signedChequeImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="signedCheque.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" #signedCheque (change)="fileUpload($event,'signedCheque')">

                </div>
                <mat-error *ngIf="controls.signedCheque.touched && controls.signedCheque.invalid">Field Required
                </mat-error>
            </div>
            <div class="col mb-3" *ngIf="showLoanTransferFlag">
                <div class="input-group  w-80"
                    [class.isError]="controls.declaration.touched && controls.declaration.invalid">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="declarationCopyImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="declaration.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" #declaration (change)="fileUpload($event,'declaration')">
                </div>
                <mat-error *ngIf="controls.declaration.touched && controls.declaration.invalid">Field Required
                </mat-error>
            </div>
            <div class="col mb-3" *ngIf="showScrapAcknowledgementFlag"></div>
            <div class="col mb-3" *ngIf="showScrapAcknowledgementFlag"></div>
            <div class="col mb-3" *ngIf="showScrapAcknowledgementFlag"></div>
            <div class="col mb-3" *ngIf="showScrapAcknowledgementFlag && showCustomerConfirmationFlag">
                <div class="input-group w-80"
                    [class.isError]="controls.customerConfirmation.touched && controls.customerConfirmation.invalid">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="customerConfirmationImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="customerConfirmation.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" #customerConfirmation
                        (change)="fileUpload($event,'customerConfirmation')">
                </div>
                <mat-error *ngIf="controls.customerConfirmation.touched && controls.customerConfirmation.invalid">Field
                    Required
                </mat-error>
            </div>
            <div class="col mb-3" *ngIf="showScrapFlag">
                <div class="input-group w-80"
                    [class.isError]="controls.purchaseVoucher.touched && controls.purchaseVoucher.invalid">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="purchaseVoucherImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="purchaseVoucher.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" #purchaseVoucher (change)="fileUpload($event,'purchaseVoucher')">
                </div>
                <mat-error *ngIf="controls.purchaseVoucher.touched && controls.purchaseVoucher.invalid">Field Required
                </mat-error>
            </div>
            <div class="col mb-3" *ngIf="showScrapFlag">
                <div class="input-group w-80"
                    [class.isError]="controls.purchaseInvoice.touched && controls.purchaseInvoice.invalid">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="schemeConfirmationCopyImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="purchaseInvoice.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" #purchaseInvoice (change)="fileUpload($event,'purchaseInvoice')">

                </div>
                <mat-error *ngIf="controls.purchaseInvoice.touched && controls.purchaseInvoice.invalid">
                    Field
                    Required</mat-error>

            </div>
            <div class="col mb-3" *ngIf="showScrapFlag">
                <div class="input-group w-80"
                    [class.isError]="controls.saleInvoice.touched && controls.saleInvoice.invalid">
                    <input type="text" class="form-control" placeholder="Select File" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" readonly formControlName="schemeConfirmationCopyImageName" />
                    <div class="input-group-append">
                        <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                            (click)="saleInvoice.click()">Attach</span>
                    </div>
                    <input type="file" class="d-none" #saleInvoice (change)="fileUpload($event,'saleInvoice')">

                </div>
                <mat-error *ngIf="controls.saleInvoice.touched && controls.saleInvoice.invalid">
                    Field
                    Required</mat-error>

            </div>
        </div>
        <div class="row">
            <div class="col" *ngIf="showLoanFlag">
                <div class="row">
                    <div class="col-10 ">
                        <div class="img-container width" *ngIf="!controls?.loanAgreementCopy?.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <!-- <div class="edit-width">
                            <img src="../../../../../assets/media/icons/edit.svg" alt="" class="kt-pointer edit-icon"
                                *ngIf="isEdit && controls?.pawnCopyImage?.value"
                                (click)="editImages('pawnCopy');">
                        </div> -->

                        <div class="" *ngIf="controls?.loanAgreementCopyImage?.value">
                            <div class="d-inline-block img-container width kt-margin-r-15 position-relative">
                                <img (click)="preview(controls?.loanAgreementCopyImage?.value)" class="fetched-image"
                                    [src]="controls?.loanAgreementCopyImage?.value" *ngIf="!pdf.loanAgreementCopy">

                                <img class="edit-icon" src="../../../../../assets/media/icons/edit.svg"
                                    *ngIf="isEdit && controls?.loanAgreementCopyImage?.value"
                                    (click)="editImages('loanAgreementCopy')">
                                <div class="iframeWrapper" (click)="preview(controls?.loanAgreementCopyImage?.value)">
                                    <iframe [src]="controls?.loanAgreementCopyImage.value | safe : 'resourceUrl'"
                                        height="250" width="290" scrolling="no" *ngIf="pdf.loanAgreementCopy"></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- <img src="../../../../../assets/media/icons/edit.svg"
                            *ngIf="isEdit && controls?.loanAgreementCopyImage?.value" alt=""
                            class="kt-pointer edit-icon" (click)="editImages('loanAgreementCopy');"> -->
                    </div>
                </div>

            </div>
            <div class="col" *ngIf="showLoanTransferFlag || showLoanFlag">
                <div class="row">
                    <div class="col-10">
                        <div class="img-container width" *ngIf="!controls?.pawnCopyImage?.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <!-- <div class="edit-width">
                            <img src="../../../../../assets/media/icons/edit.svg" alt="" class="kt-pointer edit-icon"
                                *ngIf="isEdit && controls?.pawnCopyImage?.value"
                                (click)="editImages('pawnCopy');">
                        </div> -->


                        <div class="" *ngIf="controls?.pawnCopyImage?.value">
                            <div class="d-inline-block img-container width kt-margin-r-15 position-relative">
                                <img (click)="preview(controls?.pawnCopyImage?.value)" class="fetched-image"
                                    [src]="controls?.pawnCopyImage?.value" *ngIf="!pdf.pawnCopy">

                                <img class="edit-icon kt-pointer" src="../../../../../assets/media/icons/edit.svg"
                                    (click)="editImages('pawnCopy')" *ngIf="isEdit && controls?.pawnCopyImage?.value">
                                <div class="iframeWrapper" (click)="preview(controls?.pawnCopyImage?.value)">
                                    <iframe [src]="controls?.pawnCopyImage?.value | safe : 'resourceUrl'" height="250"
                                        width="290" scrolling="no" *ngIf="pdf.pawnCopy"
                                        class="position-relative"></iframe>
                                </div>
                                <!-- <kt-pdf-viewer [page]="1" [showAll]="false" *ngIf="pdf.pawnCopy"
                                    [pdfSrc]="controls?.pawnCopyImage.value"
                                    (click)="preview(controls?.pawnCopyImage.value)"></kt-pdf-viewer> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col" *ngIf="showLoanFlag">
                <div class="row">
                    <div class="col-10 position-relative">
                        <div class="img-container width" *ngIf="!controls?.schemeConfirmationCopyImage?.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <!-- <div class="edit-width">
                            <img src="../../../../../assets/media/icons/edit.svg" alt="" class="kt-pointer edit-icon"
                                *ngIf="isEdit && controls?.schemeConfirmationCopyImage?.value"
                                (click)="editImages('schemeConfirmationCopy');">
                        </div> -->

                        <div class="" *ngIf="controls?.schemeConfirmationCopyImage?.value">
                            <div class="d-inline-block img-container width kt-margin-r-15 position-relative">
                                <img (click)="preview(controls?.schemeConfirmationCopyImage?.value)"
                                    class="fetched-image" [src]="controls?.schemeConfirmationCopyImage?.value"
                                    *ngIf="!pdf.schemeConfirmationCopy">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    class="kt-pointer edit-icon"
                                    *ngIf="isEdit && controls?.schemeConfirmationCopyImage?.value"
                                    (click)="editImages('schemeConfirmationCopy');">
                                <div class="iframeWrapper"
                                    (click)="preview(controls?.schemeConfirmationCopyImage?.value)">
                                    <iframe *ngIf="pdf.schemeConfirmationCopy"
                                        [src]="controls?.schemeConfirmationCopyImage?.value | safe : 'resourceUrl'"
                                        height="250" width="290" scrolling="no"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col" *ngIf="showLoanTransferFlag">
                <div class="row">
                    <div class="col-10 position-relative">
                        <div class="img-container width" *ngIf="!controls?.signedChequeImage?.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <!-- <div class="position-relative edit-width">
                            <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                *ngIf="isEdit && controls?.signedChequeImage?.value"
                                class="kt-pointer edit-icon" (click)="editImages('signedCheque');">
                        </div> -->

                        <div class="" *ngIf="controls?.signedChequeImage?.value">
                            <div class="d-inline-block img-container width kt-margin-r-15 position-relative">
                                <img class="fetched-image" [src]="controls?.signedChequeImage?.value"
                                    *ngIf="!pdf.signedCheque" (click)="preview(controls?.signedChequeImage?.value)">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    *ngIf="isEdit && controls?.signedChequeImage?.value" class="kt-pointer edit-icon"
                                    (click)="editImages('signedCheque');">
                                <div class="iframeWrapper" (click)="preview(controls?.signedChequeImage?.value)">
                                    <iframe *ngIf="pdf.signedCheque"
                                        [src]="controls?.signedChequeImage?.value | safe : 'resourceUrl'" height="250"
                                        width="290" scrolling="no"></iframe>
                                </div>
                                <!-- <kt-pdf-viewer [page]="1" [showAll]="false" *ngIf="pdf.signedCheque"
                                    [pdfSrc]="controls?.signedChequeImage.value"
                                    (click)="preview(controls?.signedChequeImage.value)"></kt-pdf-viewer> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col" *ngIf="showLoanTransferFlag">
                <div class="row">
                    <div class="col-10 position-relative">
                        <div class="img-container width" *ngIf="!controls?.declaration?.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>

                        <!-- <div class="position-relative edit-width">
                            <img src="../../../../../assets/media/icons/edit.svg" alt="" class="kt-pointer edit-icon"
                                *ngIf="isEdit && controls?.declarationCopyImage?.value"
                                (click)="editImages('declaration');">
                        </div> -->


                        <div class="" *ngIf="controls?.declarationCopyImage?.value">
                            <div class="d-inline-block img-container width kt-margin-r-15 position-relative">
                                <img class="fetched-image" [src]="controls?.declarationCopyImage?.value"
                                    *ngIf="!pdf.declaration" (click)="preview(controls?.declarationCopyImage?.value)">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    class="kt-pointer edit-icon" *ngIf="isEdit && controls?.declarationCopyImage?.value"
                                    (click)="editImages('declaration');">
                                <div class="iframeWrapper" (click)="preview(controls?.declarationCopyImage?.value)">
                                    <iframe *ngIf="pdf.declaration"
                                        [src]="controls?.declarationCopyImage?.value | safe : 'resourceUrl'"
                                        height="250" width="290" scrolling="no"></iframe>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col" *ngIf="showScrapAcknowledgementFlag">
                <input type="text" formControlName="processingCharges" class="form-control "
                    [class.isError]="controls.processingCharges.touched && controls.processingCharges.invalid"
                    placeholder="Processing Charges" readonly>
                <mat-error *ngIf="controls.processingCharges.touched && controls.processingCharges.invalid">
                    Field Required</mat-error>
            </div>
            <div class="col" *ngIf="showScrapAcknowledgementFlag">
                <select class="form-control" formControlName="standardDeduction"
                    [class.isError]="controls.standardDeduction.touched && controls.standardDeduction.invalid">
                    <option value="" [disabled]="true" [selected]="controls.standardDeduction.value == '' ||
                    controls.standardDeduction.value == null">Select Standard Deduction</option>
                    <option [value]="sd.standardDeduction" *ngFor="let sd of standardDeductionArr">
                        {{sd.standardDeduction}}
                    </option>
                </select>
                <mat-error *ngIf="controls.standardDeduction.touched && controls.standardDeduction.invalid">
                    <span *ngIf="controls.standardDeduction.errors?.required">Field Required</span>
                </mat-error>
            </div>
            <div class="col" *ngIf="showScrapAcknowledgementFlag">
                <select class="form-control" formControlName="customerConfirmationStatus"
                    [class.isError]="controls.customerConfirmationStatus.touched && controls.customerConfirmationStatus.invalid">
                    <option value="" [disabled]="true" [selected]="true">Select Customer confirmation Status</option>
                    <option value="confirmed">Confirmed</option>
                    <option value="incomplete">Incomplete</option>
                </select>
                <mat-error
                    *ngIf="controls.customerConfirmationStatus.touched && controls.customerConfirmationStatus.invalid">
                    <span *ngIf="controls.customerConfirmationStatus.errors?.required">Field
                        Required</span>
                </mat-error>
            </div>
            <div class="col" *ngIf="showScrapAcknowledgementFlag && showCustomerConfirmationFlag">
                <div class="row">
                    <div class="col-10">
                        <div class="img-container width" *ngIf="!controls?.customerConfirmationImage?.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>
                        <div class="" *ngIf="controls?.customerConfirmationImage?.value">
                            <div class="d-inline-block img-container width kt-margin-r-15 position-relative">
                                <img (click)="preview(controls?.customerConfirmationImage?.value)" class="fetched-image"
                                    [src]="controls?.customerConfirmationImage?.value"
                                    *ngIf="!pdf.customerConfirmation">
                                <img class="edit-icon kt-pointer" src="../../../../../assets/media/icons/edit.svg"
                                    (click)="editImages('customerConfirmation')"
                                    *ngIf="isEdit && controls?.customerConfirmationImage?.value">
                                <div class="iframeWrapper"
                                    (click)="preview(controls?.customerConfirmationImage?.value)">
                                    <iframe [src]="controls?.customerConfirmationImage?.value | safe : 'resourceUrl'"
                                        height="250" width="290" scrolling="no" *ngIf="pdf.customerConfirmation"
                                        class="position-relative"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" *ngIf="showScrapFlag">
                <div class="row">
                    <div class="col-10">
                        <div class="img-container width" *ngIf="!controls?.purchaseVoucherImage?.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>
                        <div class="" *ngIf="controls?.purchaseVoucherImage?.value">
                            <div class="d-inline-block img-container width kt-margin-r-15 position-relative">
                                <img (click)="preview(controls?.purchaseVoucherImage?.value)" class="fetched-image"
                                    [src]="controls?.purchaseVoucherImage?.value" *ngIf="!pdf.purchaseVoucher">
                                <img class="edit-icon kt-pointer" src="../../../../../assets/media/icons/edit.svg"
                                    (click)="editImages('purchaseVoucher')"
                                    *ngIf="isEdit && controls?.purchaseVoucherImage?.value">
                                <div class="iframeWrapper" (click)="preview(controls?.purchaseVoucherImage?.value)">
                                    <iframe [src]="controls?.purchaseVoucherImage?.value | safe : 'resourceUrl'"
                                        height="250" width="290" scrolling="no" *ngIf="pdf.purchaseVoucher"
                                        class="position-relative"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" *ngIf="showScrapFlag">
                <div class="row">
                    <div class="col-10 position-relative">
                        <div class="img-container width" *ngIf="!controls?.purchaseInvoiceImage?.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>
                        <div class="" *ngIf="controls?.purchaseInvoiceImage?.value">
                            <div class="d-inline-block img-container width kt-margin-r-15 position-relative">
                                <img (click)="preview(controls?.purchaseInvoiceImage?.value)" class="fetched-image"
                                    [src]="controls?.purchaseInvoiceImage?.value" *ngIf="!pdf.purchaseInvoice">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    class="kt-pointer edit-icon" *ngIf="isEdit && controls?.purchaseInvoiceImage?.value"
                                    (click)="editImages('purchaseInvoice');">
                                <iframe *ngIf="pdf.purchaseInvoice"
                                    [src]="controls?.purchaseInvoiceImage?.value | safe : 'resourceUrl'" height="250"
                                    width="290" scrolling="no"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" *ngIf="showScrapFlag">
                <div class="row">
                    <div class="col-10 position-relative">
                        <div class="img-container width" *ngIf="!controls?.saleInvoiceImage?.value">
                            <img src="../../../../../../../assets/media/icons/image-placeholder.png"
                                class="placeholder-image">
                        </div>
                        <div class="" *ngIf="controls?.saleInvoiceImage?.value">
                            <div class="d-inline-block img-container width kt-margin-r-15 position-relative">
                                <img (click)="preview(controls?.saleInvoiceImage?.value)" class="fetched-image"
                                    [src]="controls?.saleInvoiceImage?.value" *ngIf="!pdf.saleInvoice">
                                <img src="../../../../../assets/media/icons/edit.svg" alt=""
                                    class="kt-pointer edit-icon" *ngIf="isEdit && controls?.saleInvoiceImage?.value"
                                    (click)="editImages('saleInvoice');">
                                <iframe *ngIf="pdf.saleInvoice"
                                    [src]="controls?.saleInvoiceImage?.value | safe : 'resourceUrl'" height="250"
                                    width="290" scrolling="no"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-11 text-right kt-padding-t-15" *ngIf="showButton">
        <kt-button [type]="'button'" [value]="buttonValue" (click)="save(buttonValue)"></kt-button>
    </div>
</div>