:host {
	.iframeWrapper{
		display:inline-block;
		position:relative;
	  }
	  
	  .iframeWrapper iframe{
		vertical-align:top;
		pointer-events: none;
	  }
	  
	iframe {
		pointer-events: none;
		display: block;
		margin-top: -65px;
		margin-left: -7px;
	}
	// .edit-width {
	// 	min-width: 230px;
	// 	max-width: 250px;
	// }

	.w-80 {
		width: 80% !important;
	}

	.edit-icon {
		position: absolute;
		top: 5px;
		right: 0.8rem;
		z-index: 2;
	}
	
	// .edit-icon:hover{
	// 	background-color: red !important;
	// 	.edit-width {
	// 		min-width: 230px;
	// 		max-width: 250px;
	// 		z-index: 999 !important;
	// 		}
	// }
	
}
