<kt-portlet>
    <kt-portlet-body class="position-relative">
        <div class="row kt-padding-10 justify-content-center kt-margin-bottom-20-mobile pos">
            <form [formGroup]="mapReport">
                <mat-form-field class="mat-form-field-fluid" *ngIf="selected == 0">
                    <input (dateChange)="getMapReport()" matInput [matDatepicker]="picker" placeholder="Select Date"
                        formControlName="dateForMap" (click)="picker.open()" readonly />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="mat-form-field-fluid" *ngIf="selected == 1">
                    <input matInput [matDatepicker]="picker" placeholder="Select Date" formControlName="dateForLocation"
                        (click)="picker.open()" readonly />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </form>
        </div>

        <mat-tab-group [(selectedIndex)]="selected">
            <mat-tab label="Map">

                <agm-map [latitude]='latitude' [longitude]='longitude' [zoom]="15" [fitBounds]="true">
                    <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng"
                        [markerDraggable]="m.draggable" (markerClick)="clickedMarker(m.lat, m.lng, i)"
                        [agmFitBounds]="true">
                        <agm-info-window [isOpen]="m.isVisible">
                            <span *ngIf="!infoToggle[i]">
                                <strong *ngIf="m.trackingTime">{{m.trackingTime | time24to12}}</strong>
                            </span>
                            <div class="font">
                                <span *ngIf="infoToggle[i]" style="z-index: 999">
                                    <span><small>Time:
                                            {{m.trackingTime | time24to12}}
                                        </small>
                                    </span>
                                    <br>
                                    <span>
                                        <small>
                                            Packets:
                                            <span *ngFor="let item of m.masterLoan.packet; last as l;">
                                                <ng-container>{{ item.packetUniqueId | uppercase }}
                                                    <span *ngIf="!l"> ,&nbsp;</span>
                                                </ng-container>
                                            </span>
                                        </small>
                                    </span>
                                    <br>

                                    <small *ngIf="address">Last Location:</small><br>
                                    <small class="w-25 text-wrap">{{m.address}}</small>
                                </span>

                            </div>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </mat-tab>
            <mat-tab label="Location">
                <kt-location [masterLoanId]="masterLoanId" [date]="mapReport.controls.dateForLocation.value">
                </kt-location>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>