<kt-portlet>
    <kt-portlet-body>
        <div class="container">
            <form action="">
                <div class="row justify-content-center kt-margin-t-30">
                    <div class="col-12">
                        <div class="row kt-margin-t-20">
                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-3">
                                        <label class="font-weight-500 text-color">Bank Name</label>
                                    </div>
                                    <div class="col-7">
                                        <select name="" id="" class="form-control" placeholder="">
                                            <option [selected]="true" [disabled]="true">Select Bank</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1">
                                        <label class="font-weight-500 text-color">Branch Name</label>
                                    </div>
                                    <div class="col-7">
                                        <select name="" id="" class="form-control" placeholder="">
                                            <option [selected]="true" [disabled]="true">Select Branch</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row kt-margin-t-20">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1">
                                        <label class="font-weight-500 text-color">A/C Type</label>
                                    </div>
                                    <div class="col-7">
                                        <select name="" id="" class="form-control" placeholder="">
                                            <option [selected]="true" [disabled]="true">Select Account Type</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1">
                                        <label class="font-weight-500 text-color">Father / Spouse Name</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" class="form-control" placeholder="Kane Taylor" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row kt-margin-t-20">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1">
                                        <label class="font-weight-500 text-color">A/C Holder</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" class="form-control" placeholder="xxxx xxxx xx8867" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1">
                                        <label class="font-weight-500 text-color">IFSC Code</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" class="form-control" placeholder="IFSCXXXX890" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row kt-margin-t-20">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1">
                                        <label class="font-weight-500 text-color">Upload Passbook Or Statement</label>
                                    </div>
                                    <div class="col-7">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Select File"
                                                aria-label="Recipient's username" aria-describedby="basic-addon2"
                                                readonly />
                                            <div class="input-group-append">
                                                <span class="input-group-text bg kt-pointer font-weight"
                                                    id="basic-addon2" (click)="signature.click()">Attach</span>
                                            </div>
                                            <input type="file" class="d-none" #signature>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row kt-margin-t-20 kt-margin-b-20">
                            <div class="col-6">
                                <div class="col-8 offset-4">
                                    <img src="../../../../../../assets/media/users/300_10.jpg" alt="" height="150px"
                                        width="250px">
                                    <div class="kt-margin-t-20 text-color font-11">
                                        (Please verify the detail before moving forward)
                                    </div>
                                    <div class="kt-margin-t-20">
                                        <kt-button [value]="'Next'" [type]="'button'" (action)="submit()"></kt-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </kt-portlet-body>
</kt-portlet>