<kt-portlet>
    <kt-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="holidayDate">
                    <mat-header-cell *matHeaderCellDef>Holiday Date</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.holidayDate | date: 'mediumDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Event</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.description | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <div [ngStyle]="{'display': 'inherit'}" *ngxPermissionsOnly="['editHoliday', 'deleteHoliday']">
                            <div *ngxPermissionsOnly="['editHoliday']" class="kt-pointer" (click)="editHoliday(item)">
                                Edit</div>
                            <div class="px-3">|</div>
                            <div *ngxPermissionsOnly="['deleteHoliday']" class="kt-pointer text-danger"
                                (click)="deleteHoliday(item)">Delete</div>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>