<kt-portlet>
    <kt-portlet-body>

        <div class="table-div kt-padding-t-10">
            <table class="table outer-border">
                <thead>
                    <th class="transparent">Loan Id</th>
                    <th class="transparent">Loan Amount</th>
                    <th class="transparent">Loan Date</th>
                    <th class="transparent">Scheme Name</th>
                    <th class="transparent">Tenure</th>
                    <th class="transparent">Interest Rate</th>
                    <th class="transparent">Last Payment Date</th>

                </thead>
                <tbody>
                    <tr>
                        <td class="text-gray">{{loanDetails?.customerLoan[0]?.loanUniqueId}}
                            <br>
                            <span *ngIf="loanDetails?.customerLoan[1]">
                                {{loanDetails?.customerLoan[1]?.loanUniqueId}}
                            </span>
                        </td>
                        <td class="text-gray">
                            {{loanDetails?.customerLoan[0]?.loanAmount}}
                            <br>
                            <span *ngIf="loanDetails?.customerLoan[1]">
                                {{loanDetails?.customerLoan[1]?.loanAmount}}
                            </span>
                        </td>
                        <td class="text-gray">{{loanDetails?.loanStartDate | date :'mediumDate'}}</td>
                        <td class="text-gray">
                            {{loanDetails?.customerLoan[0]?.scheme?.schemeName | titlecase}}
                            <br>
                            <span *ngIf="loanDetails?.customerLoan[1]">
                                {{loanDetails?.customerLoan[1]?.scheme?.schemeName | titlecase}}
                            </span>
                        </td>
                        <td class="text-gray">{{loanDetails?.tenure}} Months</td>
                        <td class="text-gray">{{loanDetails?.customerLoan[0]?.interestRate }}%
                            <br>
                            <span *ngIf="loanDetails?.customerLoan[1]">
                                {{loanDetails?.customerLoan[1]?.interestRate }}%
                            </span></td>
                        <td class="text-gray">20,May 2020</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row justify-content-center kt-padding-t-25 kt-padding-b-15">
            <div class="col-6 text-center">
                <kt-button [value]="'Pay EMI'" [type]="'button'" (click)="payableAmount()"></kt-button>
                <span class="kt-padding-5 "></span>
                <kt-button [value]="'View Interest EMI Logs'" [type]="'button'" (click)="viewEmiLogs()"></kt-button>
                <span class="kt-padding-5 "></span>
                <kt-button [value]="'View Part Payment EMI'" [type]="'button'"></kt-button>

            </div>
        </div>

        <div class="row justify-content-center kt-padding-t-25 kt-padding-b-15" *ngIf="payableAmount">
            <div class="col-8">
                <div class="row border-style">
                    <div class="col-3 form-label">
                        <label for="" class="font-weight-500 m-0">Payable Amount</label>
                    </div>
                    <div class="col-2 form-label">
                        <label for="" class="font-weight-500 m-0">{{payableAmount}}</label>
                    </div>
                    <div class="col-4 form-label">
                        <label for="" class="font-weight-500 m-0">Interest Payment Amount</label>
                    </div>
                    <div class="col-3 font-weight-500">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center kt-padding-t-25">
            <div class="col-6 text-center">
                <kt-button [value]="'Proceed'" [type]="'button'"></kt-button>
                <span class="kt-padding-5"></span>
                <kt-button [value]="'Cancel'" [type]="'reset'"></kt-button>

            </div>
        </div>

        <!-- <div class="row kt-padding-t-5">
            <div class="col-2 font-weight-500">Loan Id</div>
            <div class="col-2 font-weight-500">Loan Amount</div>
            <div class="col-2 font-weight-500">Loan Date</div>
            <div class="col-3 font-weight-500">Scheme Name</div>
            <div class="col-1 font-weight-500">Tenure</div>
            <div class="col-2 font-weight-500 text-right">Interest Rate</div>
        </div>

        <div class="row kt-padding-t-10">
            <div class="col-2 text-gray font-weight-500">Loan!@#$</div>
            <div class="col-2 text-gray font-weight-500">10000</div>
            <div class="col-2 text-gray font-weight-500">12,March 2020</div>
            <div class="col-3 text-gray font-weight-500">Permimun Super Loan</div>
            <div class="col-1 text-gray font-weight-500">6 Months</div>
            <div class="col-2 text-gray font-weight-500 text-right">
                <div class="">
                    5%
                </div>
            </div>
        </div> -->

        <!-- <h5 class="kt-padding-t-20 kt-padding-b-20">Payment Interest EMI</h5>

        <div class="table-div">
            <table class="table outer-border">
                <thead>
                    <th class="transparent"></th>
                    <th class="transparent">Last Interest Payment</th>
                    <th class="transparent">Last Interest Payment Date</th>
                    <th class="transparent">EMI Due Date</th>
                    <th class="transparent">PAID Amount</th>
                    <th class="transparent">Interest EMI Payment Date</th>
                    <th class="transparent">Penal Interest</th>
                    <th class="transparent">Pending Amount</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="position-relative">
                                <label class="custom-checkbox">
                                    <span class="label-checkbox"></span>
                                    <input type="checkbox" (change)="actionChange()">
                                    <span class="checkmark top-0 checkmark-change"></span>
                                </label>
                            </div>

                        </td>
                        <td class="text-gray">dgfsddf</td>
                        <td class="text-gray">sdfsdf</td>
                        <td class="text-gray">dfhdfgh</td>
                        <td class="text-gray">dgfsddf</td>
                        <td class="text-gray">sdfsdf</td>
                        <td class="text-gray">sdfsdf</td>
                        <td class="text-gray">gdfh</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row justify-content-center kt-padding-t-25 kt-padding-b-15">
            <div class="col-6 text-center">
                <kt-button [value]="'Pay EMI'" [type]="'button'"></kt-button>
                <span class="kt-padding-5 "></span>
                <kt-button [value]="'View Interest EMI Logs'" [type]="'button'" (click)="viewEmiLogs()"></kt-button>

            </div>
        </div> -->



        <h5 class="kt-padding-t-20 kt-padding-b-20">Payment Confirmation</h5>
        <div class="table-div">
            <table class="table outer-border">
                <thead>
                    <th class="transparent">Loan ID</th>
                    <th class="transparent">Loan Payment Date</th>
                    <th class="transparent">Loan Amount</th>
                    <th class="transparent">Interest Payment Amount</th>
                    <th class="transparent">Total Payment Amount</th>
                    <th class="transparent">Select Payment option</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-gray">dgfsddf</td>
                        <td class="text-gray">sdfsdf</td>
                        <td class="text-gray">dfhdfgh</td>
                        <td class="text-gray">dgfsddf</td>
                        <td class="text-gray">sdfsdf</td>
                        <td class="text-gray">
                            <select name="" id="" class="form-control"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center kt-padding-t-15 kt-padding-b-15">
            <div class="col-6 text-center">
                <kt-button [value]="'Confirm'" [type]="'button'"></kt-button>
                <span class="kt-padding-5 "></span>
                <kt-button [value]="'Cancel'" [type]="'reset'"></kt-button>
                <div class="kt-padding-t-5"> <i>On clicking confirm you will be redirected to available payment
                        options.</i> </div>
            </div>
        </div>

    </kt-portlet-body>
</kt-portlet>