<kt-portlet>
    <kt-portlet-body class="min-vh-60">

        <div class="table-div kt-padding-t-10 ">
            <table class="table outer-border ">
                <thead>
                    <th class="transparent ">Loan ID</th>
                    <th class="transparent ">Loan Amount</th>
                    <th class="transparent">Loan Date</th>
                    <th class="transparent">Scheme Name</th>
                    <th class="transparent">Tenure</th>
                    <th class="transparent">Interest Rate</th>
                    <th class="transparent">Last Payment Date</th>
                    <th class="transparent">Status</th>


                </thead>
                <tbody>
                    <tr>
                        <td class="">{{loanDetails?.customerLoan[0]?.loanUniqueId}}
                            <br>
                            <span *ngIf="loanDetails?.customerLoan[1]">
                                {{loanDetails?.customerLoan[1]?.loanUniqueId}}
                            </span>
                        </td>
                        <td class="">
                            {{loanDetails?.customerLoan[0]?.loanAmount}}
                            <br>
                            <span *ngIf="loanDetails?.customerLoan[1]">
                                {{loanDetails?.customerLoan[1]?.loanAmount}}
                            </span>
                        </td>
                        <td class="">{{loanDetails?.loanStartDate | date :'mediumDate'}}</td>
                        <td class="">
                            {{loanDetails?.customerLoan[0]?.scheme?.schemeName | titlecase}}
                            <br>
                            <span *ngIf="loanDetails?.customerLoan[1]">
                                {{loanDetails?.customerLoan[1]?.scheme?.schemeName | titlecase}}
                            </span>
                        </td>
                        <td class="">{{loanDetails?.tenure}} Months</td>
                        <td class="">{{loanDetails?.customerLoan[0]?.interestRate }}%
                            <br>
                            <span *ngIf="loanDetails?.customerLoan[1]">
                                {{loanDetails?.customerLoan[1]?.interestRate }}%
                            </span></td>
                        <td *ngIf="loanDetails?.lastPaymentDate else blankTableValue">
                            {{loanDetails?.lastPaymentDate | date : 'mediumDate'}}</td>
                        <td class="text-warning">Pending</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ng-template #blankTableValue>
            <td>-</td>
        </ng-template>

        <div class="row justify-content-center kt-padding-t-25 kt-padding-b-15">
            <div class="col-6 text-center">
                <kt-button [value]="'Pay EMI'" [type]="'button'" (click)="getPayableAmount()"></kt-button>
                <span class="kt-padding-5 "></span>
                <kt-button [value]="'View Interest EMI Logs'" [type]="'button'" (click)="viewEmiLogs()"></kt-button>
                <span class="kt-padding-5 "></span>
                <!-- <kt-button [value]="'View Part Payment EMI'" [type]="'button'"></kt-button> -->

            </div>
        </div>
        <div *ngIf="payableAmount">
            <div class="table-div kt-padding-t-10">
                <table class="table outer-border">
                    <thead>
                        <th class="transparent">Principal Outstanding</th>
                        <th class="transparent">Next Due Date Amount</th>
                        <th class="transparent">Interest Amount</th>
                        <th class="transparent">Penal Interest</th>
                        <th class="transparent">Payable Amount</th>
                        <th class="transparent">Payment Amount</th>

                    </thead>
                    <tbody>
                        <tr>
                            <td>{{payableAmount?.outstandingAmount}}</td>
                            <td>{{payableAmount?.securedTotalInterest}}<br>
                                {{payableAmount?.unsecuredTotalInterest}}
                            </td>
                            <td>{{payableAmount?.securedInterest}} <br>
                                <span *ngIf="loanDetails?.customerLoan[1]">
                                    {{payableAmount?.unsecuredInterest}}
                                </span>
                            </td>

                            <td>{{payableAmount?.securedPenalInterest}}<br>
                                <span *ngIf="loanDetails?.customerLoan[1]">
                                    {{payableAmount?.unsecuredPenalInterest}}
                                </span>
                            </td>

                            <td>{{payableAmount?.payableAmount}}</td>
                            <td><input type="text" class="form-control" [formControl]="payableAmt"
                                    [class.isError]="payableAmt.touched && payableAmt.invalid">
                                <mat-error *ngIf="payableAmt.errors?.required && payableAmt.touched">
                                    Field Required
                                </mat-error>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row justify-content-center kt-padding-t-25 kt-padding-b-10">
                <div class="col-6 text-center">
                    <kt-button [value]="'Proceed'" [type]="'button'" (click)="payment()"></kt-button>
                    <span class="kt-padding-5"></span>
                    <kt-button [value]="'Cancel'" [type]="'reset'"
                        (click)="payableAmount = '';paymentDetails = '';payableAmt.enable(); payableAmt.reset();">
                    </kt-button>

                </div>
            </div>
        </div>


        <h5 class="kt-padding-t-20 kt-padding-b-20" *ngIf="paymentDetails">Payment Confirmation</h5>
        <div class="table-div" *ngIf="paymentDetails">
            <table class="table outer-border ">
                <thead>
                    <th class="transparent th-style th-padding-style">Loan ID</th>
                    <th class="transparent th-style">Loan Payment Date</th>
                    <th class="transparent th-style">Loan Amount</th>
                    <th class="transparent th-style">Total Payment Amount</th>
                    <th class="transparent th-style">Select Payment option</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="th-padding-style">
                            {{paymentDetails?.customerLoan[0]?.loanUniqueId}} <br>
                            {{paymentDetails?.customerLoan[1]?.loanUniqueId}}
                        </td>
                        <td class="">{{currentDate | date:'mediumDate'}}</td>
                        <td class="">
                            {{paymentDetails?.customerLoan[0]?.outstandingAmount}} <br>
                            {{paymentDetails?.customerLoan[1]?.outstandingAmount}}
                        </td>
                        <td class="" style="font-size: 14px;"><b>{{payableAmt.value}}</b></td>
                        <td class="">
                            <button *ngIf="!paymentValue" (click)="choosePaymentMethod()" class="apply-kyc">Select
                                Payment</button>
                            <button *ngIf="paymentValue" (click)="choosePaymentMethod()" class="apply-kyc">
                                {{ paymentValue.paymentType | uppercase }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center kt-padding-t-15 kt-padding-b-15" *ngIf="paymentDetails">
            <div class="col-6 text-center">
                <kt-button [value]="'Confirm'" [type]="'button'" (click)="submit()"></kt-button>
                <span class="kt-padding-5 "></span>
                <kt-button [value]="'Cancel'" [type]="'reset'" (click)="paymentDetails = '';payableAmt.enable()">
                </kt-button>
                <div class="kt-padding-t-5"> <i>On clicking confirm you will be redirected to available payment
                        options.</i> </div>
            </div>
        </div>

    </kt-portlet-body>
</kt-portlet>