:host {
	.checkmark-change {
		background-color: transparent;
		border: 1px solid #454d6f5c;
	}

	.border-style {
		border: 1px solid #ebedf2;
		padding: 25px;
		border-radius: 8px;
	}
	kt-portlet-body{
		min-height: 67vh !important;
	}
}
