<kt-portlet>
    <kt-portlet-body class="min-vh-60">
        <div id="container">
            <div class="table-div kt-padding-t-10 ">
                <table class="table outer-border altered-row">
                    <thead>
                        <th class="transparent ">Loan ID</th>
                        <th class="transparent table-amount">Loan Amount</th>
                        <th class="transparent">Loan Date</th>
                        <th class="transparent">Scheme Name</th>
                        <th class="transparent">Tenure</th>
                        <th class="transparent">Interest Rate</th>
                        <th class="transparent">Next Due Date</th>
                        <th class="transparent">Status</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="">{{loanDetails?.customerLoan[0]?.loanUniqueId}}
                                <br>
                                <span *ngIf="loanDetails?.customerLoan[1]">
                                    {{loanDetails?.customerLoan[1]?.loanUniqueId}}
                                </span>
                            </td>
                            <td class="table-amount">
                                <span>{{loanDetails?.customerLoan[0]?.loanAmount}}</span>
                                <br>
                                <span *ngIf="loanDetails?.customerLoan[1]">
                                    {{loanDetails?.customerLoan[1]?.loanAmount}}
                                </span>
                            </td>
                            <td class="">{{loanDetails?.loanStartDate | date :'mediumDate'}}</td>
                            <td class="">
                                {{loanDetails?.customerLoan[0]?.scheme?.schemeName | titlecase}}
                                <br>
                                <span *ngIf="loanDetails?.customerLoan[1]">
                                    {{loanDetails?.customerLoan[1]?.scheme?.schemeName | titlecase}}
                                </span>
                            </td>
                            <td class="">{{loanDetails?.tenure}} Months</td>
                            <td class="">{{loanDetails?.secureHighestSlabRate?.interestRate }}%
                                <br>
                                <span *ngIf="loanDetails?.customerLoan[1]">
                                    {{loanDetails?.unsecureHighestSlabRate?.interestRate }}%
                                </span></td>
                            <td *ngIf="loanDetails?.nextDueDate else blankTableValue">
                                {{loanDetails?.nextDueDate | date : 'mediumDate'}}</td>
                            <td class="text-warning"
                                *ngIf="loanDetails?.status == 'pending' || loanDetails?.status == 'partially paid'">
                                {{loanDetails?.status | titlecase}}
                            </td>
                            <td class="text-success" *ngIf="loanDetails?.status == 'paid'">
                                {{loanDetails?.status | titlecase}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ng-template #blankTableValue>
                <td>-</td>
            </ng-template>


            <div *ngIf="payableAmount">
                <div class="table-div kt-padding-t-10">
                    <table class="table outer-border">
                        <thead>
                            <th class="transparent table-amount">Principal Outstanding</th>
                            <th class="transparent table-amount">Next Due Date Amount</th>
                            <th class="transparent table-amount">Interest Amount</th>
                            <th class="transparent table-amount">Penal Interest</th>
                            <th class="transparent table-amount">Payable Amount</th>
                            <th class="transparent">Payment Amount</th>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-amount">
                                    <span>{{payableAmount?.securedOutstandingAmount}}</span><br>
                                    <span *ngIf="loanDetails?.customerLoan[1]">
                                        {{payableAmount?.unsecuredOutstandingAmount}}
                                    </span>
                                </td>
                                <td class="table-amount">
                                    <span>{{payableAmount?.securedTotalInterest}}</span><br>
                                    <span *ngIf="loanDetails?.customerLoan[1]">
                                        {{payableAmount?.unsecuredTotalInterest}}
                                    </span>
                                </td>
                                <td class="table-amount">
                                    <span>{{payableAmount?.securedInterest}}</span> <br>
                                    <span *ngIf="loanDetails?.customerLoan[1]">
                                        {{payableAmount?.unsecuredInterest}}
                                    </span>
                                </td>

                                <td class="table-amount">
                                    <span>{{payableAmount?.securedPenalInterest}}</span><br>
                                    <span *ngIf="loanDetails?.customerLoan[1]">
                                        {{payableAmount?.unsecuredPenalInterest}}
                                    </span>
                                </td>

                                <td class="table-amount">{{payableAmount?.payableAmount}}</td>
                                <td><input ktWeight type="text" class="form-control" [formControl]="payableAmt"
                                        [class.isError]="payableAmt.touched && payableAmt.invalid">
                                    <mat-error *ngIf="payableAmt.errors?.required && payableAmt.touched">
                                        Field Required
                                    </mat-error>
                                    <mat-error *ngIf="payableAmt.errors?.value && payableAmt.touched">
                                        <small>
                                            Please opt for Part Payment option to pay more amount
                                        </small>

                                    </mat-error>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- <div class="row justify-content-center kt-padding-t-25 kt-padding-b-10">
                    <div class="col-6 text-center">
                        <kt-button [value]="'Proceed'" [type]="'button'" (click)="payment()"></kt-button>
                        <span class="kt-padding-5"></span>
                        <kt-button [value]="'Cancel'" [type]="'reset'"
                            (click)="payableAmount = '';paymentDetails = '';payableAmt.enable(); payableAmt.reset();">
                        </kt-button>

                    </div>
                </div> -->
            </div>

            <div class="row justify-content-center kt-padding-t-25 kt-padding-b-15">
                <div class="col-8 text-center">
                    <kt-button [value]="'Proceed'" [type]="'button'" (click)="payment()"></kt-button>
                    <!-- <kt-button [value]="'Pay EMI'" [notTitleCase]="true" [type]="'button'" (click)="getPayableAmount()">
                    </kt-button> -->
                    <span class="kt-padding-5 "></span>
                    <kt-button [value]="'View Interest EMI Logs'" [notTitleCase]="true" [type]="'button'"
                        (click)="viewEmiLogs()"></kt-button>
                    <span class="kt-padding-5 "></span>
                    <kt-button [value]="'Transaction History'" [type]="'button'" (click)="transcationHistory()">
                    </kt-button>
                    <span class="kt-padding-5"></span>
                    <kt-button [value]="'Cancel'" [type]="'reset'"
                        (click)="paymentDetails = '';payableAmt.enable(); payableAmt.reset();">
                    </kt-button>
                    <!-- <kt-button [value]="'View Part Payment EMI'" [type]="'button'"></kt-button> -->

                </div>
            </div>
            <h5 class="kt-padding-t-20 kt-padding-b-20" *ngIf="paymentDetails">Payment Confirmation</h5>
            <div class="table-div" *ngIf="paymentDetails">
                <table class="table outer-border altered-row-4">
                    <thead>
                        <th class="transparent th-style th-padding-style">Loan ID</th>
                        <th class="transparent th-style">Loan Payment Date</th>
                        <!-- <th class="transparent th-style">Loan Amount</th> -->
                        <th class="transparent th-style table-amount padding-8">Total Payment Amount</th>
                        <th class="transparent th-style text-left">Select Payment option</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="th-padding-style">
                                {{paymentDetails?.customerLoan[0]?.loanUniqueId}} <br>
                                {{paymentDetails?.customerLoan[1]?.loanUniqueId}}
                            </td>
                            <td class="">{{currentDate | date:'mediumDate'}}</td>
                            <!-- <td class="">
                                {{paymentDetails?.customerLoan[0]?.outstandingAmount}} <br>
                                {{paymentDetails?.customerLoan[1]?.outstandingAmount}}
                            </td> -->
                            <td class="font-weight-500 table-amount padding-8" style="font-size: 14px;">
                                {{payableAmt.value}}</td>
                            <td class=" text-left">
                                <button *ngIf="!paymentValue" (click)="choosePaymentMethod()" class="apply-kyc">Select
                                    Payment</button>
                                <button *ngIf="paymentValue" (click)="choosePaymentMethod()" class="apply-kyc">
                                    {{ paymentValue.paymentType | uppercase }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center kt-padding-t-15 kt-padding-b-15" *ngIf="paymentDetails">
                <div class="col-6 text-center">
                    <kt-button [value]="'Confirm'" [type]="'button'" (click)="submit()"></kt-button>
                    <span class="kt-padding-5 "></span>
                    <kt-button [value]="'Cancel'" [type]="'reset'" (click)="paymentDetails = '';payableAmt.enable()">
                    </kt-button>
                    <div class="kt-padding-t-5"> <i>On clicking confirm you will be redirected to available payment
                            options.</i> </div>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>