:host {
    kt-portlet-body {
        height: calc(100vh - 90px);

        input[type="file"] {
            display: none;
        }

        .custom-file-upload {
            border: 1px solid #454d67;
            display: inline-block;
            padding: 10px 15px;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}
.primaryHeaderBtn {
    background:#454d67!important ;
    color:#bcc2d6!important;
    min-width:64px;
}