:host{
    .mat-column-pan{
        flex: 0 0 9% !important;
    }
    .mat-column-date{
        flex: 0 0 10% !important;
    }
    .mat-column-mobile{
        flex: 0 0 8% !important;
    }
    .mat-column-fullName{
        padding-left: 0 !important;
        word-break: break-all !important;
    }
    .mat-column-actions{
        flex:0 0 8% !important;
    }
    .mat-column-customerID{
        flex: 0 0 9% !important;
    }
    .mat-column-appraisalApproval{ 
        flex-basis: 4% !important;
    }
    .mat-column-bMApproval{ 
        flex-basis: 3% !important;
    }
    
    .apply-kyc {
		background: transparent;
		border: thin solid #454D67;
		border-radius: 5px;
		padding: 5px;
	}
}