<kt-portlet>

    <kt-portlet-body>

        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.firstName | titlecase}}&nbsp;{{role.lastName | titlecase}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef>Mobile No.</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.mobileNumber}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="pan">
                    <mat-header-cell *matHeaderCellDef>PAN</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.panCardNumber | uppercase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.state.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.city.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date & Time</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span class="d-block">{{role.updatedAt | date:'mediumDate'}},&nbsp;</span>
                        <span class="d-block">{{role.updatedAt | date:'shortTime'}}</span>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef >Time</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.updatedAt | date:'shortTime'}}</mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span class="text-success" *ngIf="role.status.id == '1'">
                            {{role.status.statusName | titlecase}} </span>
                        <span class="text-warning" *ngIf="role.status.id == '2'">
                            {{role.status.statusName | titlecase}}
                        </span>
                        <span class="text-danger" *ngIf="role.status.id == '3'">
                            {{role.status.statusName | titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kyc">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <ng-container *ngIf="role.status.id == '1'">
                            <div [ngStyle]="{'display': 'inherit'}">
                                <div class="kt-pointer" (click)="goToKyc(role.mobileNumber)" class="kt-pointer">Apply
                                    KYC</div>
                            </div>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <div *ngIf="role.status.id !== 1" [ngStyle]="{'display': 'inherit'}">
                            <div class="kt-pointer" (click)="editLead(role)" class="kt-pointer">Edit</div>
                        </div>
                        <div *ngIf="role.status.id == 1" [ngStyle]="{'display': 'inherit'}">
                            <div class="kt-pointer" class="kt-pointer">-</div>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>

            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>