.shopDiv {
    .mat-chip-list-wrapper {
        display: inline-block;
        margin: auto;
        white-space: nowrap;
        .type{
            min-height: 45px;
            justify-content: center;
            background-color: white;
            color: #454d67;
            border-radius: 10px;
            font-weight: 600;
            padding: 15px;
        }
        .subStyle{
            min-height: 45px;
            justify-content: center;
            background-color: white;
            color: #454d67;
            border-radius: 10px;
            font-weight: 600;
            padding: 15px;
        }
        .selected,.subStyle:hover{
            background-color: #454d67;
            color: white;
        }
    }
    .card-container {
        margin: 0 -5px;
    }
    .customer-id {
        margin-bottom: 0.5rem;
        min-height: 3rem;
    }
    .card {
        position     : relative;
        padding      : 10px;
        margin       : 10px;
        border-radius: 15px;
    }
    .grid-card {
        width: 20%;
    }
    .list-card {
        position     : relative;
        width        : 100%;
        padding      : 10px;
        margin       : 10px;
        border-radius: 15px;
        border: 1px solid #ebedf2;
    }
    .productListImage {
        max-width: 100px;
        max-height: 100px;
    }
    .productGridImageDiv {
        min-width: 150px;
        min-height: 150px;
    }
    .productGridImage {
        max-width: 150px;
        max-height: 150px;
    }
    mat-paginator.mat-paginator.paginator--centered {
        display: flex;
        justify-content: center;
    } 
}