<div class="shopDiv">
    <div *ngIf="subCategory" class="mb-3 d-flex">
        <mat-chip-list>
            <mat-chip class="type">Sub Category</mat-chip>
        </mat-chip-list>
        <mat-chip-list class="d-flex overflow-auto">
            <mat-chip class="subStyle kt-pointer" [class.selected]="productsData.subCategoryId == ''"
                (click)="selectedSubCategory('')">All ({{subCategoryCount}})</mat-chip>
            <mat-chip *ngFor="let sub of subCategory" class="subStyle kt-pointer"
                [class.selected]="productsData.subCategoryId == sub.id" (click)="selectedSubCategory(sub.id)">
                {{sub.subCategoryName}}&nbsp;({{sub.count}})
            </mat-chip>
        </mat-chip-list>
    </div>
    <kt-portlet>
        <kt-portlet-body [class]="'kt-portlet__body--fit'">

            <div class="row card-container" *ngIf="products && toogler == 'grid'">
                <div class="grid-card" *ngFor="let product of products;index as i">
                    <div class="card bg-white text-center">
                        <div class="productGridImageDiv d-flex align-items-center justify-content-center">
                            <img class="productGridImage"
                                [src]="product.productImage != '0' ? product?.productImage: 'assets/media/icons/image-placeholder.png'"
                                alt="test">
                            <div class="middle">
                                <kt-button [value]='"Quick View"' [type]='"button"' (action)="view(product.id)"
                                    class="kt-padding-r-5"></kt-button>
                            </div>
                        </div>
                        <div class="text-color customer-id font-weight-bold mt-2">{{product.productName}}</div>
                        <p>Weight: {{product.weight}} GMS</p>
                        <p class="text-color font-weight-bold">
                            <span
                                class="currency">{{product.productPrice[0].finalProductPrice | indianCurrencyFormat}}</span>
                        </p>
                        <kt-button [value]='"Order Now"' [type]='"button"' (action)="action(product.id)"
                            class="kt-padding-r-5"></kt-button>
                    </div>
                </div>
            </div>

            <div class="row card-container" *ngIf="products && toogler == 'list'">
                <div class="list-card bg-white" *ngFor="let product of products;index as i">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div
                                    class="col-md-2 productListImageDiv d-flex align-items-center justify-content-center">
                                    <img class="productListImage"
                                        [src]="product.productImage != '0' ? product?.productImage: 'assets/media/icons/image-placeholder.png'"
                                        alt="test">
                                    <div class="middle">
                                        <kt-button [value]='"Quick View"' [type]='"button"' (action)="view(product.id)"
                                            class="kt-padding-r-5"></kt-button>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p class="text-color font-weight-bold">
                                        {{product.productName | titlecase}}
                                    </p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p>SKU Code :&nbsp;<span
                                                    class="text-color font-weight-500">{{product.sku}}</span></p>
                                            <p>Metal Type :&nbsp;<span
                                                    class="text-color font-weight-500">{{product.subCategory.category.metalType.metalType}}</span>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>Jewellery Type :&nbsp;<span
                                                    class="text-color font-weight-500">{{product.subCategory.subCategoryName}}</span>
                                            </p>
                                            <p>Conversion Factor :&nbsp;<span
                                                    class="text-color font-weight-500">{{product.subCategory.category.conversionFactor}}</span>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>Weight :&nbsp;<span class="text-color font-weight-500">{{product.weight}}
                                                    Gram</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h5 class="text-color font-weight-bold pt-4 currency">
                                        {{product.productPrice[0].finalProductPrice | indianCurrencyFormat}}
                                    </h5>
                                    <kt-button [value]='"Order Now"' [type]='"button"' (action)="action(product.id)"
                                        class="py-3"></kt-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-container mt-4 text-color font-weight-bold" [ngStyle]="{'min-height':'60vh'}"
                *ngIf="products?.length == 0">
                <p class="text-center">No Records Found</p>
            </div>

            <mat-paginator class="paginator--centered" [length]="count" [pageSize]="25"
                [pageSizeOptions]="[25, 50, 100]" (page)="getServerData($event)">
            </mat-paginator>
        </kt-portlet-body>
    </kt-portlet>
</div>