<kt-toastr #toastr></kt-toastr>
<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-form">
        <form [formGroup]="standardDeductionForm">
            <div class="kt-portlet__body">
                <div class="kt-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-5 form-label">
                            <label for="" class="mandatory">Standard Deduction (%)</label>
                        </div>
                        <div class="col-7">
                            <input type="text" class="form-control" formControlName="standardDeduction"
                                [class.isError]="controls.standardDeduction.invalid &&  controls.standardDeduction.touched">
                            <mat-error
                                *ngIf="controls.standardDeduction.touched && controls.standardDeduction.errors?.required">
                                Required field
                            </mat-error>
                            <mat-error
                                *ngIf="(controls.standardDeduction.errors?.pattern || controls.standardDeduction.errors?.max) && controls.standardDeduction.touched">
                                Invalid Input
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <kt-modal-footer (action)="action($event)" [value]="button">
                </kt-modal-footer>
            </div>
        </form>
    </div>
</div>