<kt-portlet>
    <kt-modal-header [title]='"Assign Appraiser"' (action)="action($event)"></kt-modal-header>
    <kt-portlet-body>
        <form [formGroup]="packetForm">
            <div class="row ">
                <div class="col-12">
                    <div class="row justify-content-center kt-margin-t-10">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory">Packet Id</label>
                        </div>
                        <div class="col-8">
                            <kt-multi-select-search [items]="data.packetData" [multiple]="true"
                                [placeholder]="'Selected Packets'" formControlName="multiselect"
                                [bindLabel]="'packetUniqueId'" [selectAll]="true">
                            </kt-multi-select-search>

                            <!-- <input type="text" class="form-control" formControlName="packetUniqueId"
                                placeholder="PAC-01"
                                [class.isError]="packetForm.controls.packetUniqueId.invalid &&  packetForm.controls.packetUniqueId.touched"> -->
                            <mat-error *ngIf="controls.multiselect.touched && controls.multiselect.errors?.required">
                                Required field
                            </mat-error>
                        </div>
                    </div>

                    <div class="row justify-content-center kt-margin-t-10">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory">Appraiser</label>
                        </div>
                        <div class="col-8">

                            <select class="form-control" formControlName="appraiserId"
                                [class.isError]="controls.appraiserId.touched && controls.appraiserId.invalid">
                                <option value="" [disabled]="true" [selected]="true"> Select Appraiser
                                </option>
                                <option *ngFor="let appraiser of appraisers" [value]="appraiser.id">
                                    {{appraiser.firstName | titlecase}}&nbsp;{{appraiser.lastName | titlecase}}
                                </option>
                            </select>
                            <mat-error *ngIf="controls.appraiserId.touched && controls.appraiserId.errors?.required">
                                Required field
                            </mat-error>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </kt-portlet-body>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer *ngIf="data.action == 'add'" (action)="action($event)" [value]="'Add'"></kt-modal-footer>
            <kt-modal-footer *ngIf="data.action == 'edit'" (action)="action($event)" [value]="'Update'">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>
</kt-portlet>