<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body position-relative">
        <div class="text-right">
            <a href="../../../../../assets/media/files/holidays.csv" download="holidays.csv"
                *ngIf="tabGroup.selectedIndex == 1">
                <span class="text-primary csv_pos">
                    <img src="../../../../../assets/media/icons/download.svg" alt="download" height="20"> Download
                    Sample CSV</span>
            </a>
        </div>

        <mat-tab-group #tabGroup>
            <mat-tab label="By Filling From">
                <form [formGroup]="fillingForm">
                    <div class="row kt-margin-b-15">
                        <div class="col-3 pl-3 form-label">
                            <label class="text-color mandatory">Holiday Date</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" formControlName="holidayDate"
                                [matDatepicker]="picker" (click)="picker.open()"
                                [class.isError]="fillingForm.get('holidayDate').touched && fillingForm.get('holidayDate').invalid"
                                placeholder="25/12/2020" (dateChange)="patchyear()">
                            <mat-datepicker #picker></mat-datepicker>

                        </div>
                    </div>
                    <div class="row kt-margin-b-15">
                        <div class="col-3 pl-3 form-label">
                            <label class="text-color mandatory"> Event</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" formControlName="description"
                                [class.isError]="fillingForm.get('description').touched && fillingForm.get('description').invalid"
                                placeholder="Christmas">
                        </div>
                    </div>


                </form>
            </mat-tab>
            <mat-tab label="By Uploading CSV" *ngIf="!disableCsv">
                <form [formGroup]="csvForm">

                    <div class="row kt-margin-t-20">
                        <div class="col-3 pl-3 form-label">
                            <label class="text-color mandatory">Upload CSV</label>
                        </div>
                        <div class="col-9">
                            <div class="input-group mb-3"
                                [class.isError]="csvForm.get('csv').touched && csvForm.get('csv').invalid">
                                <input type="text" class="form-control" placeholder="Sample.csv"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2"
                                    formControlName="csv" readonly>
                                <div class="input-group-append">
                                    <span class="input-group-text bg kt-pointer font-weight" id="basic-addon2"
                                        (click)="file.click()">Attach</span>
                                </div>
                            </div>
                            <label class="file d-none">
                                <input type="file" id="file" aria-label="File browser example" #file
                                    (input)="getFileInfo($event)">
                                <span class="file-custom"></span>
                            </label>
                        </div>
                    </div>

                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="data.action == 'add' ? 'Add': 'Update'">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>


</div>