<kt-toastr #toastr></kt-toastr>

<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body font-weight-500" *ngIf="data.action == 'view'">
        <div class="row py-2">
            <div class="col-md-5 text-muted">
                Customer ID :
            </div>
            <div class="col-md-7">
                {{orderData?.order?.customerDetails.customerUniqueId ? orderData?.order?.customerDetails.customerUniqueId : '-'}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-5 text-muted">
                Order ID :
            </div>
            <div class="col-md-7">
                {{orderData?.order?.orderUniqueId ? orderData?.order?.orderUniqueId : '-'}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-5 text-muted">
                Order Total Amount :
            </div>
            <div class="col-md-7">
                {{orderData?.finalOrderPrice ? orderData?.finalOrderPrice : '-'}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-5 text-muted">
                Order Initial Amount :
            </div>
            <div class="col-md-7">
                {{orderData?.initialPayment ? orderData?.initialPayment : '-'}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-5 text-muted">
                EMI Due Date :
            </div>
            <div class="col-md-7">
                {{orderData?.dueDate ? (orderData?.dueDate | date:'medium') : '-'}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-5 text-muted">
                EMI Payment Date :
            </div>
            <div class="col-md-7">
                {{orderData?.paymentRecievedDate ? (orderData?.paymentRecievedDate | date:'medium') : '-'}}
            </div>
        </div>
    </div>
</div>