:host{
    ::ng-deep.mat-row,
    ::ng-deep.mat-header-row{
        width: 250% !important;
    }

    .mat-column-principalOutstandingAmountLTV{
        display: flex;
        flex-direction: column;
        flex: 0 0 8%;
    }

    .mat-column-loanId {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 0 4%;
    }

    .mat-column-partReleaseAmountStatus {
        flex: 0 0 3%;
    }

    .mat-column-updateStatus {
        flex: 0 0 5%;
    }
}