:host{
    ::ng-deep.mat-row,
    ::ng-deep.mat-header-row{
        width: 285% !important;
    }

    .mat-column-principalOutstandingAmountLTV{
        display: flex;
        flex-direction: column;
        flex: 0 0 7%;
        align-items: flex-end;
    }

    .mat-column-loanId {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 0 3%;
    }
    .mat-column-appointmentTime {
        flex: 0 0 4%;
    }
    .mat-column-appointmentDate {
        flex: 0 0 4%;
    }
    .mat-column-partReleaseAmountStatus {
        flex: 0 0 3%;
    }
    .mat-column-updateStatus {
        flex: 0 0 5%;
    }
    .mat-column-view {
        flex: 0 0 5%;
    }

    .mat-column-tenure{
        flex: 0 0 3%;
    }
    .mat-column-loanAmount{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // padding-right: 25px;
        justify-content: flex-end;
    }
    .mat-column-principalAmount{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // padding-right: 25px;
        justify-content: flex-end;
        flex: 0 0 5%;
    }
    .mat-column-totalPayableAmount{
        // padding-right: 25px;
        justify-content: flex-start;
        flex: 0 0 5%;
    }
    .mat-column-penalInterest{
        // padding-right: 25px;
        justify-content: flex-start;
        flex: 0 0 4%;
    }
    .mat-column-interestAmount{
        // padding-right: 25px;
        justify-content: flex-start;
        flex: 0 0 5%;
    }
    .mat-column-ornamentReleaseAmount{
        // padding-right: 25px;
        justify-content: flex-start;
        flex: 0 0 4.5%;
    }
    .mat-column-previousLTV{
        // padding-right: 25px;
        justify-content: flex-start;
    }
    .mat-column-currentLTV{
        // padding-right: 25px;
        justify-content: flex-start;
    }
    .mat-column-currentLocation{
        flex: 0 0 5%;
    }
    .mat-column-totalDeductionWeight {
        flex: 0 0 5%;
    }
    .mat-column-totalGrossWeight {
        flex: 0 0 5%;
    }
    .mat-column-customerName {
        flex: 0 0 5%;
    }
    .mat-column-parnterName {
        flex: 0 0 4%;
    }
    .mat-column-partnerBranch {
        flex: 0 0 4%;
    }
}