<kt-toastr #toastr></kt-toastr>
<kt-portlet *ngIf="orderData">
    <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <div class="row justify-content-center kt-padding-t-10 kt-padding-b-10">
            <div class="col-10">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Name :</td>
                            <td class="font-weight-500">
                                {{orderData.customerDetails.firstName}}&nbsp;{{orderData.customerDetails.lastName}}</td>
                            <td>Order ID :</td>
                            <td class="font-weight-500">{{orderData.orderUniqueId}}</td>
                        </tr>
                        <tr>
                            <td>Mobile :</td>
                            <td class="font-weight-500">{{orderData.customerDetails.mobileNumber}}</td>
                            <td>Product Name :</td>
                            <td class="font-weight-500">{{orderData.product.productName}}</td>
                        </tr>
                        <tr>
                            <td>SKU :</td>
                            <td class="font-weight-500">{{orderData.product.sku}}</td>
                            <td>Weight :</td>
                            <td class="font-weight-500">{{orderData.weight}}&nbsp;Grams</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div *ngIf="orderData.paymentType.id != 4">
                    <div class="row">
                        <div class="col-md-3 d-block">
                            <div>Invoice Price</div>
                            <div>
                                <h4 class="currency">
                                    {{orderData?.orderdetails[0]?.finalOrderPrice | indianCurrencyFormat}}</h4>
                            </div>
                        </div>
                        <div class="col-md-3 d-block">
                            <div>EMI Scheme</div>
                            <div>
                                <h4>{{orderData?.paymentType?.paymentType}} Months</h4>
                            </div>
                        </div>
                        <div class="col-md-3 d-block">
                            <div>Initial Payment</div>
                            <div>
                                <h4 class="currency">
                                    {{orderData?.orderdetails[0]?.initialPayment | indianCurrencyFormat}}</h4>
                            </div>
                        </div>
                        <div class="col-md-3 d-block">
                            <div>EMI Amount</div>
                            <div>
                                <h4 class="currency">{{orderData?.orderdetails[0]?.emiAmount | indianCurrencyFormat}}
                                </h4>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <table class="table table-borderless" *ngIf="orderData && orderData.orderemidetails">
                        <thead>
                            <tr class="text-color">
                                <th></th>
                                <th scope="col">Customer ID</th>
                                <th scope="col">Order ID</th>
                                <th scope="col">EMI Date</th>
                                <th scope="col">EMI Amount</th>
                                <th scope="col">EMI Paid Amount</th>
                                <th scope="col">EMI Balance Amount</th>
                                <th scope="col">EMI Deduct Date</th>
                                <th scope="col">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of orderData.orderemidetails">
                                <td> <span
                                        *ngIf="orderData.orderCurrentStatus.id == 2 || orderData.orderCurrentStatus.id == 3 || orderData.orderCurrentStatus.id == 15">
                                        <mat-checkbox *ngIf="data.orderStatusId == 1 || data.orderStatusId == 15"
                                            (change)="selectedEmi($event,data.id)"></mat-checkbox>
                                    </span>
                                </td>
                                <td>{{orderData.customerDetails.customerUniqueId}}</td>
                                <td>{{orderData.orderUniqueId}}</td>
                                <td>{{data.dueDate | date:'dd MMM yyyy'}}</td>
                                <td>{{data.emiAmount}}</td>
                                <td>{{data.emiPaidAmount}}</td>
                                <td>{{data.emiBalancePayment}}</td>
                                <td>{{data.paymentRecievedDate ? (data.paymentRecievedDate | date:'dd MMM yyyy') : '-'}}
                                </td>
                                <td>{{data.orderemistatus.statusName | titlecase}}</td>
                                <td *ngIf="data.orderStatusId != 1 && data.orderStatusId != 15">
                                    <button type="button" class="btn btn-outline"
                                        (click)="printEmiReceipt(data.id)">Print EMI Receipt</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center" *ngIf="orderData.paymentType.id == 4">
                    <div class="d-block">
                        <div>Invoice Price</div>
                        <div>
                            <h4 class="currency">{{orderData.orderdetails[0].finalOrderPrice | indianCurrencyFormat}}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </kt-portlet-body>
    <kt-portlet-footer class="text-center">
        <button *ngIf="orderData.orderCurrentStatus.id == 8" type="button" class="btn btn-outline my-3"
            (click)="printEmiReceipt(orderData.id)">Print Receipt</button>
        <button
            *ngIf="orderData.orderCurrentStatus.id == 2 || orderData.orderCurrentStatus.id == 3 || orderData.orderCurrentStatus.id == 15"
            type="button" class="btn btn-outline my-3" (click)="getEmiAmount()" [disabled]="emi.length == 0">Pay
            EMI</button>
    </kt-portlet-footer>
</kt-portlet>