:host(){
    .btn-outline{
        padding: 5px 10px;
        margin: 0;
        border: 1px solid #454d67;
        border-radius: 8px;
        color: #454d67;
    }
    th{
        vertical-align: top;
    }
    td{
        vertical-align: middle;
    }
    button{
        min-width: 130px;
    }
}