:host{
  
    ::ng-deep.mat-tab-header {
		position: relative !important;
    }
    ::ng-deep.mat-tab-label{
        min-width: 130px !important;
        padding: 0 !important;
    }
    // select{
    //     -webkit-appearance: none !important;
    //     -moz-appearance: none !important;
    //   }
    
    .addMore{
        width: 40%;
        position: absolute;
		top: 10px;
    }
	.addMore button {
		background: transparent;
		border: thin solid #454D67;
		border-radius: 5px;
        padding: 0.65rem !important;
    }
    .packets {
        height: 195px;
        width: 100%;
        border-radius: 15px;
    }
    .addMore .packet-dropdown{
        background: transparent !important;
		border: thin solid #454D67 !important;
        border-radius: 5px !important;
        font-weight: bold !important;
        margin-left: 20px !important;
    }
    .pacekts-label {
        font-size: 12px;
        margin   : 15px auto;
    }

    .position-relative {
        position: relative;

    }
    .edit-icon {
        position: absolute;
        top: 5px;
        right: 15px;
    }
}