<kt-portlet>

	<kt-portlet-body>
		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">
				<!-- Checkbox Column -->

				<!-- Table with selection -->
				<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->

				<ng-container matColumnDef="roleName">
					<!-- ATTRIBUTE   for sorting | https://material.angular.io/components/sort/overview -->
					<mat-header-cell *matHeaderCellDef >Role Name</mat-header-cell>
					<mat-cell *matCellDef="let role">
						<div class="font-weight-bold text-color kt-pointer" (click)="permissions(role)">
							{{role.roleName | titlecase}}
						</div>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="createdBy">
					<mat-header-cell *matHeaderCellDef >Created By</mat-header-cell>
					<mat-cell *matCellDef="let role">{{role.createdByUser.firstName | titlecase}} &nbsp; {{role.createdByUser.lastName | titlecase}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="modifiedBy">
					<mat-header-cell *matHeaderCellDef >Modified By</mat-header-cell>
					<mat-cell *matCellDef="let role">{{role.updatedByUser.firstName | titlecase}} &nbsp; {{role.updatedByUser.lastName | titlecase}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="modifiedDate">
					<mat-header-cell *matHeaderCellDef >Modified Date</mat-header-cell>
					<mat-cell *matCellDef="let role">{{role.createdAt | date:'mediumDate'}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="modifiedTime">
					<mat-header-cell *matHeaderCellDef >Modified Time</mat-header-cell>
					<mat-cell *matCellDef="let role">{{role.updatedAt | date:'mediumDate'}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="action">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let role">
						<div [ngStyle]="{'display': 'inherit'}">
							<div (click)="editRole(role,'Update')" class="kt-pointer text-color font-weight-bold"> Edit |
								&nbsp;
							</div>
							<div class="kt-pointer text-color font-weight-bold" (click)="deleteRole(role.id)">Delete</div>
						</div>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>

			<div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
			<!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]" [length]="dataSource.paginatorTotal$ | async"
				[showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>