:host {
	::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
		color: gray !important;
	  }
	  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
		background-color: #e3e3e3 !important;
	  }
	  
	.cursor-not-allowed{
		cursor: not-allowed !important;
	}
	img{
		cursor: pointer;
	}
	.head {
		background-color: #e3e3e3;
		border: thin solid #e3e3e3;
		border-radius: 10px 10px 0 0;
		font-weight: 600;
	}
	.body {
		font-weight: 400;
	}
	.col-3,
	.col-4 {
		padding: 10px !important;
	}
	.col-4.border {
		border-right: thin solid #e3e3e3 !important;
		border-left: thin solid #e3e3e3 !important;
		border-top: 0 !important;
		border-bottom: 0 !important;
	}
	.bordered {
		border: thin solid #e3e3e3 !important;
		border-radius: 10px !important ;
	}
	.border-top-bottom {
		border-bottom: thin solid #e3e3e3 !important;
	}
	.col-4.select {
		padding: 15px 20px !important;
	}
}
