<div class="container">
    <form [formGroup]="approvalForm">
        <div class="row justify-content-center">
            <!-- <div class="col-8 bordered">
                <div class="row head">
                    <div class="col-4">Field</div>
                    <div class="col-4 border text-center">Appraiser</div>
                    <div class="col-4 text-center" *ngIf="viewBMForm || url == 'view-loan'">Branch Manager</div>
                </div>
                <div class="row body border-top-bottom">
                    <div class="col-4 form-label">
                        <label for="">Loan Application Form</label>
                    </div>
                    <div class="col-4 border text-center">
                        <img src="../../../../../../../assets/media/icons/correct.svg"
                            [ngClass]="{'cursor-not-allowed':(userType !=7 || this.disable )}"
                            *ngIf="controls.applicationFormForAppraiser.value"
                            (click)="approvalOfAppraiser(false,'form')">
                        <img src="../../../../../../../assets/media/icons/incorrect.svg"
                            [ngClass]="{'cursor-not-allowed':(userType !=7 || this.disable )}"
                            *ngIf="!controls.applicationFormForAppraiser.value"
                            (click)="approvalOfAppraiser(true,'form')">
                    </div>
                    <div class="col-4 text-center" *ngIf="viewBMForm || url == 'view-loan'">
                        <img src="../../../../../../../assets/media/icons/correct.svg"
                            [ngClass]="{'cursor-not-allowed':(userType !=5 || this.disable)}"
                            *ngIf="controls.applicationFormForBM.value" (click)="approvalOfBM(false,'form')">
                        <img src="../../../../../../../assets/media/icons/incorrect.svg"
                            [ngClass]="{'cursor-not-allowed':(userType !=5 || this.disable)}"
                            *ngIf="!controls.applicationFormForBM.value" (click)="approvalOfBM(true,'form')">
                    </div>
                </div>
                <div class="row body border-top-bottom">
                    <div class="col-4 form-label">
                        <label>Gold Valuation</label>
                    </div>
                    <div class="col-4 border text-center">
                        <img src="../../../../../../../assets/media/icons/correct.svg"
                            [ngClass]="{'cursor-not-allowed':(userType !=7 || this.disable)}"
                            *ngIf="controls.goldValuationForAppraiser.value"
                            (click)="approvalOfAppraiser(false,'gold')">
                        <img src="../../../../../../../assets/media/icons/incorrect.svg"
                            [ngClass]="{'cursor-not-allowed':(userType !=7 || this.disable)}"
                            *ngIf="!controls.goldValuationForAppraiser.value"
                            (click)="approvalOfAppraiser(true,'gold')">

                    </div>
                    <div class="col-4 text-center" *ngIf="viewBMForm || url == 'view-loan'">
                        <img src="../../../../../../../assets/media/icons/correct.svg"
                            [ngClass]="{'cursor-not-allowed':(userType !=5 || this.disable )}"
                            *ngIf="controls.goldValuationForBM.value" (click)="approvalOfBM(false,'gold')" disabled>
                        <img src="../../../../../../../assets/media/icons/incorrect.svg"
                            [ngClass]="{'cursor-not-allowed':(userType !=5 || this.disable)}"
                            *ngIf="!controls.goldValuationForBM.value" (click)="approvalOfBM(true,'gold')" disabled>

                    </div>
                </div>
                <div class="row body">
                    <div class="col-4 form-label">
                        <label for="">Final Status</label>
                    </div>
                    <div class="col-4 border text-center select">
                        <select class="form-control " formControlName="loanStatusForAppraiser"
                            (change)="statusAppraiser()"
                            [class.isError]="controls.loanStatusForAppraiser.invalid && controls.loanStatusForAppraiser.touched">
                            <option [value]="" [disabled]="true" [selected]="true">Select Status</option>
                            <option [value]="status.value" *ngFor="let status of appraiser">{{status.name | titlecase}}
                            </option>
                        </select>
                        <mat-error
                            *ngIf="controls.loanStatusForAppraiser.invalid && controls.loanStatusForAppraiser.touched">
                            Field Required</mat-error>
                    </div>
                    <div class="col-4 text-center select" *ngIf="viewBMForm || url == 'view-loan'">
                        <select class="form-control" formControlName="loanStatusForBM" (change)="statusBM()"
                            [class.isError]="controls.loanStatusForBM.invalid && controls.loanStatusForBM.touched">
                            <option value="pending" [disabled]="true" [selected]="true">Select Status</option>
                            <option [value]="status.value" *ngFor="let status of branchManager">
                                {{status.name | titlecase}}</option>
                        </select>
                        <mat-error *ngIf="controls.loanStatusForBM.invalid && controls.loanStatusForBM.touched">Field
                            Required</mat-error>
                    </div>
                </div>
            </div> -->

            <div class="table-div">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 40%" >Field</th>
                            <th scope="col" style="width: 30%" class="text-center">Appraiser</th>
                            <th scope="col" style="width: 30%" class="text-center" *ngIf="viewBMForm || url == 'view-loan'">Branch Manager</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row" class="rating-title">Loan Application Form</td>
                            <td class="rating-cce text-center">
                                <img src="../../../../../../../assets/media/icons/correct.svg"
                                    [ngClass]="{'cursor-not-allowed':(userType !=7 || this.disable )}"
                                    *ngIf="controls.applicationFormForAppraiser.value"
                                    (click)="approvalOfAppraiser(false,'form')">
                                <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                    [ngClass]="{'cursor-not-allowed':(userType !=7 || this.disable )}"
                                    *ngIf="!controls.applicationFormForAppraiser.value"
                                    (click)="approvalOfAppraiser(true,'form')">
                            </td>
                            <td class="rating-bm text-center" *ngIf="viewBMForm || url == 'view-loan'">
                                <img src="../../../../../../../assets/media/icons/correct.svg"
                                    [ngClass]="{'cursor-not-allowed':(userType !=5 || this.disable)}"
                                    *ngIf="controls.applicationFormForBM.value" (click)="approvalOfBM(false,'form')">
                                <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                    [ngClass]="{'cursor-not-allowed':(userType !=5 || this.disable)}"
                                    *ngIf="!controls.applicationFormForBM.value" (click)="approvalOfBM(true,'form')">
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="rating-title">Gold Valuation
                            </td>
                            <td class="rating-cce text-center">
                                <img src="../../../../../../../assets/media/icons/correct.svg"
                                    [ngClass]="{'cursor-not-allowed':(userType !=7 || this.disable)}"
                                    *ngIf="controls.goldValuationForAppraiser.value"
                                    (click)="approvalOfAppraiser(false,'gold')">
                                <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                    [ngClass]="{'cursor-not-allowed':(userType !=7 || this.disable)}"
                                    *ngIf="!controls.goldValuationForAppraiser.value"
                                    (click)="approvalOfAppraiser(true,'gold')">
                            </td>
                            <td class="rating-bm text-center" *ngIf="viewBMForm || url == 'view-loan'">
                                <img src="../../../../../../../assets/media/icons/correct.svg"
                                    [ngClass]="{'cursor-not-allowed':(userType !=5 || this.disable )}"
                                    *ngIf="controls.goldValuationForBM.value" (click)="approvalOfBM(false,'gold')"
                                    disabled>
                                <img src="../../../../../../../assets/media/icons/incorrect.svg"
                                    [ngClass]="{'cursor-not-allowed':(userType !=5 || this.disable)}"
                                    *ngIf="!controls.goldValuationForBM.value" (click)="approvalOfBM(true,'gold')"
                                    disabled>
                            </td>
                        </tr>

                        <tr>
                            <td scope="row" class="rating-title">Final Status
                            </td>
                            <td class="rating-cce">
                                <select class="form-control " formControlName="loanStatusForAppraiser"
                                    (change)="statusAppraiser()"
                                    [class.isError]="controls.loanStatusForAppraiser.invalid && controls.loanStatusForAppraiser.touched">
                                    <option [value]="" [disabled]="true" [selected]="true">Select Status</option>
                                    <option [value]="status.value" *ngFor="let status of appraiser">
                                        {{status.name | titlecase}}
                                    </option>
                                </select>
                                <mat-error
                                    *ngIf="controls.loanStatusForAppraiser.invalid && controls.loanStatusForAppraiser.touched">
                                    Field Required</mat-error>
                            </td>
                            <td class="rating-bm" *ngIf="viewBMForm || url == 'view-loan'">
                                <select class="form-control" formControlName="loanStatusForBM" (change)="statusBM()"
                                    [class.isError]="controls.loanStatusForBM.invalid && controls.loanStatusForBM.touched">
                                    <option value="pending" [disabled]="true" [selected]="true">Select Status</option>
                                    <option [value]="status.value" *ngFor="let status of branchManager">
                                        {{status.name | titlecase}}</option>
                                </select>
                                <mat-error *ngIf="controls.loanStatusForBM.invalid && controls.loanStatusForBM.touched">
                                    Field
                                    Required</mat-error>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center " *ngIf="controls.loanStatusForAppraiser.value && controls.loanStatusForAppraiser.value != 'approved'">
            <div class="col-8">
                <mat-form-field class="w-100">

                    <textarea cols="4" rows="3" matInput formControlName="commentByAppraiser"
                        placeholder="Reason for Pending"></textarea>
                    <mat-error>Field
                        Required</mat-error>
                </mat-form-field>

            </div>
        </div>
        <div class="row justify-content-center " *ngIf="controls.loanStatusForBM.value != 'pending' && controls.loanStatusForBM.value != 'approved'">
            <div class="col-8">
                <mat-form-field class="w-100">

                    <textarea cols="4" rows="3" matInput formControlName="commentByBM"
                        placeholder="Reason for Rejection"></textarea>
                    <mat-error>Field Required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>



    </form>
</div>
<div class="row py-3" *ngIf="!disable">
    <div class="col-12 text-center">
        <kt-button [value]="'Apply'" [type]="'button'" (click)=" applyForm()"></kt-button>
        <span class="kt-padding-10"></span>
        <kt-button [value]="'Cancel'" [type]="'reset'" (click)="cancel()"></kt-button>
    </div>
</div>