:host {
    .main {
        min-height: 80vh;
    }
    .checkmark {
        top: 0;
    }
    .ornament-list {
        //width: 120%;
        width:100%;
    }
    .apply-kyc {
        width: 165px
    }
    .padding-left {
        padding-left: 4%;
    }
}