:host {
    .main {
        min-height: 80vh;
    }
    .checkmark {
        top: 0;
    }
    .ornament-list {
        //width: 120%;
        width:100%;
    }
    .apply-kyc {
        width: 165px
    }
    .padding-left {
        padding-left: 4%;
    }
    .padding-right {
        padding-right: 4%;
    }
    .table-padding-start {
        padding-left: 4%;
    }
    .table-padding-end {
        padding-left: 6%;        
    }

    .table-amount {
        text-align: right;
        padding-right: 6%;
    }
    .th-padding-left {
		padding-left: 3%;
    	width: 10%;
	}
.th-padding-right {
		padding-right: 2% !important;
	}
    .padding-right {
        padding-right: 4% !important;;
    }
}