<kt-portlet>
    <kt-portlet-body>
        <div class="main" id="container">
            <div class="row kt-padding-t-5 kt-margin-b-5">
                <div class="col font-weight-500">Customer ID</div>
                <div class="col font-weight-500">Loan ID</div>
                <div class="col font-weight-500">Loan Amount</div>
                <div class="col font-weight-500">Loan Start Date</div>
                <div class="col font-weight-500">Loan End Date</div>
                <div class="col font-weight-500">Tenure</div>
                <div class="col font-weight-500">Last Payment Date</div>
                <div class="col-2 font-weight-500" [class.padding-left]="fullReleaseScreen">Principal Outstanding Amount
                </div>
                <div class="col font-weight-500 " *ngIf="!fullReleaseScreen">
                    <kt-button [value]="'Full Release'" [type]="'button'" (click)="fullRelease()"></kt-button>
                </div>
            </div>

            <div class="row kt-padding-t0" *ngIf="loanDetails">
                <div class="col">
                    {{loanDetails.customerLoan.loanPersonalDetail.customerUniqueId}}</div>
                <div class="col">
                    <div *ngFor="let loan of loanDetails.customerLoan.customerLoan">
                        {{loan.loanUniqueId}}
                    </div>
                </div>
                <div class="col">
                    <div *ngFor="let loan of loanDetails.customerLoan.customerLoan">
                        {{loan.loanAmount}}
                    </div>
                </div>
                <div class="col"> {{loanDetails.customerLoan.loanStartDate | date: 'mediumDate'}}
                </div>
                <div class="col"> {{loanDetails.customerLoan.loanEndDate | date: 'mediumDate'}}</div>
                <div class="col">{{loanDetails.customerLoan.tenure}} Months</div>
                <div class="col">
                    <span
                        *ngIf="loanDetails.lastPayment else blank">{{loanDetails.lastPayment | date: 'mediumDate'}}</span>
                </div>
                <div class="col-2" [class.padding-left]="fullReleaseScreen">
                    <div *ngFor="let loan of loanDetails.customerLoan.customerLoan">
                        {{loan.outstandingAmount}}
                    </div>
                </div>
                <div class="col" *ngIf="!fullReleaseScreen">

                </div>

                <ng-template #blank>
                    <div>-</div>
                </ng-template>
            </div>
            <h5 class="kt-padding-t-30">Ornaments Details</h5>
            <div *ngIf="!fullReleaseScreen">
                <!-- <h5 class="kt-padding-t-30">Ornaments Details</h5> -->

                <div class="table-div table-responsive kt-padding-t-15">
                    <table class="table outer-border ornament-list">
                        <thead>
                            <th class="transparent"> </th>
                            <th class="transparent">Ornament Type</th>
                            <th class="transparent" style="width: 110px;">Packet ID</th>
                            <th class="transparent">Quantity</th>
                            <th class="transparent">Gross Weight</th>
                            <th class="transparent">Deduction Weight </th>
                            <th class="transparent" style="width: 100px;">Net Weight</th>
                            <!-- <th class="transparent" style="width: 100px;">WM 00 weight</th> -->
                            <!-- <th class="transparent">With Ornament weight</th> -->
                            <!-- <th class="transparent" style="width: 100px;">Stone Touch</th> -->
                            <!-- <th class="transparent">Acid Test</th> -->
                            <!-- <th class="transparent">Purity Test</th> -->
                            <th class="transparent">Karat</th>
                            <th class="transparent">Purity %</th>
                            <!-- <th class="transparent">LTV Amount</th>
                            <th class="transparent">Final LTV Loan Amount</th> -->
                            <th class="transparent">Ornament Image</th>
                        </thead>
                        <tbody *ngIf="loanDetails">
                            <tr *ngFor="let ornament of loanDetails.customerLoan.loanOrnamentsDetail, index as i">
                                <td>
                                    <span style="position: relative">

                                        <label class="custom-checkbox">
                                            <span class="label-checkbox text-color font-weight-500"></span>
                                            <input type="checkbox" class="" id="view"
                                                (change)="selectOrnament($event.target.checked, i , ornament)">
                                            <span class="checkmark top-0"></span>
                                        </label>
                                    </span>
                                </td>
                                <td>{{ ornament.ornamentType.name }}</td>
                                <!-- <td>
                                    <ng-container
                                        *ngFor="let packets of loanDetails.customerLoan.loanPacketDetails[0].packets">
                                        <ng-container *ngFor="let item of packets.ornamentTypes">
                                            <ng-container *ngIf="item.name == ornament.ornamentType.name">
                                                {{ packets.packetUniqueId | uppercase}}
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </td> -->
                                <td>
                                    {{ornament.packets[0].packetUniqueId | uppercase}}
                                </td>
                                <td>{{ ornament.quantity }}</td>
                                <td>{{ ornament.grossWeight }} gm</td>
                                <td>{{ ornament.deductionWeight }} gm</td>
                                <td>{{ ornament.netWeight }} gm</td>
                                <!-- <td>
                                    <span *ngIf="ornament.weightMachineZeroWeight; else noImage" class="kt-pointer"
                                        (click)="previewImage(ornament.weightMachineZeroWeightData.URL, i)">
                                        View
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="ornament.withOrnamentWeight; else noImage" class="kt-pointer"
                                        (click)="previewImage(ornament.withOrnamentWeightData.URL, i)">
                                        View
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="ornament.stoneTouch; else noImage" class="kt-pointer"
                                        (click)="previewImage(ornament.stoneTouchData.URL, i)">
                                        View
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="ornament.acidTest; else noImage" class="kt-pointer"
                                        (click)="previewImage(ornament.acidTestData.URL, i)">
                                        View
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="ornament.purityTest.length; else noImage" class="kt-pointer"
                                        (click)="previewImage(ornament.purityTestImage.URL[0], i)">
                                        View
                                    </span>
                                </td> -->
                                <td>{{ ornament.karat }} K</td>
                                <td>{{ ornament.ltvPercent }} %</td>
                                <!-- <td>{{ ornament.ltvAmount }}</td>
                                <td>{{ ornament.currentLtvAmount }}</td> -->
                                <td>
                                    <span *ngIf="ornament.ornamentImage; else noImage"
                                        class="kt-pointer kt-link kt-link--brand kt-font-bolder"
                                        (click)="previewImage(ornament.ornamentImageData.URL, i)">
                                        View
                                    </span>
                                </td>
                                <ng-template #noImage>
                                    <span> - </span>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="row kt-padding-t-15 kt-padding-b-15" *ngIf="show()">
                    <div class="col mx-auto d-flex justify-content-center">
                        <kt-button [value]="'Release'" [isDisabled]="selectedOrnaments.length == 0" [type]="'button'"
                            (click)="release()">
                        </kt-button>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="showReleaseSummary">
                <div class="row kt-padding-t-15 kt-padding-b-15">
                    <div [ngClass]="fullReleaseScreen ? 'col-8' : 'col-10'" class="mx-auto">
                        <div class="table-div kt-padding-t-15">
                            <table class="table outer-border">
                                <thead>
                                    <th [class.table-padding-start]="fullReleaseScreen" class="transparent">Total Gross
                                        Weight</th>
                                    <th class="transparent w100">Deduction Weight</th>
                                    <ng-container *ngIf="!fullReleaseScreen">
                                        <th class="transparent">Net Weight (Release Ornament)</th>
                                        <th class="transparent w100">Net Weight (Remaining Ornament)</th>
                                        <th class="transparent">Ornament Release Amount</th>
                                    </ng-container>
                                    <ng-container *ngIf="fullReleaseScreen">
                                        <th class="transparent" style="width: 15%;">Net Weight</th>
                                        <!-- <th class="transparent">Previous LTV</th>
                                        <th class="transparent">Current LTV</th> -->
                                        <th class="transparent table-padding-end">Principal Outstanding Amount

                                        </th>
                                    </ng-container>
                                </thead>
                                <tbody>
                                    <tr *ngIf="totalSelectedOrnamentDetails">
                                        <td class="table-padding-start">
                                            {{ totalSelectedOrnamentDetails.ornamentWeight.releaseGrossWeight }} gm</td>
                                        <td>{{ totalSelectedOrnamentDetails.ornamentWeight.releaseDeductionWeight }} gm
                                        </td>
                                        <ng-container *ngIf="!fullReleaseScreen">
                                            <td>{{ totalSelectedOrnamentDetails.ornamentWeight.releaseNetWeight }} gm
                                            </td>
                                            <td>{{ totalSelectedOrnamentDetails.ornamentWeight.remainingNetWeight }} gm
                                            </td>
                                            <td>{{ totalSelectedOrnamentDetails.ornamentWeight.releaseAmount }}</td>
                                        </ng-container>
                                        <ng-container *ngIf="fullReleaseScreen">
                                            <td>{{ totalSelectedOrnamentDetails.ornamentWeight.releaseNetWeight }} gm
                                            </td>
                                            <!-- <td>{{ totalSelectedOrnamentDetails.ornamentWeight.previousLtv }}</td>
                                            <td>{{ totalSelectedOrnamentDetails.ornamentWeight.currentLtv }}</td> -->
                                            <td class="table-padding-end">
                                                {{ totalSelectedOrnamentDetails.ornamentWeight.currentOutstandingAmount }}
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="row kt-padding-t-15 kt-padding-b-15">
                    <div class="col mx-auto d-flex justify-content-center">
                        <span class="kt-padding-r-10">
                            <kt-button [value]="'Proceed'" [type]="'button'" (click)="proceed()">
                            </kt-button>
                        </span>
                        <kt-button *ngIf="!fullReleaseScreen" [value]="'Cancel'" [type]="'reset'"
                            (click)="cancelRelease()">
                        </kt-button>
                    </div>
                </div>

                <ng-container *ngIf="showPaymentConfirmation">
                    <div class="table-div table-responsive kt-padding-t-15">
                        <table class="table outer-border">
                            <thead>
                                <th class="transparent" style="width: 100px;">Loan ID</th>
                                <th class="transparent" style="width: 120px;">Loan Amount</th>
                                <th class="transparent"> Ornament Release Amount</th>
                                <th class="transparent">Interest Amount</th>
                                <th class="transparent">Penal Interest </th>
                                <th class="transparent">Total Payable Amount </th>
                                <th class="transparent last">Select Payment Option</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <ng-container
                                            *ngFor="let item of totalSelectedOrnamentDetails.loanInfo.loanData">
                                            <div>{{item.loanUniqueId}}</div>
                                        </ng-container>
                                    </td>
                                    <td>
                                        <!-- <ng-container
                                            *ngFor="let item of totalSelectedOrnamentDetails.loanInfo.loanData">
                                            <div>{{item.loanAmount}}</div>
                                        </ng-container> -->
                                        <div *ngFor="let loan of loanDetails.customerLoan.customerLoan">
                                            {{loan.loanAmount}}
                                        </div>
                                        <!-- {{ totalSelectedOrnamentDetails.loanInfo.finalLoanAmount }} -->
                                    </td>
                                    <td>{{ totalSelectedOrnamentDetails.ornamentWeight.releaseAmount }}</td>
                                    <td>
                                        <div>
                                            {{ totalSelectedOrnamentDetails?.loanInfo?.securedInterest }}
                                        </div>
                                        <div *ngIf="totalSelectedOrnamentDetails?.loanInfo?.loanData?.length > 1">
                                            {{ totalSelectedOrnamentDetails?.loanInfo?.unsecuredInterest }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ totalSelectedOrnamentDetails?.loanInfo?.securedPenalInterest }}
                                        </div>
                                        <div *ngIf="totalSelectedOrnamentDetails?.loanInfo?.loanData?.length > 1">
                                            {{ totalSelectedOrnamentDetails?.loanInfo?.unsecuredPenalInterest }}
                                        </div>
                                    </td>
                                    <td class="font-weight-500" style="font-size: 14px;">
                                        {{ totalSelectedOrnamentDetails.loanInfo.totalPayableAmount }}</td>
                                    <td>
                                        <button *ngIf="!paymentValue" (click)="choosePaymentMethod()"
                                            class="apply-kyc">Select Payment</button>
                                        <button *ngIf="paymentValue" (click)="choosePaymentMethod()" class="apply-kyc">
                                            {{ paymentValue.paymentType | uppercase }}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row kt-padding-t-15 kt-padding-b-15">
                        <div class="col mx-auto d-flex justify-content-center">
                            <span class="kt-padding-r-10">
                                <kt-button [value]="'Confirm'" [type]="'button'" (click)="releaseConfirmation()">
                                </kt-button>
                            </span>
                            <kt-button [value]="'Cancel'" [type]="'reset'" (click)="cancelPayment()">
                            </kt-button>
                        </div>
                    </div>

                    <!-- <div class="col text-center">
                        <mat-hint><small>
                                On clicking confirm you will be redirected to available payment options
                            </small></mat-hint>
                    </div> -->
                </ng-container>
            </ng-container>
        </div>
    </kt-portlet-body>
</kt-portlet>