:host{
    .checkmark-custom{
        top: 7px !important;
        left: 5px !important;
        height: 15px !important;
        width: 15px !important;
    }
    .header-checkmark{
        top : 17px !important;
    }
    .custom-checkbox .checkmark:after {
        left: 5px !important;
        top: 1px !important;
    }
    ::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder{
        top: unset !important;
        padding-bottom: 0 !important;
    }
}