<div [formGroup]="form">
    <ng-select [items]="items" [multiple]="multiple" [bindLabel]="bindLabel" [closeOnSelect]="false"
        [bindValue]="bindValue" formControlName="multiSelect" [placeholder]="placeholder">
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <div class="custom-checkbox">
                <span class="label-checkbox">{{item[bindLabel] | titlecase}}</span>
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                [ngModelOptions]="{ standalone : true }" /> 
                <span class="checkmark checkmark-custom"></span>
            </div>
            <!-- <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                [ngModelOptions]="{ standalone : true }" /> {{item[bindLabel] | titlecase}} -->
        </ng-template>
        <ng-template ng-multi-label-tmp let-items="items">
            {{items[0][bindLabel] | titlecase}}&nbsp;
            <span *ngIf="items.length > 1">(+{{items.length - 1}})</span>
        </ng-template>
    </ng-select>
</div>