<kt-toastr #toastr></kt-toastr>
<kt-portlet>
  <kt-portlet-body>
    <div class="row height justify-content-center">
      <div class="col-7 scroll">
        <mat-tab-group>
          <mat-tab label="Category">
            <div class="row justify-content-center">
              <div class="col-10">
                <label class="custom-checkbox">
                  <span class="label-checkbox text-color font-weight-500">Select All</span>
                  <input type="checkbox" class="" id="view" [checked]="selectAll.cat"
                    (change)="selectAllCat($event.target.checked,'category')">
                  <span class="checkmark top-0" #checkboxOne></span>
                </label>
                <div class="row kt-margin-t-15">
                  <div class="col-12 kt-margin-t-10" *ngFor="let category of permissions;index as idx">
                    <label class="custom-checkbox">
                      <span
                        class="label-checkbox text-color font-weight-500">{{category.categoryName | titlecase}}</span>
                      <input type="checkbox" class="" id="view" [checked]="category.isSelected"
                        (change)=categoryCheckBox($event.target.checked,idx)>
                      <span class="checkmark top-0"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Sub-Category" [disabled]="checkedCategory.length == 0">
            <div class="row justify-content-center">
              <div class="col-10">
                <label class="custom-checkbox">
                  <span class="label-checkbox text-color font-weight-500">Select All</span>
                  <input type="checkbox" class="" id="view" value="View" [checked]="selectAll.subCat"
                    (change)="selectAllSub($event.target.checked)">
                  <span class="checkmark top-0" #checkboxTwo></span>
                </label>
                <div class="row kt-margin-t-15">
                  <div class="col-12 kt-margin-t-10" *ngFor="let category of permissions;index as Catidx">
                    <div *ngIf="category.isSelected">
                      <label class="custom-checkbox">
                        <span
                          class="label-checkbox text-color font-weight-500">{{category.categoryName | titlecase}}</span>
                        <input type="checkbox" class="" id="view"
                          (change)="selectParticularCat($event.target.checked,Catidx)" [checked]="subLength(Catidx)">
                        <span class="checkmark top-0" #sub></span>
                      </label>
                      <div *ngFor="let sub of category.subCategory;index as Subidx"
                        class="position-relative kt-margin-l-35">
                        <label class="custom-checkbox">
                          <span
                            class="label-checkbox text-color font-weight-500 kt-margin-l-30">{{sub.subCategoryName | titlecase}}</span>
                          <input type="checkbox" class="" id="view" [checked]="sub.isSelected"
                            (change)=subCategoryCheckBox($event.target.checked,Catidx,Subidx)>
                          <span class="checkmark top-0"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Product" [disabled]="checkedSubCategory.length == 0">
            <div class="row justify-content-center">
              <div class="col-10">
                <label class="custom-checkbox">
                  <span class="label-checkbox text-color font-weight-500">Select All</span>
                  <input type="checkbox" class="" id="view" value="View" [checked]="selectAll.pro"
                    (change)="selectAllProd($event.target.checked)">
                  <span class="checkmark top-0" #checkboxThree></span>
                </label>
                <div class="row kt-margin-t-15">
                  <div class="col-12 kt-margin-t-10" *ngFor="let category of permissions;index as catIndex">
                    <div *ngIf="category.isSelected">
                      <p class="tree text-color font-weight-500">{{category.categoryName | titlecase}}</p>
                      <div *ngFor="let sub of category.subCategory;last as las; first as fir;index as subIndex">
                        <div *ngIf="sub.isSelected">
                          <ul class="tree">
                            <li class="text-color font-weight-500 kt-margin-l-15" [class.last]="las">
                              <span class="position-relative ">
                                <label class="custom-checkbox">
                                  <span
                                    class="label-checkbox text-color font-weight-500 kt-margin-l-30">{{sub.subCategoryName | titlecase}}</span>
                                  <input type="checkbox" [checked]="productLength(catIndex,subIndex)"
                                    (change)="selectParicularSubCatPro($event.target.checked,catIndex,subIndex)">
                                  <span class="checkmark top-0" #pro></span>
                                </label>
                              </span>
                              <div class="row justify-content-start kt-margin-l-40">
                                <div *ngFor="let product of sub.products;index as idx" class="col-4">
                                  <span class="position-relative ">
                                    <label class="custom-checkbox">
                                      <span
                                        class="label-checkbox text-color font-weight-500 kt-margin-l-30">{{product.productName | titlecase}}</span>
                                      <input type="checkbox" [checked]="product.isSelected"
                                        (change)="generateProduct($event.target.checked,catIndex,subIndex,idx)">
                                      <span class="checkmark top-0"></span>
                                    </label>
                                  </span>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-2">
        <kt-modal-footer [value]="'create'" (action)="submit($event)"></kt-modal-footer>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>