:host {
	.height {
		max-height: 60vh;
		min-height: 60vh;
		overflow-y: auto;
	}
	.top-0{
		top:0px !important
	}
	.scroll{
		height: 60vh;
		overflow-y: auto;
	}

	p.tree,
  ul.tree,
  ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.tree ul {
    margin-left: 1.0em;
  }

  ul.tree li {
    margin-left: 0.35em;
    border-left: thin solid #000;
  }

//   ul.tree li:last-child {
//     border-left: none;
//   }
  .last{
	border-left: none !important;
  }
  

  ul.tree li:before {
    width: 0.9em;
    height: 0.6em;
    margin-right: 0.1em;
    vertical-align: top;
    border-bottom: thin solid #000;
    content: "";
    display: inline-block;
  }

  ul.tree li:last-child:before {
    border-left: thin solid #000;
  }

}
