<div class="container">
    <div class="row">
        <div class="offset-1 col-8 align-self-center">
            <form action="" [formGroup]="finalLoanForm">
                <div class="row kt-margin-t-30">
                    <div class="col-4 form-label">
                        <label for="" class="mandatory text-color">Gold Gross Weight </label>
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" formControlName="goldGrossWeight" min="0"
                            (keypress)="rejectNegativeNumber($event)" placeholder="0.00 gram"
                            (blur)="weightCheck();calcGoldDeductionWeight()"
                            [class.isError]="controls.goldGrossWeight.touched && controls.goldGrossWeight.invalid">
                        <mat-error
                            *ngIf="controls.goldGrossWeight.errors?.required && controls.goldGrossWeight.touched">
                            Required field
                        </mat-error>
                    </div>
                </div>
                <div class="row kt-margin-t-10">
                    <div class="col-4 form-label">
                        <label for="" class="mandatory text-color">Gold Deduction Weight </label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="goldDeductionWeight" min="0"
                            (keypress)="rejectNegativeNumber($event)" placeholder="0.00 gram"
                            (blur)="weightCheck();calcGoldDeductionWeight()"
                            [class.isError]="controls.goldDeductionWeight.touched && controls.goldDeductionWeight.invalid">
                        <mat-error
                            *ngIf="controls.goldDeductionWeight.errors?.required && controls.goldDeductionWeight.touched">
                            Required field
                        </mat-error>
                        <mat-error
                            *ngIf="controls.goldDeductionWeight.errors?.weight && controls.goldDeductionWeight.touched">
                            <small>Deduction Weight should be lesser then Gross Weight</small>
                        </mat-error>
                    </div>
                </div>
                <div class="row kt-margin-t-10">
                    <div class="col-4 form-label">
                        <label for="" class="mandatory text-color">Gold Net Weight </label>
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" formControlName="goldNetWeight" readonly
                            placeholder="0.00 gram"
                            [class.isError]="controls.goldNetWeight.touched && controls.goldNetWeight.invalid">
                        <mat-error *ngIf="controls.goldNetWeight.errors?.required && controls.goldNetWeight.touched">
                            Required field
                        </mat-error>

                    </div>
                </div>

                <div class="row kt-margin-t-10">
                    <div class="col-4 form-label">
                        <label for="" class="mandatory text-color">Karat</label>
                    </div>
                    <div class="col-6">
                        <select class="form-control" formControlName="karat" (change)="selectKarat()"
                            [class.isError]="controls.karat.touched && controls.karat.invalid">
                            <option value='' [disabled]="true" [selected]="true">Select Karat</option>
                            <option [value]="karat.karat" *ngFor="let karat of karatArr">{{karat.karat}} K</option>
                        </select>
                        <mat-error *ngIf="controls.karat.errors?.required && controls.karat.touched">
                            Required field
                        </mat-error>
                    </div>
                </div>
                <div class="row kt-margin-t-10">
                    <div class="col-4 form-label">
                        <label for="" class="mandatory text-color">Purity %</label>
                    </div>
                    <div class="col-6">
                        <select class="form-control" formControlName="ltvPercent" (change)="chnageLtvPercent()"
                            [class.isError]="controls.ltvPercent.touched && controls.ltvPercent.invalid">
                            <option value='' [disabled]="true" [selected]="true">Select Purity</option>
                            <option [value]="purity" *ngFor="let purity of purity">{{purity}} %</option>
                        </select>
                        <mat-error *ngIf="controls.ltvPercent.errors?.required && controls.ltvPercent.touched">
                            Required field
                        </mat-error>
                    </div>
                </div>
                <!-- <div class="row kt-margin-t-30">
                    <div class="offset-4 col-6">
                        <kt-button [value]="'Calculate'" [type]="'button'" (action)="calFinalNetWeight()"></kt-button>
                    </div>
                </div> -->
                <!-- </form>
            <form action=""> -->
                <!-- <div class="row kt-margin-t-30">
                    <div class="col-4 form-label">
                        <label for="" class="mandatory text-color">Final Net Weight </label>
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" formControlName="finalNetWeight" placeholder="48,000"
                            [class.isError]="controls.finalNetWeight.touched && controls.finalNetWeight.invalid">
                        <mat-error *ngIf="controls.finalNetWeight.errors?.required && controls.finalNetWeight.touched">
                            Required field
                        </mat-error>
                    </div>
                </div> -->
                <!-- <div class="row kt-margin-t-10">
                    <div class="col-4 form-label">
                        <label for="" class="mandatory text-color">Current LTV Amount</label>
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" formControlName="currentLtvAmount" placeholder="4,800"
                            readonly>
                        <mat-hint><small> 75% of current gold rate</small></mat-hint>
                    </div>
                </div> -->
                <div class="row kt-margin-t-10">
                    <div class="col-4 form-label">
                        <label for="" class="mandatory text-color">LTV Amount</label>
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" formControlName="ltvAmount" placeholder="4,800"
                            [class.isError]="controls.ltvAmount.touched && controls.ltvAmount.invalid">
                        <mat-error *ngIf="controls.ltvAmount.errors?.required && controls.ltvAmount.touched">
                            Required field
                        </mat-error>
                    </div>
                </div>
                <div class="row kt-margin-t-30">
                    <div class="offset-4 col-6">
                        <kt-button [value]="'Calculate'" [type]="'button'" (action)="calcLoanAmount()"></kt-button>
                    </div>
                </div>

                <div class="row kt-margin-t-20 kt-margin-b-50">
                    <div class="offset-4 col-6">
                        <p class="text-gray font-weight-500 m-0">Total Amount</p>
                        <h3 class=" text-color">
                            <span class="currency">{{loanAmount | indianCurrencyFormat}}</span>
                        </h3>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>