<ng-container>
    <div class="row justify-content-center">
        <div class="col-4">
            <kt-portlet>
                <kt-portlet-header [title]="'Change Password'" [class]="'kt-portlet__head--lg'">

                </kt-portlet-header>
                <kt-portlet-body>
                    <form autocomplete="off" class="kt-form" [formGroup]="passwordForm" #form="ngForm" (submit)="submitForm()">
                        <mat-form-field class="w-100">
                            <mat-label>Old Password</mat-label>
                            <input matInput placeholder="Old Password" type="password" formControlName="oldPassword">
                            <mat-error *ngIf="isControlHasError('oldPassword','required')">
                                <strong>Enter Old Password</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="Old Password" type="password" formControlName="password">
                            <mat-error *ngIf="isControlHasError('password','required')">
                                <strong>Enter New Password</strong>
                            </mat-error>
                            <mat-error *ngIf="isControlHasError('password','minlength')">
                                <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 8</strong>
                            </mat-error>
                            <mat-error *ngIf="isControlHasError('password','maxlength')">
                                <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="Old Password" type="password"
                                formControlName="confirmPassword">
                                <mat-error *ngIf="isControlHasError('confirmPassword','required')">
                                        <strong>Enter Confirm Password</strong>
                                    </mat-error>
                                    <mat-error *ngIf="isControlHasError('confirmPassword','minlength')">
                                        <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 8</strong>
                                    </mat-error>
                                    <mat-error *ngIf="isControlHasError('confirmPassword','maxlength')">
                                        <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('confirmPassword').errors && passwordForm.get('confirmPassword').errors.ConfirmPassword">
                                        <strong>Passsword and ConfirmPassword didn't match.</strong>
                                    </mat-error>
                        </mat-form-field>
                        <div class="kt-margin-t-15">
                            <kt-button [type]="'submit'" [value]="'Submit'" (action)="action($event)" class="kt-margin-r-10"></kt-button>
                            <kt-button [type]="'reset'" [value]="'Reset'" (action)="action($event)"></kt-button>
                        </div>
                    </form>
                </kt-portlet-body>
            </kt-portlet>

        </div>
    </div>
</ng-container>