<!-- <kt-filtered-data [filteredList]="filteredDataList"></kt-filtered-data> -->
<kt-portlet>
    <kt-portlet-body>
        <div class="mat-table__wrapper" [ngStyle]="{'overflow-x':'auto'}">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                matSortActive="id" matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        {{role.customer.firstName | titlecase}}&nbsp;{{role.customer.lastName | titlecase}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pan">
                    <mat-header-cell *matHeaderCellDef>PAN</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        {{role.customer?.panCardNumber ? role.customer?.panCardNumber : 'NA' | uppercase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date & Time</mat-header-cell>
                    <mat-cell *matCellDef="let role" class="d-block">
                        <div class="d-block">{{role.createdAt | date:'mediumDate'}}&nbsp;</div>
                        <div class="d-block">{{role.createdAt | date:'shortTime'}}&nbsp;</div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="currentProduct">
                    <mat-header-cell *matHeaderCellDef>Current Product</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.currentKycModuleId == 1">Gold Loan</span>
                        <span *ngIf="role.currentKycModuleId == 3">Scrap Gold</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cceApprovalStatus">
                    <mat-header-cell *matHeaderCellDef>CCE Approval Status</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span class="text-success"
                            *ngIf="role?.customerKycClassification?.kycStatusFromCce == 'approved'">
                            {{role?.customerKycClassification?.kycStatusFromCce | titlecase}} </span>
                        <span *ngIf="role?.customerKycClassification?.kycStatusFromCce == 'pending'">
                            <span
                                class="text-warning kt-padding-r-5">{{role?.customerKycClassification?.kycStatusFromCce | titlecase}}</span>
                            <span *ngIf="role?.customerKycClassification?.reasonFromCce"
                                class="material-icons custom-icon" mat-raised-button
                                matTooltip={{role?.customerKycClassification?.reasonFromCce}} matTooltipPosition="above"
                                matTooltipClass="custom-tooltip-white">
                                info
                            </span>
                        </span>
                        <span *ngIf="role?.customerKycClassification?.kycStatusFromCce == 'rejected'">
                            <span
                                class="text-danger kt-padding-r-5">{{role?.customerKycClassification?.kycStatusFromCce | titlecase}}</span>
                            <span class="material-icons custom-icon" mat-raised-button
                                matTooltip={{role?.customerKycClassification?.reasonFromCce}} matTooltipPosition="above"
                                matTooltipClass="custom-tooltip-white">
                                info
                            </span>
                        </span>
                        <span
                            *ngIf="!role?.customerKycClassification?.kycStatusFromCce && role?.customerKycClassification?.kycStatusFromOperationalTeam">-</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kycStatus">
                    <mat-header-cell *matHeaderCellDef>KYC Status</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span class="text-success" *ngIf="role.customer?.kycStatus == 'approved'">
                            {{role.customer?.kycStatus | titlecase}}
                        </span>
                        <span *ngIf="role.customer?.kycStatus == 'incomplete'">
                            <span class="text-warning">{{role.customer?.kycStatus | titlecase}}</span>

                            <span class="material-icons custom-icon" mat-raised-button
                                matTooltip={{role?.customerKycClassification?.reasonFromOperationalTeam}}
                                matTooltipPosition="above" matTooltipClass="custom-tooltip-white">
                                info
                            </span>
                        </span>
                        <span *ngIf="role.customer?.kycStatus == 'pending'">
                            <ng-container *ngIf="role?.customerKycClassification?.kycStatusFromCce else blank">
                                <span class="text-warning kt-padding-r-5">
                                    {{role.customer?.kycStatus | titlecase}}</span>

                                <span *ngIf="role?.customerKycClassification?.reasonFromOperationalTeam"
                                    class="material-icons custom-icon" mat-raised-button
                                    matTooltip={{role?.customerKycClassification?.reasonFromOperationalTeam}}
                                    matTooltipPosition="above" matTooltipClass="custom-tooltip-white">
                                    info
                                </span>
                            </ng-container>
                        </span>
                        <span *ngIf="role.customer?.kycStatus == 'rejected'">
                            <span class="text-danger kt-padding-r-5">{{role.customer?.kycStatus | titlecase}}</span>

                            <span class="material-icons  custom-icon" mat-raised-button
                                matTooltip={{role?.customerKycClassification?.reasonFromOperationalTeam}}
                                matTooltipPosition="above" matTooltipClass="custom-tooltip-white">
                                info
                            </span>
                        </span>

                    </mat-cell>
                </ng-container>

                <ng-template #blank>-</ng-template>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <div [ngStyle]="{'display': 'inherit'}">
                            <div class="kt-pointer" (click)="editKyc(role)" class="kt-pointer">
                                <span>
                                    <strong>Action ></strong>
                                </span>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="view">
                    <mat-header-cell *matHeaderCellDef>KYC Details</mat-header-cell>
                    <mat-cell *matCellDef="let role" (click)="viewKYC(role)" class="kt-pointer view-link">
                        <div [ngStyle]="{'display': 'inherit'}">
                            View
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="appraiserName">
                    <mat-header-cell *matHeaderCellDef>Appraiser Name</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.customer.customerAssignAppraiser">
                            {{role.customer.customerAssignAppraiser.appraiser.firstName | titlecase}}&nbsp;{{role.customer.customerAssignAppraiser.appraiser.lastName | titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerId">
                    <mat-header-cell *matHeaderCellDef>Cutomer ID</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        {{role.customer.customerUniqueId | uppercase}}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>

            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>