<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
    <div class="row justify-content-center">
        <div class="align-self-center" *ngIf="showBackButton" (click)="goBack()">
            <img style="margin-bottom: 0.5rem;" src="../../../../../assets//media/icons/arrow_back.svg"
                class="kt-pointer">
        </div>
        <div class="col align-self-center">
            <div class="kt-subheader__main m-0" [hidden]="subheaderService.disabled$ | async" id="kt_subheader">
                <label *ngIf="title" class="kt-subheader__title">{{title}}</label>
                <span class="kt-subheader__divider" *ngIf="totalRecords">|</span>
                <label *ngIf="totalRecords" class="kt-subheader__desc">{{totalRecords}} Total</label>
            </div>
        </div>
        <kt-user-profile></kt-user-profile>
    </div>
    <div class="row justify-content-center"
        [ngClass]="{'heightLowerTopbar': showSubHeader}">
        <div class="col-6 offset-4 align-self-center">
            <kt-search *ngIf="showInput"></kt-search>
            <kt-dropdown *ngIf="showDropdown" [dropdownValue]="dropdownValue" [isDisabled]="isDisabled"
                [title]="dropdownTitle" (dropdownResult)="selectedValue($event)">
            </kt-dropdown>
            <div *ngxPermissionsOnly="permissionType; then elseBlock"></div>
            <kt-button *ngIf="value4" [value]='value4' [type]='type4' (click)="action($event)"
                (action)="buttonValue($event)" class="kt-margin-r-10 kt-margin-l-10">
            </kt-button>
            <div *ngIf="downloadbtn">
                <p class="text-right mb-0 kt-pointer" (click)="download()">{{value3}}</p>
            </div>
            <!-- Toggle Button -->
            <span class="kt-margin-l-15" *ngIf="toogle">
                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                    #group="matButtonToggleGroup" value="list">
                    <mat-button-toggle value="grid" (click)="check('grid')">
                        <img src="../../../../../assets/media/aside-icons/icons-22.svg" class="w-100 pos">
                    </mat-button-toggle>
                    <mat-button-toggle value="list" (click)="check('list')">
                        <!-- <div > -->
                        <img src="../../../../../assets/media/aside-icons/icons-23.svg" class="w-100 pos">

                        <!-- </div> -->
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </span>
        </div>
        <div class="col-2 justify-content-end d-inline-flex align-self-center">
            <div *ngxPermissionsOnly="permissionType; then thenBlock"></div>
            <kt-button  [value]="'G'" [type]='"button"' (click)="navigate()"
                class="kt-margin-r-10 kt-margin-l-10" *ngIf="globalMap">
            </kt-button>
            <kt-filter *ngIf="showfilter" (filterApplyEvent)="applyFilter($event)" [filterName]="filterName"
                [listType]="listType" [filterWidth]="filterWidth"></kt-filter>
            <div *ngIf="sortFlag" [ngStyle]="{'display':'contents'}">
                <p class="my-auto"><b>Sort By</b></p>
                <select class="form-control" [ngStyle]="{'width':'50%'}" (change)="sortValue($event.target.value)">
                    <option value="price">Price</option>
                    <option value="name">Name</option>
                </select>&nbsp;
                <img class="kt-pointer" [src]="sortImg" width="16px" alt="sort" (click)="sort()">
            </div>
        </div>
    </div>
</div>
<!-- end:: Header Topbar -->

<!-- <ng-template #elseBlock>
    <kt-button *ngIf="rightButton" [value]='value2' [type]='type2' (click)="action($event)"></kt-button>
</ng-template> -->
<ng-template #thenBlock>
    <kt-button *ngIf="rightButton" [value]='value2' [type]='type2' [isDisabled]="isDisabled" [notTitleCase]="notTitleCase" (click)="action($event)"
        (action)="buttonValue($event)" class="kt-padding-r-5"></kt-button>
</ng-template>
<ng-template #elseBlock>
    <kt-button *ngIf="value1" [value]='value1' [type]='type1' (click)="action($event)" (action)="buttonValue($event)"
        class="kt-margin-r-10 kt-margin-l-10">
    </kt-button>
    <kt-button *ngIf="value5" [value]='value5' [type]='type5' (click)="action($event)" (action)="buttonValue($event)"
        class="kt-margin-r-10 kt-margin-l-10">
    </kt-button>
</ng-template>