<!-- begin:: Header Topbar -->
<div class="kt-header__topbar kt-margin-t-10 ">
    <div class="row justify-content-center">
        <div class="col-4">
            breasd
        </div>
        <div class="col-6">
            <kt-search *ngIf="showInput"></kt-search>
            <kt-button [value]='value1' [type]='type1' class="kt-margin-r-10 kt-margin-l-10"></kt-button>
            <kt-button [value]='value2' [type]='type2'></kt-button>
        </div>
        <div class="col-2 text-right">
            <kt-button *ngIf="rightButton" [value]='value3' [type]='type3'></kt-button>
            <kt-filter *ngIf="showfilter"></kt-filter>
        </div>
    </div>
</div>
<!-- end:: Header Topbar -->