<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
    <div class="row justify-content-center">
        <div class="align-self-center" *ngIf="showBackButton" (click)="goBack()">
            <img style="margin-bottom: 0.5rem;" src="../../../../../assets//media/icons/arrow_back.svg"
                class="kt-pointer">
        </div>
        <div class="col align-self-center">
            <div class="kt-subheader__main m-0" [hidden]="subheaderService.disabled$ | async" id="kt_subheader">
                <label *ngIf="title" class="kt-subheader__title">{{title}}</label>
                <span class="kt-subheader__divider" *ngIf="totalRecords">|</span>
                <label *ngIf="totalRecords" class="kt-subheader__desc">{{totalRecords}} Total</label>
            </div>
        </div>
        <div class="col-6 align-self-center">
            <kt-search *ngIf="showInput"></kt-search>
            <div *ngIf="showDropdown" ngbDropdown class="d-inline-block" (autoClose)="true">
                <button class="btn-custom kt-margin-r-10 kt-margin-l-10" mat-raised-button id="dropdownBasic1"
                    ngbDropdownToggle [disabled]="isDisabled">Generate</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="selectedValue('label')">Label</button>
                    <button ngbDropdownItem (click)="selectedValue('mainfest')">Mainfest</button>
                    <button ngbDropdownItem (click)="selectedValue('deliMainfest')">Deli Mainfest</button>
                    <button ngbDropdownItem (click)="selectedValue('uninsuredMainfest')">Uninsured Mainfest</button>
                </div>
            </div>
            <div *ngxPermissionsOnly="permissionType; then elseBlock"></div>
            <kt-button *ngIf="value4" [value]='value4' [type]='type4' (click)="action($event)"
                (action)="buttonValue($event)" class="kt-margin-r-10 kt-margin-l-10">
            </kt-button>
            <div *ngIf="downloadbtn">
                <p class="text-right mb-0 kt-pointer" (click)="download()">{{value3}}</p>
            </div>
            <!-- Toggle Button -->
            <span class="kt-margin-l-15" *ngIf="toogle">
                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                    #group="matButtonToggleGroup" value="list">
                    <mat-button-toggle value="grid" (click)="check('grid')">
                        <img src="../../../../../assets/media/aside-icons/icons-22.svg" class="w-100 pos">
                    </mat-button-toggle>
                    <mat-button-toggle value="list" (click)="check('list')">
                        <!-- <div > -->
                        <img src="../../../../../assets/media/aside-icons/icons-23.svg" class="w-100 pos">

                        <!-- </div> -->
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </span>
        </div>
        <div class="col-2 text-right">
            <div *ngxPermissionsOnly="permissionType; then thenBlock"></div>
            <kt-filter *ngIf="showfilter" (filterApplyEvent)="applyFilter($event)" [filterName]="filterName"
                [listType]="listType" [filterWidth]="filterWidth"></kt-filter>
        </div>
    </div>
</div>
<!-- end:: Header Topbar -->

<!-- <ng-template #elseBlock>
    <kt-button *ngIf="rightButton" [value]='value2' [type]='type2' (click)="action($event)"></kt-button>
</ng-template> -->
<ng-template #thenBlock>
    <kt-button *ngIf="rightButton" [value]='value2' [type]='type2' (click)="action($event)"
        (action)="buttonValue($event)"></kt-button>
</ng-template>
<ng-template #elseBlock>
    <kt-button *ngIf="value1" [value]='value1' [type]='type1' (click)="action($event)" (action)="buttonValue($event)"
        class="kt-margin-r-10 kt-margin-l-10">
    </kt-button>
    <kt-button *ngIf="button" [value]='value5' [type]='type5' (click)="action($event)" (action)="buttonValue($event)"
        class="kt-margin-r-10 kt-margin-l-10">
    </kt-button>
</ng-template>