:host {
	::ng-deep {
		// override default version style
		.kt-header__topbar {
			// margin-top: 7px !important;

			> :last-child:not([role="tooltip"]) {
				.kt-header__topbar-item {
					margin-right: 0 !important;
				}
			}

			.kt-header__topbar-item {
				margin-right: 0.36rem !important;
			}

			.kt-subheader__main {
				.kt-subheader__title {
					font-size: 16px !important;
					font-weight: 600 !important;
				}

				.kt-subheader__divider {
					color: #969cb6;
					font-size: 20px;
					font-weight: 400;
					margin: 0 10px 0 15px;
				}
				.kt-subheader__desc {
					color: #969cb6;
					font-size: 16px !important;
					font-weight: 400;
				}
			}

			.heightLowerTopbar {
				height: 48px;
			}
		}
	}

	.mat-button-toggle-checked {
		background: #454d67 !important;
	}

	mat-button-toggle-group {
		height: 35px;
		border-radius: 4px;
		padding: 0px !important;
	}

	mat-button-toggle {
		width: 35px;
		height: 35px;
		background: #c5c6c6 !important;

		padding: 0 !important;
	}

	.mat-button-toggle-label-content {
		padding: 0 !important;
		background: red;
	}
	.pos {
		position: relative;
		top: 5px;
		left: 5px;
	}
	::ng-deep.mat-toogle-button {
		background-color: #f2f3f7;
	}
}
