<!-- begin:: Brand -->
<div class="kt-aside__brand kt-grid__item" [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_aside_brand">
	<div class="kt-aside__brand-logo">
		<a href="javascript:;" routerLink="/">
			<img alt="logo" [attr.src]="headerLogo" [height]="height" [ngStyle]="{'transform': 'translate(50%, 0)'}" />
		</a>

	</div>

	<div class=" kt-aside__brand-tools">
		<!-- <div style="font-weight: 600; position: relative; bottom: 25px;">
			{{goldRate}} /gm
		</div> -->
		<button ktToggle [options]="toggleOptions"
			class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler">
			<span [inlineSVG]="'./assets/media/icons/svg/Navigation/Angle-double-left.svg'"></span>
			<span [inlineSVG]="'./assets/media/icons/svg/Navigation/Angle-double-right.svg'"></span>
		</button>

	</div>
</div>

<div style="font-weight: 600;color: #ffde9c; background-color: #454D67; padding-top: 15px;" class="text-center">
	<span class="kt-aside__gold-rate">Gold rate: </span>{{goldRate}} /gm
</div>
<!-- end:: Brand -->