<!-- begin:: Brand -->
<div class="kt-aside__brand kt-grid__item" [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_aside_brand">
	<div class="kt-aside__brand-logo">
		<a href="javascript:;" routerLink="/">
			<img alt="logo" [attr.src]="headerLogo" [height]="height" />
		</a>

	</div>

	<div class=" kt-aside__brand-tools">
		<!-- <div style="font-weight: 600; position: relative; bottom: 25px;">
			{{goldRate}} /gm
		</div> -->
		<button ktToggle [options]="toggleOptions"
			class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler">
			<span [inlineSVG]="'./assets/media/icons/svg/Navigation/Angle-double-left.svg'"></span>
			<span>
				<div [inlineSVG]="'./assets/media/icons/svg/Navigation/Angle-double-right.svg'" class="d-block"></div>
			</span>
		</button>

	</div>
</div>

<div class="gold-rate text-center kt-aside__gold-rate" *ngIf="showGoldRateFlag">
	<span class="gold-rate__label">Gold rate: </span>{{goldRateService.goldRate$ | async}} /gm
</div>
<!-- end:: Brand -->