<kt-toastr #toastr></kt-toastr>
<kt-portlet>


    <kt-portlet-body>

        <div class="mat-table__wrapper" [ngStyle]="{'overflow-x':'hidden'}">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">


                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan ID</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerId">
                    <mat-header-cell *matHeaderCellDef>CustomerId ID</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanAmount">
                    <mat-header-cell *matHeaderCellDef>loan Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.calories}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanStartDate">
                    <mat-header-cell *matHeaderCellDef>Loan Start Date</mat-header-cell>
                    <mat-cell *matCellDef="let item" [ngStyle]="{'justify-content':'center !important'}">
                        {{item.fat}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanEndDate">
                    <mat-header-cell *matHeaderCellDef>Loan End Date</mat-header-cell>
                    <mat-cell *matCellDef="let item" [ngStyle]="{'justify-content':'center !important'}">
                        {{item.fat}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="interestPaid">
                    <mat-header-cell *matHeaderCellDef>Interest Paid Upto</mat-header-cell>
                    <mat-cell *matCellDef="let item" [ngStyle]="{'justify-content':'center !important'}">
                        {{item.fat}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let item" [ngStyle]="{'justify-content':'center !important'}">
                        {{item.fat}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <div [ngStyle]="{'display': 'inherit'}">
                            <div class="kt-pointer" (click)="viewItem(item.id)"> PAY EMI | &nbsp;</div>
                            <div (click)="editItem(item)" class="kt-pointer"> PART Payment | &nbsp;</div>
                            <!-- <div class="kt-pointer text-danger" (click)="deleteItem(item)">Delete</div> -->
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <!-- <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div> -->
        </div>

        <!-- <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div> -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>