<form action="">
    <div class="row">
        <div class="col-4 form-label">
            <label class="text-color kt-padding-l-10">Aadhaar Number</label>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="10234501203203">
        </div>
    </div>
    <div class="row kt-margin-t-15">
        <div class="col-4 form-label">
            <label class="text-color kt-padding-l-10">Permanent Address</label>
        </div>
        <div class="col-6">
            <textarea  cols="5" rows="3" placeholder="Write Your Permanent Address..." class="form-control"></textarea>
        </div>
    </div>
    
    <div class="row kt-margin-t-15">
        <div class="col-4 form-label">
            <label class="text-color kt-padding-l-10">Pincode</label>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="432134">
        </div>
    </div>
    <div class="row kt-margin-t-15">
        <div class="col-4 form-label">
            <label class="text-color kt-padding-l-10">Office Address</label>
        </div>
        <div class="col-6">
            <textarea  cols="5" rows="3" placeholder="Write Your Office Address..." class="form-control"></textarea>

        </div>
    </div>
    <div class="row kt-margin-t-15">
        <div class="col-4 form-label">
            <label class="text-color kt-padding-l-10">Pincode</label>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="432134">
        </div>
    </div>
    
</form>