<form action="" [formGroup]="kycForm">
    <div class="row">
        <div class="col-6 kt-margin-t-20">
            <div class="row">
                <div class="col-3 offset-1 p-0">
                    <label class="  font-weight-500 text-color">Identity</label>
                </div>
                <div class="col-7">
                    <input type="text" class="form-control" formControlName="identityTypeId">
                </div>
            </div>
        </div>

        <div class="col-6 kt-margin-t-20">
            <div class="row">
                <div class="col-3 offset-1 p-0">
                    <label class=" font-weight-500 text-color">Unique Identity No.</label>
                </div>
                <div class="col-7">
                    <input formControlName="identityProofNumber" type="text" aria-label="Pin Code"
                        placeholder="Unique Identity Number" class="form-control" s>
                </div>
            </div>
        </div>
    </div>

    <div class="row kt-margin-t-20 kt-margin-b-20">
        <div class="offset-2 col">
            <div class="img-container" *ngIf="controls.identityProof.value.length == 0">
                <img class="placeholder-image" src="../../../../../../assets/media/icons/image-placeholder.png"
                    alt="placeholder">
            </div>
            <div *ngIf="controls.identityProof.value.length>0">
                <div class="row ">
                    <div class="kt-margin-r-15" *ngFor="let img of controls.identityProof.value, index as idx">
                        <div class="img-container">
                            <img class="border-rad-15 fetched-image" [src]="img" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ng-container>

            <div class="col-6">


                <div class=" kt-margin-t-20">
                    <div class="row">
                        <div class="col-3 offset-1 p-0">
                            <label class="  font-weight-500 text-color"> Permanent
                                Address</label>
                        </div>
                        <div class="col-7">
                            <textarea formControlName="address" type="text" rows="5" aria-label="Residential Address"
                                placeholder="Enter your text" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=" kt-margin-t-20">
                        <div class="row">
                            <div class="col-3 offset-1 p-0">
                                <label class="  font-weight-500 text-color">State
                                </label>
                            </div>
                            <div class="col-7">
                                <input type="text" formControlName="stateId" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" kt-margin-t-20">
                            <div class="row">
                                <div class="col-3 offset-1 p-0">
                                    <label class="  font-weight-500 text-color">City
                                    </label>
                                </div>
                                <div class="col-7">
                                    <input type="text" formControlName="cityId" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                        <div class=" kt-margin-t-20">
                            <div class="row">
                                <div class="col-3 offset-1 p-0">
                                    <label class="  font-weight-500 text-color">Pin Code</label>
                                </div>
                                <div class="col-7">
                                    <input formControlName="pinCode" type="text" aria-label="Pin Code"
                                        placeholder="000000" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" kt-margin-t-20">
                        <div class="row">
                            <div class="col-3 offset-1 p-0">
                                <label class="  font-weight-500 text-color">Address Proof
                                </label>
                            </div>
                            <div class="col-7">
                                <input type="text" formControlName="addressProofTypeId" class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="kt-margin-t-20">
                        <div class="row">
                            <div class="col-3 offset-1 p-0">
                                <label class=" font-weight-500 text-color">Unique Identity
                                    No.</label>
                            </div>
                            <div class="col-7">
                                <input formControlName="addressProofNumber" type="text"
                                    placeholder="Unique Identity Number" class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class=" kt-margin-t-20 kt-margin-b-20">
                        <div class="row">
                            <div class="col">
                                <div class="offset-4 img-container">
                                    <img class="placeholder-image"
                                        src="../../../../../../assets/media/icons/image-placeholder.png"
                                        alt="placeholder">
                                </div>

                                <!-- <div *ngIf="addressForm.controls.addressProof.value.length > 0">
                                    <div class="row">
                                        <div class="col-6"
                                            *ngFor="let img of addressForm.controls.addressProof.value, index as idx">
                                            <div class="img-container">
                                                <img class="fetched-image" [src]="img" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">


                <div class=" kt-margin-t-20">
                    <div class="row">
                        <div class="col-3 offset-1 p-0">
                            <label class="  font-weight-500 text-color">Residential
                                or
                                Official
                                Address</label>
                        </div>
                        <div class="col-7">
                            <textarea formControlName="address" type="text" rows="5" aria-label="Residential Address"
                                placeholder="Enter your text" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=" kt-margin-t-20">
                        <div class="row">
                            <div class="col-3 offset-1 p-0">
                                <label class="  font-weight-500 text-color">State
                                </label>
                            </div>
                            <div class="col-7">
                                <input type="text" formControlName="stateId" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" kt-margin-t-20">
                            <div class="row">
                                <div class="col-3 offset-1 p-0">
                                    <label class="  font-weight-500 text-color">City
                                    </label>
                                </div>
                                <div class="col-7">
                                    <input type="text" formControlName="cityId" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                        <div class=" kt-margin-t-20">
                            <div class="row">
                                <div class="col-3 offset-1 p-0">
                                    <label class="  font-weight-500 text-color">Pin Code</label>
                                </div>
                                <div class="col-7">
                                    <input formControlName="pinCode" type="text" aria-label="Pin Code"
                                        placeholder="000000" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" kt-margin-t-20">
                        <div class="row">
                            <div class="col-3 offset-1 p-0">
                                <label class="  font-weight-500 text-color">Address Proof
                                </label>
                            </div>
                            <div class="col-7">
                                <input type="text" formControlName="addressProofTypeId" class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class="kt-margin-t-20">
                        <div class="row">
                            <div class="col-3 offset-1 p-0">
                                <label class=" font-weight-500 text-color">Unique Identity
                                    No.</label>
                            </div>
                            <div class="col-7">
                                <input formControlName="addressProofNumber" type="text"
                                    placeholder="Unique Identity Number" class="form-control">

                            </div>
                        </div>
                    </div>

                    <div class=" kt-margin-t-20 kt-margin-b-20">
                        <div class="row">
                            <div class="col">
                                <div class="offset-4 img-container">
                                    <img class="placeholder-image"
                                        src="../../../../../../assets/media/icons/image-placeholder.png"
                                        alt="placeholder">
                                </div>

                                <!-- <div *ngIf="addressForm.controls.addressProof.value.length > 0">
                                    <div class="row">
                                        <div class="col-6"
                                            *ngFor="let img of addressForm.controls.addressProof.value, index as idx">
                                            <div class="img-container">
                                                <img class="fetched-image" [src]="img" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</form>