<kt-portlet>
    <kt-portlet-body>
        <div class="main" id="container">
            <div class="table-div table-responsive kt-padding-t-15">
                <table class="table outer-border top-up-details">
                    <thead>
                        <th class="transparent">Loan ID</th>
                        <th class="transparent">Loan Amount</th>
                        <th class="transparent">Loan Date</th>
                        <th class="transparent">Outstanding Loan Amount</th>
                        <th class="transparent">Last Top Up Amount Availed</th>
                        <th class="transparent"> Top Up Date</th>
                        <th class="transparent">Gross Weight</th>
                        <th class="transparent">Net Weight</th>
                        <th class="transparent">Previous LTV</th>
                        <th class="transparent">Current LTV</th>
                        <th class="transparent last"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LAG5348</td>
                            <td>5,50,000</td>
                            <td>21 Jan 2020</td>
                            <td>5,50,000</td>
                            <td>21 Jan 2020</td>
                            <td>21 Jan 2020</td>
                            <td>11.50 gm</td>
                            <td>10.50 gm</td>
                            <td>3,25,000</td>
                            <td>2,95,000</td>
                            <td class="last">
                                <kt-button [value]="'Ornaments Details'" [type]="'button'" (click)="viewOrnaments()">
                                </kt-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row kt-padding-t-15 kt-padding-b-15">
                <div class="col mx-auto d-flex justify-content-center">
                    <kt-button [value]="'Eligible Top Up'" [type]="'button'" (click)="eligibleTopUp()">
                    </kt-button>
                </div>
            </div>

            <!-- <div *ngIf="inputEligibleAmount" class="row mx-auto kt-padding-t-15 kt-padding-b-15">
            <div class="col-10">
                <div class="row">
                    <div class="col-2">Eligible TOP UP amount</div>
                    <div class="col-2">1,20,000</div>
                    <div class="col-2">Processing Charges</div>
                    <div class="col-2">500</div>
                    <div class="col-2">Enter Top Up Amount</div>
                    <div class="col-2">
                        <input class="form-control" />
                    </div>
                </div>
            </div>
        </div> -->

            <ng-container *ngIf="inputEligibleAmount">
                <div class="row kt-padding-t-15 kt-padding-b-15">
                    <div class="col-10 mx-auto">
                        <div class="table-div table-responsive kt-padding-t-15">
                            <table class="table outer-border">
                                <thead>
                                    <th class="transparent">Eligible TOP UP Amount</th>
                                    <th class="transparent w100">1,20,000</th>
                                    <th class="transparent">Processing Charges</th>
                                    <th class="transparent w100">500</th>
                                    <th class="transparent">Enter Top Up Amount</th>
                                    <th class="transparent" style="font-weight: unset;">
                                        <input ktWeight [class.isError]="topUp.touched && topUp.invalid"
                                            class="form-control" type="text" [formControl]="topUp" />
                                        <mat-error *ngIf="topUp.errors?.required && topUp.touched">
                                            Field Required
                                        </mat-error>
                                    </th>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="row kt-padding-t-15 kt-padding-b-15">
                    <div class="col mx-auto d-flex justify-content-center">
                        <span class="kt-padding-r-10">
                            <kt-button [value]="'Proceed'" [type]="'button'" (click)="enterTopUp()">
                            </kt-button>
                        </span>
                        <kt-button [value]="'Cancel'" [type]="'reset'" (click)="cancelTopUp()">
                        </kt-button>
                    </div>
                </div>

                <ng-container *ngIf="showPaymentConfirmation">
                    <div class="table-div table-responsive kt-padding-t-15">
                        <table class="table outer-border payment-details">
                            <thead>
                                <th class="transparent" style="width: 150px;">Customer Name</th>
                                <th class="transparent">Mobile Number</th>
                                <th class="transparent w200">Email ID </th>
                                <th class="transparent">Top up Date</th>
                                <th class="transparent">Top up Amount</th>
                                <th class="transparent" style="width: 180px;">Principal Outstanding</th>
                                <th class="transparent">Last Paymnet Date</th>
                                <th class="transparent">Interest Amount</th>
                                <th class="transparent">Penal Interest </th>


                                <th class="transparent">New Loan Amount</th>
                                <th class="transparent">Net Amount</th>
                                <th class="transparent w200">Select Payment Option</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Amit Tannir</td>
                                    <td>9623466234</td>
                                    <td>amittannir@gmail.com</td>
                                    <td>21 Jan 2020</td>
                                    <td>5500</td>
                                    <td>4,25,000</td>
                                    <td>21 Nov 2020</td>
                                    <td>8500</td>
                                    <td>2500</td>
                                    <td>2,95,000</td>
                                    <td>1,20,000</td>
                                    <td class="">
                                        <!-- <select class="form-control">
                                            <option value="" selected disabled>Select Payment</option>
                                            <option value="cash">CASH</option>
                                            <option value="bank">RTGS/NEFT/IMPS</option>
                                            <option value="cheque">CHEQUE</option>
                                        </select> -->
                                        <button *ngIf="!paymentValue" (click)="choosePaymentMethod()"
                                            class="apply-kyc">Select
                                            Payment</button>
                                        <button *ngIf="paymentValue" (click)="choosePaymentMethod()" class="apply-kyc">
                                            {{ paymentValue.paymentType  | uppercase }}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row kt-padding-t-15 kt-padding-b-15">
                        <div class="col mx-auto d-flex justify-content-center">
                            <span class="kt-padding-r-10">
                                <kt-button [value]="'Confirm'" [type]="'button'" (click)="pay()">
                                </kt-button>
                            </span>
                            <kt-button [value]="'Cancel'" [type]="'reset'" (click)="enterTopUp()">
                            </kt-button>
                        </div>
                    </div>

                    <div class="col text-center">
                        <mat-hint><small>
                                On clicking confirm you will be redirected to available payment options
                            </small></mat-hint>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </kt-portlet-body>
</kt-portlet>