:host {
    .main {
        min-height: 80vh;
    }
    table {
        table-layout: fixed;

    th,td {
        // width: 120px;
        // overflow: hidden;
        word-wrap: break-word;
        }
    .last {
        width: 180px !important;
        overflow: hidden;
        }
    }
    .w100 {
        width: 100px !important;
    }
    .w200 {
        width: 200px !important;
    }
    .top-up-details {
        width: 130% !important;
    }
    .payment-details {
        width: 165% !important;
    }
    .apply-kyc {
        width: 165px;
    }
}