<!-- <kt-action-natification></kt-action-natification> -->

<kt-toastr #toastr></kt-toastr>

<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body">
        <div class="kt-form">
            <form [formGroup]="branchForm">

                <div class="kt-portlet__body-progress" *ngIf="viewLoading">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <!-- <kt-alert type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                            Oh snap! Change a few things up and try submitting again.
                        </kt-alert> -->



                <div class="col-lg-12 kt-margin-bottom-20-mobile">


                    <div class="row">
                        <!-- Partner Name -->
                        <div class="col-4 form-label">
                            <label [class.mandatory]="isMandatory ">Branch Name</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" formControlName="name" autocomplete="off"
                                placeholder="Enter Branch Name"
                                [class.isError]="controls.name.touched && controls.name.invalid">
                            <mat-error *ngIf="controls.name.touched && controls.name.errors?.required">Required
                                field</mat-error>
                        </div>
                    </div>
                    <div class="row kt-padding-t-15">
                        <div class="col-4 form-label">
                            <label [class.mandatory]="isMandatory ">Partner Name</label>
                        </div>

                        <div class="col-8">
                            <select class="form-control" name="" id="" formControlName="partnerId"
                                [class.isError]="controls.partnerId.touched && controls.partnerId.invalid">
                                <option value="" [selected]="true" [disabled]="true">Select Partner</option>
                                <option *ngFor="let partner of partners" [value]="partner.id">{{partner.name}}
                                </option>
                            </select>
                            <mat-error *ngIf="controls.partnerId.touched && controls.partnerId.errors?.required">
                                Required field
                            </mat-error>
                        </div>

                    </div>
                    <div class="row kt-padding-t-15">
                        <div class="col-4 form-label">
                            <label [class.mandatory]="isMandatory ">State</label>
                        </div>

                        <div class="col-8">
                            <select class="form-control" formControlName="stateId" (change)="getCities()"
                                [class.isError]="controls.stateId.touched && controls.stateId.invalid">
                                <option value="" [selected]="true" [disabled]="true">Select State</option>

                                <option *ngFor="let state of states" [value]="state.id">
                                    {{state.name}}
                                </option>
                            </select>
                            <mat-error *ngIf="controls.stateId.touched && controls.stateId.errors?.required">
                                Required field</mat-error>
                        </div>

                    </div>
                    <div class="row kt-padding-t-15">
                        <div class="col-4 form-label">
                            <label [class.mandatory]="isMandatory ">City</label>
                        </div>

                        <div class="col-8">
                            <select class="form-control" formControlName="cityId"
                                [class.isError]="controls.cityId.touched && controls.cityId.invalid">
                                <option value="" [selected]="true" [disabled]="true">Select City</option>
                                <option *ngFor="let city of cities" [value]="city.id">
                                    {{city.name}}
                                </option>
                            </select>
                            <mat-error *ngIf="controls.cityId.touched && controls.cityId.errors?.required">
                                Required field</mat-error>
                        </div>

                    </div>


                    <div class="row kt-padding-t-15">
                        <div class="col-4 form-label">
                            <label [class.mandatory]="isMandatory ">Pin Code</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" formControlName="pinCode" placeholder="Enter Pin Code"
                                [class.isError]="controls.pinCode.touched && controls.pinCode.invalid" maxlength="6"
                                numbersOnly>
                            <small *ngIf="data.action != 'view'" class="text-color">Enter pin code without
                                spaces</small>
                            <mat-error *ngIf="controls.pinCode.touched && controls.pinCode.errors?.required">
                                Required field</mat-error>
                            <mat-error *ngIf="controls.pinCode.touched && controls.pinCode.errors?.pattern">
                                Invalid Pin Code</mat-error>
                        </div>
                    </div>
                    <div class="row kt-padding-t-15">
                        <div class="col-4 form-label">
                            <label [class.mandatory]="isMandatory " for="">Address</label>
                        </div>
                        <!-- Address -->
                        <div class="col-8">
                            <textarea class="form-control" rows="3" formControlName="address"
                                placeholder="Enter Address"
                                [class.isError]="controls.address.touched && controls.address.invalid"></textarea>
                            <mat-error *ngIf=" controls.address.touched &&controls.address.errors?.required">
                                Required field</mat-error>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <kt-portlet-footer *ngIf="data.action != 'view'">
        <div class="p-3">
            <kt-modal-footer *ngIf="data.action == 'add'" (action)="action($event)" [value]="data.action">
            </kt-modal-footer>
            <kt-modal-footer *ngIf="data.action == 'edit'" (action)="action($event)" [value]="'Update'">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>
</div>