<div class="kt-portlet">

    <kt-modal-header [title]='"Change Unsecured Scheme"' (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body">
        <div class="kt-form">
            <form [formGroup]="unsecuredSchemeForm">
                <div class="row kt-margin-b-10">
                    <div class="col-6 form-label">
                        <label class="mandatory"> Select Unsecured Scheme</label>
                    </div>
                    <div class="col-6">
                        <select class="form-control" formControlName="unsecuredSchemeName" (change)="unsecuredSchemeChange()"
                            [class.isError]="controls.unsecuredSchemeName.touched && controls.unsecuredSchemeName.invalid">
                            <option selected disabled value="">Select Status</option>
                            <option *ngFor="let scheme of unsecuredSchemes" [value]="scheme.id">
                                {{scheme.schemeName | titlecase}}
                            </option>
                        </select>
                        <mat-error
                            *ngIf="controls.unsecuredSchemeName.errors?.required && controls.unsecuredSchemeName.touched">
                            Required field</mat-error>
                    </div>
                </div>

                <div class="row kt-margin-b-10">
                    <div class="col-6 form-label">
                        <label class="mandatory"> Unsecured Loan Amount</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" formControlName="unsecuredSchemeAmount" placeholder="5000" readonly
                            [class.isError]="controls.unsecuredSchemeAmount.touched && controls.unsecuredSchemeAmount.invalid">

                        <mat-error
                            *ngIf="controls.unsecuredSchemeAmount.errors?.required && controls.unsecuredSchemeAmount.touched">
                            Required field
                        </mat-error>
                    </div>
                </div>

                <div class="row kt-margin-b-10">
                    <div class="col-6 form-label">
                        <label class="mandatory"> Interest Rate (%)</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" formControlName="unsceuredInterestRate" placeholder="2%" readonly
                            [class.isError]="controls.unsceuredInterestRate.touched && controls.unsceuredInterestRate.invalid">

                        <mat-error
                            *ngIf="controls.unsceuredInterestRate.errors?.required && controls.unsceuredInterestRate.touched">
                            Required field
                        </mat-error>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center kt-margin-b-10">
                        <kt-button [value]="'Calculate'" [type]="'button'" (click)="calculate()"></kt-button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col" *ngIf="details.calculation.length && !isUnsecuredSchemeChanged">
            <div class="table-div" id="print">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class=" text-left" style="width:50%">EMI Due Date</th>
                            <th scope="col" class=" text-center" style="width:50%">
                                Interest Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of details.calculation;index as idx; last as last">
                            <td *ngIf="approved">{{data.date | date :'mediumDate'}}</td>
                            <td *ngIf="!approved">{{data.paymentType | uppercase}}&nbsp;{{idx+1}}</td>

                            <td class="text-center currency">
                                {{data.unsecuredIntrestAmount | indianCurrencyFormat}}
                            </td>

                        </tr>
                    </tbody>

                    <!-- <tfoot>
                                <tr>
                                    <td><strong>Total Amount</strong></td>
                                    <td class="text-center">
                                        <strong><span class="currency">
                                                {{totalinterestAmount.toFixed(2) | indianCurrencyFormat}}</span>
                                        </strong>
                                    </td>

                            </tfoot> -->
                </table>
            </div>
        </div>
    </div>
    <kt-portlet-footer>
        <div class="p-3" *ngIf="!isUnsecuredSchemeChanged">
            <kt-modal-footer (action)="action($event)" [value]="'Add'"></kt-modal-footer>
        </div>
    </kt-portlet-footer>
</div>