<ng-container>

    <kt-portlet>

        <kt-portlet-body>
            <div class="row justify-content-center parent-div">
                <div class="col-5">
                    <form autocomplete="off" class="kt-form" [formGroup]="passwordForm" #form="ngForm"
                        (submit)="submitForm()">
                        <!-- <mat-form-field class="w-100"> -->
                        <div class="row kt-margin-b-20">
                            <div class="col-5 form-label kt-padding-l-10">
                                <label class="mandatory">Old Password</label>
                            </div>
                            <div class="col-7">
                                <input class="form-control" placeholder="Old Password" type="password"
                                    formControlName="oldPassword" autocomplete="off">
                                <mat-error
                                    *ngIf="controls.oldPassword.errors?.required && controls.oldPassword.touched">
                                    <span>Enter Old Password</span>
                                </mat-error>
                            </div>
                        </div>

                        <div class="row kt-margin-b-20">
                            <div class="col-5 form-label kt-padding-l-10">
                                <label class="mandatory">New Password</label>
                            </div>
                            <div class="col-7">
                                <input class="form-control" placeholder="New Password" type="password"
                                    formControlName="newPassword" autocomplete="off">
                                <div *ngIf="controls.newPassword.invalid && controls.newPassword.touched">

                                    <mat-error *ngIf="controls.newPassword.errors?.required">
                                        <span>Enter New Password</span>
                                    </mat-error>
                                    <mat-error *ngIf="controls.newPassword.errors?.minlength">
                                        <span>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 8</span>
                                    </mat-error>
                                    <mat-error *ngIf="controls.newPassword.errors?.maxlength">
                                        <span>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</span>
                                    </mat-error>
                                </div>

                            </div>
                        </div>

                        <div class="row kt-margin-b-20">
                            <div class="col-5 form-label kt-padding-l-10">
                                <label class="mandatory">Confirm Password</label>
                            </div>
                            <div class="col-7">
                                <input class="form-control" placeholder="Confirm Password" type="password"
                                    formControlName="confirmPassword" autocomplete="off">
                                <div *ngIf="controls.confirmPassword.touched && controls.confirmPassword.invalid">

                                    <mat-error *ngIf="controls.confirmPassword.errors?.required">
                                        <span>Enter Confirm Password</span>
                                    </mat-error>
                                    <mat-error *ngIf="controls.confirmPassword.errors?.minlength">
                                        <span>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 8</span>
                                    </mat-error>
                                    <mat-error *ngIf="controls.confirmPassword.errors?.maxlength">
                                        <span>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</span>
                                    </mat-error>
                                    <mat-error
                                        *ngIf="passwordForm.get('confirmPassword').errors && passwordForm.get('confirmPassword').errors.ConfirmPassword">
                                        <span>New Passsword and Confirm Password didn't match.</span>
                                    </mat-error>
                                </div>

                            </div>
                        </div>

                        <div class="kt-margin-t-30">
                            <kt-button [type]="'submit'" [value]="'Submit'" class="kt-margin-r-10"></kt-button>
                            <kt-button [type]="'reset'" [value]="'Reset'"></kt-button>
                        </div>
                    </form>
                </div>
            </div>
        </kt-portlet-body>
    </kt-portlet>


</ng-container>