<!-- <kt-action-natification></kt-action-natification> -->

<kt-toastr #toastr></kt-toastr>

<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body">
        <div class="kt-form">
            <form [formGroup]="appraiserForm">

                <!-- <kt-alert type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                            Oh snap! Change a few things up and try submitting again.
                        </kt-alert> -->



                <div class="form-group kt-form__group row">
                    <div class="col-lg-12 kt-margin-bottom-20-mobile">


                        <div class="row" *ngIf="controls.customerUniqueId.value">
                            <!-- Partner Name -->
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Customer Id</label>
                            </div>
                            <div class="col-8">

                                <input class="form-control" formControlName="customerUniqueId" autocomplete="off"
                                    *ngIf="controls.customerUniqueId.value" readonly>
                                <ng-select formControlName="customerId" [items]="customers" bindLabel="customerUniqueId"
                                    bindValue="id" *ngIf="!controls.customerUniqueId.value"
                                    (change)="bindCustomerName($event)" placeholder="Select Customer ID"
                                    [class.isError]="controls.customerId.touched && controls.customerId.invalid">
                                </ng-select>
                                <mat-error *ngIf="controls.customerId.touched && controls.customerId.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                        </div>
                        <div class="row " [class.kt-padding-t-15]="data?.from != 'lead'">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Customer Name
                                </label>
                            </div>
                            <div class="col-8">
                                <input style="text-transform: capitalize;" class="form-control"
                                    formControlName="customerName" readonly placeholder="Customer Name">
                            </div>
                        </div>


                        <div *ngIf="data.isReleaser" class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Select User Type</label>
                            </div>

                            <div class="col-8">
                                <select class="form-control" name="" id="" formControlName="userType"
                                    (change)="selectUsertype($event.target.value)"
                                    [class.isError]="controls.userType.touched && controls.userType.invalid">
                                    <option [selected]="true" [disabled]="true" value=null>Select User Type</option>
                                    <option value="appraiser"> Appraiser </option>
                                    <option value="releaser"> Releaser </option>
                                    <!-- <option *ngFor="let appraiser of appraisers" [value]="appraiser.id">
                                        {{appraiser.firstName | titlecase}}&nbsp;{{appraiser.lastName | titlecase}}
                                    </option> -->
                                </select>

                                <mat-error *ngIf="controls.userType.touched && controls.userType.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                        </div>

                        <div *ngIf="controls.userType.value === 'appraiser' || !data.isReleaser"
                            class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Appraiser Name</label>
                            </div>

                            <div class="col-8">
                                <select class="form-control" name="" id="" formControlName="appraiserId"
                                    [class.isError]="controls.appraiserId.touched && controls.appraiserId.invalid">
                                    <option [selected]="true" [disabled]="true" value=null>Select Appraiser</option>
                                    <option *ngFor="let appraiser of appraisers" [value]="appraiser.id">
                                        {{appraiser.firstName | titlecase}}&nbsp;{{appraiser.lastName | titlecase}}
                                    </option>
                                </select>

                                <mat-error
                                    *ngIf="controls.appraiserId.touched && controls.appraiserId.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                        </div>

                        <div *ngIf="controls.userType.value === 'releaser' && data.isReleaser"
                            class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label *ngIf="data.isReleaser" class="mandatory kt-padding-l-10">Releaser Name</label>
                            </div>

                            <div *ngIf="data.isReleaser" class="col-8">
                                <select class="form-control" name="" id="" formControlName="releaserId"
                                    [class.isError]="controls.releaserId.touched && controls.releaserId.invalid">
                                    <option [selected]="true" [disabled]="true" value=null>Select Releaser</option>
                                    <option *ngFor="let appraiser of releasers" [value]="appraiser.id">
                                        {{appraiser.firstName | titlecase}}&nbsp;{{appraiser.lastName | titlecase}}
                                    </option>
                                </select>

                                <mat-error *ngIf="controls.releaserId.touched && controls.releaserId.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                        </div>
                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Appointment Date</label>
                            </div>

                            <div class="col-8">
                                <input type="text" class="form-control" [matDatepicker]="picker" (click)="picker.open()"
                                    formControlName="appoinmentDate"
                                    [class.isError]="controls.appoinmentDate.touched && controls.appoinmentDate.invalid"
                                    readonly placeholder="DD/MM/YYYY" [min]="currentDate"
                                    (dateChange)="setMinimumStartTime($event)">
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                            <mat-error
                                *ngIf="controls.appoinmentDate.touched && controls.appoinmentDate.errors?.required">
                                Required field
                            </mat-error>
                        </div>
                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Appointment Time</label>
                            </div>

                            <div class="col-4">
                                <input [ngxTimepicker]="picker1" class="form-control" formControlName="startTime"
                                    placeholder="From" [min]="addStartTime" [max]="'06:00 pm'"
                                    [class.isError]="controls.startTime.touched && controls.startTime.invalid">
                                <ngx-material-timepicker #picker1 (timeChanged)="setStartTime($event)">
                                </ngx-material-timepicker>
                                <mat-error *ngIf="controls.startTime.touched && controls.startTime.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                            
                            <div class="col-4">
                                <input [ngxTimepicker]="picker2" class="form-control" formControlName="endTime"
                                    placeholder="To" [min]="startTime" [max]="'06:00 pm'"
                                    [class.isError]="controls.endTime.touched && controls.endTime.invalid">
                                <ngx-material-timepicker #picker2></ngx-material-timepicker>
                                <mat-error *ngIf="controls.endTime.touched && controls.endTime.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <kt-portlet-footer *ngIf="data.action != 'view'">
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="data.action == 'add' ? 'add' : 'update'">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>
</div>