<!-- <kt-action-natification></kt-action-natification> -->

<kt-toastr #toastr></kt-toastr>

<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body">
        <div class="kt-form">
            <form [formGroup]="appraiserForm">

                <!-- <kt-alert type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                            Oh snap! Change a few things up and try submitting again.
                        </kt-alert> -->



                <div class="form-group kt-form__group row">
                    <div class="col-lg-12 kt-margin-bottom-20-mobile">


                        <div class="row" *ngIf="data?.from != 'lead'">
                            <!-- Partner Name -->
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Customer Id</label>
                            </div>
                            <div class="col-8">

                                <input class="form-control" formControlName="customerUniqueId" autocomplete="off"
                                    *ngIf="controls.customerUniqueId.value" readonly>
                                <ng-select formControlName="customerId" [items]="customers" bindLabel="customerUniqueId"
                                    bindValue="id" *ngIf="!controls.customerUniqueId.value"
                                    (change)="bindCustomerName($event)" placeholder="Select Customer ID"
                                    [class.isError]="controls.customerId.touched && controls.customerId.invalid">
                                </ng-select>
                                <mat-error *ngIf="controls.customerId.touched && controls.customerId.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                        </div>
                        <div class="row " [class.kt-padding-t-15]="data?.from != 'lead'">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Customer Name
                                </label>
                            </div>
                            <div class="col-8">
                                <input style="text-transform: capitalize;" class="form-control"
                                    formControlName="customerName" readonly placeholder="Customer Name">
                            </div>
                        </div>

                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Appraiser Name</label>
                            </div>

                            <div class="col-8">
                                <select class="form-control" name="" id="" formControlName="appraiserId"
                                    [class.isError]="controls.appraiserId.touched && controls.appraiserId.invalid">
                                    <option [selected]="true" [disabled]="true" value="">Select Appraiser</option>
                                    <option *ngFor="let appraiser of appraisers" [value]="appraiser.id">
                                        {{appraiser.firstName | titlecase}}&nbsp;{{appraiser.lastName | titlecase}}
                                    </option>
                                </select>

                                <mat-error
                                    *ngIf="controls.appraiserId.touched && controls.appraiserId.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                        </div>
                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Appointment</label>
                            </div>

                            <div class="col-8">
                                <input type="text" class="form-control" [matDatepicker]="picker" (click)="picker.open()"
                                    formControlName="appoinmentDate"
                                    [class.isError]="controls.appoinmentDate.touched && controls.appoinmentDate.invalid"
                                    readonly placeholder="4/5/2020" [min]="data.action == 'add'? 'minDate' : null">
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                        </div>
                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Time</label>
                            </div>

                            <div class="col-4">
                                <input [ngxTimepicker]="picker1" class="form-control" formControlName="startTime"
                                    placeholder="From">
                                <ngx-material-timepicker #picker1></ngx-material-timepicker>
                            </div>
                            <div class="col-4">
                                <input [ngxTimepicker]="picker2" class="form-control" formControlName="endTime"
                                    placeholder="To" [min]="controls.startTime.value">
                                <ngx-material-timepicker #picker2></ngx-material-timepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <kt-portlet-footer *ngIf="data.action != 'view'">
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="data.action == 'add' ? 'add' : 'update'">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>
</div>