:host {
	.removeImageSize {
        height: 16px;
	}
	mat-tab-group {
		background: #fff;
		min-height: 420px;
	}
	.height220 {
		height: 270px;
	}
	::ng-deep.mat-tab-header {
		position: relative !important;
		max-width: 90% !important;
	}
	// ::ng-deep.mat-tab-body-content{
	// 	padding-top: 0em !important;
	// }
	::ng-deep.mat-tab-label {
		min-width: 130px !important;
		padding: 0 !important;
		// height: 30px !important;
	}
	.img-container{
		max-width: unset !important;
	}
	.addmore {
		position: absolute;
		top: 30px;
		// left: 150px;
		// right: 0px;
		background: transparent;
		border: thin solid #454d67;
		border-radius: 5px;
		padding: 5px;
		z-index: 5;
	}
	.addmore:disabled {
		cursor: not-allowed;
	}
	.min-height-attach {
		min-height: 36px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.pos {
		position: relative;
		top: -18px;
	}
	.img-add {
        background   : #efefef;
        height       : 35px;
        width        : 35px;
        border       : transparent;
        border-radius: 8px;
        margin       : auto;
        display      : block;
    }
}
