.img-container {
    height: unset !important;
    min-width: unset !important;
    max-width: unset !important;
    background-color: unset !important;
    border-radius: unset !important;
    display: unset !important;
    align-items: unset !important;
    justify-content: unset !important;
    overflow: unset !important;
    position: unset !important;
    cursor: unset !important;
}