<div *ngIf="(filteredList | json) !== '{}'">
    <kt-portlet>
        <kt-portlet-body>
            <div class="row row-no-padding row-col-separator-xl">
                <div class="col-12 d-flex overflow-auto py-2">
                    <!-- Category -->
                    <div class="filtered-data" *ngIf="filteredList?.category?.length">
                        <div class="filtered-title">By Category</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.category; let i = index;">
                                <span>{{item?.categoryName | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('category', i)">
                            </div>
                        </div>
                    </div>
                    <!-- Sub-Category -->
                    <div class="filtered-data" *ngIf="filteredList?.subCategory?.length">
                        <div class="filtered-title">By Sub-Category</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.subCategory; let i = index;">
                                <span>{{item?.subCategoryName | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('subCategory', i)">
                            </div>
                        </div>
                    </div>
                    <!-- Price From -->
                    <div class="filtered-data" *ngIf="filteredList?.priceFrom">
                        <div class="filtered-title">By Price From</div>
                        <div class="d-flex">
                            <div class="filtered-value">
                                <span>{{filteredList?.priceFrom}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('priceFrom')">
                            </div>
                        </div>
                    </div>
                    <!-- Price To -->
                    <div class="filtered-data" *ngIf="filteredList?.priceTo">
                        <div class="filtered-title">By Price To</div>
                        <div class="d-flex">
                            <div class="filtered-value">
                                <span>{{filteredList?.priceTo}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('priceTo')">
                            </div>
                        </div>
                    </div>
                    <!-- Weight -->
                    <div class="filtered-data" *ngIf="filteredList?.weight">
                        <div class="filtered-title">By Weight</div>
                        <div class="d-flex">
                            <div class="filtered-value">
                                <span>{{filteredList?.weight}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('weight')">
                            </div>
                        </div>
                    </div>
                    <!-- Date -->
                    <div class="filtered-data" *ngIf="filteredList?.startDate">
                        <div class="filtered-title" *ngIf="filterName == 'deposit'">By Payment Recieved Date</div>
                        <div class="filtered-title" *ngIf="filterName == 'cancelOrder'">By Cancel Date</div>
                        <div class="filtered-title" *ngIf="filterName == 'cron'">By From Date</div>
                        <div class="d-flex">
                            <div class="filtered-value">
                                <span>{{filteredList?.startDate}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('startDate')">
                            </div>
                        </div>
                    </div>
                    <!-- Merchant -->
                    <div class="filtered-data" *ngIf="filteredList?.merchant?.length">
                        <div class="filtered-title">By Merchant</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.merchant; let i = index;">
                                <span>{{item?.merchantName | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('merchant', i)">
                            </div>
                        </div>
                    </div>
                    <!-- Payment Type -->
                    <div class="filtered-data" *ngIf="filteredList?.paymentType?.length">
                        <div class="filtered-title">By Tenure(months)</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.paymentType; let i = index;">
                                <span>{{item?.paymentType | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('paymentType', i)">
                            </div>
                        </div>
                    </div>
                    <!-- Status -->
                    <div class="filtered-data" *ngIf="filteredList?.status?.length">
                        <div class="filtered-title">By Status</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.status; let i = index;">
                                <span>{{item?.statusName | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('status', i)">
                            </div>
                        </div>
                    </div>
                    <!-- lead -->
                    <div class="filtered-data" *ngIf="filteredList?.leadStatus">
                        <div class="filtered-title">By Status</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.leadStatus; let i = index;">
                                <span>{{item?.statusName | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('leadStatus', i)">
                            </div>
                        </div>
                    </div>
                    <div class="filtered-data" *ngIf="filteredList?.states">
                        <div class="filtered-title">By State</div>
                        <div class="d-flex">
                            <div class="filtered-value">
                                <span>{{filteredList?.states?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('states')">
                            </div>
                        </div>
                    </div>
                    <div class="filtered-data" *ngIf="filteredList?.cities?.length">
                        <div class="filtered-title">By City</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.cities; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('cities', i)">
                            </div>
                        </div>
                    </div>
                    <!-- appliedkyc -->
                    <div class="filtered-data" *ngIf="filteredList?.cceStatus">
                        <div class="filtered-title">By CCE Status</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.cceStatus; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('cceStatus',i)">
                            </div>
                        </div>
                    </div>
                    <div class="filtered-data" *ngIf="filteredList?.kycStatus">
                        <div class="filtered-title">By KYC Status</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.kycStatus; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('kycStatus',i)">
                            </div>
                        </div>
                    </div>

                    <div class="filtered-data" *ngIf="filteredList?.scrapKycStatusFromCce">
                        <div class="filtered-title">By Scrap CCE Status</div>
                        <div class="d-flex">
                            <div class="filtered-value"
                                *ngFor="let item of filteredList?.scrapKycStatusFromCce; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('scrapKycStatusFromCce',i)">
                            </div>
                        </div>
                    </div>
                    <div class="filtered-data" *ngIf="filteredList?.scrapKycStatus">
                        <div class="filtered-title">By Scrap KYC Status</div>
                        <div class="d-flex">
                            <div class="filtered-value"
                                *ngFor="let item of filteredList?.scrapKycStatus; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('scrapKycStatus',i)">
                            </div>
                        </div>
                    </div>

                    <!-- appliedLoan -->
                    <div class="filtered-data" *ngIf="filteredList?.appraiserStatus">
                        <div class="filtered-title">By Appraiser Status</div>
                        <div class="d-flex">
                            <div class="filtered-value"
                                *ngFor="let item of filteredList?.appraiserStatus; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('appraiserStatus',i)">
                            </div>
                        </div>
                    </div>
                    <div class="filtered-data" *ngIf="filteredList?.bmStatus">
                        <div class="filtered-title">By B.M. Status</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.bmStatus; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('bmStatus',i)">
                            </div>
                        </div>
                    </div>
                    <div class="filtered-data" *ngIf="filteredList?.otStatus">
                        <div class="filtered-title">By OPS Team Status</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.otStatus; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('otStatus',i)">
                            </div>
                        </div>
                    </div>

                    <!-- appliedScrap -->
                    <div class="filtered-data" *ngIf="filteredList?.scrapStatus">
                        <div class="filtered-title">By Scrap Status</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.scrapStatus; let i = index;">
                                <span>{{item?.stageName | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('scrapStatus',i)">
                            </div>
                        </div>
                    </div>

                    <!--  cron -->
                    <div class="filtered-data" *ngIf="filteredList?.product">
                        <div class="filtered-title">By Product</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.product; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('product',i)">
                            </div>
                        </div>
                    </div>

                    <div class="filtered-data" *ngIf="filteredList?.cronStatus">
                        <div class="filtered-title">By Status</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.cronStatus; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('cronStatus',i)">
                            </div>
                        </div>
                    </div>
                    <div class="filtered-data" *ngIf="filteredList?.cronType">
                        <div class="filtered-title">By Status</div>
                        <div class="d-flex">
                            <div class="filtered-value" *ngFor="let item of filteredList?.cronType; let i = index;">
                                <span>{{item?.name | titlecase}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('cronType',i)">
                            </div>
                        </div>
                    </div>
                    <div class="filtered-data" *ngIf="filteredList?.endDate">
                        <div class="filtered-title">By End Date</div>
                        <div class="d-flex">
                            <div class="filtered-value">
                                <span>{{filteredList?.endDate | date:'mediumDate'}}</span>
                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('date')">
                            </div>
                        </div>
                    </div>

                    <!-- packets -->
                    <div class="filtered-data" *ngIf="filteredList?.packets">
                        <div class="filtered-title">Packets</div>
                        <div class="d-flex">
                            <div class="filtered-value">
                                <span *ngIf="filteredList?.packets == 'true'">Used</span>
                                <span *ngIf="filteredList?.packets == 'false'">Unused</span>

                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('packets')">
                            </div>
                        </div>
                    </div>

                    <!-- deposit -->
                    <div class="filtered-data" *ngIf="filteredList?.depositStatus">
                        <div class="filtered-title">Status</div>
                        <div class="d-flex">
                            <div class="filtered-value">
                                <span>{{ filteredList?.depositStatus | titlecase }}</span>

                                <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg"
                                    (click)="clearFilter('depositStatus')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </kt-portlet-body>
    </kt-portlet>
</div>