<kt-portlet>
    <kt-portlet-body>
        <div class="row row-no-padding row-col-separator-xl">
            <div class="col-12 d-flex overflow-auto py-2">
                <div class="filtered-data">
                    <div class="filtered-title">By Status</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
                <div class="filtered-data">
                    <div class="filtered-title">By Location</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
                <div class="filtered-data">
                    <div class="filtered-title">By Status</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
                <div class="filtered-data">
                    <div class="filtered-title">By Location</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
                <div class="filtered-data">
                    <div class="filtered-title">By Status</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
                <div class="filtered-data">
                    <div class="filtered-title">By Location</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
                <div class="filtered-data">
                    <div class="filtered-title">By Status</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
                <div class="filtered-data">
                    <div class="filtered-title">By Location</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
                <div class="filtered-data">
                    <div class="filtered-title">By Status</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
                <div class="filtered-data">
                    <div class="filtered-title">By Location</div>
                    <div class="d-flex">
                        <div class="filtered-value">
                            <span>Active</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                        <div class="filtered-value">
                            <span>Deactive</span>
                            <img class="kt-pointer cancel-filtered-value" src="assets/media/icons/cancel.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>