<kt-portlet>
    <kt-portlet-body class="">
        <div class="col-8 mx-auto parent-container">

            <div class="row kt-padding-t-30 " [formGroup]="ltvGoldPercentForm">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6 form-label text-color d-flex align-items-center" placeholder="">LTV gold
                            value(%)
                        </div>
                        <div class="col-6 per-gram d-flex align-items-center">
                            <input type="text" class="form-control" numbersOnly formControlName="ltvGoldPercent"
                                [class.isError]="ltvGoldPercentForm.controls.ltvGoldPercent.invalid && ltvGoldPercentForm.controls.ltvGoldPercent.touched">
                            <mat-error
                                *ngIf="ltvGoldPercentForm.controls.ltvGoldPercent.invalid && ltvGoldPercentForm.controls.ltvGoldPercent.touched">
                                Field required</mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <kt-button [value]="'Save'" [type]="'submit'" (action)="submit('ltvGoldPercent')"></kt-button>
                </div>
            </div>

            <div class="row kt-padding-t-30 " [formGroup]="minimumLoanAmountForm">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6 form-label text-color d-flex align-items-center" placeholder="">Minimum
                            loan
                            amount allowed
                        </div>
                        <div class="col-6 per-gram d-flex align-items-center">
                            <input type="text" class="form-control" numbersOnly formControlName="minimumLoanAmount"
                                [class.isError]="minimumLoanAmountForm.controls.minimumLoanAmount.invalid && minimumLoanAmountForm.controls.minimumLoanAmount.touched">
                            <mat-error
                                *ngIf="minimumLoanAmountForm.controls.minimumLoanAmount.invalid && minimumLoanAmountForm.controls.minimumLoanAmount.touched">
                                Field required</mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <kt-button [value]="'Save'" [type]="'submit'" (action)="submit('minimumLoanAmount')"></kt-button>
                </div>
            </div>

            <div class="row kt-padding-t-30 " [formGroup]="minimumTopUpAmountForm">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6 form-label text-color d-flex align-items-center" placeholder="">Minimum
                            Top-Up Amount
                        </div>
                        <div class="col-6 per-gram d-flex align-items-center">
                            <input type="text" class="form-control" numbersOnly formControlName="minimumTopUpAmount"
                                [class.isError]="minimumTopUpAmountForm.controls.minimumTopUpAmount.invalid && minimumTopUpAmountForm.controls.minimumTopUpAmount.touched">
                            <mat-error
                                *ngIf="minimumTopUpAmountForm.controls.minimumTopUpAmount.invalid && minimumTopUpAmountForm.controls.minimumTopUpAmount.touched">
                                Field required</mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <kt-button [value]="'Save'" [type]="'submit'" (action)="submit('minimumTopUpAmount')"></kt-button>
                </div>
            </div>

            <div class="row kt-padding-t-30 " [formGroup]="gracePeriodForm">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6 form-label text-color d-flex align-items-center" placeholder="">Grace
                            Period
                            Days
                        </div>
                        <div class="col-6 per-gram d-flex align-items-center">
                            <input type="text" class="form-control" numbersOnly formControlName="gracePeriod"
                                [class.isError]="gracePeriodForm.controls.gracePeriod.invalid && gracePeriodForm.controls.gracePeriod.touched">
                            <mat-error
                                *ngIf="gracePeriodForm.controls.gracePeriod.invalid && gracePeriodForm.controls.gracePeriod.touched">
                                Field required</mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <kt-button [value]="'Save'" [type]="'submit'" (action)="submit('gracePeriod')"></kt-button>
                </div>
            </div>

            <div class="row kt-padding-t-30 kt-padding-b-30" [formGroup]="gstForm">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6 form-label text-color d-flex align-items-center">GST (%)
                        </div>
                        <div class="col-6 per-gram d-flex align-items-center">
                            <input type="text" class="form-control" numbersOnly formControlName="gst"
                                [class.isError]="gstForm.controls.gst.invalid && gstForm.controls.gst.touched">
                            <mat-error *ngIf="gstForm.controls.gst.invalid && gstForm.controls.gst.touched">
                                Field required</mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <kt-button [value]="'Save'" [type]="'submit'" (action)="submit('gst')"></kt-button>
                </div>
            </div>
        </div>

    </kt-portlet-body>
</kt-portlet>