kt-base {
	opacity: 0;
	height: 100%;

	.kt-grid--root {
		height: 100%;
	}
}

.kt-page--loaded {
	kt-base {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}
	.margin-top{
		// margin-top: -22px !important;
		margin-top: 15px !important;
	}
	.kt-content{
		padding:  0;
	}
}
