<kt-portlet>
    <!-- <kt-portlet-header> -->
    <kt-modal-header [title]='"Update"' (action)="action($event)"></kt-modal-header>
    <!-- </kt-portlet-header> -->
    <kt-portlet-body>
        <div class="kt-form">
            <form [formGroup]="updateStatusForm">
                <div class="kt-portlet__body">

                    <div>
                        <div class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Customer ID</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="customerId"
                                            [class.isError]="controls.customerId.touched && controls.customerId.invalid">
                                        <mat-error
                                            *ngIf="controls.customerId.touched && controls.customerId.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Loan ID</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="loanId"
                                            [class.isError]="controls.loanId.touched && controls.loanId.invalid">
                                        <mat-error *ngIf="controls.loanId.touched && controls.loanId.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Loan Amount (&#x20B9;)</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="loanAmount"
                                            [class.isError]="controls.loanAmount.touched && controls.loanAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.loanAmount.touched && controls.loanAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Principal OutStanding Amount (&#x20B9;)</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="outstandingAmount"
                                            [class.isError]="controls.outstandingAmount.touched && controls.outstandingAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.outstandingAmount.touched && controls.outstandingAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row kt-margin-b-15">

                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Interest Amount (&#x20B9;)</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="interestAmount"
                                            [class.isError]="controls.interestAmount.touched && controls.interestAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.interestAmount.touched && controls.interestAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6"
                                *ngIf="data.name === ('jewelleryReleaseApproval' || 'jewelleryReleaseFinal')">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Ornament Release Amount (&#x20B9;)</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="releaseAmount"
                                            [class.isError]="controls.releaseAmount.touched && controls.releaseAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.releaseAmount.touched && controls.releaseAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Penal Interest (&#x20B9;)</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="penalInterest"
                                            [class.isError]="controls.penalInterest.touched && controls.penalInterest.invalid">
                                        <mat-error
                                            *ngIf="controls.penalInterest.touched && controls.penalInterest.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Total Payable <br>
                                            Amount (₹)</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="payableAmount"
                                            [class.isError]="controls.payableAmount.touched && controls.payableAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.payableAmount.touched && controls.payableAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="data.name != 'jewelleryReleaseFinal' && data.name != 'fullReleaseFinal'"
                            class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label *ngIf="data.name === 'jewelleryReleaseApproval'">Part Release Amount
                                            Status</mat-label>
                                        <mat-label *ngIf="data.name === 'fullReleaseApproval'">Full Release Amount
                                            Status</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <select class="form-control" formControlName="amountStatus"
                                            [class.isError]="controls.amountStatus.touched && controls.amountStatus.invalid">
                                            <option value="" disabled selected>Select Status</option>
                                            <option *ngFor="let stat of amountStatus" [value]="stat">
                                                {{stat | titlecase}}
                                            </option>
                                        </select>
                                        <mat-error
                                            *ngIf="controls.amountStatus.touched && controls.amountStatus.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="data.name == 'jewelleryReleaseFinal'" class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Status</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <select class="form-control" formControlName="partReleaseStatus"
                                            (change)="commentValidation($event)"
                                            [class.isError]="controls.partReleaseStatus.touched && controls.partReleaseStatus.invalid">
                                            <option value="" disabled selected>Select Status</option>
                                            <option *ngFor="let stat of partReleaseStatus" [value]="stat">
                                                {{stat | titlecase}}
                                            </option>
                                        </select>
                                        <mat-error
                                            *ngIf="controls.partReleaseStatus.touched && controls.partReleaseStatus.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="controls.partReleaseStatus.value === 'pending'" class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Reason</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <textarea class="form-control" formControlName="appraiserReason"
                                            [class.isError]="controls.appraiserReason.touched && controls.appraiserReason.invalid"
                                            placeholder="Reason for {{controls.partReleaseStatus.value | titlecase}}"></textarea>
                                        <mat-error
                                            *ngIf="controls.appraiserReason.touched && controls.appraiserReason.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="data.name == 'fullReleaseFinal'" class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Status</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <select class="form-control" formControlName="fullReleaseStatus"
                                            (change)="commentValidation($event)"
                                            [class.isError]="controls.fullReleaseStatus.touched && controls.fullReleaseStatus.invalid">
                                            <option value="" disabled selected>Select Status</option>
                                            <option *ngFor="let stat of partReleaseStatus" [value]="stat">
                                                {{stat | titlecase}}
                                            </option>
                                        </select>
                                        <mat-error
                                            *ngIf="controls.fullReleaseStatus.touched && controls.fullReleaseStatus.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="controls.fullReleaseStatus.value === 'pending'" class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Reason</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <textarea class="form-control" formControlName="releaserReason"
                                            [class.isError]="controls.releaserReason.touched && controls.releaserReason.invalid"
                                            placeholder="Reason for {{controls.fullReleaseStatus.value | titlecase}}"></textarea>
                                        <mat-error
                                            *ngIf="controls.releaserReason.touched && controls.releaserReason.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <kt-modal-footer (action)="action($event)" [value]="'Update'">
                        </kt-modal-footer>

                    </div>
                </div>
            </form>
        </div>
    </kt-portlet-body>

</kt-portlet>