<kt-portlet>
    <!-- <kt-portlet-header> -->
    <kt-modal-header [title]='"Update"' (action)="action($event)"></kt-modal-header>
    <!-- </kt-portlet-header> -->
    <kt-portlet-body>
        <div class="kt-form">
            <form [formGroup]="updateStatusForm">
                <div class="kt-portlet__body">

                    <div>
                        <div class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Lead Source</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="customerId"
                                            [class.isError]="controls.customerId.touched && controls.customerId.invalid">
                                        <mat-error
                                            *ngIf="controls.customerId.touched && controls.customerId.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Lead Source</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="loanId"
                                            [class.isError]="controls.loanId.touched && controls.loanId.invalid">
                                        <mat-error *ngIf="controls.loanId.touched && controls.loanId.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Loan Amount</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="loanAmount"
                                            [class.isError]="controls.loanAmount.touched && controls.loanAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.loanAmount.touched && controls.loanAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Principal OutStanding Amount</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="principalOutStandingAmount"
                                            [class.isError]="controls.principalOutStandingAmount.touched && controls.principalOutStandingAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.principalOutStandingAmount.touched && controls.principalOutStandingAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Ornament Release Amount</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="ornamentReleaseAmount"
                                            [class.isError]="controls.ornamentReleaseAmount.touched && controls.ornamentReleaseAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.ornamentReleaseAmount.touched && controls.ornamentReleaseAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Interest Amount</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="interestAmount"
                                            [class.isError]="controls.interestAmount.touched && controls.interestAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.interestAmount.touched && controls.interestAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Penal Interest</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="penalInterest"
                                            [class.isError]="controls.penalInterest.touched && controls.penalInterest.invalid">
                                        <mat-error
                                            *ngIf="controls.penalInterest.touched && controls.penalInterest.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-4 form-label">
                                        <mat-label>Total Payable Amount</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <input class="form-control" formControlName="totalPayableAmount"
                                            [class.isError]="controls.totalPayableAmount.touched && controls.totalPayableAmount.invalid">
                                        <mat-error
                                            *ngIf="controls.totalPayableAmount.touched && controls.totalPayableAmount.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row kt-margin-b-15">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 form-label">
                                        <mat-label>Part Release Amount Status</mat-label>
                                    </div>
                                    <div class="col-7">
                                        <select class="form-control" formControlName="partReleaseAmountStatus"
                                            [class.isError]="controls.partReleaseAmountStatus.touched && controls.partReleaseAmountStatus.invalid">
                                            <option value="" disabled selected>Select Status</option>
                                            <option *ngFor="let stat of status" [value]="stat.id"> {{stat.id}} </option>
                                        </select>
                                        <!-- <input class="form-control" formControlName="partReleaseAmountStatus"
                                            [class.isError]="controls.partReleaseAmountStatus.touched && controls.partReleaseAmountStatus.invalid"> -->
                                        <mat-error
                                            *ngIf="controls.partReleaseAmountStatus.touched && controls.partReleaseAmountStatus.errors?.required">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <kt-modal-footer (action)="action($event)" [value]="'Update'">
                        </kt-modal-footer>

                    </div>
                </div>
            </form>
        </div>
    </kt-portlet-body>

</kt-portlet>