<kt-toastr #toastr></kt-toastr>
<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <!-- <kt-portlet-header [title]="'Branch List'" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">

        <ng-container ktPortletTools>

        </ng-container>
    </kt-portlet-header> -->
    <!-- end::Header -->

    <kt-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="kt-form kt-margin-b-10">

            <!-- start::GROUP ACTIONS -->
            <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
            <!-- Group actions are shared for all LISTS -->

            <!-- end::GROUP ACTIONS -->
        </div>
        <!-- end::FILTERS & GROUP ACTIONS -->

        <!-- MATERIAL TABLE | Binded to datasources -->
        <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                matSortActive="id" matSortDirection="asc" matSortDisableClear>
                <!-- Checkbox Column -->

                <!-- Table with selection -->
                <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
                <!-- <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="storeId">
                    <mat-header-cell *matHeaderCellDef>Store ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.orderBy?.broker?.store?.storeUniqueId ? element?.order?.orderBy?.broker?.store?.storeUniqueId : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="userId">
                    <mat-header-cell *matHeaderCellDef>User ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.customerDetails?.customerUniqueId ? element?.order?.customerDetails?.customerUniqueId : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="mobileNumber">
                    <mat-header-cell *matHeaderCellDef>Mobile Number</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.customerDetails?.mobileNumber ? element?.order?.customerDetails?.mobileNumber : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="orderId">
                    <mat-header-cell *matHeaderCellDef>Order ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.order?.orderUniqueId ? element?.order?.orderUniqueId : '-'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="emiDate">
                    <mat-header-cell *matHeaderCellDef>EMI Date</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div class="d-block">
                            <div>{{element?.dueDate ? (element?.dueDate | date:'MMM d, y') : '-'}}</div>
                            <div>{{element?.dueDate ? (element?.dueDate | date:'h:mm a') : ''}}</div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emiAmount">
                    <mat-header-cell *matHeaderCellDef class="align-right">EMI Amount</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="align-right">
                        {{element?.emiAmount ? element?.emiAmount : '-'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="emiPaidDate">
                    <mat-header-cell *matHeaderCellDef>EMI Paid Date</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div class="d-block">
                            <div>
                                {{element?.paymentRecievedDate ? (element?.paymentRecievedDate | date:'MMM d, y') : '-'}}
                            </div>
                            <div>{{element?.paymentRecievedDate ? (element?.paymentRecievedDate | date:'h:mm a') : ''}}
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="{'text-orange' : element?.orderemistatus?.id == 1 || element?.orderemistatus?.id == 5,
                    'text-red' : element?.orderemistatus?.id == 9 || element?.orderemistatus?.id == 13,
                    'text-green' : element?.orderemistatus?.id != 1 || element?.orderemistatus?.id != 5 ||
                    element?.orderemistatus?.id != 9 || element?.orderemistatus?.id != 13}">
                        {{element?.orderemistatus?.statusName ? (element?.orderemistatus?.statusName | titlecase) : '-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emiFrom">
                    <mat-header-cell *matHeaderCellDef>Emi From</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element?.receivedBy?.firstName ? element?.receivedBy?.firstName : '-'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div [ngStyle]="{'display': 'inherit'}">
                            <div *ngxPermissionsOnly="['EMIDetailsView']" (click)="viewOrder(element.id)"
                                class="kt-pointer"> View</div>
                            <div *ngxPermissionsOnly="['EMIDetailsView']"
                                [ngStyle]="{'display':element.orderemistatus.id == 4 ? 'block':'none'}"
                                (click)="printCancellationReceipt(element)" class="kt-pointer">&nbsp;| Print EMI Receipt
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" style="width: 150%;"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns" style="width: 150%;"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>