<kt-portlet>

    <kt-portlet-body>

        <div class="mat-table__wrapper" [ngStyle]="{'overflow-x':'hidden'}">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox *ngIf="!row.packetAssigned" (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" (change)="checkForSameBranch()"
                            [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="packetUniqueId">
                    <mat-header-cell *matHeaderCellDef>Packet ID</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.packetUniqueId}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="barcode">
                    <mat-header-cell *matHeaderCellDef>Barcode</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.barcodeNumber | uppercase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="internalBranch">
                    <mat-header-cell *matHeaderCellDef>Branch</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.internalBranch">
                            {{role.internalBranch.name | titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="appraiserName">
                    <mat-header-cell *matHeaderCellDef>Appraiser</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.appraiser">
                            {{role.appraiser.firstName | titlecase}} &nbsp;
                            {{role.appraiser.lastName | titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerID">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.customer">
                            {{role.customer.customerUniqueId}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan ID</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <span *ngIf="role.customerLoan">
                            {{role.customerLoan.loanUniqueId}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let role">
                        <div [ngStyle]="{'display': 'inherit'}" *ngIf="!role.packetAssigned">
                            <span class="kt-pointer" (click)="editPacket(role)"
                                *ngxPermissionsOnly="['packetEdit']">Edit</span>
                            <div class="px-2" *ngxPermissionsOnly="['packetDelete'] || ['packetEdit']">|</div>
                            <span class="kt-pointer text-danger" (click)="deletePacket(role)"
                                *ngxPermissionsOnly="['packetDelete']">Delete</span>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>