<nav ngbNav #nav="ngbNav" class="nav-tabs m-0" [ngStyle]="{'border':'0'}">
    <ng-container ngbNavItem>
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    1
                </div>
                <p class="step-name">Basic Details</p>
                <p class="step-details"> User's Basic Details</p>
            </div>
        </a>

        <ng-template ngbNavContent>
            <kt-user-details></kt-user-details>
        </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    2
                </div>
                <p class="step-name">Category Details</p>
                <p class="step-details">Commission</p>
            </div>
        </a>

        <ng-template ngbNavContent>
            <kt-commission-details></kt-commission-details>
        </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
        <a ngbNavLink class="tab-link">
            <div>
                <div class="step-number">
                    3
                </div>
                <p class="step-name">Asign Permission</p>
                <p class="step-details"> Catalog Permission</p>
            </div>
        </a>

        <ng-template ngbNavContent>
           <kt-permission></kt-permission>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" [ngStyle]="{'width':'99%','margin':'auto'}"></div>