<kt-portlet>
    <kt-modal-header [title]='"Part Payment Logs"' (action)="action($event)"></kt-modal-header>
    <kt-portlet-body>
        <!-- <h5 class="kt-padding-t-25 kt-padding-l-20">Interest EMI</h5> -->
        <div class="table-div kt-padding-20">
            <table class="table outer-border">
                <thead>
                    <th class="transparent">Transaction ID</th>
                    <th class="transparent">Loan Id</th>
                    <th class="transparent">Loan Amount</th>
                    <th class="transparent">Payment Date</th>
                    <th class="transparent">Paid Part Amount</th>
                    <th class="transparent">Principal Outstanding</th>
                    <th class="transparent">Status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let loanDetail of partPaymentHistory">
                        <td>{{loanDetail.transactionUniqueId | uppercase}}</td>
                        <td>
                            {{loanDetail.transactionSplitUp[0].customerLoan?.loanUniqueId}}
                            <br>
                            <span *ngIf="loanDetail.transactionSplitUp.length > 1">
                                {{loanDetail.transactionSplitUp[1].customerLoan?.loanUniqueId}}
                            </span>
                        </td>
                        <td>
                            <span class="currency">
                                {{loanDetail.transactionSplitUp[0].customerLoan?.loanAmount | indianCurrencyFormat}}
                            </span>
                            <br>
                            <span class="currency" *ngIf="loanDetail.transactionSplitUp.length > 1">
                                {{loanDetail.transactionSplitUp[1].customerLoan?.loanAmount | indianCurrencyFormat}}
                            </span>
                        </td>

                        <td>{{loanDetail.depositDate | date :'mediumDate'}}</td>

                        <td>
                            <span
                                class="currency">{{loanDetail.transactionSplitUp[0].payableOutstanding | indianCurrencyFormat}}</span>
                            <br>
                            <span class="currency" *ngIf="loanDetail.transactionSplitUp.length > 1">
                                {{loanDetail.transactionSplitUp[1].payableOutstanding | indianCurrencyFormat}}
                            </span>
                        </td>
                        <td>
                            <span
                                class="currency">{{loanDetail.transactionSplitUp[0].loanOutstanding | indianCurrencyFormat}}</span>
                            <br>
                            <span class="currency" *ngIf="loanDetail.transactionSplitUp.length > 1">
                                {{loanDetail.transactionSplitUp[1].loanOutstanding | indianCurrencyFormat}}
                            </span>
                        </td>
                        <td>
                            <span *ngIf="loanDetail?.depositStatus == 'Completed'" class="text-success">
                                {{loanDetail?.depositStatus | titlecase}}
                            </span>
                            <span *ngIf="loanDetail?.depositStatus == 'Pending'" class="text-warning">
                               Waiting For Approval 
                            </span>
                            <span *ngIf="loanDetail?.depositStatus == 'Rejected'" class="text-danger">
                                {{loanDetail?.depositStatus | titlecase}}
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="partPaymentHistory && !partPaymentHistory.length">
                        <td align="center" colspan="6">No Records Found</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="kt-padding-b-20">
            <h5 class="text-center">Total Part Payment</h5>
            <h5 class="text-center">
                <span class="currency"> {{totalPartPayment | indianCurrencyFormat}} </span>
            </h5>
        </div>

    </kt-portlet-body>
</kt-portlet>