
:host {
	mat-row, mat-header-row {
		width: 130%;
	}
	.mat-column-fullName {
        // flex: 0 0 15% !important;
        padding-left: 10px !important;
	}
	// .mat-column-pan {
	// 	flex: 0 0 12% !important;
	// }
	// .mat-column-date {
	// 	flex: 0 0 12% !important;
	// }
	.mat-column-cceApprovalStatus {
		flex: 0 0 14%  !important;
	}
	// .mat-column-kycStatus {
	// 	flex: 0 0 12% !important;
	// }
	// .mat-column-action {
	// 	flex: 0 0 10% !important;
	// }
	// .mat-column-view {
	// 	flex: 0 0 9% !important;
	// }
	.mat-column-appraiser {
		flex: 0 0 14% !important;
	}
	// .mat-column-appraiserName {
	// 	flex: 0 0 14% !important;
	// }.mat-column-customerId {
	// 	flex: 0 0 10% !important;
	// }
}
