:host {
	.card-border {
        position: relative;
		border: 1px solid #c5c6c6;
		border-radius: 15px;
		min-height: 100px;
		// position: relative;
	}
	.vertical-center {
		// margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
    }
    .top{
        top: 0 !important;
    }
}
