<kt-toastr #toastr></kt-toastr>
<kt-portlet>
    <kt-portlet-body class="checkout-height">
        <div class="row py-4">
            <div class="col-12">
                <kt-button [value]="'Existing Customer'" [type]="'button'" (action)="checkCustomerType('exist')">
                </kt-button>
                <span class="px-4 font-weight-500">Or</span>
                <kt-button [value]="'New Customer'" [type]="'reset'" (action)="checkCustomerType('new')"></kt-button>
            </div>
        </div>
        <form [formGroup]="numberSearchForm" *ngIf="showNumberSearchFlag">
            <div class="row py-3">
                <div class="col-5">
                    <div class="row">
                        <div class="col-5 align-self-center">
                            <label class="font-weight-500 text-color" [class.mandatory]="isMandatory">Enter Mobile
                                Number</label>
                        </div>
                        <div class="col-7 p-0">
                            <input type="text" aria-label="Mobile Number" placeholder="Mobile Number"
                                class="form-control" formControlName="mobNo"
                                [class.isError]="numberSearchForm.controls.mobNo.touched && numberSearchForm.controls.mobNo.invalid"
                                numbersOnly>
                            <mat-error
                                *ngIf="numberSearchForm.controls.mobNo.errors?.required && numberSearchForm.controls.mobNo.touched">
                                Field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <kt-button [value]="'Search'" [type]="'submit'" (action)="checkCustomerExist()"></kt-button>
                </div>
            </div>
        </form>
        <form [formGroup]="checkoutCustomerForm" *ngIf="showformFlag">
            <!-- <div *ngIf="existingCustomerData" class="font-weight-500">
                <div class="row py-2">
                    <div class="col-2 align-self-center text-muted">Customer Name</div>
                    <div class="col-8">{{existingCustomerData?.customerDetails?.firstName}}
                        {{existingCustomerData?.customerDetails?.lastName}}</div>
                </div>
                <div class="row py-2">
                    <div class="col-2 align-self-center text-muted">Email ID</div>
                    <div class="col-8">{{existingCustomerData?.customerDetails?.email}}</div>
                </div>
                <div class="row py-2">
                    <div class="col-2 align-self-center text-muted">Address</div>
                    <div class="col-8">{{existingCustomerData?.customerDetails?.customeraddress[0]?.address}}</div>
                </div>
                <div class="row py-2">
                    <div class="col-2 align-self-center text-muted">Landmark</div>
                    <div class="col-8">{{existingCustomerData?.customerDetails?.customeraddress[0]?.landMark}}</div>
                </div>
                <div class="row py-2">
                    <div class="col-2 align-self-center text-muted">State</div>
                    <div class="col-8">{{existingCustomerData?.customerDetails?.customeraddress[0]?.state?.name}}</div>
                </div>
                <div class="row py-2">
                    <div class="col-2 align-self-center text-muted">City</div>
                    <div class="col-8">{{existingCustomerData?.customerDetails?.customeraddress[0]?.city?.name}}</div>
                </div>
                <div class="row py-2">
                    <div class="col-2 align-self-center text-muted">Pincode</div>
                    <div class="col-8">{{existingCustomerData?.customerDetails?.pinCode}}</div>
                </div>
            </div> -->
            <div class="row py-3">
                <div class="col-6 pr-4">
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color" [class.mandatory]="isMandatory">Customer
                                Name</label>
                        </div>
                        <div class="col-4">
                            <input type="text" aria-label="First name" placeholder="First Name" ktAlphabets
                                class="form-control" formControlName="firstName"
                                [class.isError]="controls.firstName.touched && controls.firstName.invalid">
                            <mat-error *ngIf="controls.firstName.errors?.required && controls.firstName.touched">
                                Field is required
                            </mat-error>
                        </div>
                        <div class="col-4">
                            <input type="text" aria-label="Last name" placeholder="Last Name" ktAlphabets
                                class="form-control" formControlName="lastName"
                                [class.isError]="controls.lastName.touched && controls.lastName.invalid">
                            <mat-error *ngIf=" controls.lastName.errors?.required && controls.lastName.touched">
                                Field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-6 pl-4">
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color" [class.mandatory]="isMandatory">Mobile
                                Number</label>
                        </div>
                        <div class="col-8">
                            <input type="text" aria-label="Mobile Number" placeholder="Mobile Number"
                                class="form-control" formControlName="mobileNumber"
                                [class.isError]="controls.mobileNumber.touched && controls.mobileNumber.invalid"
                                numbersOnly>
                            <mat-error *ngIf="controls.mobileNumber.errors?.required && controls.mobileNumber.touched">
                                Field is required
                            </mat-error>
                            <mat-error *ngIf="controls.mobileNumber.errors?.pattern && controls.mobileNumber.touched">
                                Invalid Input
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-6 pr-4">
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color">Email ID</label>
                        </div>
                        <div class="col-8">
                            <input type="text" aria-label="Email ID" placeholder="Email ID" class="form-control"
                                formControlName="email"
                                [class.isError]="controls.email.touched && controls.email.invalid">
                            <mat-error *ngIf="controls.email.errors?.email && controls.email.touched">
                                Invalid Email ID
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-6 pl-4">
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color" [class.mandatory]="isMandatory">Landmark</label>
                        </div>
                        <div class="col-8">
                            <input type="text" aria-label="Landmark" placeholder="Landmark" class="form-control"
                                formControlName="landMark"
                                [class.isError]="controls.landMark.touched && controls.landMark.invalid">
                            <mat-error *ngIf=" controls.landMark.errors?.required && controls.landMark.touched">
                                Field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-6 pr-4">
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color" [class.mandatory]="isMandatory">Address</label>
                        </div>
                        <div class="col-8">
                            <textarea type="text" aria-label="Address" placeholder="Address" class="form-control"
                                formControlName="address"
                                [class.isError]="controls.address.touched && controls.address.invalid"></textarea>
                            <mat-error *ngIf=" controls.address.errors?.required && controls.address.touched">
                                Field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-6 pl-4">
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color" [class.mandatory]="isMandatory">State</label>
                        </div>
                        <div class="col-8">
                            <select *ngIf="showCustomerFlag" class="form-control" formControlName="stateName"
                                (change)="getCities()">
                                <option value="" [selected]="true" [disabled]="true">Select State</option>
                                <option [value]="state.id" *ngFor="let state of stateList">{{state.name}}
                                </option>
                            </select>
                            <select *ngIf="!showCustomerFlag" class="form-control" formControlName="stateName"
                                [class.isError]="controls.stateName.touched && controls.stateName.invalid"
                                (change)="getCities()">
                                <option value="" [selected]="true" [disabled]="true">Select State</option>
                                <option [ngValue]="state" *ngFor="let state of stateList">{{state.name}}
                                </option>
                            </select>
                            <div *ngIf="controls.stateName.touched && controls.stateName.invalid">
                                <mat-error *ngIf="controls.stateName.touched && controls.stateName.errors?.required">
                                    Field is required</mat-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-6 pr-4">
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color" [class.mandatory]="isMandatory">City</label>
                        </div>
                        <div class="col-8">
                            <select *ngIf="showCustomerFlag" class="form-control" formControlName="cityName">
                                <option value="" [selected]="true" [disabled]="true">Select City</option>
                                <option [value]="city.id" *ngFor="let city of cityList">{{city.name}}</option>
                            </select>
                            <select *ngIf="!showCustomerFlag" class="form-control" formControlName="cityName"
                                [class.isError]="controls.cityName.touched && controls.cityName.invalid">
                                <option value="" [selected]="true" [disabled]="true">Select City</option>
                                <option [ngValue]="city" *ngFor="let city of cityList">{{city.name}}</option>
                            </select>
                            <div *ngIf="controls.cityName.touched && controls.cityName.invalid">
                                <mat-error *ngIf="controls.cityName.touched && controls.cityName.errors?.required">
                                    Field
                                    is required</mat-error>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 pl-4">
                    <div class="row">
                        <div class="col-4 align-self-center">
                            <label class="font-weight-500 text-color" [class.mandatory]="isMandatory">Pincode</label>
                        </div>
                        <div class="col-8">
                            <input type="text" aria-label="Pincode" placeholder="Pincode" class="form-control"
                                formControlName="postalCode"
                                [class.isError]="controls.postalCode.touched && controls.postalCode.invalid">
                            <mat-error *ngIf=" controls.postalCode.errors?.required && controls.postalCode.touched">
                                Field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="showPlaceOrderFlag">
            <hr>
            <div class="row py-3">
                <div class="col-6 pr-4">
                    <div class="row">
                        <div class="col-8 font-weight-500">
                            <div class="row">
                                <div class="col-6 text-muted pb-2">Invoice Price:</div>
                                <div class="col-6"><span
                                        class="currency">{{checkoutData?.invoiceAmount | indianCurrencyFormat}}</span>
                                </div>
                                <div class="col-6 text-muted pb-2">Now Payable Amount:</div>
                                <div class="col-6"><span class="currency">
                                        {{checkoutData?.nowPayableAmount | indianCurrencyFormat}}</span></div>
                                <ng-container *ngIf="checkoutData?.emiScheme?.length ||checkoutData?.emiAmount?.length">
                                    <div class="col-6 text-muted pb-2">Initial Payment:</div>
                                    <div class="col-6"><span class="currency">
                                            {{checkoutData?.initialPayment | indianCurrencyFormat}}</span>
                                    </div>
                                    <div class="col-6 text-muted pb-2">EMI Scheme:</div>
                                    <div class="col-6" *ngIf="checkoutData?.emiScheme?.length">
                                        <span class="content"
                                            *ngFor="let scheme of checkoutData?.emiScheme; let isLast=last">
                                            {{scheme}}{{isLast ? '' : ', '}}
                                        </span>
                                        <span>Months</span>
                                    </div>
                                    <div class="col-6 text-muted">EMI Amount:</div>
                                    <div class="col-6" *ngIf="checkoutData?.emiAmount?.length">
                                        <div class="content"
                                            *ngFor="let amt of checkoutData?.emiAmount; let isLast=last">
                                            <span class="currency">
                                                {{amt | indianCurrencyFormat}}{{isLast ? '' : ', '}}</span>
                                        </div>
                                    </div>
                                    <div class="col-6 offset-6">(Per Month)</div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-4">
                            <kt-button [value]="'Generate OTP'" [type]="'normalButton'" (action)="generateOTP()">
                            </kt-button>
                        </div>
                    </div>
                </div>
                <div class="col-6 pl-4">
                    <form [formGroup]="otpForm">
                        <div class="row">
                            <div class="col-6">
                                <input *ngIf="!finalOrderData" type="text" aria-label="Enter OTP"
                                    placeholder="Enter OTP" class="form-control" formControlName="otp" disabled>
                                <input *ngIf="finalOrderData" type="text" aria-label="Enter OTP" placeholder="Enter OTP"
                                    class="form-control" formControlName="otp"
                                    [class.isError]="otpForm.controls.otp.touched && otpForm.controls.otp.invalid"
                                    numbersOnly>
                                <mat-error
                                    *ngIf=" otpForm.controls.otp.errors?.required && otpForm.controls.otp.touched">
                                    Field is required
                                </mat-error>
                            </div>
                            <div class="col-6">
                                <kt-button [value]="'Place Order'" [type]="'submit'" (action)="placeOrder()"
                                    [isDisabled]="!finalOrderData"></kt-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>