:host{
    ::ng-deep.mat-row,
    ::ng-deep.mat-header-row{
        width: 250% !important;
    }

    .mat-column-principalOutstandingAmountLTV{
        display: flex;
    flex-direction: column;
    flex: 0 0 8%;
    }

}