<kt-portlet>
    <kt-modal-header [title]='title' (action)="action($event)"></kt-modal-header>
    <kt-portlet-body>
        <form [formGroup]="leadSourceForm">
            <div class="row ">
                <div class="col-12">
                    <div class="row justify-content-center kt-margin-t-10">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory">Lead</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control " formControlName="leadName"
                                [class.isError]="controls.leadName.invalid &&  controls.leadName.touched">
                            <mat-error *ngIf="controls.leadName.touched && controls.leadName.errors?.required">
                                Required field
                            </mat-error>
                            <mat-error *ngIf="controls.leadName.touched && controls.leadName.errors?.pattern">
                                Invalid Input
                            </mat-error>
                        </div>
                    </div>

                    <!-- <div class="row justify-content-center kt-margin-t-10">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory">Source</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control text-capitalize" formControlName="source"
                                [class.isError]="controls.source.invalid &&  controls.source.touched">
                            <mat-error *ngIf="controls.source.touched && controls.source.errors?.required">
                                Required field
                            </mat-error>
                        </div>
                    </div> -->
                </div>
            </div>
        </form>
    </kt-portlet-body>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="data.action == 'add' ? 'Add' : 'Update'">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>
</kt-portlet>