:host{
    .mat-column-customerId{
        padding-left: 10px !important;
        flex: 0 0 8% !important;
    }
    .mat-column-scrapId{
        flex: 0 0 8% !important;
    }
    .mat-column-actions{
        flex: 0 0 16% !important;
    } 
    .mat-column-internalBranch{
        flex: 0 0 7% !important;
    }
    .mat-column-customerName{
        flex: 0 0 10% !important;
    } 
    .mat-column-userName{
        flex: 0 0 10% !important;
    }
    .mat-column-scrapAmount{
        flex: 0 0 7% !important;
    } 
    .mat-column-packetUniqueId{
        flex: 0 0 7% !important;
    }
    .mat-column-currentLocation{
        flex: 0 0 10% !important;
    }
    .mat-column-mobileNumber{
        flex: 0 0 8% !important;
    }
    .mat-column-elapseTime{
        flex: 0 0 8% !important;
    }
    .mat-column-status{
        flex: 0 0 8% !important;
    }
    mat-row,mat-header-row{
        width: 160% !important;
    }
    .multiple {
        display: flex;
        flex-direction: column;
    }
}