:host{
    agm-map{ 
        height:60vh; 
        padding-bottom: 30px;
    }
    .pos {
        position   : absolute;
        // top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: 500;
        font-size  : 14px;
        z-index: 100 !important; 
        letter-spacing: 1.1px;
    }
}