:host{
    agm-map{ 
        height:75vh; 
        padding-bottom: 30px;
    }
    .pos {
        position   : absolute;
        // top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: 500;
        font-size  : 14px;
        z-index: 100 !important; 
        letter-spacing: 1.1px;
    }
    ::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]){
        box-shadow: none !important;
    }
    ::ng-deep .mat-expansion-panel-header{
        padding-left: 0px !important;
    }
    ::ng-deep .mat-expansion-panel-body{
        padding: 0 24px 16px 10px !important;
    }
    ::ng-deep mat-expansion-panel-header{
        height: 50px !important;
    }
    ::ng-deep .agm-info-window-content{
        overflow-x:hidden !important ;
    }
}