<div class="">
    <label class="text-color font-weight-bold h-v-text-center min-vh-100" *ngIf="noResults.length==0">No Schemes
        Available</label>
</div>


<kt-portlet *ngIf="noResults.length>0">
    <kt-portlet-body>
        <mat-tab-group #matTab>
            <mat-tab label='{{scheme.name | titlecase}}' *ngFor="let scheme of schemes">
                <label class="text-color font-weight-bold h-v-text-center min-vh-60 m-0"
                    *ngIf="scheme.schemes.length==0">No Schemes
                    Available</label>
                <div class="row kt-padding-10" *ngFor="let schemeDeatils of scheme.schemes">

                    <div class="col-2 from-style">
                        <h4>{{ schemeDeatils.schemeName | titlecase}}</h4>
                        <span class="text-gray">From</span>
                        <h3>
                            {{schemeDeatils.schemeAmountStart | schemeAmount }}
                            <!-- <span
                                *ngIf="schemeDeatils.schemeAmountStart.length >= 6">{{schemeDeatils.schemeAmountStart | schemeAmount</span> -->
                            to
                            {{schemeDeatils.schemeAmountEnd | schemeAmount}}</h3>
                    </div>
                    <div class="col-10 border-radius">
                        <div class="row border-bottom">
                            <div
                                class="col-4 heading bg-secondary kt-padding-t-20 kt-padding-b-20 border-right border-left-radius">
                                Tennure
                            </div>
                            <div
                                class="col bg-secondary heading text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                30 Days</div>
                            <div
                                class="col bg-secondary heading text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                90 Days</div>
                            <div
                                class="col bg-secondary heading text-center kt-padding-t-20 kt-padding-b-20 border-right-radius">
                                180 Days
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-4 heading kt-padding-t-20 kt-padding-b-20 border-right">Rate of Interest(% /
                                Monthly)</div>
                            <div class="col text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                {{schemeDeatils.interestRateThirtyDaysMonthly}}</div>
                            <div class="col text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                {{schemeDeatils.interestRateNinetyDaysMonthly}}</div>
                            <div class="col text-center kt-padding-t-20 kt-padding-b-20">
                                {{schemeDeatils.interestRateOneHundredEightyDaysMonthly}}</div>
                        </div>
                        <div class="row ">
                            <div class="col-4 heading kt-padding-t-20 kt-padding-b-20 border-right">Rate of Interest(% /
                                Annually)</div>
                            <div class="col text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                {{schemeDeatils.interestRateThirtyDaysAnnually}}</div>
                            <div class="col text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                {{schemeDeatils.interestRateNinetyDaysAnnually}}</div>
                            <div class="col text-center kt-padding-t-20 kt-padding-b-20">
                                {{schemeDeatils.interestRateOneHundredEightyDaysAnnually}}</div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>