<kt-portlet>

    <kt-portlet-body>

        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.customer.firstName | titlecase}}&nbsp;{{row.customer.lastName | titlecase}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerId">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.customer.customerUniqueId | uppercase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobileNumber">
                    <mat-header-cell *matHeaderCellDef>Mobile Number</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.customer.mobileNumber}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="product">
                    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.module.moduleName | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="update">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button style="width: 120px;" class="apply-kyc" (click)="editProduct(row)">
                            Update
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="appraiser">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div [ngStyle]="{'display': 'inherit'}" *ngxPermissionsOnly="['assignAppraiserAdd']">
                            <button style="width: 120px;" class="apply-kyc" (click)="assignAppraiser(row)"
                                *ngIf="row.customer.kycStatus == 'approved' && row.customerKycClassification?.kycStatusFromCce == 'approved' && !row.customer.customerAssignAppraiser">Assign
                                Appraiser</button>
                        </div>
                        <div [ngStyle]="{'display': 'inherit'}" *ngxPermissionsOnly="['assignAppraiserEdit']">

                            <button style="width: 120px;" class="apply-kyc" (click)="updateAppraiser(row)"
                                *ngIf="row.customer.kycStatus == 'approved' && row.customerKycClassification?.kycStatusFromCce == 'approved' && row.customer.customerAssignAppraiser">Update
                                Appraiser</button>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>

            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>