<kt-portlet>

    <kt-portlet-body>

        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.customer?.firstName | titlecase}}&nbsp;{{row.customer?.lastName | titlecase}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerId">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.customer?.customerUniqueId | uppercase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="module">
                    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.module?.moduleName | uppercase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="apprasierName">
                    <mat-header-cell *matHeaderCellDef>Appraiser Name</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.appraiser?.firstName | titlecase}}
                        {{row.appraiser?.lastName | titlecase}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="appointmentTime">
                    <mat-header-cell *matHeaderCellDef>Appointment Time</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.startTime">
                            {{row.startTime | time24to12}} -
                            {{ row.endTime | time24to12 }}</span>
                        <span *ngIf="!row.startTime">-</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="appointmentDate">
                    <mat-header-cell *matHeaderCellDef>Appointment Date</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.appoinmentDate | date: 'mediumDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="product">
                    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.module?.moduleName | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let row"
                        [ngClass]="row.status == 'complete' ? 'text-success': row.status == 'incomplete' ? 'text-warning' : 'text-danger'">
                        {{row.status | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="update">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button style="width: 120px;" class="apply-kyc" (click)="editProduct(row)"
                            *ngIf="!row.isAssigned">
                            Update
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="appraiser">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div [ngStyle]="{'display': 'inherit'}">
                            <button style="width: 120px;" class="apply-kyc" (click)="assignAppraiser(row)"
                                *ngIf="!row.isAssigned">Assign
                                Appraiser</button>
                        </div>
                        <div [ngStyle]="{'display': 'inherit'}">

                            <button style="width: 120px;" class="apply-kyc" (click)="updateAppraiser(row)"
                                *ngIf="row.isAssigned">Update
                                Appraiser</button>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="apply">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <ng-container *ngxPermissionsOnly="['customerKycAdd']">
                            <!-- <button style="width: 120px;" class="apply-kyc" (click)="applyKyc(row)"
                                *ngIf="row.customer.kycStatus === 'pending'">
                                    Apply KYC
                            </button> -->

                            <ng-container
                                *ngIf="row.customer.kycStatus === 'pending' && row.customer.customerKyc !== null">
                                <div [ngStyle]="{'display': 'inherit'}"
                                    *ngIf="!row.customer?.customerKyc?.isKycSubmitted">
                                    <button (click)="applyKyc(row)" class="apply-kyc">Apply KYC</button>
                                </div>
                            </ng-container>
                            <ng-container
                                *ngIf="row.customer.kycStatus === 'pending' && row.customer?.customerKyc == null">
                                <div [ngStyle]="{'display': 'inherit'}">
                                    <button (click)="applyKyc(row)" class="apply-kyc">Apply KYC</button>
                                </div>
                            </ng-container>
                        </ng-container>

                        <div *ngIf="row.customer.kycStatus === 'approved' && row.isAssigned">

                            <button mat-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">

                                <ng-container *ngIf="row?.module.id === 1 && row?.status === 'complete'">
                                    <ng-container *ngIf="!row?.masterLoan?.isLoanTransfer">
                                        <button *ngxPermissionsOnly="['loanApplicationAdd']" mat-menu-item
                                            (click)="applyLoan(row)">Apply Loan</button>
                                    </ng-container>

                                    <ng-container *ngIf="row?.masterLoan?.isLoanTransfer">
                                        <button *ngxPermissionsOnly="['addLoanTransfer']" mat-menu-item
                                            (click)="applyLoanTransfer(row)"> Loan Transfer</button>
                                    </ng-container>
                                </ng-container>

                                <ng-container *ngIf="row?.module.id === 1 && row?.status === 'incomplete'">
                                    <button *ngxPermissionsOnly="['loanApplicationAdd']" mat-menu-item
                                        (click)="applyLoan(row)">Apply Loan</button>
                                    <button *ngxPermissionsOnly="['addLoanTransfer']" mat-menu-item
                                        (click)="applyLoanTransfer(row)"> Loan Transfer</button>
                                </ng-container>
                                
                                <!-- scrap -->
                                <ng-container *ngIf="row.module.id === 3">
                                    <button *ngxPermissionsOnly="['scrapApplicationAdd']" mat-menu-item
                                        (click)="applyScrapBuy(row)">Apply
                                        Scrap Gold</button>
                                </ng-container>

                            </mat-menu>

                            <!-- <ng-container *ngxPermissionsOnly="['loanApplicationAdd']">
                                <button style="width: 120px;" class="apply-kyc" (click)="applyLoan(row)"
                                    *ngIf="row.product.id === 1 && row.isAssigned && !row.isProcessComplete">
                                    Apply Loan
                                </button>
                            </ng-container>

                            <ng-container *ngxPermissionsOnly="['scrapApplicationAdd']">
                                <button style="width: 120px;" class="apply-kyc" (click)="applyScrapBuy(row)"
                                    *ngIf="row.product.id === 3 && row.isAssigned && !row.isProcessComplete">
                                    Apply Scrap Gold
                                </button>
                            </ng-container>

                            <ng-container *ngxPermissionsOnly="['addLoanTransfer', 'loanTransferAppraiserRating']">
                                <button style="width: 120px;" class="apply-kyc" (click)="applyLoanTransfer(row)"
                                    *ngIf="row.product.id === 2 && row.isAssigned && !row.isProcessComplete">
                                    Loan Transfer
                                </button>
                            </ng-container> -->
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>

            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>