.primaryHeaderBtn {
    background:#454d67!important ;
    color:#bcc2d6!important;
    min-width:64px;
}
.delete_btn {
    color:#ff6060!important;
}
p.edit_btn , p.delete_btn {
    cursor: pointer;
}