<kt-portlet>
    <kt-portlet-body [class]="'kt-portlet__body--fit d-flex align-items-center justify-content-center'">
        <div class="row row-no-padding row-col-separator-xl">
            <div class="col-12 text-center">
                <h5 class="text-dark">To upload your design click here on Choose File.</h5>
                <p class="my-3">
                    <label for="file-upload" class="custom-file-upload font-weight-500">
                        Choose File
                    </label>
                    <input id="file-upload" type="file" accept="image/*" (change)="getFileDetails($event)" multiple />

                    <!-- <input type="file" multiple (change)="getFileDetails($event)" id="designs_input" accept="image/*"> -->
                    <span *ngIf="greaterThanFiftyImageError">
                        <strong class="displayError">Maximum Limit Is 50 Images</strong>
                    </span>
                </p>
                <p>Note: The design name must be as per the SKUCODE of products, which are already uploaded for eg.
                    SKUCODE_1</p>
                <p>
                    <!-- <button type="button " (click)="uploadFiles()" cdkFocusInitial
                        [disabled]="greaterThanFiftyImageError || greaterThanFiftyImageButton ">
                        Upload
                    </button> -->
                    <kt-button [type]="'button'" [value]="'Upload'" class="kt-margin-r-10" (click)="uploadFiles()">
                    </kt-button>
                    <kt-button [type]="'reset'" [value]="'Cancel'"></kt-button>
                </p>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>