.red-alert {
    height: 12px;
    width: 12px;
    background: red;
    border-radius: 50%;
    animation: blink 2s infinite ease-in-out;
}
.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

@keyframes blink {
    0% {
        background: red;
        // height: 12px;
        // width: 12px;
    }
    50% {
        background: rgb(255, 168, 168);
        // height: 10px;
        // width: 10px;
    }
    100% {
        background: red;
        // height: 12px;
        // width: 12px;
    }
}