:host {
    .card {
        border-radius: 10px;
    }

    img {
        border       : 1px solid transparent;
        border-radius: 10px;
    }

    .packets {
        height: 195px;
        width: 100%;
    }

    .ornaments {
        height: 210px;
        width : 100%;
    }

    .pacekts-label {
        font-size: 14px;
        margin   : 15px 0;
    }
    .pdf{
        overflow: hidden;
        border-radius: 15px;
    }

	iframe {
		pointer-events: none;
		display: block;
		margin-top: -65px;
        margin-left: -7px;
        // height: 195px;
        // width: 100%;
	}
}
