<mat-tab-group>
    <mat-tab label="Packets {{idx + 1}}" *ngFor="let packet of packets;index as idx">
        <div class="row">
            <div class="col-3">
                <div class="img-container packets" *ngIf="!packet.noOrnaments" (click)="noOrnaments.click()">
                    <img class="placeholder" src="../../../../../assets/media/icons/image-placeholder.png" alt="">
                </div>
                <img class="packets" [src]="packet.noOrnaments" *ngIf="packet.noOrnaments">
                <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with No
                    Ornaments</label>
                    <input type="file" class="d-none" #noOrnaments (change)="uploadFile(idx,'noOrnaments',$event)">
            </div>
            <div class="col-3">
                <div class="img-container packets" *ngIf="!packet.allOrnaments" (click)="allOrnaments.click()">
                    <img class="placeholder" src="../../../../../assets/media/icons/image-placeholder.png" alt="">
                </div>
                <img class="packets" [src]="packet.allOrnaments" *ngIf="packet.allOrnaments">
                <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with All
                    Ornaments</label>
                    <input type="file" class="d-none" #allOrnaments (change)="uploadFile(idx,'allOrnaments',$event)">
            </div>
            <div class="col-3">
                <div class="img-container packets" *ngIf="!packet.sealing" (click)="sealing.click()">
                    <img class="placeholder" src="../../../../../assets/media/icons/image-placeholder.png" alt="">
                </div>
                <img class="packets" [src]="packet.sealing" *ngIf="packet.sealing" (click)="noOrnaments.click()">
                <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with
                    Sealing</label>
                    <input type="file" class="d-none" #sealing (change)="uploadFile(idx,'sealing',$event)">

            </div>
            <div class="col-3">
                <div class="img-container packets" *ngIf="!packet.weight" (click)="weight.click()">
                    <img class="placeholder" src="../../../../../assets/media/icons/image-placeholder.png" alt="">
                </div>
                <img class="packets" [src]="packet.weight" *ngIf="packet.weight">
                <label class="text-center w-100 font-weight-500 pacekts-label text-gray">Empty Packets with
                    Weight</label>
                    <input type="file" class="d-none" #weight (change)="uploadFile(idx,'weight',$event)">

            </div>
        </div>
    </mat-tab>
</mat-tab-group>
<button (click)="addmore()" class="addMore">+ Add More</button>
<div class="text-center p-5">
    <kt-button [type]="'button'" [value]="'Disburse Amount'"></kt-button>
</div>