<kt-portlet>
    <kt-modal-header [title]='"Update Location"' (action)="action($event)"></kt-modal-header>
    <kt-portlet-body>
        <form [formGroup]="locationForm">
            <div class="row ">
                <div class="col-12">
                    <div class="row justify-content-center kt-margin-t-10">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory">Location</label>
                        </div>
                        <div class="col-8">
                            <select name="" id="" class="form-control" formControlName="location" 
                            [class.isError]="locationForm.controls.location.invalid &&  locationForm.controls.location.touched">
                                <option value=""></option>
                            </select>                                
                            <mat-error
                                *ngIf="locationForm.controls.location.touched && locationForm.controls.location.errors?.required">
                                Required field
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </kt-portlet-body>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer  (action)="action($event)" [value]="'Update'"></kt-modal-footer>
        </div>
    </kt-portlet-footer>
</kt-portlet>