<kt-portlet>
    <kt-modal-header [title]='"Update Location"' (action)="action($event)"></kt-modal-header>
    <kt-portlet-body>
        <form [formGroup]="locationForm">
            <div class="row ">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory">Select Location</label>
                        </div>
                        <div class="col-8">
                            <select name="" id="" class="form-control" formControlName="location"
                                [class.isError]="locationForm.controls.location.invalid &&  locationForm.controls.location.touched">
                                <option selected disabled value="">Select Location</option>
                                <option [value]="item.id" *ngFor="let item of packetLocations">
                                    {{item.location | titlecase}}</option>
                            </select>
                            <mat-error
                                *ngIf="locationForm.controls.location.touched && locationForm.controls.location.errors?.required">
                                Required field
                            </mat-error>
                        </div>
                    </div>
                    <div formArrayName="barcodeNumber">
                        <div *ngFor="let item of barcodeNumber.controls; index as idx">
                            <div [formGroupName]="idx">
                                <div class="row justify-content-center kt-margin-t-15">
                                    <div class="col-4 form-label">
                                        <label class="kt-padding-l-10 mandatory">Barcode No.</label>
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-7 d-flex align-items-center">
                                                {{ item.get('packetId').value | uppercase }}
                                            </div>
                                            <div class="col text-right">
                                                <kt-button [type]="'button'" (click)="scanBarcode(idx)"
                                                    [value]="'Scan'"></kt-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center kt-margin-t-15">
                                    <div class="col-8 offset-4">
                                        <input type="text" class="form-control" placeholder="Enter Barcode No."
                                            formControlName="Barcode"
                                            [class.isError]="item.get('Barcode').invalid &&  item.get('Barcode').touched">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center kt-margin-t-15">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory">Mobile Number</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" formControlName="mobileNumber" (blur)="getDetailsByMobile()"
                                [class.isError]="locationForm.controls.mobileNumber.invalid &&  locationForm.controls.mobileNumber.touched"
                                maxlength="10" />
                            <mat-error
                                *ngIf="locationForm.controls.mobileNumber.touched && locationForm.controls.mobileNumber.errors?.required">
                                Required field
                            </mat-error>
                            <mat-error
                                *ngIf="locationForm.controls.mobileNumber.touched && locationForm.controls.mobileNumber.errors?.pattern">
                                Invalid Input
                            </mat-error>
                        </div>
                    </div>
                    <div class="row justify-content-center kt-margin-t-15">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory">User</label>
                        </div>
                        <div class="col-8">
                            <input readonly class="form-control cursor-not-allowed" formControlName="user"
                                [class.isError]="locationForm.controls.user.invalid &&  locationForm.controls.user.touched" />
                            <mat-error
                                *ngIf="locationForm.controls.user.touched && locationForm.controls.user.errors?.required">
                                Required field
                            </mat-error>
                        </div>
                    </div>
                    <div class="row justify-content-center kt-margin-t-15">
                        <div class="col-4 offset-4">
                            <kt-button [myClass]="'w-100'" [type]="'button'" [value]="'Send OTP'"></kt-button>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <label class="kt-pointer kt-link kt-link--brand kt-font-bolder">
                                Resend OTP</label>
                        </div>
                    </div>

                    <div class="row justify-content-center kt-margin-t-15">
                        <div class="col offset-4">
                            <input type="text" class="form-control" placeholder="Enter OTP" formControlName="otp"
                                [class.isError]="locationForm.controls.otp.invalid &&  locationForm.controls.otp.touched">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </kt-portlet-body>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="'Update'"></kt-modal-footer>
        </div>
    </kt-portlet-footer>
</kt-portlet>