<kt-portlet>
    <kt-modal-header [title]='title' (action)="action($event)"></kt-modal-header>
    
<kt-portlet-body>
<div class="row mx-0 mt-2 sip-background-white">
    <div class="col-12 m-auto">
        <div class="sip-background-white dg-rounded dg-border">
            <form [formGroup]="createSipForm" (ngSubmit)="submit()">
                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4 align-self-center">
                                <label class="font-border">Mobile Number</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input class="form-control" type="text" formControlName="mobileNumber" numbersOnly
								autocomplete="off" placeholder="Enter mobile number" margin [class.isError]="
											controls.mobileNumber.touched &&
											controls.mobileNumber.invalid
										" maxlength="10" (input)="inputNumber()" />
							<mat-error *ngIf="
											controls.mobileNumber.errors?.required &&
											controls.mobileNumber.touched
										">
								Required field
							</mat-error>
							<mat-error *ngIf="
											controls.mobileNumber.errors?.pattern &&
											controls.mobileNumber.touched
										">
								Invalid Input
							</mat-error>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4 align-self-center">
                                <label class="font-border">Customer ID</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input class="form-control" formControlName="customerUniqueId" readonly placeholder="Enter customer Id"
                                            [class.isError]="controls.customerId.touched && controls.customerId.invalid">
                                     <mat-error
                                            *ngIf="controls.customerId.touched && controls.customerId.errors?.required">
                                            Required field
                                    </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4 align-self-center">
                                <label class="font-border">Customer Name</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input type="text" placeholder="customer name" class="form-control"
                                    formControlName="customerName" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label class="font-border">Application Date</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input class="form-control" [matDatepicker]="picker" (click)="picker.open()"
                                    formControlName="applicationDate" [min]="minDate" [max]="maxDate"
                                    [class.isError]="controls.applicationDate.touched && controls.applicationDate.invalid"
                                    readonly placeholder="4/5/2020" />
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label class="font-border">Metal Type</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <select formControlName="metalType" class="form-control"
                                    [class.isError]="controls.metalType.touched && controls.metalType.invalid">
                                    <option value="">Select Metal Type</option>
                                    <option *ngFor="let metal of metalType" [value]="metal.value">
                                {{metal?.name}}
                            </option>
                                </select>
                                <!-- <div
                            *ngIf="newSipForm.controls.bankId.touched && newSipForm.controls.bankId.invalid">
                            <mat-error *ngIf="newSipForm.controls.bankId.errors?.required">
                                Required field
                            </mat-error>
                        </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label class="font-border">SIP Investment Tenure</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <select formControlName="sipInvestmentTenure" class="form-control"
                                    [class.isError]="controls.sipInvestmentTenure.touched && controls.sipInvestmentTenure.invalid">
                                    <option value="">Select SIP Investment Tenure</option>
                                    <option *ngFor="let tenure of investmentTenure" [value]="tenure.investmentTenure">
                                {{tenure?.investmentTenureValue}}
                            </option>
                                </select>
                                <!-- <div
                            *ngIf="newSipForm.controls.bankId.touched && newSipForm.controls.bankId.invalid">
                            <mat-error *ngIf="newSipForm.controls.bankId.errors?.required">
                                Required field
                            </mat-error>
                        </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label class="font-border">SIP Cycle Date</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <select formControlName="sipCycleDate" class="form-control"
                                    [class.isError]="controls.sipCycleDate.touched && controls.sipCycleDate.invalid">
                                    <option value="">Select SIP Cycle Date</option>
                                    <option *ngFor="let date of cycleDate" [value]="date.cycleDate">
                                {{date?.cycleDate}}
                            </option>
                                </select>
                                <!-- <div
                            *ngIf="newSipForm.controls.bankId.touched && newSipForm.controls.bankId.invalid">
                            <mat-error *ngIf="newSipForm.controls.bankId.errors?.required">
                                Required field
                            </mat-error>
                        </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4 align-self-center">
                                <label class="font-border">Investment Amount</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input type="text" placeholder="enter invest amount" class="form-control"
                                    formControlName="investmentAmount">
                            </div>
                        </div>
                    </div>
                        <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                            <div class="row">
                                <div class="col-12 col-lg-4 align-self-center">
                                    <label class="font-border">Upload ECS form</label>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <input type="text" placeholder="upload ECS Form" class="form-control"
                                        formControlName="uploadEcsForm">
                                </div>
                            </div>
                        </div>
                   
                </div>

               

                <!-- <div class="row mx-0 py-3">
                    <div class="col-12 text-center">
                        <button class="dg-primary-btn" (click) ="createSip()" type="submit">Submit</button>
                        <app-button [type]="'submit'" [value]="'Submit'"></app-button>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>
</kt-portlet-body>
<kt-portlet-footer>
    <div class="p-3">
        <kt-modal-footer (action)="action($event)" [value]="data.action == 'add' ? 'Add' : 'Update'">
        </kt-modal-footer>
    </div>

</kt-portlet-footer>
</kt-portlet>
