<div class="row mx-0 mb-5 sip-background-white">
    <div class="col-11 m-auto">
        <div class="sip-background-white dg-rounded dg-border p-5">
            <form [formGroup]="newSipForm" (ngSubmit)="submit()">
                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4 align-self-center">
                                <label class="font-border">Customer ID</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input type="text" placeholder="enter customer Id" class="form-control"
                                    formControlName="CustomerID" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4 align-self-center">
                                <label class="font-border">Customer Name</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input type="text" placeholder="customer name" class="form-control"
                                    formControlName="customerName" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label class="font-border">Application Date</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input class="form-control" [matDatepicker]="picker" (click)="picker.open()"
                                    formControlName="paymentRecievedDate" [min]="minDate" [max]="maxDate"
                                    [class.isError]="controls.paymentRecievedDate.touched && controls.paymentRecievedDate.invalid"
                                    readonly placeholder="4/5/2020" />
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label class="font-border">Metal Type</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <select formControlName="metalType" class="form-control"
                                    [class.isError]="newSipForm.controls.investmentTenure.touched && newSipForm.controls.investmentTenure.invalid">
                                    <option value="">Select Metal Type</option>
                                    <!-- <option *ngFor="let bank of bankList" [value]="bank.id">
                                {{bank?.name}}
                            </option> -->
                                </select>
                                <!-- <div
                            *ngIf="newSipForm.controls.bankId.touched && newSipForm.controls.bankId.invalid">
                            <mat-error *ngIf="newSipForm.controls.bankId.errors?.required">
                                Required field
                            </mat-error>
                        </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label class="font-border">SIP Investment Tenure</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <select formControlName="sipInvestmentTenure" class="form-control"
                                    [class.isError]="newSipForm.controls.plan.touched && newSipForm.controls.plan.invalid">
                                    <option value="">Select SIP Investment Tenure</option>
                                    <!-- <option *ngFor="let bank of bankList" [value]="bank.id">
                                {{bank?.name}}
                            </option> -->
                                </select>
                                <!-- <div
                            *ngIf="newSipForm.controls.bankId.touched && newSipForm.controls.bankId.invalid">
                            <mat-error *ngIf="newSipForm.controls.bankId.errors?.required">
                                Required field
                            </mat-error>
                        </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label class="font-border">SIP Cycle Date</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <select formControlName="sipCycleDate" class="form-control"
                                    [class.isError]="newSipForm.controls.buyDate.touched && newSipForm.controls.buyDate.invalid">
                                    <option value="">Select SIP Cycle Date</option>
                                    <!-- <option *ngFor="let bank of bankList" [value]="bank.id">
                                {{bank?.name}}
                            </option> -->
                                </select>
                                <!-- <div
                            *ngIf="newSipForm.controls.bankId.touched && newSipForm.controls.bankId.invalid">
                            <mat-error *ngIf="newSipForm.controls.bankId.errors?.required">
                                Required field
                            </mat-error>
                        </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4 align-self-center">
                                <label class="font-border">Investment Amount</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input type="text" placeholder="enter invest amount" class="form-control"
                                    formControlName="investmentAmount" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4 align-self-center">
                                <label class="font-border">Download ECS Form</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input type="text" placeholder="download ECS Form" class="form-control"
                                    formControlName="downloadEcsForm" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mx-0 text-left py-md-3">
                    <div class="col-12 col-md-6 p-0 pr-md-3 pr-lg-5 pb-3">
                        <div class="row">
                            <div class="col-12 col-lg-4 align-self-center">
                                <label class="font-border">Upload ECS form</label>
                            </div>
                            <div class="col-12 col-lg-8">
                                <input type="text" placeholder="upload ECS Form" class="form-control"
                                    formControlName="uploadEcsForm" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mx-0 py-3">
                    <div class="col-12 text-center">
                        <button class="dg-primary-btn" type="submit">Create Button </button>
                        <!-- <app-button [type]="'submit'" [value]="'Submit'"></app-button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>