<!-- <kt-action-natification></kt-action-natification> -->

<kt-toastr #toastr></kt-toastr>

<div class="kt-portlet">
    <kt-modal-header [title]="title" (action)="action($event)"></kt-modal-header>
    <div class="kt-portlet__body">
        <div class="kt-form">
            <form [formGroup]="appraiserForm">

                <!-- <kt-alert type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                            Oh snap! Change a few things up and try submitting again.
                        </kt-alert> -->



                <div class="form-group kt-form__group row">
                    <div class="col-lg-12 kt-margin-bottom-20-mobile">


                        <div class="row">
                            <!-- Partner Name -->
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Customer Id</label>
                            </div>
                            <div class="col-8">

                                <!-- <select class="form-control" name="" id="" formControlName="customerId"
                                    [class.isError]="controls.customerId.touched && controls.customerId.invalid"
                                    *ngIf="data.action =='add'">
                                    <option [selected]="true" [disabled]="true" value="">Select Appraiser</option>
                                    <option *ngFor="let customer of customers" [value]="customer.id">
                                        {{customer .customerUniqueId}}</option>
                                </select> -->
                                <!-- <kt-select-with-search [options]="customer"></kt-select-with-search> -->
                                <input class="form-control" formControlName="customerUniqueId" autocomplete="off"
                                    *ngIf="data.action !='add'" readonly>
                                <ng-select formControlName="customerId" [items]="customers" bindLabel="customerUniqueId"
                                    bindValue="id" *ngIf="data.action =='add'" (change)="bindCustomerName($event)"
                                    placeholder="Select Customer ID"
                                    [class.isError]="controls.customerId.touched && controls.customerId.invalid">
                                    <!-- <ng-template ng-multi-label-tmp>
                                                <span style="display:block" class="ng-placeholder">Select items</span>
                                            </ng-template> -->
                                    <!-- <ng-template ng-header-tmp>
                                                <input style="width: 100%; line-height: 24px" type="text"
                                                    (input)="select.filter($event.target.value)" />
                                            </ng-template> -->
                                </ng-select>
                                <mat-error *ngIf="controls.customerId.touched && controls.customerId.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                        </div>

                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Customer Name</label>
                            </div>
                            <div class="col-8">
                                <input style="text-transform: capitalize;" class="form-control"
                                    formControlName="customerName" readonly placeholder="Customer Name">
                            </div>
                        </div>

                        <div class="row kt-padding-t-15">
                            <div class="col-4 form-label">
                                <label class="mandatory kt-padding-l-10">Appraiser Name</label>
                            </div>

                            <div class="col-8">
                                <select class="form-control" name="" id="" formControlName="appraiserId"
                                    [class.isError]="controls.appraiserId.touched && controls.appraiserId.invalid">
                                    <option [selected]="true" [disabled]="true" value="">Select Appraiser</option>
                                    <option *ngFor="let appraiser of appraisers" [value]="appraiser.id">
                                        {{appraiser.firstName | titlecase}}&nbsp;{{appraiser.lastName | titlecase}}
                                    </option>
                                </select>

                                <mat-error
                                    *ngIf="controls.appraiserId.touched && controls.appraiserId.errors?.required">
                                    Required field
                                </mat-error>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <kt-portlet-footer *ngIf="data.action != 'view'">
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="data.action == 'add' ? 'add' : 'update'">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>
</div>