:host {
    .per-gram {
        display : inline-block;
        position: relative;
    }

    /* position the unit to the right of the wrapper */
    .per-gram::after {
        position   : absolute;
        top        : 11px;
        right      : 1em;
        transition : all .05s ease-in-out;
        content    : 'Per gram';
        color      : #707480;
        font-weight: bold;
    }
}