:host{
    .mat-column-userId{
        flex: 0 0 14% !important;
    }
    .mat-column-mobileNumber{
        flex: 0 0 11% !important;
    }
    .mat-column-email{
        flex: 0 0 25% !important;
    }
}