<kt-portlet>

    <kt-portlet-body>
        <button class="btn-transparent" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
                <img src="../../../../../../assets/media/icons/options.svg" alt="">
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
                <a ngbDropdownItem (click)="viewLoan()">View </a>
                <a ngbDropdownItem (click)="$event.preventDefault()">Pay Interest EMI</a>
                <a ngbDropdownItem (click)="topUp()">Top Up</a>
                <a ngbDropdownItem (click)="partPayment()">Part Payment</a>
                <a ngbDropdownItem (click)="$event.preventDefault()">Part Release</a>
                <a ngbDropdownItem (click)="new()">Add New Loan</a>
            </div>
        </button>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="customerID">
                    <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        {{loan.customer.customerUniqueId | uppercase}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan ID</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan.loanUniqueId | uppercase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="schemeName">
                    <mat-header-cell *matHeaderCellDef>Scheme Name</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan.finalLoan.scheme.schemeName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef>Loan Amount</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan.finalLoan.finalLoanAmount}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="interestRate">
                    <mat-header-cell *matHeaderCellDef>Intrest Rate</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan.finalLoan.interestRate}} % P.M</mat-cell>
                </ng-container>

                <ng-container matColumnDef="tenure">
                    <mat-header-cell *matHeaderCellDef>Loan Tenure</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan.finalLoan.tenure}} Months</mat-cell>
                </ng-container>

                <ng-container matColumnDef="interestRestDays">
                    <mat-header-cell *matHeaderCellDef>Payment Frequency</mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <span *ngIf="loan.finalLoan.paymentFrequency == '30'">Monthly</span>
                        <span *ngIf="loan.finalLoan.paymentFrequency == '90'">Quarterly</span>
                        <span *ngIf="loan.finalLoan.paymentFrequency == '180'">Half Yearly</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan.finalLoan.loanStartDate | date : 'mediumDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        {{loan.finalLoan.loanEndDate | date : 'mediumDate'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <!-- <div style="display: contents" class="kt-pointer" > -->
                        <span (click)="viewLoan(loan)" class="kt-pointer font-weight-bold"
                            *ngxPermissionsOnly="['loanDetailsView']">View Loan </span>
                        <!-- </div> -->
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="new">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <!-- <div style="display: contents" class="kt-pointer" > -->
                        <button (click)="new(loan)" class="btn-transparent"
                            *ngxPermissionsOnly="['loanApplicationAdd']">Add New Loan</button>
                        <!-- </div> -->
                    </mat-cell>
                </ng-container>

                <ng-container>
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <button class="btn-transparent" ngbDropdown>
                            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2"
                                role="button">
                                <img src="../../../../../../assets/media/icons/options.svg" alt="">
                            </a>
                            <div ngbDropdownMenu aria-labelledby="navbarDropdown2"
                                class="dropdown-menu dropdown-menu-right">
                                <a ngbDropdownItem (click)="viewLoan(loan)">View Loan</a>
                                <a ngbDropdownItem (click)="$event.preventDefault()">Pay Interest EMI</a>
                                <a ngbDropdownItem (click)="topUp(loan)">Top Up</a>
                                <a ngbDropdownItem (click)="partPayment(loan)">Part Payment</a>
                                <a ngbDropdownItem (click)="$event.preventDefault(loan)">Part Release</a>
                                <a ngbDropdownItem (click)="new(loan)">Add New Loan</a>
                            </div>
                        </button>
                    </mat-cell>
                    <!-- <li class="nav-item" ngbDropdown>
                        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2"
                            role="button">
                            Static right
                        </a>
                        <div ngbDropdownMenu aria-labelledby="navbarDropdown2"
                            class="dropdown-menu dropdown-menu-right">
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
                            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
                        </div>
                    </li> -->
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>