<kt-portlet>

    <kt-portlet-body>

        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="customerID">
                    <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        {{loan?.customer?.customerUniqueId | uppercase}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan ID</mat-header-cell>
                    <mat-cell *matCellDef="let loan" class="d-block">
                        <div>
                            {{loan?.customerLoan[0]?.loanUniqueId | uppercase}}
                        </div>
                        <div>
                            {{loan?.customerLoan[1]?.loanUniqueId | uppercase}}
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="schemeName">
                    <mat-header-cell *matHeaderCellDef>Scheme Name</mat-header-cell>
                    <mat-cell *matCellDef="let loan" class="d-block">
                        <div>
                            {{loan?.customerLoan[0]?.scheme?.schemeName | uppercase}}
                        </div>
                        <div>
                            {{loan?.customerLoan[1]?.scheme?.schemeName | uppercase}}
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef>Loan Amount</mat-header-cell>
                    <mat-cell *matCellDef="let loan" class="d-block">
                        <div>
                            {{loan?.customerLoan[0]?.loanAmount}}
                        </div>
                        <div>
                            {{loan?.customerLoan[1]?.loanAmount}}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="interestRate">
                    <mat-header-cell *matHeaderCellDef>Intrest Rate</mat-header-cell>
                    <mat-cell *matCellDef="let loan" class="d-block">
                        <div>
                            {{loan?.customerLoan[0]?.interestRate}} % P.M
                        </div>
                        <div *ngIf="loan?.customerLoan.length > 1">
                            {{loan?.customerLoan[1]?.interestRate}} % P.M
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tenure">
                    <mat-header-cell *matHeaderCellDef>Loan Tenure</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan?.tenure}} Months</mat-cell>
                </ng-container>

                <ng-container matColumnDef="interestRestDays">
                    <mat-header-cell *matHeaderCellDef>Payment Frequency</mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <span *ngIf="loan?.paymentFrequency == '30'">Monthly</span>
                        <span *ngIf="loan?.paymentFrequency == '90'">Quarterly</span>
                        <span *ngIf="loan?.paymentFrequency == '180'">Half Yearly</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan?.loanStartDate | date : 'mediumDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        {{loan?.loanEndDate | date : 'mediumDate'}}
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <span (click)="viewLoan(loan)" class="kt-pointer font-weight-bold"
                            *ngxPermissionsOnly="['loanDetailsView']">View Loan </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="new">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <button (click)="new(loan)" class="btn-transparent"
                            *ngxPermissionsOnly="['loanApplicationAdd']">Add New Loan</button>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let loan">

                        <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button *ngxPermissionsOnly="['loanDetailsView']" mat-menu-item
                                (click)="viewLoan(loan)">View Loan</button>
                            <ng-container *ngIf="!loan.partRelease">
                                <button mat-menu-item (click)="interestEmi(loan)">Quick Pay</button>
                                <button mat-menu-item (click)="topUp(loan)">Top Up</button>
                                <button *ngxPermissionsOnly="['partReleaseAdd']" mat-menu-item
                                    (click)="jewelleryRelease(loan)">Jewellery
                                    Release</button>
                            </ng-container>
                            <button *ngxPermissionsOnly="['loanDetailsAdd']" mat-menu-item (click)="newLoan(loan)">Add
                                New Loan</button>
                        </mat-menu>

                        <!-- <button mat-icon-button class="btn-transparent" ngbDropdown>
                            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2"
                                role="button">
                                <mat-icon>more_vert</mat-icon>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="navbarDropdown2"
                                class="dropdown-menu dropdown-menu-right">
                                <a ngbDropdownItem (click)="viewLoan(loan)">View Loan</a>
                                <a ngbDropdownItem (click)="interestEmi(loan)">Pay Interest EMI</a>
                                <a ngbDropdownItem (click)="topUp(loan)">Top Up</a>
                                <a ngbDropdownItem (click)="partPayment(loan)">Part Payment</a>
                                <a ngbDropdownItem (click)="partRelease(loan)">Part Release</a>
                                <a ngbDropdownItem (click)="new(loan)">Add New Loan</a>
                            </div>
                        </button> -->
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[10,25,50,100]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>