<kt-portlet>
    <kt-portlet-body>

        <div class="row kt-padding-t-5">
            <div class="col-2 font-weight-500">Loan Id</div>
            <div class="col-2 font-weight-500">Loan Amount</div>
            <div class="col-2 font-weight-500">Loan Date</div>
            <div class="col-3 font-weight-500">Scheme Name</div>
            <div class="col-1 font-weight-500">Tenure</div>
            <div class="col-2 font-weight-500 text-right">Interest Rate</div>
        </div>

        <div class="row kt-padding-t-10">
            <div class="col-2 text-gray font-weight-500">Loan!@#$</div>
            <div class="col-2 text-gray font-weight-500">10000</div>
            <div class="col-2 text-gray font-weight-500">12,March 2020</div>
            <div class="col-3 text-gray font-weight-500">Permimun Super Loan</div>
            <div class="col-1 text-gray font-weight-500">6 Months</div>
            <div class="col-2 text-gray font-weight-500 text-right">
                <div class="">
                    5%
                </div>
            </div>
        </div>

        <h5 class="kt-padding-t-20 kt-padding-b-20">Payment Interest EMI</h5>

        <div class="table-div">
            <table class="table outer-border">
                <thead>
                    <th class="transparent"></th>
                    <th class="transparent">Last Interest Payment</th>
                    <th class="transparent">Last Interest Payment Date</th>
                    <th class="transparent">EMI Due Date</th>
                    <th class="transparent">PAID Amount</th>
                    <th class="transparent">Interest EMI Payment Date</th>
                    <th class="transparent">Penal Interest</th>
                    <th class="transparent">Pending Amount</th>
                </thead>
                <tbody>
                    <tr>
                        <td>dfhdfgh</td>
                        <td>dgfsddf</td>
                        <td>sdfsdf</td>
                        <td>dfhdfgh</td>
                        <td>dgfsddf</td>
                        <td>sdfsdf</td>
                        <td>sdfsdf</td>
                        <td>gdfh</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </kt-portlet-body>
</kt-portlet>