<kt-portlet>
    <kt-portlet-body>
        <button (click)="ornamentsDetails()"></button>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">
                <ng-container matColumnDef="customerId">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan ID</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="requestDate">
                    <mat-header-cell *matHeaderCellDef>Request Date</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobileNumber">
                    <mat-header-cell *matHeaderCellDef>Mobile No.</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanAmount">
                    <mat-header-cell *matHeaderCellDef>Loan Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loanDate">
                    <mat-header-cell *matHeaderCellDef>Loan Date</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="depositAmount">
                    <mat-header-cell *matHeaderCellDef>Deposit Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="outstandingLoan">
                    <mat-header-cell *matHeaderCellDef>Outstanding Loan Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="schemeName">
                    <mat-header-cell *matHeaderCellDef>Scheme Name</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="grossWeight">
                    <mat-header-cell *matHeaderCellDef>Gross Weight</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="netWeight">
                    <mat-header-cell *matHeaderCellDef>Net Weight</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="previousLtv">
                    <mat-header-cell *matHeaderCellDef>Previous LTV</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="currentLtv">
                    <mat-header-cell *matHeaderCellDef>Current LTV</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="ornamentsDetails">
                    <mat-header-cell *matHeaderCellDef>Ornaments Details</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="eligibleTopUp">
                    <mat-header-cell *matHeaderCellDef>Eligible TOP UP amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="requestedTopUp">
                    <mat-header-cell *matHeaderCellDef>Requested Top Up Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="interestAmount">
                    <mat-header-cell *matHeaderCellDef>Interest Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="penalInterest">
                    <mat-header-cell *matHeaderCellDef>Penal Interest</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="newLoan">
                    <mat-header-cell *matHeaderCellDef>New Loan Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="netAmount">
                    <mat-header-cell *matHeaderCellDef>NET Amount</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.name | titlecase}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems" >No records found</div>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>
        <div class="mat-table__bottom d-none">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>