<kt-portlet>
    <!-- <kt-portlet-header> -->
    <kt-modal-header [title]='"Payment Mode"' (action)="action($event)"></kt-modal-header>
    <!-- </kt-portlet-header> -->
    <kt-portlet-body>
        <div class="kt-form">
            <form [formGroup]="paymentForm">
                <div class="kt-portlet__body">
                    <div>

                        <div class="row kt-margin-b-15">
                            <div class="col-4 form-label mandatory">
                                <mat-label>Mode of Payment</mat-label>
                            </div>
                            <div class="col-8">
                                <select class="form-control" formControlName="paymentType"
                                    (change)="setValidation($event)"
                                    [class.isError]="controls.paymentType.touched && controls.paymentType.invalid">
                                    <option value="" selected disabled>Select Payment</option>
                                    <option value="cash">CASH</option>
                                    <option value="neft">RTGS/NEFT/IMPS</option>
                                    <option value="cheque">CHEQUE</option>
                                </select>

                                <mat-error
                                    *ngIf="controls.paymentType.touched && controls.paymentType.errors?.required">
                                    Required field
                                </mat-error>
                            </div>
                        </div>

                        <div *ngIf="controls.paymentType.value === 'neft' || controls.paymentType.value === 'cheque'">
                            <div class="row kt-margin-b-15">
                                <div class="col-4 form-label mandatory">
                                    <mat-label>Deposit Bank Name</mat-label>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" formControlName="bankName"
                                        [class.isError]="controls.bankName.touched && controls.bankName.invalid" />

                                    <mat-error *ngIf="controls.bankName.touched && controls.bankName.errors?.required">
                                        Required field
                                    </mat-error>
                                </div>
                            </div>

                            <div *ngIf="controls.paymentType.value === 'neft'" class="row kt-margin-b-15">
                                <div class="col-4 form-label mandatory">
                                    <mat-label>Bank Transaction ID</mat-label>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" formControlName="transactionId"
                                        [class.isError]="controls.transactionId.touched && controls.transactionId.invalid" />

                                    <mat-error
                                        *ngIf="controls.transactionId.touched && controls.transactionId.errors?.required">
                                        Required field
                                    </mat-error>
                                </div>
                            </div>


                            <div *ngIf="controls.paymentType.value === 'cheque'" class="row kt-margin-b-15">
                                <div class="col-4 form-label mandatory">
                                    <mat-label>Cheque Number</mat-label>
                                </div>
                                <div class="col-8">
                                    <input numbersOnly class="form-control" formControlName="chequeNumber"
                                        [class.isError]="controls.chequeNumber.touched && controls.chequeNumber.invalid" />

                                    <mat-error
                                        *ngIf="controls.chequeNumber.touched && controls.chequeNumber.errors?.required">
                                        Required field
                                    </mat-error>
                                </div>
                            </div>

                            <div class="row kt-margin-b-15">
                                <div class="col-4 form-label mandatory">
                                    <mat-label>Deposit Date</mat-label>
                                </div>
                                <div class="col-8">
                                    <!-- <input type="text" class="form-control" [matDatepicker]="picker"
                                        (click)="picker.open()" formControlName="dateOfBirth"
                                        [class.isError]="controls.dateOfBirth.touched && controls.dateOfBirth.invalid"
                                        readonly placeholder="4/5/2020" [max]="minDate"
                                        (dateChange)="ageValidation()"> -->
                                    <input class="form-control" [matDatepicker]="picker" (click)="picker.open()"
                                        formControlName="depositDate"
                                        [class.isError]="controls.depositDate.touched && controls.depositDate.invalid"
                                        readonly placeholder="4/5/2020" />
                                    <mat-datepicker #picker></mat-datepicker>

                                    <mat-error
                                        *ngIf="controls.depositDate.touched && controls.depositDate.errors?.required">
                                        Required field
                                    </mat-error>
                                </div>
                            </div>

                            <div class="row kt-margin-b-15">
                                <div class="col-4 form-label mandatory">
                                    <mat-label>Deposit Amount </mat-label>
                                </div>
                                <div class="col-8">
                                    <input numbersOnly class="form-control" formControlName="paidAmount"
                                        [class.isError]="controls.paidAmount.touched && controls.paidAmount.invalid" />

                                    <mat-error
                                        *ngIf="controls.paidAmount.touched && controls.paidAmount.errors?.required">
                                        Required field
                                    </mat-error>
                                </div>
                            </div>
                        </div>


                        <kt-modal-footer (action)="action($event)" [value]="'Update'">
                        </kt-modal-footer>

                    </div>
                </div>
            </form>
        </div>
    </kt-portlet-body>

</kt-portlet>