:host{
    .mat-column-merchantName{
        flex: 0 0 13% !important;
        padding-left: 5px !important;
    }
    .mat-column-fullName{
        flex: 0 0 12% !important;
    }
    .mat-column-mobileNumber{
        flex: 0 0 8% !important;
    }
    .mat-column-email{
        flex: 0 0 15% !important;
    }
    .mat-column-state{
        flex: 0 0 10% !important;
    }
    .mat-column-city{
        flex: 0 0 10% !important;
    }
    .mat-column-pincode{
        flex: 0 0 6% !important;
    }
    .mat-column-approvalStatus{
        flex: 0 0 11% !important;
    }
    .mat-column-apiKey{
        flex: 0 0 8% !important;
    }
    .mat-column-action{
        flex: 0 0 8% !important;
    }
}