<kt-portlet>
    <kt-modal-header [title]='title' (action)="action($event)"></kt-modal-header>
    <kt-portlet-body>
        <form [formGroup]="ornamentForm">
            <div class="row ">
                <div class="col-12">
                    <div class="row justify-content-center kt-margin-t-10">
                        <div class="col-4 form-label">
                            <label class="kt-padding-l-10 mandatory">Ornament Type</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" formControlName="name"
                                [class.isError]="ornamentForm.controls.name.invalid &&  ornamentForm.controls.name.touched">
                            <mat-error *ngIf="controls.name.touched && controls.name.errors?.required">
                                Required field
                            </mat-error>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </kt-portlet-body>
    <kt-portlet-footer>
        <div class="p-3">
            <kt-modal-footer (action)="action($event)" [value]="data.action == 'add' ? 'Add' : 'Update'">
            </kt-modal-footer>
        </div>
    </kt-portlet-footer>
</kt-portlet>