<div class="">
    <label class="text-color font-weight-bold h-v-text-center min-vh-100" *ngIf="schemes && schemes?.length==0">No
        Schemes
        Available</label>
</div>


<kt-portlet *ngIf="schemes.length>0">
    <kt-portlet-body class="min-vh-60">
        <mat-tab-group #matTab>
            <mat-tab label='{{scheme.name | uppercase}}' *ngFor="let scheme of schemes;index as i">
                <label class="text-color font-weight-bold h-v-text-center m-0" *ngIf="scheme.schemes.length==0">No
                    Schemes
                    Available</label>
                <div class="row kt-padding-10 kt-padding-b-25" [id]="'s' + schemeDeatils?.id"
                    *ngFor="let schemeDeatils of scheme.schemes, index as idx">

                    <div class="col-2 from-style">
                        <!-- <h5>{{ schemeDeatils.schemeName | uppercase}}</h5> -->
                        <span class="text-gray">From</span>
                        <h4>
                            {{schemeDeatils.schemeAmountStart | schemeAmount }}
                            <!-- <span
                                *ngIf="schemeDeatils.schemeAmountStart.length >= 6">{{schemeDeatils.schemeAmountStart | schemeAmount</span> -->
                            to
                            {{schemeDeatils.schemeAmountEnd | schemeAmount}}</h4>
                    </div>
                    <div class="col-10">
                        <div class="col-12">
                            <div class="row">
                                <div class="col">
                                    <h5>{{ schemeDeatils.schemeName | uppercase}} <span class="kt-pointer"
                                            (click)="scrollToUnsecuredScheme('s'+schemeDeatils.unsecuredSchemeId)"
                                            *ngIf="schemeDeatils.unsecuredSchemeId">
                                            {{ ' : ' + schemeDeatils.unsecuredScheme.schemeName | uppercase }}</span>
                                    </h5>
                                </div>
                                <div class="col">
                                    <div class="row pb-2">
                                        <div class="col-6">
                                            <mat-slide-toggle disabled [checked]="schemeDeatils.isSplitAtBeginning">
                                                <strong>Split at beginning</strong>
                                            </mat-slide-toggle>
                                            <!-- <mat-radio-group class="example-radio-group">
                                                <mat-radio-button class="example-radio-button" disabled
                                                    [value]="schemeDeatils.isSplitAtBeginning">
                                                    <strong>Split at beginning</strong>
                                                </mat-radio-button>
                                            </mat-radio-group> -->
                                        </div>
                                        <!-- <div class="col-3" *ngIf="schemeDeatils.schemeType == 'unsecured'">
                                            <mat-slide-toggle [disabled]="schemeDeatils.default"
                                                (change)="changeDefault($event.checked, idx, schemeDeatils,i)"
                                                [checked]="schemeDeatils.default">
                                                <strong>Default</strong>
                                            </mat-slide-toggle>
                                        </div> -->
                                        <div class="col offset-3">
                                            <mat-slide-toggle [checked]="schemeDeatils.isActive"[disabled]="!schemeDeatils.isActive"
                                            (change)="confirmation($event.checked, i, idx,schemeDeatils)">
                                                <strong>Status</strong>
                                            </mat-slide-toggle>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 border-radius">
                            <div class="row border-bottom">
                                <div
                                    class="col-4 heading bg-secondary kt-padding-t-20 kt-padding-b-20 border-right border-left-radius">
                                    Payment Frequency
                                </div>
                                <div *ngFor="let item of schemeDeatils.schemeInterest; index as i; last as l"
                                    class="col bg-secondary heading text-center kt-padding-t-20 kt-padding-b-20 border-right"
                                    [class.border-right-radius]="l">
                                    {{item.days}} Days</div>
                                <!-- <div
                                    class="col bg-secondary heading text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                    {{schemeDeatils.schemeInterest[0].days}} Days</div>
                                <div
                                    class="col bg-secondary heading text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                    {{schemeDeatils.schemeInterest[1].days}} Days</div>
                                <div
                                    class="col bg-secondary heading text-center kt-padding-t-20 kt-padding-b-20 border-right-radius">
                                    {{schemeDeatils.schemeInterest[2].days}} Days
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-4 heading kt-padding-t-20 kt-padding-b-20 border-right">Rate of
                                    Interest(% /
                                    Monthly)</div>
                                <div *ngFor="let item of schemeDeatils.schemeInterest; index as i; last as l"
                                    class="col text-center kt-padding-t-20 kt-padding-b-20" [class.border-right]="!l">
                                    {{item.interestRate}}</div>
                                <!-- <div class="col text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                    {{schemeDeatils.schemeInterest[0].interestRate}}</div>
                                <div class="col text-center kt-padding-t-20 kt-padding-b-20 border-right">
                                    {{schemeDeatils.schemeInterest[1].interestRate}}</div>
                                <div class="col text-center kt-padding-t-20 kt-padding-b-20">
                                    {{schemeDeatils.schemeInterest[2].interestRate}}</div> -->
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row kt-margin-t-10 scheme-details">
                                <div class="col justify-content-center">
                                    <p>Scheme Type</p>
                                    <p>{{schemeDeatils.schemeType | titlecase}}</p>
                                </div>
                                <div class="col justify-content-center">
                                    <p>RPG </p>
                                    <p>{{schemeDeatils?.rpg}}</p>
                                </div>
                                <div class="col justify-content-center">
                                    <p>Penal Interest</p>
                                    <p>{{schemeDeatils.penalInterest}} %</p>
                                </div>
                                <div class="col-4 p-0 justify-content-center">
                                    <p>Processing Charges</p>
                                    <p>Fixed - {{schemeDeatils.processingChargeFixed}} <strong>or</strong>
                                        Percentage of Loan Amount - {{schemeDeatils.processingChargePercent}} %
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </kt-portlet-body>
</kt-portlet>