<kt-portlet>
    <kt-portlet-body>
        <div class="container">
            <form action="" [formGroup]="personalForm">
                <div class="row justify-content-center kt-margin-t-30">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 kt-margin-r-25 profile-div">
                                        <img *ngIf="!controls.profileImg.value" class=""
                                            src="../../../../../../assets/media/icons/user.png" alt="" />
                                        <img *ngIf="controls.profileImg.value" class="profile-pic"
                                            [src]="controls.profileImg.value" alt="" (click)="previewImage(profile)" />
                                    </div>

                                    <div class="col align-self-center">
                                        <input type="file" accept="image/png, image/jpeg" #files class="d-none"
                                            (input)="getFileInfo($event,'profile')" />
                                        <label (click)="webcam();" class="kt-pointer text-primary mandatory"
                                            style="font-weight: 600;">Upload Profile
                                            Picture</label>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!-- DOB & Gender -->
                        <div class="row  kt-margin-t-20">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1 form-label">
                                        <label class="mandatory">Date of Birth</label>
                                    </div>
                                    <div class="col-7">

                                        <input type="text" class="form-control" [matDatepicker]="picker"
                                            (click)="picker.open()" formControlName="dateOfBirth"
                                            [class.isError]="controls.dateOfBirth.touched && controls.dateOfBirth.invalid"
                                            readonly placeholder="DD/MM/YYYY" [max]="minDate"
                                            (dateChange)="ageValidation()">
                                        <!-- <mat-datepicker-toggle matSuffix [for]="picker">
                                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                        </mat-datepicker-toggle> -->
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error
                                            *ngIf="controls.dateOfBirth.errors?.required && controls.dateOfBirth.touched">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>


                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1 form-label">
                                        <label class="mandatory">Gender</label>
                                    </div>
                                    <div class="col-7">
                                        <select formControlName="gender" class="form-control" (change)="ageValidation()"
                                            [class.isError]="controls.gender.touched && controls.gender.invalid">
                                            <option value="" disabled selected> Select </option>
                                            <option value="m">Male</option>
                                            <option value="f">Female</option>
                                            <option value="o">Other</option>
                                        </select>
                                        <mat-error *ngIf="controls.gender.errors?.required && controls.gender.touched">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row kt-margin-t-20">

                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1 form-label">
                                        <label class="mandatory">Age</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" numbersOnly formControlName="age" class="form-control"
                                            placeholder="24" readonly>

                                        <mat-error
                                            *ngIf="(controls.age.errors?.required && controls.age.touched) && controls.age.invalid">
                                            Required field
                                        </mat-error>
                                        <mat-error
                                            *ngIf="controls.age.errors?.pattern && controls.age.touched && controls.age.invalid">
                                            <Small *ngIf="controls.gender.value == 'm'">Age should be 21 and
                                                above</Small>
                                            <Small *ngIf="controls.gender.value != 'm'">Age should be 18 and
                                                above</Small>
                                        </mat-error>
                                    </div>
                                </div>
                            </div>




                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1 form-label">
                                        <label class="mandatory">Marital Status</label>
                                    </div>
                                    <div class="col-7">
                                        <select name="" id="" formControlName="martialStatus" class="form-control"
                                            [class.isError]="controls.martialStatus.touched && controls.martialStatus.invalid">
                                            <option value="" [selected]="true" [disabled]="true">Select Status</option>
                                            <option value="single">Single</option>
                                            <option value="married">Married</option>
                                            <option value="divorced">Divorced</option>
                                        </select>
                                        <mat-error
                                            *ngIf="controls.martialStatus.errors?.required && controls.martialStatus.touched">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row kt-margin-t-20">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1 form-label">
                                        <label class="">Occupation</label>
                                    </div>
                                    <div class="col-7">
                                        <select name="" id="" formControlName="occupationId" class="form-control"
                                            placeholder="Select Occupation" (change)="checkOccupation($event)"
                                            [class.isError]="controls.occupationId.touched && controls.occupationId.invalid">
                                            <option value=null [selected]="true">Select Occupation
                                            </option>
                                            <option [value]="occ.id" *ngFor="let occ of occupations;">
                                                {{occ.name| titlecase}}
                                            </option>
                                        </select>
                                        <mat-error
                                            *ngIf="controls.occupationId.errors?.required && controls.occupationId.touched">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1 form-label">
                                        <label
                                            *ngIf="controls.martialStatus.value == 'single' || controls.martialStatus.value == 'divorced' || controls.martialStatus.value == ''"
                                            class="mandatory">Father's Name</label>
                                        <label *ngIf="controls.martialStatus.value == 'married'" class="mandatory">
                                            Spouse Name</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" formControlName="spouseName" class="form-control"
                                            placeholder="Kane Taylor"
                                            [class.isError]="controls.spouseName.touched && controls.spouseName.invalid" />
                                        <mat-error
                                            *ngIf="controls.spouseName.errors?.required && controls.spouseName.touched">
                                            Required field
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row kt-margin-t-20">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 offset-1 form-label">
                                        <label class="">Signature</label>
                                    </div>
                                    <div class="col-7">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Select File"
                                                aria-label="Recipient's username" aria-describedby="basic-addon2"
                                                readonly formControlName="signatureProofFileName"
                                                [class.isError]="controls.signatureProofFileName.touched && controls.signatureProofFileName.invalid" />
                                            <div class="input-group-append">
                                                <span class="input-group-text bg kt-pointer font-weight"
                                                    id="basic-addon2" (click)="signature.click()"
                                                    style="border-top-right-radius: 9px !important; border-bottom-right-radius: 9px !important;">Attach</span>
                                            </div>
                                            <input type="file" accept="image/png, image/jpeg" class="d-none" #signature
                                                (input)="getFileInfo($event,'signature')">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row">
                                    <div class="offset-1 col-3 form-label">
                                        <label class="mandatory">Alternate Mobile No.</label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" formControlName="alternateMobileNumber" class="form-control"
                                            maxlength="10" numbersOnly placeholder="Mobile Number"
                                            [class.isError]="controls.alternateMobileNumber.touched && controls.alternateMobileNumber.invalid" />
                                        <mat-error
                                            *ngIf="controls.alternateMobileNumber.errors?.required && controls.alternateMobileNumber.touched">
                                            Required field
                                        </mat-error>
                                        <mat-error
                                            *ngIf="controls.alternateMobileNumber.errors?.pattern && controls.alternateMobileNumber.touched">
                                            Invalid Input
                                        </mat-error>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row kt-margin-t-20 kt-margin-b-20">
                            <div class="col offset-2">
                                <div class="img-container">
                                    <img *ngIf="!controls.signatureProof.value" class=""
                                        src="../../../../../../assets/media/icons/image-placeholder.png" alt="" />
                                    <img class="fetched-image" *ngIf="controls.signatureProof.value"
                                        [src]="controls.signatureProofImg.value" style="border-radius: 15px;" alt=""
                                        (click)="previewImage(controls.signatureProofImg.value)" />
                                    <img *ngIf="controls.signatureProof.value"
                                        src="../../../../../assets/media/icons/cancel.svg" alt=""
                                        class="kt-pointer remove-icon" (click)="removeImage();">
                                </div>
                                <div class="kt-margin-t-20 text-color font-11">
                                    (Please verify the detail before moving forward)
                                </div>
                                <div class="kt-margin-t-20">
                                    <kt-button [value]="'Next'" [type]="'button'" (action)="submit()"></kt-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </kt-portlet-body>
</kt-portlet>