<kt-portlet>
    <kt-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource">

                <ng-container matColumnDef="customerID">
                    <mat-header-cell *matHeaderCellDef>Customer ID</mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        {{loan?.customer?.customerUniqueId | uppercase}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loanId">
                    <mat-header-cell *matHeaderCellDef>Loan ID</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan?.customerLoan[0]?.loanUniqueId | uppercase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let loan"> {{loan?.customer?.firstName | titlecase}}
                        {{loan?.customer?.lastName | titlecase}}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef>
                        <div class="">Outstanding Loan Amount</div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan?.loanTransfer?.disbursedLoanAmount}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                    <mat-cell *matCellDef="let loan">{{loan?.loanTransfer?.createdAt | date : 'mediumDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="applyLoan">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <div class="padding-left">
                            <button class="apply-kyc "
                                *ngIf="!loan?.isLoanSubmitted && loan?.loanTransfer?.loanTransferCurrentStage == '6' && permission.loanApplicationAdd && !loan.loanStatusForAppraiser"
                                (click)="applyLoan(loan)">Apply Loan</button>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="appraiserStatus">
                    <mat-header-cell *matHeaderCellDef>Appraiser Status</mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <span
                            [ngClass]="loan.loanTransfer.loanTransferStatusForAppraiser == 'pending' ? 'text-warning' :loan.loanTransfer.loanTransferStatusForAppraiser == 'approved' ? 'text-success' : 'text-danger'">
                            {{loan.loanTransfer.loanTransferStatusForAppraiser | titlecase}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="bmStatus">
                    <mat-header-cell *matHeaderCellDef>BM Status</mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <span
                            [ngClass]="loan.loanTransfer.loanTransferStatusForBM == 'pending' ? 'text-warning' :loan.loanTransfer.loanTransferStatusForBM == 'approved' ? 'text-success' : 'text-danger'">
                            {{loan.loanTransfer.loanTransferStatusForBM | titlecase}}
                        </span>


                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let loan">
                        <div *ngIf="!loan?.loanTransfer?.isLoanDisbursed">
                            <button [class.cursor-not-allowed]="!permission.loanTransferAppraiserRating"
                                class="primary-button btn-width"
                                *ngIf="loan?.loanTransfer?.loanTransferCurrentStage == '3'"
                                (click)="navigate(loan)">Appraiser Rating</button>
                            <button [class.cursor-not-allowed]="!permission.loanTransferRating"
                                class="primary-button btn-width"
                                *ngIf="loan?.loanTransfer?.loanTransferCurrentStage == '4'" (click)="navigate(loan)">BM
                                Rating</button>
                            <button [class.cursor-not-allowed]="!permission.loanTransferDisbursal"
                                class="warning-button btn-width"
                                *ngIf="loan?.loanTransfer?.loanTransferCurrentStage == '5'"
                                (click)="navigate(loan)">Disbursement</button>
                        </div>
                        <div *ngIf="loan?.loanTransfer?.isLoanDisbursed">
                            <button class="green-button btn-width">DISBURSED</button>
                        </div>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
        </div>

        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50,100,150]"
                [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </kt-portlet-body>
</kt-portlet>